*{
	box-sizing:border-box;
	margin: 0;
	padding: 0
}
html {
  position: relative;
  min-height: 100%;
}
body{
	font-family: $font-family-base;
	overflow-x: hidden;
	font-smoothing: always;
	font-size:15px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
}
h1, h2{
	color: $grey;
	font-size: 25px;
	line-height: 32px;
	margin:20px auto 7px;
	text-align: center;
	+ .form-cont{
		margin-top: 30px;
	}
}
h2{
	font-size: 20px
}
a{
	color: $color-anchor;
	text-decoration: none;
	&:focus{
		color:lighten($color-anchor, 5%);
		outline: none
	}
}
.content-wrapper{
	padding: 0 15px;
}
.skip{
	font:{
		family: $font-family-primary;
		size: 13px;
	}
	margin:15px 0 50px;
	a{
		color: #787878;
	}
}
.display-none{
	display:none !important;
}

.display-block{
     display:block !important;
}

.display-inlineblock{
    display:inline-block !important;
}

.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-underline{
    text-decoration:underline;
    }
.clearfix{
	@include clearfix();
}
.text-upper{
	text-transform: uppercase
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.loader{
     @include position(fixed, 0 null null 0);
     @include size(100%);
     background: url('./../images/rh-loader.gif') center center no-repeat;
     z-index: 999999;
}

.overflow-hidden{
    overflow:hidden;
}

.lower-case{
	text-transform:lowercase !important;
	color:$color-primary !important
}