﻿@{
    // ViewBag.Title = "CancelConfirmation";
}
<div class="content-wrapper" id="contentWrapper">
    <div class="cancel-Confirmation">
        <h1 class="text-left">@string.Format(Resource.ThanksForUsing, "ResumeHelp")</h1> @*Resume help or Resume Gig*@
        <h3>@Resource.CancellationConfirmationMsg</h3>
        <p>@string.Format(Resource.SendingEmailCancellationMail_Mobile, "email@gmail.com")</p> @*Hard coded for now , dynamic value need to be populated*@
        <p>@Html.Raw(string.Format(Resource.QuestionsAboutCancellation, "<a href=\"" + "sCustomerServiceEmailHref" + "\">" + " www.google.com" + "</a>", "CustomerServiceNo"))</p> @*Hard coded for now , dynamic value need to be populated*@
        <div class="cta-container">
            <a href="#" class="button-primary">@Resource.ReturnToYourResume</a>
        </div>

    </div>
</div>