﻿@{
    //ViewBag.Title = "CancelSubscription";
}
<div class="content-wrapper" id="contentWrapper">
    <div class="cancel-Subscription">
        <h1 class="text-left">@Resource.SureWouldLikeToCancel</h1>
        <p >@Resource.UpdateCancelTextMobile</p>
        <div class="Subscription-features">
            <h5>@string.Format(Resource.HereIsWhat, "ResumeHelp")</h5> @*ResumeHelp or ResumeGig*@
            <ul>
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i>@Resource.UpdateYourResume</li>
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i>@Resource.GetTheHelpYouNeed</li>
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i>@Resource.AccessResume</li>
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i>@Resource.SaveYourResume</li>
            </ul>
        </div>
        <div class="cta-container clearfix">
            <a href="#" class="back-cta text-underline">@Resource.CancelSubscriptionSmall</a>
            <a href="#" class="button-primary">@Resource.GoBack</a>
        </div>


    </div>

</div>