﻿@model CheckoutViewModel
@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    ViewBag.Title = "Checkout";
    int month = 0, year = 0;
    IList<SelectListItem> monthList = new List<SelectListItem>();
    monthList.Add(new SelectListItem {Text = "Month", Value = "0"});
    for (var mnth = 1; mnth <= 12; mnth++)
    {
        var mnthText = mnth <= 9 ? "0" + mnth : mnth.ToString();
        monthList.Add(new SelectListItem {Text = mnthText, Value = mnthText, Selected = mnth.Equals(month)});
    }

    IList<SelectListItem> yearList = new List<SelectListItem>();
    yearList.Add(new SelectListItem {Text = "Year", Value = "0"});
    for (var yr = DateTime.UtcNow.Year; yr <= DateTime.UtcNow.Year + 9; yr++)
    {
        yearList.Add(new SelectListItem {Text = yr.ToString(), Value = yr.ToString(), Selected = yr.Equals(year)});
    }
    var cardImagesCDNPath = StaticResources.PersistentCDNPath + "images/";
    var cardNumberImage = cardImagesCDNPath + "card-number.png";
    var cvvImage = cardImagesCDNPath + "security-code.png";
}

@section headContent {
    @{ Html.RenderPartial("~/Views/Shared/_HpciClientCtrl.cshtml", Model.HPCIDetails); }
}

<section class="order-info-container">
    @if (Model.DemoMode)
    {
        <text>
            <div class="demoMode" id="dvDemo">
                <span>@Resource.DemoMode</span>
            </div></text>
    }
    <div class="content-wrapper">

        <div class="total-due clearfix">
            <span class="total-due-text">@Resource.TotalDueToday</span>
            <span class="total-amount">@Model.Amount</span>
        </div>
        <div class="package">
            <strong>@Resource.Item</strong>@Model.BenefitsHeading</div>
        <ul class="package-benifits">
            <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="package-benifits-content">@Resource.UnlimitedDownloadPrint</span>
            </li>
            <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="package-benifits-content">@Resource.MultipleResumeTemplates</span>
            </li>
            <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="package-benifits-content">@Resource.CheckoutCoverLetterBuilder</span>
            </li>
            <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="package-benifits-content">@Resource.AccessResumeAnywhere</span>
            </li>
        </ul>
    </div><!-- content-wrapper -->
</section><!-- order-info-container -->
<section class="cc-form">
    <div class="content-wrapper">
        <h2 class="heading text-left">@Resource.PaymentInformation</h2>
        <div class="clearfix">
            <div class="cards"></div>
            <div class="secure-chekout">
                <span class="secure-chekout-text">@Resource.SecureCheckout</span> <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
        </div>
        <form id="ccAcceptForm" action="@Request.Url.ToString()" method="post">
            <div class="input-group">
                <label class="cardholdr-name">@Resource.NameOnCardCaps</label>
                @Html.TextBoxFor(m => m.CardHolderName, new {id = "ccName", @class = "form-control"})
                <span id="ccNameError" class="error-message" style="display: none;">@Resource.EnterNameOfCardholder</span>
            </div>
            <div class="input-group hpci-container">
                <label class="cardholdr-name">Card Number</label>
                <label class="security-code">Security Code</label>
                <div class="hpci-controlls">
                    @Html.HiddenFor(m => m.CardNumber, new {id = "ccNum"})
                    @Html.HiddenFor(m => m.CVV, new {id = "ccCVV"})
                    @Html.HiddenFor(m => m.CardType, new {id = "ccTYPE"})
                    @Html.HiddenFor(m => m.BIN, new {id = "ccBIN"})
                    @Html.HiddenFor(m => m.PaymentToken, new {id = "paymentToken"})
                    @Html.HiddenFor(m => m.SubscriptionLevel, new {id = "subscriptionLevel"})
                    @Html.HiddenFor(m => m.SubscriptionId, new {id = "subscriptionId"})
                    @{ Html.RenderPartial("~/Views/Shared/_HpciCtrl.cshtml", Model.HPCIDetails); }
                </div>
                <div class="err-contr">
                    <span id="ccNumReq" class="error-message ccNum-req" style="display: none;">@Resource.EnterCardNumber</span>
                    <span id="ccNumError" class="error-message" style="display: none;">@Resource.EnterCardNumber</span>
                    @*<span id="ccCVVReq" class="error-message" style="display:none;">@Resource.EnterSecurityCode</span>*@
                    <span id="ccCVVError" class="error-message" style="display: none;">@Resource.EnterSecurityCode</span>
                </div>
            </div>
            <div class="input-group date">
                <div class="input-element clearfix">
                    <label>Expiration Date</label>
                    <div class="select-box">
                        @Html.DropDownListFor(m => m.ExpiryMonth, monthList, new {id = "ccMonth", title = Resource.Month, @class = "form-control", onchange = "IsMonthAndYearValid('month');"})
                    </div>
                    <div class="select-box">
                        @Html.DropDownListFor(m => m.ExpiryYear, yearList, new {id = "ccYear", title = Resource.Year, @class = "form-control", onchange = "IsMonthAndYearValid('year');"})
                    </div>
                    <span id="ccMonthError" class="error-message" style="display: none;">@Resource.SelectMonth</span>
                    <span id="ccMonthAndYearError" class="error-message" style="display: none;">@Resource.ValidExpiryDateMsg</span>
                    <span id="ccYearError" class="error-message error-year" style="display: none;">@Resource.SelectYear</span>
                </div>
            </div>
            <div class="input-group zip">
                <div class="input-element">
                    <label>Zip/Postal Code</label>
                    <input class="form-control form-input" id="zip" name="PostalCode" type="text" value="">
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <text> <span class="error-login ">@Model.ErrorMessage</span> </text>
            }
            <div class="term-policy-text">
                <p>@Html.Raw(string.Format(Model.MessageAboveCTA, "<a>", "</a>", "<a> ", "</a>")) </p>
            </div><!-- term-policy-text -->
            <div class="cta-container clearfix ">
                <button id="btnSubmit" class="button-primary">@Resource.GetResume</button>
            </div>
        </form>
        <div class="secure-footer clearfix">
            <div class="secure-wrap">
                <div class="cc-secure-checkout">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <a class="secure-chekout-text" href="" onclick="tooltip(event);">@Resource.SecureServer</a>
                </div>
                <div class="tool-tip">
                    <a class="text-center" href="" onclick="tooltip(event);">@Resource.SSLSecuresPaymentInfo</a>
                </div>
            </div>
            <div class="norton-seal">
                <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
                    <tr>
                        <td width="135" align="center" valign="top">
                            <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.resumehelp.com&size=S&use_flash=NO&use_transparent=NO&lang=en"></script><br/>
                            <a href="http://www.symantec.com/ssl-certificates"
                               target="_blank" style="color: #000000; font: bold 7px verdana, sans-serif; letter-spacing: .5px; margin: 0px; padding: 0px; text-align: center; text-decoration: none;">
                                ABOUT SSL CERTIFICATES
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- secure-wrap -->
    </div><!-- content-wrapper -->
</section><!-- cc-form -->

<section class="need-to-cancel">
    <div class="content-wrapper">
        <h3>@Resource.CancelQuestion</h3>
        <p>@Model.CancelMessage</p>
        <h3 class="hdGS">@Model.GuaranteeHeading</h3>
        <p>@Model.GuaranteeMessage</p>
    </div><!-- content-wrapper -->
</section>

@section scripts {
    <script>
        function tooltip(e) {
            e.preventDefault();
        }

        (function(win, $) {
            function resetWidthHPCI(e) {
                sendHPCIChangeStyleMsg("ccNum", "background", "#fff");
                sendHPCIChangeStyleMsg("ccNum", "border", "1px solid #ccc");
                sendHPCIChangeStyleMsg("ccNum", "border-radius", "3px");
                sendHPCIChangeStyleMsg("ccNum", "padding", "10px");
                sendHPCIChangeStyleMsg("ccNum", "box-sizing", "border-box");
                sendHPCIChangeStyleMsg("ccNum", "font-size", "15px");
                sendHPCIChangeStyleMsg("ccNum", "height", "38px");
                sendHPCIChangeStyleMsg("ccNum", "width", "100%");

                sendHPCIChangeStyleMsg("ccCVV", "background", "#fff");
                sendHPCIChangeStyleMsg("ccCVV", "border", "1px solid #ccc");
                sendHPCIChangeStyleMsg("ccCVV", "border-radius", "3px");
                sendHPCIChangeStyleMsg("ccCVV", "box-sizing", "border-box");
                sendHPCIChangeStyleMsg("ccCVV", "float", "left");
                sendHPCIChangeStyleMsg("ccCVV", "font-size", "15px");
                sendHPCIChangeStyleMsg("ccCVV", "height", "40px");
                sendHPCIChangeStyleMsg("ccCVV", "padding", "10px");
                sendHPCIChangeStyleMsg("ccCVV", "width", "50%");
                sendHPCIChangeStyleMsg("ccCVV", "margin", "40px 0 0 ");

                sendHPCIChangeStyleMsg("ccNum", "background-image", "url(@cardNumberImage)");
                sendHPCIChangeStyleMsg("ccNum", 'background-position', '98% 50%');
                sendHPCIChangeStyleMsg("ccNum", 'background-repeat', 'no-repeat');
                sendHPCIChangeStyleMsg("ccCVV", "background-image", "url(@cvvImage)");
                sendHPCIChangeStyleMsg("ccCVV", 'background-position', '95% 50%');
                sendHPCIChangeStyleMsg("ccCVV", 'background-repeat', 'no-repeat');
            };

            function setHPCI_BackgroundImages() {
                sendHPCIChangeStyleMsg("ccNum", "background-image", "url(@cardNumberImage)");
                sendHPCIChangeStyleMsg("ccNum", 'background-position', '98% 50%');
                sendHPCIChangeStyleMsg("ccNum", 'background-repeat', 'no-repeat');
                sendHPCIChangeStyleMsg("ccCVV", "background-image", "url(@cvvImage)");
                sendHPCIChangeStyleMsg("ccCVV", 'background-position', '95% 50%');
                sendHPCIChangeStyleMsg("ccCVV", 'background-repeat', 'no-repeat');
            };

            $('#ccframe').load(function() {
                resetWidthHPCI();
                setHPCI_BackgroundImages();
            });
            $(win).load(resetWidthHPCI);
            $(win).resize(resetWidthHPCI);
        })(window, jQuery);
    </script>
}