﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Transaction is completed</title>
</head>
<body>
<div>
    Your Payment is successful
</div>
</body>
</html>