﻿@using Utilities.Localization
@model PlanVM
@{
    ViewBag.ShowNav = false;
    ViewBag.HideFooter = true;
}

<div class="selectPlanContainer">
    @if (Model != null)
    {
        <section class="paymentPlanInfo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center sucessfullInfo">
                        <div class="congratInfo">Congratulations!</div>
                        <div class="sellStepInfo">You are one step away from getting your perfect resume</div>
                        <div class="oneTimeInfo">One time payment only. No recurring charges.</div>
                        @if (Model.ErrorMessage != null)
                        {
                            <text> <span class="error">@Model.ErrorMessage</span> </text>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        @if (Model.FreePlan != null)
                        {
                            <div class="freeTemplateInfo text-center">
                                <div class="templateHeading">Free</div>
                                <div class="templatePrice">
                                    @Intl.PriceFormat(Model.FreePlan.UnitPrice)<span class="currency">@Model.FreePlan.CurrencyCD</span>
                                </div>
                                <ul class="templateList fa-ul">
                                    <li><i class="fa-li fa fa-check liColor"></i>Free resume templates</li>
                                    <li>
                                        <i class="fa-li fa fa-check liColor"></i>@Model.FreePlan.Label
                                    </li>
                                    <li><i class="fa-li fa fa-check liColor"></i>Powered by [xyz] in the footer</li>
                                </ul>
                                <div class="templateButton">
                                    <a href="@(Url.BuildUrl<OrderController>(o => o.PlanSelected(Model.FreePlan.Id), RouteNames.PlanSelected))" class="default-btn continueBtn">Continue</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        @if (Model.StandardPlan != null)
                        {
                            <div class="basicTemplateInfo text-center">
                                <div class="templateHeading">Standard</div>
                                <div class="templatePrice">
                                    @Intl.PriceFormat(Model.StandardPlan.UnitPrice)<span class="currency">@Model.StandardPlan.CurrencyCD</span>
                                </div>
                                <ul class="templateList fa-ul">
                                    <li><i class="fa-li fa fa-check liColor"></i>Free + standard resume templates</li>
                                    <li>
                                        <i class="fa-li fa fa-check liColor"></i>@Model.StandardPlan.Label
                                    </li>
                                    <li><i class="fa-li fa fa-check liColor"></i>No Powered by text in the footer</li>
                                </ul>
                                <div class="templateButton">
                                    <a href="@(Url.BuildUrl<OrderController>(o => o.PlanSelected(Model.StandardPlan.Id), RouteNames.PlanSelected))" class="default-btn continueBtn">Continue</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="standardTemplateInfo text-center">
                            <div class="bestSeller">
                                <i class="icon-BestSeller"></i>
                            </div>
                            <div class="templateHeading">Professional</div>
                            <div class="templatePrice">
                                @Intl.PriceFormat(Model.ProfessionalPlan.UnitPrice)<span class="currency">@Model.ProfessionalPlan.CurrencyCD</span>
                            </div>
                            <ul class="templateList fa-ul">
                                <li><i class="fa-li fa fa-check liColor"></i>All resume templates</li>
                                <li>
                                    <i class="fa-li fa fa-check liColor"></i>@Model.ProfessionalPlan.Label
                                </li>
                                <li><i class="fa-li fa fa-check liColor"></i>No Powered by text in the footer</li>
                            </ul>
                            <div class="templateButton">
                                <a href="@(Url.BuildUrl<OrderController>(o => o.PlanSelected(Model.ProfessionalPlan.Id), RouteNames.PlanSelected))" class="default-btn continueBtn">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="premiumTemplateInfo text-center">
                            <div class="bestSeller">
                                <i class="icon-BestSeller"></i>
                            </div>
                            <div class="templateHeading">Premium</div>
                            <div class="templatePrice">
                                @Intl.PriceFormat(Model.PremiumPlan.UnitPrice)<span class="currency">@Model.PremiumPlan.CurrencyCD</span>
                            </div>
                            <ul class="templateList fa-ul">
                                <li><i class="fa-li fa fa-check liColor"></i>All resume templates</li>
                                <li>
                                    <i class="fa-li fa fa-check liColor"></i>@Model.PremiumPlan.Label
                                </li>
                                <li><i class="fa-li fa fa-check liColor"></i>No Powered by text in the footer</li>
                            </ul>
                            <div class="templateButton">
                                <a href="@(Url.BuildUrl<OrderController>(o => o.PlanSelected(Model.PremiumPlan.Id), RouteNames.PlanSelected))" class="default-btn continueBtn">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 featureNoteInfo">
                        Note: Please check with your bank regarding any taxes or foreign exchange conversion charges that might apply on your card
                    </div>
                </div>
            </div>
        </section>
        <section class="commonFeatureInfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="featureHeading">Common features for all plans</div>
                    </div>
                </div>
                <div class="row featureContainer">
                    <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1 text-center">
                        <div class="featureItem">
                            <i class="icon-Add iconTimes"></i>
                        </div>
                        <div class="featureText">Download/Print/Email your resume unlimited times</div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="featureItem">
                            <i class="icon-SelectTemplate iconJob"></i>
                        </div>
                        <div class="featureText">Create multiple resumes for different jobs</div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="featureItem">
                            <i class="icon-Device iconAccess"></i>
                        </div>
                        <div class="featureText">Access your resume from anywhere on any device</div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="featureItem">
                            <i class="icon-ReadingCheck"></i>
                        </div>
                        <div class="featureText">Online proof-reading check</div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="featureItem">
                            <i class="icon-Expert"></i>
                        </div>
                        <div class="featureText">Professionally written examples by experts</div>
                    </div>
                </div>
            </div>
        </section>
    }
    <section class="dreamJobInfo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="dreamHeading text-center">Our templates are being used by users who got their dream job at:</div>
                    <div class="jobContainer">
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/amazon.jpg" />
                            </div>
                            <div class="jobUserText">Amazon</div>
                        </div>
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/audi.jpg" />
                            </div>
                            <div class="jobUserText">Audi</div>
                        </div>
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/american.jpg" />
                            </div>
                            <div class="jobUserText">American Express</div>
                        </div>
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/rbs.jpg" />
                            </div>
                            <div class="jobUserText">RBS</div>
                        </div>
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/ibm.jpg" />
                            </div>
                            <div class="jobUserText">IBM</div>
                        </div>
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/samsung.jpg" />
                            </div>
                            <div class="jobUserText">Samsung</div>
                        </div>
                        <div class="jobList">
                            <div class="jobUserInfo">
                                <img src="images/toyota.jpg" />
                            </div>
                            <div class="jobUserText">Toyota</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reviewInfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="reviewData">
                        <div class="testimonialDataInfo">
                            <div class="quoteInfo">
                                <img src="images/quote.png" />
                            </div>
                            <div class="reviewText"><b>XYZ's</b> resume builder took away all the stress and difficulty that comes while making a resume. I created a crisp and persuasive resume that landed me more interviews and helped me get job faster.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="reviewData">
                        <div class="testimonialDataInfo">
                            <div class="quoteInfo">
                                <img src="@(StaticResources.CDN_Path2)images/quote.png" />
                            </div>
                            <div class="reviewText">I was confused about where and how to start writing my resume. <b>XYZ</b> made it look like a cake walk and helped me get an excellent resume for free. Thank you guys, you are just awesome.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="reviewData">
                        <div class="testimonialDataInfo">
                            <div class="quoteInfo">
                                <img src="@(StaticResources.CDN_Path2)images/quote.png" />
                            </div>
                            <div class="reviewText">I'm really excited to mention that my interviewer was impressed with my resume. I'll definitely recommend this to everyone.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*<div class="formContact">
        <div class="container-fluid">
            <section class="upgrade-container">
                <h1 class="text-center main-heading">Congratulations! You are one step away from getting your perfect resume.</h1>
                <h2 class="text-center main-heading">One time payment only. No recurring charges</h2>
                @using (Html.BeginForm())
                {
                    <div class="row">

                        @if (Model != null)
                        {
                        if (Model.ErrorMessage != null)
                        {<text> <span class="error">@Model.ErrorMessage</span> </text> }
                            <div class="col-sm-3">
                                <div class="plan-container">
                                    @if (Model.FreePlan != null)
                                    {
                                        <header class="subs-header text-center">
                                            <div class="offer-txt trial-offer">@Model.FreePlan.Label</div>
                                            <div class="radio">
                                                <input type="radio" value="@Model.FreePlan.Id" id="FreePlan" name="planId">
                                                <label class="price-detail" for="FreePlan">
                                                    @(Model.FreePlan.CurrencyCD + Utilities.Localization.Intl.PriceFormat(Model.FreePlan.UnitPrice))
                                                </label>
                                                <div class="selected-plan">
                                                </div>
                                            </div>
                                        </header>
                                        <div class="plan-details">
                                            <ul class="text-center">
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Free Resume Template</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Cloud storage</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Personal Website</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Multiple Templates</li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="plan-container">
                                    @if (Model.BasicPlan != null)
                                    {
                                        <header class="subs-header text-center">
                                            <div class="offer-txt trial-offer">@Model.BasicPlan.Label</div>
                                            <div class="radio">
                                                <input type="radio" value="@Model.BasicPlan.Id" id="BasicPlan" name="planId">
                                                <label class="price-detail" for="BasicPlan">
                                                    @(Model.BasicPlan.CurrencyCD + Utilities.Localization.Intl.PriceFormat(Model.BasicPlan.UnitPrice))
                                                </label>
                                                <div class="selected-plan">
                                                </div>
                                            </div>
                                        </header>
                                        <div class="plan-details">
                                            <ul class="text-center">
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Free Resume Template</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Cloud storage</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Personal Website</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Multiple Templates</li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="plan-container">
                                    @if (Model.ProfessionalPlan != null)
                                    {
                                        <header class="subs-header text-center">
                                            <div class="offer-txt trial-offer">@Model.ProfessionalPlan.Label</div>
                                            <div class="radio">
                                                <input type="radio" value="@Model.ProfessionalPlan.Id" id="ProfessionalPlan" name="planId" checked>
                                                <label class="price-detail" for="ProfessionalPlan">
                                                    @(Model.ProfessionalPlan.CurrencyCD + Utilities.Localization.Intl.PriceFormat(Model.ProfessionalPlan.UnitPrice))
                                                </label>
                                                <div class="selected-plan">
                                                </div>
                                            </div>
                                        </header>
                                        <div class="plan-details selected">
                                            <ul class="text-center">
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Free Resume Template</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Cloud storage</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Personal Website</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Multiple Templates</li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="plan-container">
                                    @if (Model.PremiumPlan != null)
                                    {
                                        <header class="subs-header text-center">
                                            <div class="offer-txt trial-offer">@Model.PremiumPlan.Label</div>
                                            <div class="radio">
                                                <input type="radio" value="@Model.PremiumPlan.Id" id="PremiumPlan" name="planId">
                                                <label class="price-detail" for="PremiumPlan">
                                                    @(Model.PremiumPlan.CurrencyCD + Utilities.Localization.Intl.PriceFormat(Model.PremiumPlan.UnitPrice))
                                                </label>
                                                <div class="selected-plan">
                                                </div>
                                            </div>
                                        </header>
                                        <div class="plan-details">
                                            <ul class="text-center">
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Free Resume Template</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Cloud storage</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Personal Website</li>
                                                <li><i class="fa fa-fighter-jet bulletSpace"></i>Multiple Templates</li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                        <div class="buttons text-center">
                            <button class="btn btn-primary full-width" href="javascript:void(0)">@Resource.Continue</button>
                        </div>

                    </div>
                }
            </section>
        </div>
        <div class="all-plans">
            <div class="container-fluid">
                <h3 class="text-uppercase text-center">All plans include</h3>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-4 plans-include">
                            <i class="material-icons">&#xE8F9;</i>
                            <p>Customizing your resume for different jobs</p>
                        </div>
                        <div class="col-sm-4 plans-include">
                            <i class="material-icons">&#xE52D;</i>
                            <p>Unlimited access to all features</p>
                        </div>
                        <div class="col-sm-4 plans-include">
                            <i class="material-icons">&#xE5C9;</i>
                            <p>No questions asked cancellation policy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 plans-include">
                            <i class="material-icons">&#xE0B9;</i>
                            <p>Professionally written phrases customized to over <strong>300 job titles</strong></p>
                        </div>
                        <div class="col-sm-4 plans-include">
                            <i class="material-icons">&#xE24D;</i>
                            <p>Creating as many resumes as you want</p>
                        </div>
                        <div class="col-sm-4 plans-include">
                            <i class="material-icons">&#xe32c;</i>
                            <p>Access your resume from anywhere on any device</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<script>
    //document.querySelectorAll("input[type=radio]:checked")[0].parentElement.parentElement.parentElement.className += " selected";
</script>


<input type="hidden" id="hdnSkuSelectedValue" value="" />


@section scripts {
    <script>
        (function($) {
            (function init() {
                $(".fullAccess").children('ul').hide();
                //B4-822 IE-Edge Issue Fix
                if (navigator.appVersion.indexOf('Edge') > -1 ||
                    navigator.appName == 'Microsoft Internet Explorer' ||
                    !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) ||
                    (typeof $.browser !== "undefined" && $.browser.msie == 1)) {
                    $('input[value=1]').prop('checked', true);
                    $('.plan-container').removeClass('selected');
                    $('input[type=radio]:checked').parents('.plan-container').addClass('selected');
                }
            })();
            $(function() {
                $('.radio input').on('click',
                    function() {
                        $('.plan-container').removeClass('selected');
                        $(this).parents('.plan-container').addClass('selected');
                    });
                $('input:checkbox').click(function() {
                    $("#SkuId").val((this).value);
                    $(this).prop('checked', true);
                    $('input:checkbox').not(this).prop('checked', false);
                });
                $(".toggleBtn span").on("click",
                    function() {
                        var $ul = $(this).parent().prev('ul');
                        Builder.Browser.SlideToggle($ul);
                        if ($(this).hasClass('downArow')) {
                            $(this).html('@Resource.HideDetails<i class="fa fa-chevron-up"></i>').addClass('upArow')
                                .removeClass('downArow');
                        } else {
                            $(this).html('@Resource.ShowDetails<i class="fa fa-chevron-down"></i>').addClass('downArow')
                                .removeClass('upArow');
                        }
                    });
            });
        })(jQuery);
    </script>
}