﻿@model RebateSellPageModel
@{
    ViewBag.Title = "SellPageRebate";
}

<div class="sellPage-Rebate">
    <div class="content-wrapper" id="contentWrapper">
        <h1 class="text-left ">@Resource.SureToCancel</h1>
        <p>@Resource.KeepAccessAndSave</p>
        <section class="rebate-offer ">
            @using (Html.BeginForm())
            {
                <div class="rebate-offerDetail">
                    <div class="offer-month">
                        <div class="offer-validity">
                            <span>@string.Format(Resource.UnlimitedPerMonth, Model.MonthlyPaidSku.Amount)</span>
                        </div>
                        <div class="offer-detail">
                            <p class="text-center">@string.Format(Resource.PayForFullAccess_Mobile, Model.MonthlyPaidSku.Amount)</p>
                            <div class="cta-container clearfix">
                                <button type="submit" name="skuId" value="@Model.MonthlyPaidSku.SkuID" class="text-center button-primary">@Resource.Choose</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rebate-offerDetail">
                    <div class="offer-month">
                        <div class="offer-validity">
                            <span>@string.Format(Resource.GetOneMonthFree, "", "")</span>
                        </div>
                        <div class="offer-detail">
                            <p class="text-center">@Html.Raw(string.Format(Resource.FullAccessFreeForMonth_Mobile, "<br/>", Model.MonthlyFreeSku.Amount))</p>
                            <div class="cta-container clearfix">
                                <button type="submit" name="skuId" value="@Model.MonthlyFreeSku.SkuID" class="text-center button-primary">@Resource.Choose</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rebate-offerDetail">
                    <div class="offer-month">
                        <div class="offer-validity">
                            <span>@string.Format(Resource.OneYearForPriceOfMonth, "")</span>
                        </div>
                        <div class="offer-detail">
                            <p class="text-center">@string.Format(Resource.FullYearSubscriptionForPriceofMonth, Model.AnnualSku.Amount, "", "", "")</p>
                            <div class="cta-container clearfix">
                                <button type="submit" name="skuId" value="@Model.AnnualSku.SkuID" class="text-center button-primary">@Resource.Choose</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </section>

    </div>
    <section class="details">
        <div class="content-wrapper" id="contentWrapper">
            <div class="rebate-help">
                <div class="detail-description">
                    <h3 class="text-center">@Resource.LookingforHelpCaps</h3>
                    <p class="text-center">@Html.Raw(string.Format(Resource.ChatWithRepresentativeOrEmail_Mobile, "<a>", "customerservice@resumehelp.com", "</a>"))</p>
                    <div class="cta-container clearfix">
                        <a class="button-primary" href="#">@Resource.ChatNow</a>
                    </div>
                </div>
            </div>
            <div class="rebate-ques">
                <div class="detail-description">
                    <h3 class="text-center">@Resource.DidYouKnow</h3>
                    <p class="text-center">@Resource.CoverLetterImportance_Mobile</p>
                    <div class="cta-container clearfix">
                        <a class="button-primary" href="#">@Resource.CreateLetter</a>
                    </div>
                </div>
            </div>
            <div class="rebate-cancel">
                <div class="detail-description">
                    <h3 class="text-center">@Resource.ConfirmationToCancelMsg</h3>
                    <p class="text-center">@string.Format(Resource.UnderstandTermsofCancellation, "") </p>
                    <a class="text-underline text-center" href="#">@Resource.CancelSubscriptionConfirmation</a>
                    <a class="text-underline text-center" href="#">@Resource.DontCancel</a>
                </div>
            </div>
        </div>
    </section>

</div>