﻿@model SellPageModel
@{
    ViewBag.Title = "SellPageExpired";
    var finalize = Html.BuildUrlFromExpression<ResumeController>(wiz => wiz.Finalize(null));
}
<div id="dvSellPageExprd" class="sell-page-exprd">
    <div class="content-wrapper">
        <h1 class="text-left">@Resource.UpgradeForAccessPass</h1>
        <div class="sku-container">
            <div class="input-radio">
                <input type="radio" id="so1" name="so" value="@Model.MonthlySku" checked>
                <label for="so1">
                    @Resource.Currency@Model.MonthlySkuUnitPrice<span class="per-month">@Resource.PerMonth</span>
                </label>
            </div>
            <ul class="sku-offer-list">
                <li>@Resource.DownloadAndPrintResume</li>
                <li>@Resource.CreateUnlimitedResumes</li>
                <li>@string.Format(Resource.AutomaticRenewalPerMonth, Resource.Currency + Model.MonthlySkuUnitPrice)</li>
                <li>@Resource.CancelByEmailOrChat</li>
            </ul>
        </div>
        <div class="sku-container">
            <div class="input-radio">
                <input type="radio" id="so2" name="so" value="@Model.AnnualSku">
                <label class="notInput" for="so2">
                    @Resource.Currency@Model.AnnualSkuUnitPrice<span class="per-month"> @Resource.PerYear</span>
                </label>
            </div>
            <ul class="sku-offer-list">
                <li>@Resource.MajorSavings</li>
                <li>@Resource.UnlimitedDownloadingAndPrinting</li>
                <li>@Resource.PayUp</li>
                <li>@Resource.AutomaticRenewalEachYear</li>
                <li>@Resource.CancelByEmailOrChat</li>
            </ul>
        </div>
        <div class="cta-container clearfix">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.SkuId)
                <input type="submit" value="@Resource.Continue" class="text-center button-primary"/>
            }
            <div class="skip text-center text-upper">
                <a id="btnSkip" href="@Html.Raw(finalize)">@Resource.SkipThisForNow</a>
            </div><!-- skip -->
            <p class="cancel-by">@Resource.CancelByEmailOrLiveChat</p>
        </div>
    </div>
    <div class="included-container">
        <h3>What's Included:</h3>
        <ul>
            <li class="feature-1">
                <p>@Resource.DownloadInMultipleFormats</p>
            </li>
            <li class="feature-2">
                <p>@Resource.PrintYourResume</p>
            </li>
            <li class="feature-3">
                <p>@Resource.UseOurJobExamples</p>
            </li>
            <li class="feature-4">
                <p>@Resource.CreateResumeToTargetJobs</p>
            </li>
            <li class="feature-5">
                <p>@Resource.SavesYourResume</p>
            </li>
        </ul>
    </div>
</div>

@section scripts {
    <script>
        (function($) {
            $(function() {
                $('#dvSellPageExprd input:radio').click(function() {
                    $("#SkuId").val((this).value);
                });
            });
        })(jQuery);
    </script>
}