$color-theme: #283236;
$color-primary: #0cc396;
$color-secondry: #ff8000;

//fonts
$font-family-base: 'Montserrat', sans-serif; 
$font-family-primary: 'Source Sans Pro', sans-serif; 

//text
$color-anchor: $color-primary;
$color-invalid: #e6533e;
$grey: #333;
$grey-light: #444;

// form elements
$input-border-color: #ccc;
$btn-primary-color: $color-secondry;
$btn-secondry-color: $color-primary;