﻿@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Email Template</title>
</head>
<body>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="64" bgcolor="Black">
                <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="19"></td>
                        <td width="145" align="left"><a href="@Request.Url.GetRootUrl()" style="font-family:Arial;font-size:22px;text-decoration:none;color:white;"><img src="@Request.Url.GetRootUrl("logo.svg")" alt="LOGO" style="display:block;" /></a></td>
                        <td colspan="2" width="291"></td>
                        <td width="45" align="left"><a href="twitter" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/twitter.png")" alt="Twitter" style="display:block" /></a></td>
                        <td width="45" align="left"><a href="facebook" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/facebook.png")" alt="Facebook" style="display:block" /></a></td>
                        <td width="45" align="left"><a href="googleplus" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/googleplus.png")" alt="Google Plus" style="display:block;" /></a></td>
                        <td width="45" align="left"><a href="linkedin" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/linkedin.png")" alt="Linkedin" style="display:block;" /></a></td>
                        <td width="15"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="2"></td>
        </tr>
        <tr>
            <td style="border:1px solid #E3E3E3; border-top:none;border-bottom:none;">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td bgcolor="#f6f6f6" style="border:1px solid #E3E3E3; border-top:none;border-bottom:none;">
            </td>
        </tr>
        <tr>
            <td height="1" bgcolor="#4cbfbf"></td>
        </tr>
        <tr valign="top">
            <td height="116" bgcolor="Black">
                <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="23" colspan="9"></td>
                    </tr>
                    <tr>
                        <td width="20"></td>
                        <td width="140" align="left" valign="top">
                            <font style="font-family:Arial; color:White; font-size:16px;font-weight:bold;"> Contact Us </font><br />
                            <font style="font-family:Arial;font-size:14px;color:White;text-decoration:none;line-height:20px;">
                                <a href="mailto:support@xyz.com" style="color:White;text-decoration:none"><u>support@xyz.com</u></a>
                            </font>
                        </td>
                        <td width="95"></td>
                        <td width="196" valign="top">
                            <font style="font-family:Arial; color:White; font-size:16px;font-weight:bold;"> Other Links </font><br />
                            <font style="font-family:Arial;font-size:10px;color:White;line-height:20px;">
                                <a href="@Request.Url.GetRootUrl(Url.RouteUrl(RouteNames.ContactUs))" style="font-family:Arial;font-size:11px;color:White;line-height:20px;text-decoration:none;">Unsubscribe</a>
                            </font>
                        </td>
                        <td width="185" align="left" valign="top">
                            <table width="185" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="24" colspan="4" valign="top"><font style="font-family:Arial; color:White; font-size:16px;font-weight:bold;">Follow Us</font></td>
                                </tr>
                                <tr>
                                    <td width="45" align="left" valign="top"><a href="twitter" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/twitter.png")" alt="Twitter" style="display:block" /></a></td>
                                    <td width="45" align="left" valign="top"><a href="facebook" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/facebook.png")" alt="Facebook" style="display:block" /></a></td>
                                    <td width="45" align="left" valign="top"><a href="googleplus" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/googleplus.png")" alt="Google Plus" style="display:block" /></a></td>
                                    <td width="52" align="left" valign="top"><a href="linkedin" target="_blank" style="font-family:Arial;font-size:11px;color:White;"><img src="@Request.Url.GetRootUrl("/emailcontent/images/linkedin.png")" alt="Linkedin" style="display:block" /></a></td>
                                </tr>
                            </table>
                        </td>
                        <td width="15"></td>
                    </tr>
                    <tr>
                        <td height="15" colspan="6"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>