﻿@model WebApp.Models.Email.ForgotPasswordViewModel
@{ 
    ViewBag.Title = "Forgot Password";
}

<table width="574" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <h1 style="text-align:center">Reset Your Password</h1>
            <font style="font-family:Arial; color:#333333; font-size:16px; font-weight:normal; line-height:24px;">
                Dear @Model.Name,
                <br /><br />
                Forgot your password? No worries, we are here to help. Please <a href="@Request.Url.GetRootUrl(Model.SetPasswordLink)" target="_blank" style="color:black"> click here</a> to reset it now or paste the following link into your browser: @Request.Url.GetRootUrl(Model.SetPasswordLink)
                <br /><br />We recommend you to set a unique password for your XYZ account, different than your email and online banking accounts. Re-using passwords is risky and is not recommended. <br />
                <br />
                <b>Please Note:</b> If this request wasn't made by you, you can ignore this email and your existing password will not change.
            </font>
        </td>
    </tr>
    <tr>
        <td height="20"></td>
    </tr>
</table>