﻿@model WebApp.Models.Email.InvoiceViewModel
@{
    ViewBag.Title = "Invoice";
}

<table class='table' width='100%'>
    <tr class='title-row' style='background:#004a8f;color:white;'>
        <td colspan='2' class='columns' style='padding:5px 7px 5px 5px;'>Transaction Details</td>
    </tr>
    <tr>
        <td>Transaction Reference ID</td>
        <td>@Model.TransactionReferenceID</td>
    </tr>
    <tr>
        <td>Payment Reference ID</td>
        <td>@Model.PaymentReferenceID</td>
    </tr>
    <tr>
        <td>Payment received towards</td>
        <td>@Model.PaymentReceivedTowards</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>@Model.Currency @Model.Amount</td>
    </tr>
    <tr>
        <td>Date and Time</td>
        <td>@Model.TransactionTime</td>
    </tr>

</table>