﻿@model WebApp.Models.Email.SubscriptionConfirmationViewModel
@{
    ViewBag.Title = "Subscription Confirmation";
}

<table width="574" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <h1 style="text-align:center">Your Order Details</h1>
            <font style="font-family:Arial; color:#333333; font-size:16px; font-weight:normal; line-height:24px;">
                Dear @Model.Name,
                <br /><br />
                Thank you for your purchase. We are pleased to confirm your order with us. Please find below your order details:
                <br /><br />
                <table>
                    <tr>
                        <td>OrderId:</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>@Model.OrderId</td>
                    </tr>
                    <tr>
                        <td>Amount:</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>@Model.Currency @Model.Amount</td>
                    </tr>
                    <tr>
                        <td>Subscription Valid Until:</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>@Model.SubscriptionExpiryTime</td>
                    </tr>
                </table><br />
                <br />
                <b>Please Note:</b> If you are not able to use the premium features i.e. Print, Email, Download as per your selected plan and during your subscription validity, please email us at <a href="mailto:@(Model.SupportEmail)?subject=AccessIssue">support@xyz.com</a> along with your order details.
            </font>
        </td>
    </tr>
    <tr>
        <td height="20"></td>
    </tr>
</table>