﻿@model WebApp.Models.Email.WelcomeViewModel
@{
    ViewBag.Title = "Welcome";
}

<table width="574" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td valign="top">
            <font style="font-family:Arial; color:#333333; font-size:16px; font-weight:normal; line-height:24px;">
                Dear @Model.Name,<br /><br />
                <img src="@Request.Url.GetRootUrl("/emailcontent/images/welcome.jpg")" alt="Welcome" style="width:100%;" />
                <br /><br />
                We welcome you on board to move ahead in your career journey with XYZ. We hope you'll enjoy the smooth and simplified experience of creating the resume. At XYZ, our aim is to help you create a professional resume to land more interview calls and a step forward in getting your dream job!<br />
            </font>
        </td>
    </tr>
    <tr>
        <td height="40"></td>
    </tr>
</table>