﻿@if (ViewBag.JsonProps != null)
{
    <text><script> (function () { window.Builder = { "TempData": @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.JsonProps)) }; })(); </script></text>
    @*var jsonProps = (ViewDataDictionary)ViewBag.JsonProps;
    <text>@Html.Hidden("jsonProps", value: string.Empty, htmlAttributes: jsonProps)</text>*@
}
@StaticResources.GetJS(BundleConstants.MainBundleJs)