﻿<footer>
    <div class="footerCopyInfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">Copyright &copy; @HomeController.GetYear() Company Name</div>
                <div class="col-xs-12 col-sm-6 col-md-6 text-right"><a href="">Terms</a> | <a href="">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</footer>