﻿<footer>
    <div class="footerInfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <ul class="footerLink">
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.InterviewTips(), RouteNames.InterviewTips))">Interview Tips</a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.JobHunting(), RouteNames.JobHunting))">Job Hunting</a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.FresherInterviewQuestions(), RouteNames.FresherInterviewQuestions))">Fresher Interview Questions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <ul class="footerLink">
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.HowToCreateResume(), RouteNames.HowToCreateResume))">How To Write Job Winning Resume</a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.ResumeWritingTips(), RouteNames.ResumeWritingTips))">Resume Writing Tips</a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.InterviewTips(), RouteNames.InterviewTips))">Resume Samples</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <ul class="footerLink">
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.Terms(), RouteNames.Terms))">Terms</a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.Privacy(), RouteNames.Privacy))">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.ContactUs(), RouteNames.ContactUs))">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footerCopyInfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">Copyright &copy; @HomeController.GetYear() Company Name</div>
                <div class="col-xs-12 col-sm-6 col-md-6 text-right"><a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.Terms(), RouteNames.Terms))">Terms</a> | <a href="@Html.Raw(Url.BuildUrl<HomeController>(home => home.Privacy(), RouteNames.Privacy))">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</footer>