﻿@{
    bool showPreviewButtons = Convert.ToBoolean(ViewBag.ShowPreviewButtons);
    var nameInitial = string.Empty;
    var displayName = User.GetDisplayName();
    var isSignedIn = User.IsSignedIn();
    if (!string.IsNullOrEmpty(displayName))
    {
        nameInitial = Convert.ToString(displayName[0]);
    }
}

@if (!String.IsNullOrEmpty(Convert.ToString(ViewBag.HeaderCss)))
{
    <text>
        <header class="@ViewBag.HeaderCss">
    </text>
}
else
{
    <text>
        <header>
    </text>
}

<div class="container-fluid">
    <div class="menuLink pull-left">
        <a id="menu">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="logo pull-left">
        <a href="@Request.Url.GetRootUrl()">Logo</a>
    </div>
    <ul class="navBar pull-left">
        <li>
            <a>Resumes</a>
        </li>
        <li>
            <a>Cover letters</a>
        </li>
        <li>
            <a>Web site</a>
        </li>
    </ul>
    @if (isSignedIn && showPreviewButtons)
    {
        <div class="previewActionButtons">
            <button type="button" id="downloadResume" formtarget="_blank" class="default-btn marginRight">@Html.Raw(Resource.Download)</button>
            <button type="button" id="printResume" class="default-btn marginRight">@Html.Raw(Resource.Print)</button>
            <button type="button" id="emailResume" class="default-btn marginRight">@Html.Raw(Resource.Email)</button>
        </div>
    }

    <div class="loginInfo pull-right">
        @if (isSignedIn)
        {
            <text>
                <div class="activeLogin">
                    @if (!string.IsNullOrEmpty(nameInitial))
                    {
                        <text><span class="activeUser">@nameInitial</span></text>
                    }
                    else
                    {
                        <text><span class="userName">@Resource.HeaderMyAccount</span></text>
                    }
                    @if (!string.IsNullOrEmpty(displayName))
                    {
                        <text><span class="userName">@displayName</span></text>
                    }
                    <div class="loginPopup">
                        <div class="poplist">
                            <a href="@(Url.RouteUrl(RouteNames.Dashboard))">@Resource.Dashboard</a>
                            <a href="@(Url.RouteUrl(RouteNames.AccountProfileSettings))">Settings</a>
                            <a href="@(Url.RouteUrl(RouteNames.AccountLogout))">@Resource.LogOut</a>
                        </div>
                    </div>
                </div>
            </text>
        }
        else
        {
            <text><a href="@(Url.RouteUrl(RouteNames.AccountLogin))" class="btn btnLogin">@Resource.Login</a></text>
        }
    </div>
</div>
</header>
