﻿<header class="headerInfo">
    <div class="imageBack"></div>
    <nav class="navInfo">
        <ul class="navBar">
            @if (User.IsSignedIn())
            {
                <text>
                    <li>
                        <a class="btn signBtn" href="@Url.RouteUrl(RouteNames.AccountLogout)">@Resource.LogOut</a>
                    </li>
                </text>
            }
            else
            {
                <text>
                    <li>
                        <a class="login" href="@Url.RouteUrl(RouteNames.AccountLogin)">@Resource.Login</a>
                    </li>
                    <li>
                        <a class="btn signBtn" href="@Url.RouteUrl(RouteNames.AccountRegister)">@Resource.SignUp</a>
                    </li>
                </text>
            }
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-5">
                <div class="logo">Logo</div>
                <div class="topHeading">Create a job-ready <span class="resumeText">resume</span> in minutes.</div>
                <div class="subHeading">Get more interview calls to land next job faster with a standout resume.</div>
                <div class="freeSign">Free sign-up, No credit card required.</div>
                <div class="buildInfo">
                    <a href="@Url.RouteUrl(RouteNames.HowItWorks)" class="buildBtn">Build Your Resume Now</a>
                </div>
            </div>
        </div>
    </div>
</header>