﻿<header class="headerInfo">
    <div class="imageBack"></div>
    <nav class="navInfo">
        <ul class="navBar">
            @if (User.IsSignedIn())
            {
                <text>
                    <li>
                        <a class="btn signBtn" href="@Url.RouteUrl(RouteNames.AccountLogout)">@Resource.LogOut</a>
                    </li>
                </text>
            }
            else
            {
                <text>
                    <li>
                        <a class="login" href="@Url.RouteUrl(RouteNames.AccountLogin)">@Resource.Login</a>
                    </li>
                    <li>
                        <a class="btn signBtn" href="@Url.RouteUrl(RouteNames.AccountRegister)">@Resource.SignUp</a>
                    </li>
                </text>
            }
        </ul>
    </nav>
</header>