﻿@{
    bool isLP = Convert.ToBoolean(ViewBag.IsLP);
    bool isStatic = Convert.ToBoolean(ViewBag.IsStatic);
    bool isWizard = Convert.ToBoolean(ViewBag.IsWizard);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{ Html.RenderPartial("~/Views/Shared/_HeadContent.cshtml"); }
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("headContent", false)
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato:400" rel="stylesheet">
    
    @((isStatic ? StaticResources.GetCss(BundleConstants.StaticCss) : (isLP ? StaticResources.GetCss(BundleConstants.LpCss) : (isWizard ? StaticResources.GetCss(BundleConstants.WizardCss) : StaticResources.GetCss(BundleConstants.SiteCss)))))
    
    @{ Html.RenderPartial("~/Views/Shared/_CommonCSS.cshtml"); }
    @RenderSection("styles", false)
</head>
<body class="@ViewBag.BodyClass">
    <div class="@(isWizard ? "innerSectionJourneyLayout" : "innerSectionLayout")">
        @if (isLP)
        {
            Html.RenderPartial("~/Views/Shared/_HeaderLP.cshtml");
            @RenderBody()
        }
        else if (isStatic)
        {
            Html.RenderPartial("~/Views/Shared/_HeaderStatic.cshtml");
            @RenderBody()
        }
        else
        {
            Html.RenderPartial("~/Views/Shared/_Header.cshtml");
            <text>
                <section class="@(Convert.ToString(ViewBag.SectionCss) ?? "mainSection")">
                    @RenderBody()
                </section>
            </text>
        }
        @if (isLP || isStatic)
        {
            Html.RenderPartial("~/Views/Shared/_FooterLP.cshtml");
        }
        else
        {
            Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
        }
        @RenderSection("html", false)
        @{ Html.RenderPartial("~/Views/Shared/_CommonJS.cshtml"); }
        @RenderSection("scripts", false)
    </div>
</body>
</html>