﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    @{ Html.RenderPartial("~/Views/Shared/_HeadContent.cshtml"); }
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato:400" rel="stylesheet">
    @StaticResources.GetCss(BundleConstants.OrderCss)
    @{ Html.RenderPartial("~/Views/Shared/_CommonCSS.cshtml"); }
    @RenderSection("styles", false)
    @{ Html.RenderPartial("~/Views/Shared/_CommonJS.cshtml"); }
    @RenderSection("headContent")
</head>
<body class="@ViewBag.BodyClass">
<div class="container" id="container">
    @{ Html.RenderPartial("~/Views/Shared/_Header.cshtml"); }
    @RenderBody()
</div>
@{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
<div class="nav-overlay" id="navOverlay"></div>
@RenderSection("scripts", false)
</body>
</html>