﻿<div id="popupContainer" class="modal-box-container">
    <div class="overlay-Bg"></div>
    <div id="popupContentArea" class="modal-content-area">
        <i id="popupClose" class="fa fa-times close-icon"></i>
        <h2 id="popupModalTitle" class="modal-title text-center"></h2>
        <div id="popupContent" class="modal-content">
        </div>
        <div class="modalFooter">
            <a id="popupBtnCancel" class="button-cancel" href="javascript:void(0)"></a>
            <a id="popupBtnCTA" class="button-primary cta-button" href="javascript:void(0)"></a>
        </div>
    </div>
</div>