﻿@if (Common.GetDomainCD() == DomainFriendlyNameConstants.ResumeHelp)
{
    <text>
        @*<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Organization",
    "name": "ResumeHelp",
    "alternateName": "Resume Help",
    "address": [{
    "@@type": "PostalAddress",
    "addressLocality": "Jackson, WY",
    "postalCode": "83001",
    "streetAddress": "185 W. Broadway Suite 101 PO Box 1150"
    }],
    "logo": "@StaticResources.GetLogoUrl(DomainFriendlyNameConstants.ResumeHelp)",
    "url": "https://www.resumehelp.com/",
    "sameAs": [
    "http://www.facebook.com/pages/ResumeHelp/",
    "http://www.twitter.com/ResumeHelp1/",
    "http://plus.google.com/110822671277768505408"
    ],
    "contactPoint": [{
    "@@type": "ContactPoint",
    "telephone": "+1-844-484-1207",
    "contactType": ["customer service", "technical support", "billing support", "bill payment", "credit card support"],
    "contactOption": "TollFree",
    "areaServed": ["US", "CA", "MX"],
    "availableLanguage": ["English", "Spanish"]
    }, {
    "@@type": "ContactPoint",
    "telephone": "+01-844-484-1207",
    "contactType": ["customer service", "technical support", "billing support", "bill payment", "credit card support"],
    "contactOption": "TollFree",
    "areaServed": ["UK", "IRL"],
    "availableLanguage": ["English"]
    }, {
    "@@type": "ContactPoint",
    "telephone": "+01-844-484-1207",
    "contactType": ["customer service", "technical support", "billing support", "bill payment", "credit card support"],
    "contactOption": "TollFree",
    "areaServed": ["AU"],
    "availableLanguage": ["English"]
    }]
    }
</script>*@
    </text>
}