﻿@model TextEditorModel
<div class="editor-container">
    @if (Model.EditorType == EditorType.Squire)
    {
        <text>
            <div id="@(Model.EditorId)_buttons" class="editor-icons-new">
                <div class="display-inlineblock seperator">
                    <button data-action="bold" class="editorclass bold fa fa-bold" value="bold" title="@Resource.Bold"></button>
                    <button data-action="italic" class="editorclass list fa fa-italic" title="@Resource.Italic"></button>
                    <button data-action="underline" class="editorclass list fa fa-underline" title="@Resource.Underline"></button>
                </div>
                <div class="display-inlineblock seperator">
                    <button data-action="alignLeft" class="fa fa-align-left" title="@Resource.AlignLeft"></button>
                    <button data-action="alignJustify" class="fa fa-align-justify" title="@Resource.AlignJustify"></button>
                    <button data-action="alignCenter" class="fa fa-align-center" title="@Resource.AlignCenter"></button>
                    <button data-action="alignRight" class="fa fa-align-right" title="@Resource.AlignRight"></button>
                    <button data-action="makeUnorderedList" class="editorclass list fa fa-list-ul" title="@Resource.UnorderedList"></button>
                </div>
                <div class="display-inlineblock seperator">
                    <button data-action="undo" class="editorclass undo fa fa-mail-reply" title="@Resource.Undo"></button>
                    <button data-action="redo" class="editorclass redo fa fa-mail-forward" title="@Resource.Redo"></button>
                </div>
            </div>
            <div class="placeholder-set">
                <span class="placeholder display-none">@Model.PlaceHolder</span>
                <div id="@Model.EditorId" contenteditable="true" class="editor-body" spellcheck="true"></div>
            </div>
        </text>
    }
    else if (Model.EditorType == EditorType.HtmlEditor)
    {
        <text>
            <div class="editor-icons text-center">
                <button class="list fa fa-list-ul"></button>
                <button class="undo fa fa-mail-reply" href="#"></button>
                <button class="redo fa fa-mail-forward" href="#"></button>
            </div><!-- editor-icons -->
            <div contenteditable="true" id="@Model.EditorId" class="editor" placeholder="@Model.PlaceHolder"></div>
        </text>
    }
    else if (Model.EditorType == EditorType.Trumbowyg)
    {
        <text><div contenteditable="true" id="@Model.EditorId" class="editor" data-field="" data-name="@Model.DocumentField" data-id="" data-is-editor=""></div></text>
    }
</div>