﻿<div class="spellchecker-suggestbox" style="display: none; left: 218px; top: 1114px;">
    <div class="words">
        <a href="#">bad word</a>
    </div>
    <div>
        <a href="#">Ignore</a>
        <a href="#">Ignore All</a>
    </div>
</div>