﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{ Html.RenderPartial("~/Views/Shared/_HeadContent.cshtml"); }
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato:400" rel="stylesheet">
    @StaticResources.GetWizardCss()
    @{ Html.RenderPartial("~/Views/Shared/_CommonCSS.cshtml"); }
    @RenderSection("styles", false)
</head>
<body>
<div class="innerSectionJourneyLayout">
    @{ Html.RenderPartial("~/Views/Shared/_Header.cshtml"); }
    <section class="mainSection">
        @RenderBody()
    </section>
    @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
    @{ Html.RenderPartial("~/Views/Shared/_CommonJS.cshtml"); }
    @RenderSection("scripts", false)
</div>
</body>
</html>