﻿@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Error</title>
</head>
<body>
<h1>Error.</h1>
<h2>We have been experiencing some technical issues. Please try again after some time or drop us an email at <a href="mailto:support@xyz.com">support@xyz.com</a></h2>
</body>
</html>