﻿@model WizardVM
@{
    var wizardMenuList = WizardUtility.GetWizardMenuList(Url, Model.Mode, Model.DocumentId, Model.DocumentCookieModel);
}

@if (wizardMenuList != null && wizardMenuList.Count > 0)
{
    <text>
        <div class="collapseMenu">
            <ul class="sideList">
                @foreach (var wizardMenu in wizardMenuList)
                {
                    <text>
                        <li>
                            <a href="@wizardMenu.SectionURL">@wizardMenu.SectionDisplayValue</a>
                        </li></text>
                }
            </ul>
        </div>
        <div class="sideMenu">
            <ul class="sideList">
                @foreach (var wizardMenu in wizardMenuList)
                {
                    <text>
                        <li>
                            <a href="@wizardMenu.SectionURL">
                                <span class="listIcon">
                                    <i class="@wizardMenu.Icon"></i>
                                </span>
                                <span class="listTitle">@wizardMenu.SectionDisplayValue</span>
                            </a>
                        </li>
                    </text>
                }
            </ul>
        </div>
    </text>
}