@model WizardVM
@{
    UpdateProgress(ProgressCode.Format);
    var skins = SkinVM.ResumeSkins;
    string selectedSkinCode = Convert.ToString(ViewBag.SkinCode);
    var saveTemplateUrl = Url.BuildUrl<WizardController>(wiz => wiz.SaveTemplate(Model.DocumentId, null), AjaxRouteNames.SaveTemplate);
    AddJsonProp("SelectResumeAddress", saveTemplateUrl);
    AddJsonProp("NextScreenAddress", Model.NextRouteUrl);
}
<div class="chooseTemplateContainer">
    <div class="row">
        <div class="chooseTemplateTitle">@Resource.ChooseResumeTemplate</div>
        <div id="select-template" class="formContact">
            <div class="chooseTemplateBox">
                @if (skins != null && skins.Any())
                {
                    foreach (var skin in skins)
                    {
                        <text>
                            <div class="skinItem">
                                <a href="" info-template="@skin.Code">
                                    <div class="choose-template-class">
                                        <img src="@skin.ImagePath">
                                    </div>
                                    <div class="templateType">@skin.SkinType</div>
                                    <div class="templateName">@skin.Name <span class="pagetype">(@skin.TemplatePageType)</span></div> 
                                </a>
                            </div>
                        </text>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    @StaticResources.GetJS(BundleConstants.SelectTemplateJs)
    @StaticResources.GetPrefetch(BundleConstants.UserDetailsJs)
}