@model WizardVM
@{
    UpdateProgress(ProgressCode.UserDetails);
    ViewBag.Title = "User Details";

    string contactInfoGetUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetContactInfo(Model.DocumentId), AjaxRouteNames.GetContactInfo),
        contactInfoUpdateUrl = Url.BuildUrl<WizardController>(wiz => wiz.SaveContactInfo(Model.DocumentId, null), AjaxRouteNames.SaveContactInfo);
    AddJsonProp("Name", DocSections.Name);
    AddJsonProp("Contact", DocSections.Contact);
    AddJsonProp("EmailPattern", RegexPatterns.Email);
    AddJsonProp("PhoneNumberPattern", RegexPatterns.PhoneNumber);
    AddJsonProp("ZipCodePattern", RegexPatterns.ZipCode);
    AddJsonProp("FetchData", Model.LoadData);
    AddJsonProp("UserDetailsFetchAddress", contactInfoGetUrl);
    AddJsonProp("UserDetailsSaveAddress", contactInfoUpdateUrl);
    AddJsonProp("NextScreenAddress", Model.NextRouteUrl);
}

<div class="mainDataContainer">
    @{ Html.RenderPartial("~/Views/Wizard/_WizardMenu.cshtml", Model); }
    <div class="formContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">CONTACT INFO</div>
                <div class="formContact">
                    <form>
                        <input type="hidden" value="0" info-field="@DocFields.SectionId" info-field-group="@DocSections.Name" />
                        <input type="hidden" value="0" info-field="@DocFields.ParagraphId" info-field-group="@DocSections.Name" />
                        <input type="hidden" value="0" info-field="@DocFields.SectionId" info-field-group="@DocSections.Contact" />
                        <input type="hidden" value="0" info-field="@DocFields.ParagraphId" info-field-group="@DocSections.Contact" />
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" info-field="@DocFields.Name" info-field-group="@DocSections.Name" />
                                    <label for="name">@Resource.NameCaps</label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" info-field="@DocFields.Email" info-field-group="@DocSections.Contact" value="@UserName" />
                                    <label for="email">@Resource.OrderCancellationType_EMAL</label>
                                    <span id="errEmailValid" class="errorInfo">@Resource.EnterValidEmail</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" info-field="@DocFields.Phone" info-field-group="@DocSections.Contact" />
                                    <label for="phone">@Resource.OrderCancellationType_PHON</label>
                                    <span id="errPhoneValidMsg" class="errorInfo">@Resource.ErrorPhoneMsg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="altPhone" info-field="@DocFields.AltPhone" info-field-group="@DocSections.Contact" />
                                    <label for="altPhone">Alternate Phone</label>
                                    <span id="errAltPhoneValidMsg" class="errorInfo">@Resource.ErrorPhoneMsg</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" info-field="@DocFields.Address" info-field-group="@DocSections.Contact" />
                                    <label for="address">@Resource.Address</label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="city" info-field="@DocFields.City" info-field-group="@DocSections.Contact">
                                    <label for="city">@Resource.CityCaps</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="state" info-field="@DocFields.State" info-field-group="@DocSections.Contact" />
                                    <label for="state">@Resource.StateCaps</label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="zipCode" info-field="@DocFields.ZipCode" info-field-group="@DocSections.Contact" />
                                    <label for="zipCode">@Resource.ZipCode</label>
                                    <span id="errZipCodeValid" class="errorInfo">@Resource.ErrorZipCodeMsg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row formButtonInfo">
                            <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                                <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                                <button id="btnProceed" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="title">Expert Advice</div>
                <div class="tipsContainer">
                    <ul class="tipsList fa-ul">
                        <li><i class="fa-li fa fa-check liColor"></i>Enter the correct mobile number & email where recruiters & employers can reach you.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Enter the current address to receive any correspondence from your prospective employer.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Enter the alternate phone number in case your primary phone is not reachable.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Use a professional email Id, avoid email id having weired verbs.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Employers, recruiters primarily user primary phone and email to reach out to the candidates.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.UserDetailsJs)
    @StaticResources.GetPrefetch(BundleConstants.JQueryUICss, BundleConstants.EditorCss, BundleConstants.EditorJs, BundleConstants.JQueryAutoCompleteExampleJs, BundleConstants.WorkDetailsJs)
}