@model WizardVM
@{
    UpdateProgress(ProgressCode.AcademicsDetails);
    ViewBag.Title = "EducationReview";

    string getEducationUrl = null, editUrlFormat = null, addUrl = null, allParaDeletedUrl = null,
        dashboardUrl = Url.BuildUrl<DashboardController>(dash => dash.Home(), RouteNames.Dashboard),
        deleteParaUrl = Url.BuildUrl<WizardController>(wiz => wiz.DeleteParagraph(null), AjaxRouteNames.DeleteParagraph),
        sortParaUrl = Url.BuildUrl<WizardController>(wiz => wiz.SortParagraphs(999, null), AjaxRouteNames.SortParagraphs).Replace("999", "{groupId}");
    if (Model.DocumentId > 0)
    {
        getEducationUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetEducation(Model.DocumentId), AjaxRouteNames.GetEducation);
    }
    if (RouteMode.Edit.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase))
    {
        editUrlFormat = Url.BuildUrl<WizardController>(wiz => wiz.Education(RouteReviewMode.EditDocEditPara, Model.DocumentId, 999), RouteNames.Education_Mode).Replace("999", "{itemId}");
        addUrl = Url.BuildUrl<WizardController>(wiz => wiz.Education(RouteReviewMode.EditDocAddPara, Model.DocumentId, null), RouteNames.Education_Mode);
        allParaDeletedUrl = Url.BuildUrl<WizardController>(wiz => wiz.Education(Model.Mode, Model.DocumentId, null), RouteNames.Education_Mode);
    }
    else if (RouteMode.Add.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase))
    {
        editUrlFormat = Url.BuildUrl<WizardController>(wiz => wiz.Education(RouteReviewMode.AddDocEditPara, Model.DocumentId, 999), RouteNames.Education_Mode).Replace("999", "{itemId}");
        addUrl = Url.BuildUrl<WizardController>(wiz => wiz.Education(RouteReviewMode.AddDocAddPara, Model.DocumentId, null), RouteNames.Education_Mode);
        allParaDeletedUrl = Url.BuildUrl<WizardController>(wiz => wiz.Education(Model.Mode, Model.DocumentId, null), RouteNames.Education_Mode);
    }
    else
    {
        editUrlFormat = Url.BuildUrl<WizardController>(wiz => wiz.Education(RouteReviewMode.CreateDocEditPara, Model.DocumentId, 999), RouteNames.Education_Mode).Replace("999", "{itemId}");
        addUrl = Url.BuildUrl<WizardController>(wiz => wiz.Education(RouteReviewMode.CreateDocAddPara, Model.DocumentId, null), RouteNames.Education_Mode);
        allParaDeletedUrl = Url.BuildUrl<WizardController>(wiz => wiz.Education(null, null, null), RouteNames.Education);
    }

    AddJsonProp("DocumentId", Model.DocumentId);
    AddJsonProp("FetchData", Model.LoadData);
    AddJsonProp("Academic", DocSections.Education);
    AddJsonProp("Items", SectionFields.Paragraphs);
    AddJsonProp("ItemId", Model.ParagraphId);
    AddJsonProp("GroupIdField", DocFields.SectionId);
    AddJsonProp("ItemIdField", DocFields.ParagraphId);
    AddJsonProp("CityField", DocFields.SchoolCity);
    AddJsonProp("StateField", DocFields.SchoolState);
    AddJsonProp("DegreeField", DocFields.Degree);
    AddJsonProp("DegreeSpecField", DocFields.DegreeSpecialization);
    AddJsonProp("SchoolField", DocFields.School);
    AddJsonProp("UniversityField", DocFields.University);
    AddJsonProp("SDField", DocFields.SchoolDescription);
    AddJsonProp("SortText", Resource.Sort);
    AddJsonProp("EditText", Resource.Edit);
    AddJsonProp("DeleteText", Resource.Delete);
    AddJsonProp("DashboardAddress", dashboardUrl);
    AddJsonProp("AllItemDeletedAddress", allParaDeletedUrl);
    AddJsonProp("EditAddressFormat", editUrlFormat);
    AddJsonProp("SortAddressFormat", sortParaUrl);
    AddJsonProp("DeleteItemAddress", deleteParaUrl);
    AddJsonProp("GetAcademicAddress", getEducationUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
}
<div class="mainDataContainer">
    @{ Html.RenderPartial("~/Views/Wizard/_WizardMenu.cshtml", Model); }
    <div class="formContainer">
        <div class="row">
            <div id="sortBoundary" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">Academics</div>
                <div id="divHistRoot" class="experienceInfo">
                </div>
                <div class="experienceAddSection">
                    <a href="@Html.Raw(addUrl)">
                        <i class="icon-Add"></i> @Resource.AddAnotherDegree
                    </a>
                </div>
                <div class="row formButtonInfo">
                    <div class="col-md-12 text-center">
                        <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <a href="@Html.Raw(Model.NextRouteUrl)" class="default-btn marginRight">@Html.Raw(Resource.NextCaps)</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="title">Expert Advice</div>
                <div class="tipsContainer">
                    <ul class="tipsList fa-ul">
                        <li><i class="fa-li fa fa-check liColor"></i>List your qualification details in reverse chronological order, with your current or most recent qualification listed at the top.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Include start and end dates for each qualification unless you have any gaps in education.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Use strong action verbs ("achieved", "led", "organized") to showcase your qualities and leadership skills.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Don't use personal pronouns like "I", "Me", or "My”.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section html {
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Delete</h4>
                </div>
                <div class="modal-body">
                    <p>@Resource.SureToDeleteEduPart</p>
                    <p>@Resource.DeleteNotUndone</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-item" type="button" class="btn default-mid-btn">@Resource.Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryUISortableJs)
    @StaticResources.GetJS(BundleConstants.AcademicReviewJs)
}