@using Utilities.Localization
@model WizardVM
@{
    UpdateProgress(ProgressCode.Academics);
    ViewBag.Title = "Education";

    string saveEducationUrl = null, getEducationUrl = null, educationReviewUrl = null;
    var isEditMode = RouteReviewMode.EditDocEditPara.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase) || RouteReviewMode.EditDocAddPara.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase);
    var isAddMode = RouteReviewMode.AddDocEditPara.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase) || RouteReviewMode.AddDocAddPara.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase);
    var isCreateMode = RouteReviewMode.CreateDocEditPara.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase) || RouteReviewMode.CreateDocAddPara.Equals(Model.Mode, StringComparison.OrdinalIgnoreCase);
    if (isEditMode)
    {
        educationReviewUrl = Url.BuildUrl<WizardController>(wiz => wiz.EducationReview(RouteMode.Edit, Model.DocumentId), RouteNames.EducationReview_Mode);
    }
    else if (isAddMode)
    {
        educationReviewUrl = Url.BuildUrl<WizardController>(wiz => wiz.EducationReview(RouteMode.Add, Model.DocumentId), RouteNames.EducationReview_Mode);
    }
    else
    {
        educationReviewUrl = Url.BuildUrl<WizardController>(wiz => wiz.EducationReview(null, null), RouteNames.EducationReview);
    }
    if (Model.DocumentId > 0)
    {
        saveEducationUrl = Url.BuildUrl<WizardController>(wiz => wiz.SaveEducation(Model.DocumentId, null), AjaxRouteNames.SaveEducation);
        if (Model.LoadData)
        {
            getEducationUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetEducation(Model.DocumentId), AjaxRouteNames.GetEducation);
        }
    }
    var currentDate = DateTime.Now.Date;
    IDictionary<int, string> years = new Dictionary<int, string>();
    for (var i = DateTime.Now.Year; i >= 1960; i--)
    {
        years.Add(i, i.ToString());
    }
    IEnumerable<KeyValuePair<int, string>> monthList = Intl.GetShortMonths().AsEnumerable(),
        yearList = years.AsEnumerable();
    var degrees = Intl.GetDegrees();
    var loadExamplesUrl = Url.RouteUrl(AjaxRouteNames.GetEducationExamples);

    var editor = new TextEditorModel { EditorId = "summary", PlaceHolder = Resource.ExpDesTips + Resource.InsertPreWrittenExamplesBelow };

    AddJsonProp("DocumentId", Model.DocumentId);
    AddJsonProp("FetchData", Model.LoadData);
    AddJsonProp("Academic", DocSections.Education);
    AddJsonProp("AcademicItems", SectionFields.Paragraphs);
    AddJsonProp("AcademicItemId", Model.ParagraphId);
    AddJsonProp("AcademicItemIdField", DocFields.ParagraphId);
    AddJsonProp("EditorId", editor.EditorId);
    AddJsonProp("EditorPlaceholder", editor.PlaceHolder);
    AddJsonProp("SDField", DocFields.SchoolDescription);
    AddJsonProp("LoadExamplesAddress", loadExamplesUrl);
    AddJsonProp("GetEducationAddress", getEducationUrl);
    AddJsonProp("SaveEducationAddress", saveEducationUrl);
    AddJsonProp("EducationReviewAddress", educationReviewUrl);
    AddJsonProp("NextScreenAddress", Model.NextRouteUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
    @StaticResources.GetCss(BundleConstants.EditorCss)
}
<div class="mainDataContainer">
    @{ Html.RenderPartial("~/Views/Wizard/_WizardMenu.cshtml", Model); }
    <div class="formContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">Academics</div>
                <div class="formContact">
                    <input type="hidden" value="0" info-field="@DocFields.SectionId" info-field-group="@DocSections.Education" />
                    <input type="hidden" value="0" info-field="@DocFields.ParagraphId" info-field-group="@DocSections.Education" />
                    <div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="school">@Resource.InstitutionName</label>
                                    <input type="text" class="form-control form-input" id="school" info-field="@DocFields.School" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="university">@Resource.University</label>
                                    <input type="text" class="form-control form-input" id="university" info-field="@DocFields.University" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="degree">@Resource.Degree</label>
                                    <input type="text" class="form-control form-input" id="degree" info-field="@DocFields.Degree" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="specialization">@Resource.Specialization</label>
                                    <input type="text" class="form-control form-input" id="specialization" info-field="@DocFields.DegreeSpecialization" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="city">@Resource.CityCaps</label>
                                    <input type="text" class="form-control form-input" id="city" info-field="@DocFields.SchoolCity" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="state">@Resource.StateCaps</label>
                                    <input type="text" class="form-control form-input" id="state" info-field="@DocFields.SchoolState" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="month">@Resource.Month</label>
                                    <select id="month" class="input-group-dropdown" info-field="@DocFields.SchoolMonth" info-field-group="@DocSections.Education">
                                        <option value="0">@Resource.Month</option>
                                        @foreach (var month in monthList)
                                        {
                                            <text>
                                                <option value="@month.Key">@month.Value</option>
                                            </text>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="year">@Resource.Year</label>
                                    <select id="year" class="input-group-dropdown" info-field="@DocFields.SchoolYear" info-field-group="@DocSections.Education">
                                        <option value="0">@Resource.Year</option>
                                        @foreach (var year in yearList)
                                        {
                                            <text>
                                                <option value="@year.Key">@year.Value</option>
                                            </text>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="cgpa">@Resource.CGPA</label>
                                    <input type="text" class="form-control form-input" id="cgpa" info-field="@DocFields.CGPA" info-field-group="@DocSections.Education" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="adviceBoxInfo">
                    @*TODO: Load tips from the database*@
                    <div class="title">Expert Advice</div>
                    <div class="tipsContainer">
                        <ul class="tipsList fa-ul">
                            <li><i class="fa-li fa fa-check liColor"></i>Start with your highest degree. You can always add more qualifications or rearrange them later on.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>In case, you don't have a good CGPA/Percentage, skip adding this information. If you have a good one, add them.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Avoid adding any certifications and trainings here, there is a separate section for it under 'More Sections'.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Avoid adding any course which is not relevant to the desired job profile.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                @Html.Partial("_TextEditor", editor)

                <div class="row formButtonInfo">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                        <a href="@Html.Raw(isEditMode || isAddMode || isCreateMode ? educationReviewUrl : Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <button id="btnSaveAndNext" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="title">Examples</div>
                <div class="examplesContainer">
                    <ul id="exampleContainer" class="tipsList fa-ul" />
                    <p class="example-text">Loading Examples...</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryAutoCompleteExampleJs)
    @StaticResources.GetJS(BundleConstants.EditorJs)
    @StaticResources.GetJS(BundleConstants.AcademicDetailsJs)
}