@model WizardVM
@{
    UpdateProgress(ProgressCode.ExperienceDetails);
    ViewBag.Title = "ExperienceReview";

    string getExperienceUrl = null, editUrlFormat = null, addUrl = null, allParaDeletedUrl = null,
        dashboardUrl = Url.BuildUrl<DashboardController>(dash => dash.Home(), RouteNames.Dashboard),
        deleteParaUrl = Url.BuildUrl<WizardController>(wiz => wiz.DeleteParagraph(null), AjaxRouteNames.DeleteParagraph),
        sortParaUrl = Url.BuildUrl<WizardController>(wiz => wiz.SortParagraphs(999, null), AjaxRouteNames.SortParagraphs).Replace("999", "{groupId}");
    if (Model.DocumentId > 0)
    {
        getExperienceUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetExperience(Model.DocumentId), AjaxRouteNames.GetExperience);
    }
    if (WizardUtility.IsEditMode(Model.Mode))
    {
        editUrlFormat = Url.BuildUrl<WizardController>(wiz => wiz.Experience(RouteReviewMode.EditDocEditPara, Model.DocumentId, 999), RouteNames.Experience_Mode).Replace("999", "{itemId}");
        addUrl = Url.BuildUrl<WizardController>(wiz => wiz.Experience(RouteReviewMode.EditDocAddPara, Model.DocumentId, null), RouteNames.Experience_Mode);
        allParaDeletedUrl = Url.BuildUrl<WizardController>(wiz => wiz.Experience(Model.Mode, Model.DocumentId, null), RouteNames.Experience_Mode);
    }
    else if (WizardUtility.IsAddMode(Model.Mode))
    {
        editUrlFormat = Url.BuildUrl<WizardController>(wiz => wiz.Experience(RouteReviewMode.AddDocEditPara, Model.DocumentId, 999), RouteNames.Experience_Mode).Replace("999", "{itemId}");
        addUrl = Url.BuildUrl<WizardController>(wiz => wiz.Experience(RouteReviewMode.AddDocAddPara, Model.DocumentId, null), RouteNames.Experience_Mode);
        allParaDeletedUrl = Url.BuildUrl<WizardController>(wiz => wiz.Experience(Model.Mode, Model.DocumentId, null), RouteNames.Experience_Mode);
    }
    else
    {
        editUrlFormat = Url.BuildUrl<WizardController>(wiz => wiz.Experience(RouteReviewMode.CreateDocEditPara, Model.DocumentId, 999), RouteNames.Experience_Mode).Replace("999", "{itemId}");
        addUrl = Url.BuildUrl<WizardController>(wiz => wiz.Experience(RouteReviewMode.CreateDocAddPara, Model.DocumentId, null), RouteNames.Experience_Mode);
        allParaDeletedUrl = Url.BuildUrl<WizardController>(wiz => wiz.Experience(null, null, null), RouteNames.Experience);
    }

    AddJsonProp("DocumentId", Model.DocumentId);
    AddJsonProp("FetchData", Model.LoadData);
    AddJsonProp("Work", DocSections.Experience);
    AddJsonProp("Items", SectionFields.Paragraphs);
    AddJsonProp("GroupIdField", DocFields.SectionId);
    AddJsonProp("ItemIdField", DocFields.ParagraphId);
    AddJsonProp("JobTitleField", DocFields.JobTitle);
    AddJsonProp("EmployerField", DocFields.Employer);
    AddJsonProp("CityField", DocFields.City);
    AddJsonProp("StateField", DocFields.State);
    AddJsonProp("JDField", DocFields.JobDescription);
    AddJsonProp("SortText", Resource.Sort);
    AddJsonProp("EditText", Resource.Edit);
    AddJsonProp("DeleteText", Resource.Delete);
    AddJsonProp("DashboardAddress", dashboardUrl);
    AddJsonProp("AllItemDeletedAddress", allParaDeletedUrl);
    AddJsonProp("EditAddressFormat", editUrlFormat);
    AddJsonProp("SortAddressFormat", sortParaUrl);
    AddJsonProp("DeleteItemAddress", deleteParaUrl);
    AddJsonProp("GetWorkAddress", getExperienceUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
}
<div class="mainDataContainer">
    @{ Html.RenderPartial("~/Views/Wizard/_WizardMenu.cshtml", Model); }

    <div class="formContainer">
        <div class="row">
            <div id="sortBoundary" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">Experience</div>
                <div id="divHistRoot" class="experienceInfo">
                </div>
                <div class="experienceAddSection">
                    <a href="@Html.Raw(addUrl)">
                        <i class="icon-Add"></i> @Resource.AddAnotherPosition
                    </a>
                </div>
                <div class="row formButtonInfo">
                    <div class="col-md-12 text-center">
                        <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <a href="@Html.Raw(Model.NextRouteUrl)" class="default-btn marginRight">@Html.Raw(Resource.NextCaps)</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="title">Expert Advice</div>
                <div class="tipsContainer">
                    <ul class="tipsList fa-ul">
                        <li><i class="fa-li fa fa-check liColor"></i>List your work history in reverse chronological order, with your current or most recent job listed at the top.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Include start and end dates for each position.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Use strong action verbs ("led", "planned", "organized") to showcase your responsibilities and include numbers ("Increased sales by 50%") wherever possible.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Don't use personal pronouns like "I", "Me", or "My”.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section html {
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Delete</h4>
                </div>
                <div class="modal-body">
                    <p>@Resource.SureToDeleteExperience</p>
                    <p>@Resource.DeleteNotUndone</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-item" type="button" class="btn default-mid-btn">@Resource.Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryUISortableJs)
    @StaticResources.GetJS(BundleConstants.WorkReviewJs)
}