@model OtherSectionModel
@{
    UpdateProgress(ProgressCode.Custom);
    ViewBag.Title = "Custom";

    string getOtherSectionUrl = null, saveOtherSectionUrl = Url.BuildUrl<WizardController>(wiz => wiz.SaveOtherSection(Model.WizardViewModel.DocumentId, null), AjaxRouteNames.SaveOtherSection);
    if (Model.WizardViewModel.DocumentId > 0)
    {
        saveOtherSectionUrl = Url.BuildUrl<WizardController>(wiz => wiz.SaveOtherSection(Model.WizardViewModel.DocumentId, null), AjaxRouteNames.SaveOtherSection);
        if (Model.WizardViewModel.LoadData)
        {
            getOtherSectionUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetOtherSection(Model.WizardViewModel.DocumentId, Model.Wizard, null), AjaxRouteNames.GetOtherSection);
        }
    }

    var editor = new TextEditorModel { EditorId = "otherSection" };

    AddJsonProp("DocumentId", Model.WizardViewModel.DocumentId);
    AddJsonProp("FetchData", Model.WizardViewModel.LoadData);
    AddJsonProp("Custom", DocSections.Other);
    AddJsonProp("Group", Model.Wizard);
    AddJsonProp("EditorId", editor.EditorId);
    AddJsonProp("EditorPlaceholder", editor.PlaceHolder);
    AddJsonProp("DescField", DocFields.Description);
    AddJsonProp("GetCustomAddress", getOtherSectionUrl);
    AddJsonProp("SaveCustomAddress", saveOtherSectionUrl);
    AddJsonProp("NextScreenAddress", Model.WizardViewModel.NextRouteUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.EditorCss)
}
<div class="mainDataContainer">
    @{ Html.RenderPartial("~/Views/Wizard/_WizardMenu.cshtml", Model.WizardViewModel); }
    <div class="formContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">@Model.Title</div>
                <div class="formContact">
                    <input type="hidden" value="0" info-field="@DocFields.SectionId" info-field-group="@DocSections.Other" />
                    <input type="hidden" value="0" info-field="@DocFields.SortIndex" info-field-group="@DocSections.Other" />
                    <input type="hidden" value="0" info-field="@DocFields.ParagraphId" info-field-group="@DocSections.Other" />
                    <input type="hidden" value="0" info-field="@DocFields.ParaSortIndex" info-field-group="@DocSections.Other" />
                    <input type="hidden" value="@Model.Wizard" info-field="@DocFields.Wizard" info-field-group="@DocSections.Other" />
                </div>
                @Html.Partial("_TextEditor", editor)

                <div class="row formButtonInfo">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                        <a href="@Html.Raw(Model.WizardViewModel.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <button id="btnSaveAndNext" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="adviceBoxInfo">
                    @*TODO: On Click on Collapse/Expanded Icon Switch between collapsedAdvice/expandedAdvice. Also change Icon and add padding*@
                    <div data-accordian-title="oth" class="title">Expert Advice<i class="icon-ArrowRight on"></i></div>
                    <div data-accordian-container="oth" class="tipsContainer collapsedAdvice">
                        <ul class="tipsList fa-ul">
                            @if (Model.Wizard == "accm")
                            {
                                <text>
                                    <li><i class="fa-li fa fa-check liColor"></i>List your work history in reverse chronological order, with your current or most recent job listed at the top.</li>
                                    <li><i class="fa-li fa fa-check liColor"></i>Include start and end dates for each position.</li>
                                    <li><i class="fa-li fa fa-check liColor"></i>Use strong action verbs ("led", "planned", "organized") to showcase your responsibilities and include numbers ("Increased sales by 50%") wherever possible.</li>
                                    <li><i class="fa-li fa fa-check liColor"></i>Don't use personal pronouns like "I", "Me", or "My”.</li>
                                </text>
                            }
                            else if (Model.Title == "")
                            {
                                <text>

                                </text>
                            }
                        </ul>
                    </div>
                </div>
                <div class="title">Examples</div>
                <div class="examplesContainer">
                    <ul id="exampleContainer" class="tipsList fa-ul" />
                    <p class="example-text">Loading Examples...</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.EditorJs)
    @StaticResources.GetJS(BundleConstants.CustomSectionJs)
}