@{
    ViewBag.Title = "Portfolio";
    string backButtonText = null;
    string nextRouteUrl = GetNextRoute(WizardConstants.Portfolio), backRouteUrl = GetPreviousRoute(WizardConstants.Portfolio),
        savePortfolioUrl = Url.BuildUrl<WizardController>(wiz => wiz.SavePortfolio(DocumentId, null), AjaxRouteNames.SavePortfolio),
        getPortfolioUrl = null;

    if (HasData && DocumentId > 0)
    {
        getPortfolioUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetPortfolio(DocumentId), AjaxRouteNames.GetPortfolio);
    }

    if (HasMode(RouteMode.Edit))
    {
        backButtonText = Resource.Cancel;
    }
    else
    {
        backButtonText = Resource.Back;
    }
}
<div class="formContainer">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="title">Portfolio</div>
            <div class="formContact">
                <input type="hidden" value="0" info-field="@DocFields.SectionId" info-field-group="@DocSections.Portfolio"/>
                <input type="hidden" value="0" info-field="@DocFields.ParagraphId" info-field-group="@DocSections.Portfolio"/>
                <input type="hidden" value="0" info-field="@DocFields.SortIndex" info-field-group="@DocSections.Portfolio"/>
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="linkedIn" info-field="@DocFields.LinkedIn" info-field-group="@DocSections.Portfolio"/>
                            <label for="linkedIn">@Resource.LinkedIn</label>
                            <span id="errLinkedInValid" class="errorInfo">Invalid LinkedIn Profile</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="twitter" info-field="@DocFields.Twitter" info-field-group="@DocSections.Portfolio"/>
                            <label for="twitter">@Resource.Twitter</label>
                            <span id="errTwitterValid" class="errorInfo">Invalid Twitter Profile</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="googleplus" info-field="@DocFields.GooglePlus" info-field-group="@DocSections.Portfolio"/>
                            <label for="googleplus">Google+</label>
                            <span id="errGooglePlusValid" class="errorInfo">Invalid Google+ profile</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="website" info-field="@DocFields.Website" info-field-group="@DocSections.Portfolio"/>
                            <label for="website">Website</label>
                            <span id="errWebsiteValid" class="errorInfo">Invalid Website URL</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row formButtonInfo">
                <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                    <a href="@Html.Raw(backRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                    <button id="btnSaveAndNext" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="title">Expert Advice</div>
            <div class="tipsContainer">
                <ul class="tipsList fa-ul">
                    <li><i class="fa-li fa fa-check liColor"></i>Adding your LinkedIn profile or website can boost your job search if you have a strong professional network.</li>
                    <li><i class="fa-li fa fa-check liColor"></i>This section can be really important for some profiles for ex: Photographer, Journalist
                    <li><i class="fa-li fa fa-check liColor"></i>Remember, this is completely optional to add these details so not to worry if you don't have a website or professional profile.</li>
                    <li><i class="fa-li fa fa-check liColor"></i>Avoid adding any profile which has strong political or religious opinions.</li>
                    <li><i class="fa-li fa fa-check liColor"></i>Avoid adding any personal website which has no context with your work.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}