@model WizardVM
@{
    UpdateProgress(ProgressCode.Competencies);
    ViewBag.Title = "SkillDescription";

    string getSkillUrl = null, saveSkillUrl = null;
    if (Model.DocumentId > 0)
    {
        saveSkillUrl = Url.BuildUrl<WizardController>(wiz => wiz.SaveSkill(Model.DocumentId, null), AjaxRouteNames.SaveSkill);
        if (Model.LoadData)
        {
            getSkillUrl = Url.BuildUrl<WizardController>(wiz => wiz.GetSkill(Model.DocumentId), AjaxRouteNames.GetSkill);
        }
    }
    var loadExamplesUrl = Url.RouteUrl(AjaxRouteNames.GetExamples, new { contentType = ContentType.Skills, Summary = false }); ;

    var editor = new TextEditorModel { EditorId = "summary", PlaceHolder = Resource.SkillTips + Resource.InsertPreWrittenExamplesBelow };

    AddJsonProp("DocumentId", Model.DocumentId);
    AddJsonProp("FetchData", Model.LoadData);
    AddJsonProp("Competencies", DocSections.Skills);
    AddJsonProp("EditorId", editor.EditorId);
    AddJsonProp("EditorPlaceholder", editor.PlaceHolder);
    AddJsonProp("DescField", DocFields.Description);
    AddJsonProp("LoadExamplesAddress", loadExamplesUrl);
    AddJsonProp("GetCompetenciesAddress", getSkillUrl);
    AddJsonProp("SaveCompetenciesAddress", saveSkillUrl);
    AddJsonProp("NextScreenAddress", Model.NextRouteUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.EditorCss)
}
<div class="mainDataContainer">
    @{ Html.RenderPartial("~/Views/Wizard/_WizardMenu.cshtml", Model); }
    <div class="formContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">Competencies</div>
                <div class="formContact">
                    <input type="hidden" value="0" info-field="@DocFields.SectionId" info-field-group="@DocSections.Skills" />
                    <input type="hidden" value="0" info-field="@DocFields.SortIndex" info-field-group="@DocSections.Skills" />
                    <input type="hidden" value="0" info-field="@DocFields.ParagraphId" info-field-group="@DocSections.Skills" />
                    <input type="hidden" value="0" info-field="@DocFields.ParaSortIndex" info-field-group="@DocSections.Skills" />
                </div>

                @Html.Partial("_TextEditor", editor)

                <div class="row formButtonInfo">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                        <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <button id="btnSaveAndNext" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="adviceBoxInfo">
                    <div data-accordian-title="advice" class="title">Expert Advice<i class="icon-ArrowRight on"></i></div>
                    <div data-accordian-container="advice" class="tipsContainer collapsedAdvice">
                        <ul class="tipsList fa-ul">
                            <li><i class="fa-li fa fa-check liColor"></i>List your work history in reverse chronological order, with your current or most recent job listed at the top.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Include start and end dates for each position.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Use strong action verbs ("led", "planned", "organized") to showcase your responsibilities and include numbers ("Increased sales by 50%") wherever possible.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Don't use personal pronouns like "I", "Me", or "My”.</li>
                        </ul>
                    </div>
                </div>
                <div class="title">Examples</div>
                <div class="examplesContainer">
                    <ul id="exampleContainer" class="tipsList fa-ul" />
                    <p class="example-text">Loading Examples...</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryAutoCompleteExampleJs)
    @StaticResources.GetJS(BundleConstants.EditorJs)
    @StaticResources.GetJS(BundleConstants.CompetenciesJs)
}