﻿@model IDictionary<string, string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testing</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        @if (Model != null && Model.Any())
        {
            <text>
                <table>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <text>
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@Html.Raw(item.Value)</td>
                                </tr>
                            </text>
                        }
                    </tbody>
                </table>
            </text>
        }
    </div>
</body>
</html>