@{
  ViewBag.Title = "Contact Us";
  ViewBag.IsStatic = true;
}


<div class="bannerImgInfo">
    <img src="@(StaticResources.CDN_Path1)images/contact-us-banner.jpg" />
</div>
<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <div class="headingInfo">Contact Us</div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <div class="formContact">
        <h1>Need Help?</h1>
        <p>We are always available for our customers, please provide the following details and contact us over email.</p>
        <div class="formdataInfo">
          <form name="emailForm">
            <div class="formDataRow">
              <label class="textLabel">Subject</label>
              <input size="200" name="theSubject" value="">
            </div>
            <div class="formDataRow">
              <label class="textLabel">Details</label>
              <textarea name="theBody" cols="200" rows="8"></textarea>
            </div>
            <div class="formButtonRow">
              <button class="buttonInfo" onclick="generateEmailCode()">Draft Email</button>
              <button class="buttonInfo">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


@section scripts {
  @StaticResources.GetHelpJS()
}