@{
    ViewBag.Title = "How To Create Resume";
    ViewBag.IsStatic = true;
}


<div class="bannerImgInfo">
    <img src="@(StaticResources.CDN_Path1)images/job-winning-resume.jpg" />
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="headingInfo">How To Write A Job Winning Resume</div>
            <div class="subHeadingInfo">We have some amazing tips for you to write an effective resume:</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contentInfo">
                <div class="mainHeading">Does Resume Quality Make a Difference? </div>
                <div class="descriptionInfo">Remember the saying, first impression is the last impression. Absolutely true in case of today's competitive job world where for one job opening, there are thousands of resumes floating aroung. So even if you are a better or more suitable candidate than others, your prospective employer would have made some mind about you and other candidates who applied for the same job. The question comes up how? Your resume is your face in front of the employer and he decides the list of candidates to be interviewed based on the same resume. So I would go on saying that resume is one of the main fertilizer for growing the career tree. So we are clear that a good quality resume makes a huge difference in landing you interview calls and the desired job. The question comes up how to create a job winning resume? How to standout among the other job applicants. Let's go over it step by step.</div>
                <div class="listPointData">
                    <div class="listDataRow">
                        <div class="listCount">01</div>
                        <div class="listDescription">
                            <div class="listHeading">Select the type of resume you want:</div>
                            <div>Majorly, there are two different categories of resume formats; functional and chronological. Chronological format lists experiences according in the order sorted by date. Functional format lists your different experiences based on the skills. Some people prefer to go with the combination of both.
                                If you want to focus more on your experience, we suggest to choose the reverse chronological format i.e. adding the details about your job experience but in a reverse order. After all the employer or recruiter is always interested in learning about your latest or current experience first. Our resume builder helps you create your resume in reverse chronological order. In case you wish to change the order, you do have the flexibility to sort and update the order of your experiences by going to the experience-review page.
                                You might choose to consider one of the above category of resume formats if you are applying for multiple opportunities.
                            </div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">02</div>
                        <div class="listDescription">
                            <div class="listHeading">Select the right tool for building your resume:</div>
                            <div>Traditionally, if people wanted a professional and really amazing resume, they used to hire resume writers and be much more dependent on them. This specially used to take a lot of time in exchanging the details with resume writer and going through multiple iterations. Our online resume builder makes it very easy and convenient for you. You can now create a professional resume right from your computer systems or even your handheld devices. Our resume builder has been designed to work across all the different devices and major browsers seemlessly to give you a smooth experience. You can even create resume for free. Yes, we are not kidding, you can use the free resume templates and download or print your resume for absolutely free without paying a single penny. We also provide the paid resume templates at a very nominal pricing to ensure our employees can get paid for their hardwork.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">03</div>
                        <div class="listDescription">
                            <div class="listHeading">Select the type of resume template:</div>
                            <div>Look and feel of your resume plays a vital role in landing you an interview call or job offer. A good crisp looking resume always holds an edge over a loosely formatted and misaligned resume. We ensure that our resume template makes your resume look professional and leave a good impression on the recruiter or hiring manager and on the interviewer. You can select the free resume templates or premium resume templates based on your choice to move ahead in the resume journey. You can always switch to another resume template later on when you preview your resume. We've tried hard to ensure you get the same look and feel of your resume once you download or print them.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">04</div>
                        <div class="listDescription">
                            <div class="listHeading">Filling Your Resume Content:</div>
                            <div> The resume content is one of the very important factor for your resume. Matching your resume against the desired job is a very important task. We recommend you to create the job specific resume to ensure the employer is much more interested in your profile. After all, you would like to showcase that you've got the skills and experience this job requires. So, feel free to create multiple job specific resumes. Analyse the job description and try to include the matching skills you possess in the resume. At the same time, avoid boasting too much about your skills or achievements. Remember, there is always a right balance required.
                                You should also be careful about keeping your resume short and at the same time adding all the relevant sections. We have also specified different tips for major sections in the resume. You can read the all the tips here:
                                <a href="section-tips">Resume Creation Tips</a>. These tips have been written by our career experts.
                                Confused about what to add in your resume or creating your resume for the first time. Don't worry, our resume builder makes it look like a cakewalk. You can search and add the pre-written phrases available to you in your system. We've more than 45,000+ pre-written phrases and are striving to add more of them on a regular basis. You can always search across different job titles to get relevant examples.
                                Adding the right content is important and ensuring that the content doesn't have spelling mistakes or grammatical errors is equally important. Scan your content carefully to ensure you haven't made typos or used incorrect grammer. You can also utilize our free proof reading tool to check for such errors. The proof reader tries to identify the mistakes and highlight them. Moreover, it also provides you with appropriate suggestions. This overall makes the resume writing process very easy and smooth.
                            </div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">05</div>
                        <div class="listDescription">
                            <div class="listHeading">Submitting Your Resume:</div>
                            <div>Once you have created the resume with the relevant sections, you can submit the resumes online by using our email feature.
                                We also provide you a general cover letter for your application in the email tool. Alternatively, you can download or print
                                your resume and send it through your own email id or upload it the relevant system.
                                Before you go out for your next interview, do make sure that you read our 
                                <a href="interview-tips">interview tips</a>. We wish you luck in your job search.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomSloganInfo">
                    <span class="sloganTitle">HAPPY JOB HUNTING,</span>
                    <span class="sloganSubtitle">Create Your Perfect</span>
                    <span><span class="sloganHeading">RESUME</span> Now.</span>
                </div>
            </div>
            
            <div class="resumeBottomBtn">
                <a class="default-btn" href="@Html.Raw(Url.BuildUrl<WizardController>(w => w.HowItWorks(), RouteNames.HowItWorks))">@Resource.BuildResume</a>
            </div>
        </div>
    </div>
</div>