﻿@{
    ViewBag.Title = "Home";
    ViewBag.IsLP = true;

    TrackPageView(Pages.Home);
}

<section class="numberInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="numHead">Free Resume Templates</div>
                <div class="numText">Professional resume templates to download your resume for free.</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="numHead">45,000+ Examples</div>
                <div class="numText">Job specific examples to give your resume that professional touch.</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="numHead">Fast & Easy Process</div>
                <div class="numText">Step by step guidance & tips to help you build resume quickly.</div>
            </div>
        </div>
    </div>
</section>
<section class="resumeInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="resumeHead">Create your resume for free in minutes</div>
            </div>
        </div>
        <div class="row resumeContainer">
            <div class="col-md-6">
                <ul class="resumeList">
                    <li>
                        <h4 class="resumeListHead">Painless process</h4>
                        No writing experience required. Build your resume quickly with our free resume builder. Our professional examples make your job easy.
                    </li>
                    <li>
                        <h4 class="resumeListHead">Easy customization</h4>
                        Choose from the variety of free resume templates or premium ones. Customize font, color or margins with the click of a button.
                    </li>
                    <li>
                        <h4 class="resumeListHead">Pixel perfect templates</h4>
                        Each resume template has been crafted carefully to give you a crisp and professional resume.
                    </li>
                </ul>
                <a href="" class="seeBtn">Browse resume templates</a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 resumeImage">
                        <img src="@(StaticResources.CDN_Path1)images/small.png"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 resumeImage">
                        <img src="@(StaticResources.CDN_Path1)images/small4.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stepInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center stepHead">
                Get your perfect resume in 3 easy steps
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="stepBox stepLeftSpace stepRightSpace">
                    <div class="stepListHead">Choose your design</div>
                    <div class="stepListText">
                        Select the professionally designed resume template, the one you like. Confused with the variety! Don't worry, you'll have the flexibility to change it later.
                    </div>
                </div>
                <div class="stepArrow">
                    <img src="@(StaticResources.CDN_Path2)images/step-arrow.png"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stepBox stepLeftSpace stepRightSpace">
                    <div class="stepListHead">Fill out content</div>
                    <div class="stepListText">
                        Don't know how to write a resume or what to write! Don't worry, use our pre-written examples specifically tailored for different job profiles.
                    </div>
                </div>
                <div class="stepArrow">
                    <img src="@(StaticResources.CDN_Path2)images/step-arrow.png"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stepBox stepLeftSpace">
                    <div class="stepListHead">Get your resume</div>
                    <div class="stepListText">
                        Download, print or email your resume with the click of a button. Get your resume 100% free with free templates or spend a little to give your resume an extra edge.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tipsInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 tipsLine">
                <div class="tipsListHead">Professional Templates</div>
                <div class="tipsListText">
                    Choose from a range of professionally designed resume templates to make your resume stand out amongst others.
                </div>
            </div>
            <div class="col-md-4 col-sm-4 tipsLine">
                <div class="tipsListHead">Proof Reading</div>
                <div class="tipsListText">
                    Use our proof reading feature to ensure that you don't make any mistakes in your resume.
                </div>
            </div>
            <div class="col-md-4 col-sm-4 tipsLine">
                <div class="tipsListHead">High Quality PDF</div>
                <div class="tipsListText">
                    We ensure that the exported PDF is of high quality to leave an excellent impression on the HR.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 tipsLine">
                <div class="tipsListHead">Industry Specific Examples</div>
                <div class="tipsListText">
                    We provide the most relevant job examples in different sections to help you build your resume quickly.
                </div>
            </div>
            <div class="col-md-4 col-sm-4 tipsLine">
                <div class="tipsListHead">No Credit Card Required</div>
                <div class="tipsListText">
                    You can build and download the resume for free with our free plan.
                </div>
            </div>
            <div class="col-md-4 col-sm-4 tipsLine">
                <div class="tipsListHead">No Recurring Charges</div>
                <div class="tipsListText">
                    Unlike other resume builders, we will never charge you on recurring basis so that you will never feel cheated.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 tipsBottomLine">
                <div class="tipsListHead">HR Approved Designs</div>
                <div class="tipsListText">
                    Our resume templates have been approved by multiple HR managers and they love it.
                </div>
            </div>
            <div class="col-md-4 col-sm-4 tipsBottomLine">
                <div class="tipsListHead">Create Multiple Resumes</div>
                <div class="tipsListText">
                    Create different resume tailored for each job requirement and apply easily to different job profiles.
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="tipsListHead">Optimized For ATS</div>
                <div class="tipsListText">Our exported PDF resumes are readable by most of the Applicant Tracking Systems.</div>
            </div>
        </div>

    </div>
</section>
<section class="reviewInfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="reviewData">
                    <div class="testimonialDataInfo">
                        <div class="quoteInfo">
                            <img src="images/quote.png"/>
                        </div>
                        <div class="reviewText"><b>XYZ's</b> resume builder took away all the stress and difficulty that comes while making a resume. I created a crisp and persuasive resume that landed me more interviews and helped me get job faster.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="reviewData">
                    <div class="testimonialDataInfo">
                        <div class="quoteInfo">
                            <img src="@(StaticResources.CDN_Path2)images/quote.png"/>
                        </div>
                        <div class="reviewText">I was confused about where and how to start writing my resume. <b>XYZ</b> made it look like a cake walk and helped me get an excellent resume for free. Thank you guys, you are just awesome.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="reviewData">
                    <div class="testimonialDataInfo">
                        <div class="quoteInfo">
                            <img src="@(StaticResources.CDN_Path2)images/quote.png"/>
                        </div>
                        <div class="reviewText">I'm really excited to mention that my interviewer was impressed with my resume. I'll definitely recommend this to everyone.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dreamInfo">
    <div class="imageBack"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="dreamText">Impress your future employer. Take a step forward <br/> for your dream job</div>
                <a href="@Url.RouteUrl(RouteNames.HowItWorks)" class="statNowBtn">Build Your Resume Now</a>
            </div>
        </div>
    </div>
</section>