@{
    ViewBag.Title = "Interview Tips";
    ViewBag.IsStatic = true;
}


<div class="bannerImgInfo">
    <img src="@(StaticResources.CDN_Path1)images/interview-tips.jpg" />
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="headingInfo">Interview Tips</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contentInfo">
                <div class="mainHeading huntingSpace">Some tips to crack an interview</div>
                <div class="descriptionInfo">Going for an interview has always been full of surprises and a task that always seems difficult. With some of the interview tips given here you can definitely make it less stressful and little bit easier. This happens to everyone even when we have gone on much more interviews than we can count on fingers. </div>
                <div class="descriptionList">
                    <ul>
                        <li>During the process, you get to meet new faces with different expectations. The most important part of cracking down the interview and getting the desired job is to be able to sell yourself and the required skills. It's always important for one to stay enthusiastic and keep calm throughout each interview.</li>
                        <li>Invest some time prior to the interview and get ready with the desired knowledge about the prospective employer and required skills in the job you've applied for. Some of the key attributes interviewers look out for is the confidence and positivity in taking up questions and different scenarios. Always be ready to share some real time examples of your experience and showcase your skills and required qualifications for the job. You should try to map your skills to the job applied for. </li>
                        <li>Before going for the interview process, always brush up your communication skills, so as to be able to clear in communication. Try to be concise and specific about the answer. Focus more on your strengths and skills you have to offer the employer. Take the time to work on your communication skills and gather knowledge about the employer and job. Always maintain a positive attitude towards your work and avoid being too much critic or negative about your current or previous employer.</li>
                    </ul>
                </div>
                <div class="descriptionInfo">The main question comes up; how to make a job interview a cake walk and much less stressful? Proper preparation would alleviate some of the stress involved in job interviews. Please remember the more you prepare, the chances of being successful increases. Here are few tips that would allow you to be prepared better and it will be much easier to handle.</div>
                <div class="listPointData">
                    <div class="listDataRow">
                        <div class="listCount">01</div>
                        <div class="listDescription">
                            <div class="listHeading">Do your home work</div>
                            <div>Research effectively about the employer and the job requirements so you are ready for some of the basic interview questions: What do you know about this organization? Try to highlight the key positive points about the company, avoid talking about any negative point here. Remember, if you have certain doubts about the organization, you can clarify it at a later stage of the interview. Another common question that can be fired at you is: Why should I hire you? Use the research you made about the job profile and explain the interviewer what makes you the right fit for the job. Try to relate your skill-set with the job description. Try to memorize the interviewer's name and call him with his first name during the interview. This helps in making a personal connection with your interviewer and can up your chances of getting hired. People tend to hire candidates they like, and who seem to be a good fit for the company culture.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">02</div>
                        <div class="listDescription">
                            <div class="listHeading">Practice and prepare</div>
                            <div>Practice your responses to the typical job interview questions and answers most employers ask. Think of concrete examples you can use to highlight your skills. The easiest way to do this is to make a list of the job requirements, and match them to your experience. Providing real life examples of your successes is a great way to promote your candidacy.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">03</div>
                        <div class="listDescription">
                            <div class="listHeading">Prepare your own questions repository</div>
                            <div>As you go through the process of different interviews, you would come across different questions and some of them would be repetitive questions. We recommend you to list down all the questions that were asked during the interview process to create your own repository. You can go over the questions again to be prepared with a better answer. Over the period of time, you would have a personalized questions repository which would be much more effective to your qualifications and skill-set. This would ensure that anytime the interviewer asks a question out of this repository, you would be much more confident and prepared to answer it up.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">04</div>
                        <div class="listDescription">
                            <div class="listHeading">Reach little earlier on the venue</div>
                            <div>Getting late for the interview creates a bad impression and makes you look unprofessional. Please ensure you reach at least ten to fifteen minutes early on the interview location. This would help you to get relaxed before the interview process starts.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">05</div>
                        <div class="listDescription">
                            <div class="listHeading">Dress up well & carry required items</div>
                            <div>Being dressed in an appropriate attire would give boost to your confidence level and will make you look professional. Make sure your attire is neat and tidy. Don't forget to carry your printed resume copy and a pen along with you. When you have an interview coming up, get everything ready in advance, preferably a night before. Remember, first impression is the last impression.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">06</div>
                        <div class="listDescription">
                            <div class="listHeading">Stay relaxed and calm</div>
                            <div>One of the important aspect to carry out the overall process with ease is to stay calm and relaxed. Visit the rest room, check your outfit, drink a glass of water and calm your nerves before appearing for the interview. Always try to maintain eye contact with your interviewer and pay attention to the question being asked. If you are unable to understand the question in the first instance, request the interviewer to repeat the question once again. Before you start answering, you should be very clear about the question.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">07</div>
                        <div class="listDescription">
                            <div class="listHeading">Feedback is important</div>
                            <div>Don't get tensed or worried even if you get rejected or are not able to make it through the current interview. There is always another opportunity waiting for you. Try to make the best use of the current interview process. Request your interviewer to help you with his/her feedback. This would allow you to self-analyze yourself. Work over your weaknesses before appearing for the next interview and increase your chances of clearing the next one.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">08</div>
                        <div class="listDescription">
                            <div class="listHeading">Multiple profiles</div>
                            <div>If you are applying for different job opportunities at one go in different organizations, its recommended to have a job specific profile/resume ready for each one of them. A resume mapping to the required skill set has much higher chances to land you a interview or a job compared to a generic resume. The interviewers and recruiters don't have much time to spend over a single resume. So the resume is one of the key thing. Use our resume builder with matching examples to create a professional resume. Also, double check the appropriate resume profile to carry for the interview.</div>
                        </div>
                    </div>
                </div>
                <div class="bottomSloganInfo">
                    <span class="sloganTitle">HAPPY JOB HUNTING,</span>
                    <span class="sloganSubtitle">Create Your Job Winning</span>
                    <span><span class="sloganHeading">RESUME</span> Now.</span>
                </div>
            </div>
            <div class="resumeBottomBtn">
                <a class="default-btn" href="@Html.Raw(Url.BuildUrl<WizardController>(w => w.HowItWorks(), RouteNames.HowItWorks))">@Resource.BuildResume</a>
            </div>
        </div>
    </div>
</div>