@{
    ViewBag.Title = "Job Hunting";
    ViewBag.IsStatic = true;
}


<div class="bannerImgInfo">
    <img src="@(StaticResources.CDN_Path1)images/job-hunting.jpg" />
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="headingInfo">Job Hunting</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contentInfo huntingSpace">
                <div class="descriptionInfo">
                    For some of the people with shining luck, the career takes a clear and smooth professional path, having the opportunities arise by themselves. But for rest of us, the job search is a journey that often carries hurdles and struggles along.
                    There are many times when we are not happy with the current job and start looking out for a better one in the hope of a different environment and a better Boss (of course). At this moment, the rejection at any interview comes back as a hard hit and if there are multiple rejections, there are scenarios where one starts loosing out the hope.
                    Well, to be frank this can happen to anyone and you should never loose hope. Now, what's the solution if you are being rejected by different companies. The point is to introspect yourself and the jobs you applied for. Take an arial view on the entire situation. Ask yourself following questions before applying for a job:
                </div>
                <div class="descriptionList">
                    <ul>
                        <li>Do you have match the job requirements? Do you possess the skillset required by the job?</li>
                        <li>Do you have any knowledge of the industry/domain or would you be able to learn about it?</li>
                        <li>Do you have interest in what you would be supposed to do at work?</li>
                        <li>Does this company has the right culture you are looking out for?</li>
                        <li>Will the organization be able to pay you the minimal desired salary you are looking out for?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="betterProfileInfo">
    <div class="container">
        <div class="betterProfileText">
            <span class="profileHeading">If you have any question?</span>
            If any of the questions have an answer as NO, then its better to lookout for another job or company that matches your profile. The job that thrives you and which makes you enjoy your time in the office will keep your spirits high. It's always a win-win situation for the organization and you. Remember the famous phrase; Do what you love, and you'll never work another day in your life.
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contentInfo">
                <div class="listPointData">
                    <div class="listDataRow">
                        <div class="listCount">01</div>
                        <div class="listDescription">
                            <div>Please ensure you have the latest resume in the right format readily available. An appropriately written resume helps you get the interview call quickly. You can use our free resume builder to get started in your resume journey. Always ensure that your resume is updated with the latest skillset matching the job profile you are applying for. You can even create multiple resumes if you are applying to job opportunities in different domain or one requiring specific skillset. You should also choose the resume template from the variety of resume templates available in our application. With the customized examples available in our application, you would surely be able to create a job winning resume and get an interview call quickly. <a href="index/"> Create the job winning resume now.</a></div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">02</div>
                        <div class="listDescription">
                            <div>Once you get an interview call, do some research about the organization and the job requirements if you are not already familiar with it. Try reading about the organization and its reviews over LinkedIn, GlassDoor etc. You can check for some reference who are working in the organization to get the best idea about the organization and whether it would suit you or not. Remember, its better to do some research and apply in the organization which fulfills your needs rather than getting into the list of Job Hoppers.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">03</div>
                        <div class="listDescription">
                            <div>Before you go for any interview process, please ensure you have done your homework right and are well prepared to face the interviewer. You can follow some of the <a href="interview-tips">interview tips</a> written by our career experts.</div>
                        </div>
                    </div>
                    <div class="listDataRow">
                        <div class="listCount">04</div>
                        <div class="listDescription">
                            <div>Remember the story of the ant who keeps on trying to climb up the wall again and again but never gives up despite multiple failures. In the end, the ant is able to climb up the wall and get the success. No matter, how many times you get rejected in the interview process, keep refining yourself, keep taking notes and making yourself a better professional. You'll soon have the success come your way and land up the desired job.</div>
                        </div>
                    </div>
                </div>
                <div class="bottomSloganInfo">
                    <span class="sloganTitle">HAPPY JOB HUNTING,</span>
                    <span class="sloganSubtitle">Create Your Perfect</span>
                    <span><span class="sloganHeading">RESUME</span> Now.</span>
                </div>
            </div>
            <div class="resumeBottomBtn">
                <a class="default-btn" href="@Html.Raw(Url.BuildUrl<WizardController>(w => w.HowItWorks(), RouteNames.HowItWorks))">@Resource.BuildResume</a>
            </div>
        </div>
    </div>
</div>