@{
  ViewBag.Title = "Privacy Policy";
  ViewBag.IsStatic = true;
}

<div class="container">
  <div class="staticTopInfo">
    <div class="headingInfo">Privacy Policy</div>
  </div>
  <div class="row spaceInfo">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="termsDescriptionInfo">
        This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' is being used online. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
      </div>
      <div class="mainHeading">WHAT INFORMATION DO WE COLLECT?</div>
      <div class="termsDescriptionInfo">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information, social security number, all the career related information like experience, education, skills, references and any other details you provide while using our application. We collect this information from the people that visit our blog, website or app to help them with better experience.</div>

      <div class="mainHeading">WHEN DO WE COLLECT INFORMATION?</div>
      <div class="termsDescriptionInfo">We collect information from you when you register on our site, place an order, subscribe to a newsletter, respond to a survey, fill out a form, Use Live Chat, Open a Support Ticket or enter information on our site or provide us with feedback on our products or services.</div>

      <div class="mainHeading">HOW DO WE USE YOUR INFORMATION?</div>
      <div class="termsDescriptionInfo">
        <p>We may use the information we collect from you in the following ways:</p>
        <ul class="privacyListInfo">
          <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
          <li>To improve our website in order to better serve you.</li>
          <li>To allow us to better service you in responding to your customer service requests.</li>
          <li>To administer a contest, promotion, survey or other site feature.</li>
          <li>To quickly process your transactions and provide you updates about the purchase.</li>
          <li>To ask for ratings and reviews of services or products.</li>
          <li>To follow up with them after correspondence (live chat, email or phone inquiries)</li>
        </ul>
      </div>
      <div class="mainHeading">HOW DO WE PROTECT YOUR INFORMATION?</div>
      <div class="termsDescriptionInfo">
        <p>An external PCI compliant payment gateway handles all CC transactions. Our servers are hosted over Microsoft’s Azure cloud thus bringing in all the relevant security measures employed by Microsoft to safeguard their servers. However, we do not use explicit vulnerability scanning and/or scanning to PCI standards. We do not use any explicit Malware Scanning.</p>
        <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We never store any credit card details on our servers and all the transactions are handled by external PCI compliant payment gateway.</p>
        <p>We implement a variety of security measures when a user places an order to maintain the safety of your personal information.</p>
        <p>All transactions are processed through a payment gateway provider and are not stored or processed on our servers.</p>
      </div>
      <div class="mainHeading">DO WE USE 'COOKIES'?</div>
      <div class="termsDescriptionInfo">
        <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember your visit details to our website. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
        <p>We use cookies to:</p>
        <ul class="privacyListInfo">
          <li>Help remember and process your order.</li>
          <li>Understand and save user's preferences for future visits.</li>
          <li>Keep track of advertisements.</li>
          <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
        </ul>
        <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
      </div>
      <div class="mainHeading">IF USERS DISABLE COOKIES IN THEIR BROWSER:</div>
      <div class="termsDescriptionInfo">If you turn cookies off, some of the features that make your site experience more efficient may not function properly. You might not even be able to use the website appropriately and create your resume.</div>
      <div class="mainHeading">THIRD-PARTY DISCLOSURE</div>
      <div class="termsDescriptionInfo">
        <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.</p>
        <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
      </div>
      <div class="mainHeading">THIRD-PARTY LINKS</div>
      <div class="termsDescriptionInfo">Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</div>


      <div class="mainHeading">GOOGLE</div>
      <div class="termsDescriptionInfo">
        <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en </p>
        <p>We might use Google AdSense Advertising on our website to generate revenue and sustain the business.</p>
        <p>Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
        <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
      </div>
      
      <div class="mainHeading">OPTING OUT</div>
      <div class="termsDescriptionInfo">Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</div>


      <div class="mainHeading">CALIFORNIA ONLINE PRIVACY PROTECTION ACT</div>
      <div class="termsDescriptionInfo">
        <p>For all the US visitors for whom this may apply; CalOPPA is the first state law in the US to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
        <p>We agree only to the following points of CalOPPA:</p>
        <ul class="privacyListInfo">
          <li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</li>
          <li>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</li>
          <li>You will be notified of any Privacy Policy changes:
            <ol>
              <li>On our Privacy Policy Page</li>
            </ol>
          </li>
          <li>
            Can change your personal information:
            <ol>
              <li>By logging in to your account</li>
            </ol>
          </li>
        </ul>
      </div>
      <div class="mainHeading">HOW DOES OUR SITE HANDLE DO NOT TRACK SIGNALS?</div>
      <div class="termsDescriptionInfo">
        <p>We don't honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place. We don't honor them because some of the features of our website require us to store cookies.</p>
        <p>Does our site allow third-party behavioral tracking?< br />
          It's also important to note that we allow third-party behavioral tracking</p>
      </div>
      <div class="mainHeading">SOCIAL SITES SIGN-ON & INFORMATION</div>
      <div class="termsDescriptionInfo">
        <p>We may offer different sign-on options that allow you to use third-party login credentials to access and sign-up with our Site like Google, Facebook, Twitter, LinkedIn etc. We also may offer services to enable you to share information with third-party social media websites such as Google Plus, Facebook, Twitter and others.</p>
        <p>If you choose to link your account or engage with our Website through third-party social media sites or services, you agree and understand that you are allowing us to have ongoing access to certain information stored on those social media sites or services (for ex., your social network credentials, friends list, your photos, your public profile,  people followed by you or who follow you, your email address, personal information like personal description, birthday, work history, education history, interests, your address details like city, state, country, religious and political views, website, likes and your friends’ birthdays etc.). You agree and allow us to share the information shared by you from our website over the social media sites with your consent. The information accessible to us from the third-party social services varies by service/website and is dependent and controlled by your privacy settings on that service and is allowed by your consent. </p>
        <p>By signing up with us using an account managed by a third party website or service you authorize us to have access to this information and you agree that we may collect, use, and store information from these websites in accordance with this Privacy Policy and our Terms of use.</p>
      </div>
      <div class="mainHeading">CHILDREN ONLINE PRIVACY PROTECTION</div>
      <div class="termsDescriptionInfo">
        <p>The website is a general audience site and is not intended for anyone below the age of 13 years. We do not knowingly collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older. We do not specifically market to children under the age of 13 years old.</p>
        <p>If you are a minor and want us to remove the information you posted to the Site, you can please contact us over the email listed in the Contact Us section below. Removal of the information you posted does not ensure its complete or comprehensive removal.</p>
      </div>
      <div class="mainHeading">YOUR CONSENT</div>
      <div class="termsDescriptionInfo">By using our site, you consent to our Terms and Privacy Policy and also agree to our Terms of use.</div>
      <div class="mainHeading">CHANGES TO OUR PRIVACY POLICY</div>
      <div class="termsDescriptionInfo">We can update the privacy policy at any time without prior notice. If we modify the policy, we will post the updated policy on the XYZ.com website.</div>
      <div class="mainHeading">CONTACTING US</div>
      <div class="termsDescriptionInfo">
        <p>If at any time you would like to unsubscribe from receiving future emails, you can email us at support@xyz.com and we will promptly remove you from ALL correspondence within 30 business days. If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
        xyz.com <br />
        support@xyz.com <br />
        Last Edited on 2017-08-05
      </div>
    </div>
  </div>
</div>
