@{
    ViewBag.Title = "Resume Samples";
    ViewBag.IsStatic = true;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="headingInfo">Resume Samples</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contentInfo">
                <div class="mainHeading huntingSpace">Resume samples you can refer</div>
                <div class="descriptionInfo">Writing an effective resume is not easy but sometimes refering to an existing resume example makes the job easy. On the same lines, we thought it would be good idea to provide you some resume samples should you plan to refer some examples and write your resume in an effective manner.</div>
                <div class="descriptionList">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="resumeBottomBtn">
                <a class="default-btn" href="@Html.Raw(Url.BuildUrl<WizardController>(w => w.HowItWorks(), RouteNames.HowItWorks))">@Resource.BuildResume</a>
            </div>
        </div>
    </div>
</div>