@{
  ViewBag.Title = "Terms & Conditions";
  ViewBag.IsStatic = true;
}

<div class="container">
  <div class="staticTopInfo">
    <div class="headingInfo">Terms & Conditions</div>
  </div>
  <div class="row spaceInfo">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="termsDescriptionInfo">By accessing this web site and any services, you are agreeing to be bound by these
        web site Terms and Privacy Policy, all applicable laws and regulations, and agree that
        you are responsible for compliance with any applicable local laws. Please read the terms
        and be ensured each time you access and/or use the XYZ website/application, you agree to be
        bound by these terms and any additional terms that will apply to you, prospectively. If you do not
        agree with any of these terms, you are prohibited from using or accessing this site or any of its services.
        The materials contained in this web site are protected by applicable copyright and trade mark law.
        XYZ allows people to create resumes online based on the data provided by them.
      </div>
      <div class="mainHeading">Use License</div>
      <ul class="termsListInfo">
        <li>Permission is granted to temporarily download one copy of the materials (information or software) on XYZ's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
          <ol>
            <li>Modify or copy the materials;</li>
            <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
            <li>Attempt to decompile or reverse engineer any software contained on XYZ's web site;</li>
            <li>Remove any copyright or other proprietary notations from the materials; or</li>
            <li>Transfer the materials to another person or 'mirror' the materials on any other server.</li>
          </ol>
        </li>
        <li>In case the details provided by you are not correct, current, or complete, we have the right to refuse you access to the website, or any of its resources, and to terminate or suspend your account.</li>
        <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by XYZ at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
      </ul>
      <div class="mainHeading">Disclaimer</div>
      <div class="termsDescriptionInfo">The materials on XYZ's web site are provided 'as is' and your use of this site is at your own risk. XYZ makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, XYZ does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site. This is a general audience website for adults. We will assume (and by using this website you warrant that) you have legal capacity to enter into the agreement set out in these terms (i.e., that you are of sufficient age and mental capacity and are otherwise entitled to be legally bound in contract). The sufficient age for website usage varies by jurisdiction. 
        TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, THE SITE, PROVIDER AND ANY SUBSIDIARIES OR AFFILIATED COMPANIES OF XYZ DISCLAIM ALL WARRANTIES AND CONDITIONS, EXPRESS IMPLIED OR COLLATERAL, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. THE PROVIDER GROUP DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THIS SITE WILL BE AVAILABLE, UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVERS THAT MAKE THE SITE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. XYZ DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS OR CONDITIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE MATERIAL, INFORMATION, SOFTWARE, FACILITIES, SERVICES OR OTHER CONTENT ON THE SITE OR ANY WEB SITES LINKED TO THE SITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE. XYZ MAKES NO WARRANTIES OR CONDITIONS THAT YOUR USE OF THE MATERIALS, INFORMATION, SOFTWARE, FACILITIES, SERVICE OR OTHER CONTENT IN THE SITE OR ANY WEB SITE WILL NOT INFRINGE THE RIGHTS OF OTHERS AND XYZ ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ERRORS OR OMISSIONS IN SUCH MATERIALS, INFORMATION, SOFTWARE, FACILITIES, SERVICE OR OTHER CONTENT OF THE SITE OR ANY OTHER WEB SITE. IF APPLICABLE LAW DOES NOT ALLOW THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED WARRANTIES AND CONDITIONS, THE ABOVE EXCLUSIONS WILL APPLY TO YOU ONLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.
        IF YOU ARE ACCESSING THIS SITE FROM THE EUROPEAN UNION OR OTHER JURISDICTIONS THAT TO DO NOT RECOGNIZE DISCLAIMERS OF CERTAIN WARRANTIES, NOTHING IN THIS AGREEMENT SHALL EXCLUDE OR LIMIT LIABILITY FOR DEATH OR PERSONAL INJURY RESULTING FROM THE NEGLIGENCE OF EITHER PARTY OR THEIR EMPLOYEES, SERVANTS OR AGENTS.
      </div>
      <div class="mainHeading">Limitations</div>
      <div class="termsDescriptionInfo">In no event shall XYZ, its associates or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on XYZ's Internet site, even if XYZ or a XYZ authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</div>
      <div class="mainHeading">Revisions and Errata</div>
      <div class="termsDescriptionInfo">The materials appearing on XYZ's web site could include technical, typographical, or photographic errors. XYZ does not warrant that any of the materials on its web site are accurate, complete, or current. XYZ may make changes to the materials contained on its web site at any time without notice. XYZ does not, however, make any commitment to update the materials.</div>
      <div class="mainHeading">Links</div>
      <div class="termsDescriptionInfo">XYZ has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by XYZ of the site. Use of any such linked web site is at the user's own risk. THE MATERIALS, INFORMATION AND OPINIONS INCLUDED AND/OR EXPRESSED IN OR ON BULLETIN BOARDS, CHAT ROOMS, COMMUNITY PAGES OR OTHER FORUMS ON THIS SITE (“FORUMS”) ARE NOT NECESSARILY THOSE OF XYZ OR CONTENT PROVIDERS. XYZ DOES NOT UNDERTAKE TO MONITOR OR REVIEW FORUMS, AND THE CONTENT OF FORUMS IS NOT THE RESPONSIBILITY OF XYZ. XYZ MAY REMOVE OR MODIFY ANY CONTENT WITHOUT NOTICE OR LIABILITY AT ANY TIME IN XYZ'S SOLE DISCRETION BUT IS UNDER NO OBLIGATION TO DO SO. ANY USE OF THE FORUMS WILL BE AT YOUR OWN RISK AND WILL BE SUBJECT TO THE DISCLAIMERS AND LIMITATIONS ON LIABILITY SET OUT ABOVE.
        JOB ALERTS  XYZ may provide job alerts or may use third parties and automated search engines to provide job alerts, matching employment opportunities found on third party job searching sites with your resume or Career Profile, job search requests submitted by you, and/or other usage data relating to your use of XYZ services. XYZ tries to match the information available to ensure employment opportunities presented to you in job alerts match the type of career opportunities desired by you but XYZ makes no guarantee that you will receive career opportunities or job alerts you desire.
      </div>

      <div class="mainHeading">Governing Law</div>
      <div class="termsDescriptionInfo">Any claim relating to XYZ's web site shall be governed by the laws of New Delhi without regard to its conflict of law provisions. General Terms and Conditions applicable to Use of a Web Site.</div>

      <div class="mainHeading">Intellectual Property Information</div>
      <div class="termsDescriptionInfo">For purposes of these Terms and Privacy Policy, 'content' is defined as any information, data, communications, software, photos, video, graphics, music, sounds, and other material and services that can be viewed by users on XYZ’s site. By accepting these Terms and Privacy Policy, you acknowledge and agree that all content presented to you on this site is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws, and is the sole property of XYZ. You are only permitted to use the content as expressly authorized by us. Except for a single copy made for personal use only, you may not copy, reproduce, modify, republish, upload, post, transmit, or distribute any documents or information from this site in any form or by any means without prior written permission from us, and you are solely responsible for obtaining permission before reusing any copyrighted material that is available on this site. Any unauthorized use of the materials appearing on this site may violate copyright, trademark and other applicable laws and could result in criminal or civil penalties.</div>

      <div class="mainHeading">General Terms and Conditions for all Subscriptions</div>
      <div class="termsDescriptionInfo">Subscriptions are non-cancelable and non-returnable. You may cancel your subscription, but no refunds will be paid on any remaining subscription period. You understand that additional fees and taxes may be applicable and added to prices, especially if you are using any payment methods that are in foreign currency or if you are a foreign resident. An internet connection is required to use and manage your subscription basis. Without an internet connection, your software may stop running. Subscription pricing is subject to change. New pricing takes effect upon renewal of your subscription. </div>
      
      <div class="mainHeading">Monthly Subscription</div>
      <div class="termsDescriptionInfo">Your monthly subscription for XYZ will start after receiving your payment and will continue for a period of thirty days. At the end of the monthly subscription period, your premium access would be revoked and you would need to purchase the subscription again to be able to use any premium services. You will remain on XYZ subscription until the last paid for period expires.</div>
      
      <div class="mainHeading">Communications</div>
      <div class="termsDescriptionInfo">We may use your personal information to contact you with newsletters, marketing or promotional materials and other information that may be interesting for you. You can opt out of receiving any of these communications from XYZ. Simply click unsubscribe link in emails or modify communication preferences on the settings page. You agree that we can use the information as long as you have an account for the time and reasons outlined in this Privacy Policy.</div>
      
      <div class="mainHeading">Severability</div>
      <div class="termsDescriptionInfo">If any provision in these terms is held to be invalid, void, or unenforceable, such provision (or the part of it that is making it invalid, void or unenforceable) will be struck and not affect the validity of the remaining provisions.</div>
      
      <div class="mainHeading">Termination and Change</div>
      <div class="termsDescriptionInfo">XYZ may suspend or terminate any promotional or referral program or a user’s ability to use the XYZ promotions started in past or any ongoing promotions at any time for any reason.
        We reserve the right to suspend accounts or remove provisions if we notice any activity that we believe is abusive or fraudulent. We reserve the right to review and investigate all activities and to suspend accounts or modify them as deemed fair and appropriate. We reserve the right for future changes of provisions and discounts for XYZ users.
      </div>

      <div class="mainHeading">Updates to The Terms</div>
      <div class="termsDescriptionInfo">We can update these terms at any time without prior notice. If we modify these terms, we will post the updated terms on the XYZ.com website. Continued participation in any promotional programs after any modification shall constitute consent to such modifications and changes. Questions about our Terms may be sent to help <a href="">XYZ.com</a></div>

    </div>
  </div>
</div>