﻿<link href="@Request.Url.GetRootUrl("/css/font-awesome.min.css")" rel="stylesheet" crossorigin="anonymous">
<style>
    .parent {
        min-height: 840px;
        position: relative;
        min-width: 500px;
        width: 100%;
    }
</style>