@using WebApp.Models;
@model DocumentModel

@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}

@helper RenderSideContent()
{
    <section>
        @if (Model.Name != null)
        {
            <text>
                <div class="section name-padding" @Html.Raw(GetSectionAttr(DocSections.Name))>
                    <div class="contactName">
                        @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                        {
                            <span @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                            <span class="field" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                            
                        }
                        else if (DocumentHelper.HasValue(Model.Name.Name))
                        {
                            <span @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                        }
                    </div>
                    @if (Model.Experience != null && Model.Experience.Paragraphs != null)
                    {
                        <div class="position-name">
                            <ul>
                                @if (Model.Experience.Paragraphs != null)
                                {
                                    bool displayAllTitle = false;

                                    if (displayAllTitle)
                                    {
                                        //Show all titles
                                        foreach (var expPara in Model.Experience.Paragraphs)
                                        {
                                            if (DocumentHelper.HasValue(expPara.JobTitle))
                                            {
                                                <li>@expPara.JobTitle</li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        //Only show current Titles, covers the case where person working in multiple places at a time
                                        if (Model.Experience.Paragraphs.Any(x => x.PresentlyWorkHere))
                                        {
                                            foreach (var expPara in Model.Experience.Paragraphs.Where(x => x.PresentlyWorkHere).OrderByDescending(z => z.StartDateYear))
                                            {
                                                if (DocumentHelper.HasValue(expPara.JobTitle))
                                                {
                                                    <li>@expPara.JobTitle</li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            //Special case where presently working here not available in any experience, show the latest one
                                            <li>@Model.Experience.Paragraphs.OrderByDescending(z => z.EndDateYear).FirstOrDefault().JobTitle</li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    }
                </div>
            </text>
        }
        @if (Model.Contact != null)
        {
            <text>
                <div class="address">
                    <div class="addressRow">
                        <span class="addressList">
                        @if (DocumentHelper.HasValue(Model.Contact.Address))
                        {
                            <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                        {
                            <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.City))
                        {
                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                        {
                            <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.State))
                        {
                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                        {
                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                        }
                        </span>
                        <x class="fa fa-map-marker"></x>
                    </div>
                    <div class="addressRow">
                        <span class="addressList">
                        @if (DocumentHelper.HasValue(Model.Contact.Phone))
                        {
                            <span @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                        }

                        @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                        { 
                            <span @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                        }
                        </span>
                        <x class="fa fa-phone"></x>
                    </div>
                    
                    @if (DocumentHelper.HasValue(Model.Contact.Email))
                    {
                        <div class="addressRow">
                            <span class="addressList" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                            </span>
                            <x class="fa fa-envelope"></x>
                            </div>
                    }
                    
                    @if (Model.Portfolio != null && DocumentHelper.HasValue(Model.Portfolio.Website))
                    {
                        <div class="addressRow">
                            <span class="addressList" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                            </span>
                            <x class="fa fa-globe"></x>
                        </div>
                    }
                    
                    @if (Model.Portfolio != null && DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                    {
                        <div class="addressRow">
                            <span class="addressList" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                            </span>
                            <x class="fa fa-linkedin"></x>
                        </div>
                    }

                </div>
            </text>
        }
        @if (Model.Summary != null)
        {
            <text>
                <section class="content-section section summarySection" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                    <h1 class="heading">Summary</h1>
                    @if (DocumentHelper.HasValue(Model.Summary.Description))
                    {
                        <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                    }
                </section>
            </text>
        }

        @if (Model.Skills != null)
        {
            <text>
                <section class="content-section section skillsSection" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                    <article class="skills">
                        <h1 class="heading">Skills</h1>
                        <div class="sectionDetails">
                            @if (DocumentHelper.HasValue(Model.Skills.Description))
                            {
                                <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                            }
                        </div>
                    </article>
                </section>
            </text>
        }


    </section>
}

@helper RenderExperience()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
            <article class="experience">
                <h1 class="heading"><i class="fa fa-briefcase"></i>Experience</h1>
                @if (Model.Experience.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var expPara in Model.Experience.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(expPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@expPara.Employer</div>
                                    }
                                    @if (DocumentHelper.HasValue(expPara.JobTitle))
                                    {
                                        <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@expPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(expPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderTraining()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
            <article class="experience">
                <h1 class="heading"><i class="fa fa-briefcase"></i>Training</h1>
                @if (Model.Training.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var trainingPara in Model.Training.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(trainingPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@trainingPara.Employer</div>
                                    }
                                    @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                    {
                                        <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@trainingPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(trainingPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}


@helper RenderEducation()
{
    if (Model.Education != null)
    {
        <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
            <article class="education">
                <h1 class="heading"><i class="fa fa-mortar-board"></i>Education</h1>
                @if (Model.Education.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var educPara in Model.Education.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList">
                                <div class="data">
                                    @if (DocumentHelper.HasValue(educPara.Degree))
                                    {
                                        <span class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                    {
                                        <span class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(educPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderSkills()
{
    
}

@helper RenderSummary()
{
    
}

@helper RenderOtherSection(OtherSection otherSection)
{
    if (otherSection != null)
    {
        var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
        <text>
            <section class="content-section section sectionData @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                <h1 class="heading">
                    <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel</h1>
                @if (DocumentHelper.HasValue(otherSection.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                }
            </section>
        </text>
    }
}


@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <title>Awesome</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                }

                html, body {
                    min-height: 1056px;
                }

                body {
                    -webkit-print-color-adjust: exact;
                    padding: 0;
                }

                * {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 300;
                }

                .parent {
                    color: @Model.GetStyles(Styles.COLORPARENT, "#000");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "12px");
                    line-height: 16px;
                    min-height: 1056px;
                }

                .contactName {
                    font-size: 34px;
                    font-weight: 500;
                    line-height: 1.2;
                    padding-bottom: 8px;
                    text-transform: capitalize;
                }

                .side-div {
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#ececec;");
                    background-size: 100%;
                    color: @Model.GetStyles(Styles.COLORSIDE, "#222");
                    height: 100%;
                    left: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    width: 275px;
                }

                .resume-container {
                    padding: 20px 20px 20px 300px;
                }

                .resume-container ul li {
                    margin: 0 0 4px 16px;
                    padding: 0;
                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .position-name { padding-bottom: 10px; }

                .position-name ul li {
                    font-size: 14px;
                    color: @Model.GetStyles(Styles.COLORLASTNAME, "#D11F2F");
                    list-style: none;
                }

                .section { padding-bottom: 30px; }

                .section h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "#D11F2F");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    font-weight: normal;
                    margin-bottom: 10px;
                    border-bottom: 1px solid @Model.GetStyles(Styles.COLORH1, "#D11F2F");
                    padding-bottom: 4px;
                }

                .section h2 {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "12px");
                    font-weight: bold;
                    margin-top: 10px;
                }

                .company {
                    color: @Model.GetStyles(Styles.COLORH2, "#222");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: bold;
                    padding-bottom: 6px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "#222");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    padding-bottom: 4px;
                }

                .sectionList {
                    padding-left: 10px;
                    margin-top: 16px;
                }

                .sectionData {
                   padding-left: 10px; 
                }

                .sectionDetails .data { margin-bottom: 10px; }

                .resume-container .hobbies ul li { margin-bottom: 16px; }

                i.fa {
                    display: none;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                }


                .margin-fa-icons:before { margin-right: 2px; }

                .city-state {
                    font-size: 12px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "transparent");
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#D11F2F");
                    font-style: italic;
                }
                .date {
                    font-size: 12px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "transparent");
                    border-radius: 2px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#D11F2F");
                }

                .firstSection {
                    clear: both;
                    padding-top: 5px;
                }

                .lastName { color: @Model.GetStyles(Styles.COLORLASTNAME, "#222"); }

                div.name {
                    color: @Model.GetStyles(Styles.COLORNAME, "#222");
                    font-size: @Model.GetStyles(Styles.FONTSIZENAME, "25px");
                    font-weight: bold;
                    line-height: 40px;
                    text-transform: uppercase;
                    vertical-align: middle;
                }

                div.address {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#fff");
                    font-size: @Model.GetStyles(Styles.FONTSIZEADDRESS, "13px");
                    text-align: right;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDPARENT, "#69242a");
                    padding: 20px;
                }

                div.address a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#fff");
                    text-decoration: none;
                }

                .addressRow {
                    display: inline-block;
                    text-align: right;
                    width: 100%;
                    padding-bottom: 6px;
                }
                .addressList {
                    display: inline-block;
                    float: left;
                    width: 92%;
                }

                x.fa {
                    color: @Model.GetStyles(Styles.COLORADDRESSICONS, "#fff");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    margin-top: 2px;
                }

                .summarySection {
                    text-align: right;
                    padding: 20px 20px 30px;
                }

                .skillsSection {
                    text-align: right;
                    padding: 20px 20px 30px;
                }

                .resumeFooter {
                    background: @Model.GetStyles(Styles.BACKGROUNDFOOTER, "transparent");
                    color: @Model.GetStyles(Styles.COLORFOOTER, "white");
                    padding: 5px 0;
                    text-align: center;
                }

                .date, .float-right { float: right; }

                .name-padding {
                    font-size: 14px;
                    padding: 20px 10px 30px 20px;
                    border-bottom: 1px solid @Model.GetStyles(Styles.COLORBORDER, "#222");
                }

                .degree-field {
                    font-size: 14px;
                    color: #222;
                    font-weight: bold;
                    padding-bottom: 4px;
                }

                .school {
                    font-size: 13px;
                    color: #666;
                    padding-bottom: 10px;
                }

                .education .description p{
                    padding-bottom: 10px;
                }

                .education .description ul+p {
                    padding-top: 10px;
                }

                .section ol {
                    margin: 8px 0 0 16px;
                }

                .section ol li{
                    padding: 0 0 4px 0;
                }

            </style>
        </head>
        <body>
        <div class="parent" id="document">
            <div class="side-div">
                @RenderSideContent()
            </div>
            <div class="resume-container">
                @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                {
                    switch (sectionTypeCD)
                    {
                        case SectionTypeCD.Experience:
                            @RenderExperience()
                            ;
                            break;
                        case SectionTypeCD.Training:
                            @RenderTraining()
                            ;
                            break;
                        case SectionTypeCD.Education:
                            @RenderEducation()
                            ;
                            break;
                        case SectionTypeCD.Skills:
                            @RenderSkills()
                            ;
                            break;
                        case SectionTypeCD.Summary:
                            @RenderSummary()
                            ;
                            break;
                        case SectionTypeCD.Accomplishments:
                            @RenderOtherSection(Model.Accomplishments)
                            ;
                            break;
                        case SectionTypeCD.Additional_Information:
                            @RenderOtherSection(Model.AdditionalInformation)
                            ;
                            break;
                        case SectionTypeCD.Affiliations:
                            @RenderOtherSection(Model.Affiliations)
                            ;
                            break;
                        case SectionTypeCD.Awards:
                            @RenderOtherSection(Model.Awards)
                            ;
                            break;
                        case SectionTypeCD.Certifications:
                            @RenderOtherSection(Model.Certifications)
                            ;
                            break;
                        case SectionTypeCD.Dissertation:
                            @RenderOtherSection(Model.Dissertation)
                            ;
                            break;
                        case SectionTypeCD.ExtraCurricular:
                            @RenderOtherSection(Model.ExtraCurricular)
                            ;
                            break;
                        case SectionTypeCD.Interests:
                            @RenderOtherSection(Model.Interests)
                            ;
                            break;
                        case SectionTypeCD.Language:
                            @RenderOtherSection(Model.Language)
                            ;
                            break;
                        case SectionTypeCD.Other:
                            @RenderOtherSection(Model.Other)
                            ;
                            break;
                        case SectionTypeCD.PersonalInformation:
                            @RenderOtherSection(Model.PersonalInformation)
                            ;
                            break;
                        case SectionTypeCD.Presentations:
                            @RenderOtherSection(Model.Presentations)
                            ;
                            break;
                        case SectionTypeCD.Publication:
                            @RenderOtherSection(Model.Publication)
                            ;
                            break;
                        case SectionTypeCD.References:
                            @RenderOtherSection(Model.References)
                            ;
                            break;
                        case SectionTypeCD.SocialService:
                            @RenderOtherSection(Model.SocialService)
                            ;
                            break;
                    }
                }
            </div>
        </div>
        </body>
        </html>
    </text>
}