@using WebApp.Models;
@model DocumentModel
@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}
@helper RenderNameAndContact()
    {
        <section>
            @if (Model.Name != null)
            {
                <text>
                    <div class="section name-padding" @Html.Raw(GetSectionAttr(DocSections.Name))>
                        <div>
                            <div class="name">
                                @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                                {
                                    <span class="field" @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                                    <span class="field lastName" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                                }
                                else if (DocumentHelper.HasValue(Model.Name.Name))
                                {
                                    <span class="field" @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                                }
                            </div>
                            <div class="lowerborder"></div>
                        </div>
                    </div>
                </text>
            }
            @if (Model.Contact != null)
            {
                <text>
                    <div class="section SECTION_CNTC" @Html.Raw(GetSectionAttr(DocSections.Name))>
                        <div class="paragraph PARAGRAPH_CNTC">
                            <div class="address">
                                <ul>
                                    <li class="first">
                                        <x class="fa fa-map-marker"></x>
                                        @if (DocumentHelper.HasValue(Model.Contact.Address))
                                        {
                                            <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                                        {
                                            <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.City))
                                        {
                                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                                        {
                                            <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.State))
                                        {
                                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                                        {
                                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                                        }
                                    </li>
                                    <li>
                                        @if (DocumentHelper.HasValue(Model.Contact.Phone))
                                        {
                                            <x class="fa fa-home"></x>
                                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                                        }
                                        <span></span>
                                        @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                                        {
                                            <x class="fa fa-phone-square"></x>
                                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.Email))
                                        {
                                            <x class="fa fa-envelope"></x>
                                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                                <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                                            </span>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </text>
            }
        </section>
        <div class="firstSection"></div>
}
@helper RenderExperience()
    {
        if (Model.Experience != null)
        {
            <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
                <article class="experience">
                    <h1 class="heading"><i class="fa fa-briefcase"></i>Experience</h1>
                    @if (Model.Experience.Paragraphs != null)
                    {
                        var index = 0;
                        foreach (var expPara in Model.Experience.Paragraphs)
                        {
                            <text>
                                <div class="sectionList" @Html.Raw(GetParaAttr(index))>
                                    <div class="data">
                                        @if (DocumentHelper.HasValue(expPara.Employer))
                                        {
                                            <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@expPara.Employer</div>
                                        }
                                        @if (DocumentHelper.HasValue(expPara.JobTitle))
                                        {
                                            <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@expPara.JobTitle</div>
                                        }
                                        <div class="experienceInfo">
                                            @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                            {
                                                <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                            }
                                            @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                            {
                                                <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                            }
                                        </div>
                                    </div>
                                    @if (DocumentHelper.HasValue(expPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                    }
                                </div>
                            </text>
                            index++;
                        }
                    }
                </article>
            </section>
        }
}
@helper RenderTraining()
    {
        if (Model.Experience != null)
        {
            <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
                <article class="experience">
                    <h1 class="heading"><i class="fa fa-briefcase"></i>Training</h1>
                    @if (Model.Training.Paragraphs != null)
                    {
                        var index = 0;
                        foreach (var trainingPara in Model.Training.Paragraphs)
                        {
                            <text>
                                <div class="sectionDetails" @Html.Raw(GetParaAttr(index))>
                                    <div class="data">
                                        @if (DocumentHelper.HasValue(trainingPara.Employer))
                                        {
                                            <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@trainingPara.Employer</div>
                                        }
                                        @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                        {
                                            <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@trainingPara.JobTitle</div>
                                        }
                                        <div class="experienceInfo">
                                            @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                            {
                                                <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                            }
                                            @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                            {
                                                <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                            }
                                        </div>
                                    </div>
                                    @if (DocumentHelper.HasValue(trainingPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                    }
                                </div>
                            </text>
                            index++;
                        }
                    }
                </article>
            </section>
        }
}

@helper RenderEducation()
    {
        if (Model.Education != null)
        {
            <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
                <article class="education">
                    <h1 class="heading"><i class="fa fa-mortar-board"></i>Education</h1>
                    <div class="itemRow">
                        @if (Model.Education.Paragraphs != null)
                        {
                            var index = 0;
                            foreach (var educPara in Model.Education.Paragraphs)
                            {
                                <text>
                                    <div class="sectionDetails">
                                        <div class="data">
                                            @if (DocumentHelper.HasValue(educPara.Degree))
                                            {
                                                <span class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</span>
                                            }
                                            @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                            {
                                                <span class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</span>
                                            }
                                        </div>
                                        @if (DocumentHelper.HasValue(educPara.Description))
                                        {
                                            <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                        }
                                    </div>
                                </text>
                                index++;
                            }
                        }
                    </div>
                </article>
            </section>
        }
}
@helper RenderSkills()
    {
        if (Model.Skills != null)
        {
            <text>
                <section class="content-section section skills" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                    <article class="skills">
                        <h1 class="heading"><i class="fa fa-bar-chart"></i>Skills</h1>
                        <div class="sectionDetails">
                            @if (DocumentHelper.HasValue(Model.Skills.Description))
                            {
                                <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                            }
                        </div>
                    </article>
                </section>
            </text>
        }
}
@helper RenderSummary()
    {
        if (Model.Summary != null)
        {
            <text>
                <section class="content-section section" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                    <h1 class="heading"><i class="fa fa-user"></i>Summary</h1>
                    @if (DocumentHelper.HasValue(Model.Summary.Description))
                    {
                        <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                    }
                </section>
            </text>
        }
}
@helper RenderOtherSection(OtherSection otherSection)
    {
        if (otherSection != null)
        {
            var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
            if (otherSection.SectionLabel == "References")
            {
                <text>
                    <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                        <h1 class="heading">
                            <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel
                        </h1>
                        @if (DocumentHelper.HasValue(otherSection.Description))
                        {
                            <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                        }
                    </section>
                </text>
            }
            else if (otherSection.SectionLabel == "Language")
            {
                <text>
                    <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                        <h1 class="heading">
                            <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel
                        </h1>
                        @if (DocumentHelper.HasValue(otherSection.Description))
                        {
                            <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                        }
                    </section>
                </text>
            }
            else
            {
                <text>
                    <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                        <h1 class="heading">
                            <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel
                        </h1>
                        @if (DocumentHelper.HasValue(otherSection.Description))
                        {
                            <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                        }
                    </section>
                </text>
            }
        }
}

@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Basic</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                    text-rendering: optimizeLegibility;
                }

                body {
                    -webkit-print-color-adjust: exact;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 400;
                }

                .parent {
                    background: '@Model.GetStyles(Styles.BACKGROUNDGRAPHIC, "")';
                    color: @Model.GetStyles(Styles.COLORPARENT, "black");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "16px");
                    line-height: 16px;
                    padding: @Model.GetStyles(Styles.SIDEMARGINS, "0 auto");
                }

                .side-div {
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#a0b7bd;");
                    background-size: 100%;
                    color: @Model.GetStyles(Styles.COLORSIDE, "#fff");
                    height: 100%;
                    left: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    width: 250px;
                }

                .resume-container { padding: 0 20px; }

                .resume-container ul li {
                    margin: 0 0 4px 16px;
                    padding: 0;
                    font-size: 14px;
                }

                .skills ul li {
                    margin: 0 8px 6px 0;
                    font-size: 13px;
                    display: inline-block;
                    color: #fff;
                    padding: 4px 8px;
                    border-radius: 4px;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#8e8e8e;");
                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .position-name { padding-bottom: 20px; }

                .contactDetails {
                    padding-left: 30px;
                    padding-top: 20px;
                }

                .contactDetails div { padding-top: 20px; }

                .section { padding-bottom: 18px; }

                .section h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "black");
                    font-family: @Model.GetStyles(Styles.FONTFAMILYH1, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    margin-bottom: 10px;
                }

                .section h2 {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: bold;
                    margin-top: 10px;
                }

                .company {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: 700;
                    padding-bottom: 6px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                .sectionList {
                    margin-bottom: 16px;
                }

                .section p {
                    font-size: 14px;
                    color: #222;
                    line-height: 1.3;
                }

                .experienceInfo {
                    padding: 0 0 16px 0;
                }

                .section ol {
                    margin: 8px 0 0 16px;
                }

                .section ol li{
                    padding: 0 0 4px 0;
                }

                .degree-field {
                    font-size: 14px;
                    color: #222;
                    font-weight: bold;
                }

                .school {
                    font-size: 14px;
                    color: #666;
                    padding-left: 2px;
                }

                .education .description p{
                    padding-bottom: 10px;
                }

                .education .description ul+p {
                    padding-top: 10px;
                    padding-bottom: 0;
                }

                .education .itemRow .sectionDetails:first-child {
                    padding-bottom: 10px;
                }

                .sectionDetails .data { margin-bottom: 10px; }

                .skills table { width: 100%; }

                .skills table tr td { padding-bottom: 7px; }

                .resume-container .hobbies ul li { margin-bottom: 16px; }

                i.fa {
                    display: none;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                }

                .margin-fa-icons:before { margin-right: 2px; }

                .date, .city-state {
                    font-size: 12px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "transparent");
                    border-radius: 2px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#666");
                    padding-right: 2px;
                    font-style: italic;
                }

                .firstSection {
                    clear: both;
                    padding-top: 5px;
                }

                .lastName { color: @Model.GetStyles(Styles.COLORLASTNAME, "black"); }

                div.name {
                    color: @Model.GetStyles(Styles.COLORNAME, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZENAME, "25px");
                    font-weight: bold;
                    line-height: 27px;
                    padding: 0 0 1px 0;
                    text-align: center;
                    vertical-align: middle;
                }

                div.address {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEADDRESS, "15px");
                    position: relative;
                    text-align: center;
                }

                div.address a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "black");
                    text-decoration: none;
                }

                div.address ul {
                    display: inline;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                div.address ul li{
                    margin: 0 0 6px 0;
                    padding: 0;
                }

                div.address li:before, .adnlLnks li:before {
                    vertical-align: bottom;
                    word-wrap: break-word;
                }

                div.address li.first:before, .adnlLnks li.first:before { content: ""; }

                .gap { margin-right: 10px; }

                .job-title { margin: 0px !important; }

                .resumeFooter {
                    background: @Model.GetStyles(Styles.BACKGROUNDFOOTER, "transparent");
                    color: @Model.GetStyles(Styles.COLORFOOTER, "black");
                    padding: 5px 10px;
                    text-align: right;
                }

                .resumeFooter a {
                    color: @Model.GetStyles(Styles.COLORFOOTER, "black");
                    text-decoration: none;
                }
                .top-remove {
                    padding-top: 43px;
                }
                .name-padding { padding: 0px 0 14px; }
            </style>
        </head>
        <body>
            <div class="parent top-remove" id="document">
                <div class="resume-container">
                    @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                    {
                        switch (sectionTypeCD)
                        {
                            //case SectionTypeCD.Name:
                            case SectionTypeCD.Contact:
                                @RenderNameAndContact()
                                ;
                                break;
                            case SectionTypeCD.Experience:
                                @RenderExperience()
                                ;
                                break;
                            case SectionTypeCD.Training:
                                @RenderTraining()
                                ;
                                break;
                            case SectionTypeCD.Education:
                                @RenderEducation()
                                ;
                                break;
                            case SectionTypeCD.Skills:
                                @RenderSkills()
                                ;
                                break;
                            case SectionTypeCD.Summary:
                                @RenderSummary()
                                ;
                                break;
                            case SectionTypeCD.Accomplishments:
                                @RenderOtherSection(Model.Accomplishments)
                                ;
                                break;
                            case SectionTypeCD.Additional_Information:
                                @RenderOtherSection(Model.AdditionalInformation)
                                ;
                                break;
                            case SectionTypeCD.Affiliations:
                                @RenderOtherSection(Model.Affiliations)
                                ;
                                break;
                            case SectionTypeCD.Awards:
                                @RenderOtherSection(Model.Awards)
                                ;
                                break;
                            case SectionTypeCD.Certifications:
                                @RenderOtherSection(Model.Certifications)
                                ;
                                break;
                            case SectionTypeCD.Dissertation:
                                @RenderOtherSection(Model.Dissertation)
                                ;
                                break;
                            case SectionTypeCD.ExtraCurricular:
                                @RenderOtherSection(Model.ExtraCurricular)
                                ;
                                break;
                            case SectionTypeCD.Interests:
                                @RenderOtherSection(Model.Interests)
                                ;
                                break;
                            case SectionTypeCD.Language:
                                @RenderOtherSection(Model.Language)
                                ;
                                break;
                            case SectionTypeCD.Other:
                                @RenderOtherSection(Model.Other)
                                ;
                                break;
                            case SectionTypeCD.PersonalInformation:
                                @RenderOtherSection(Model.PersonalInformation)
                                ;
                                break;
                            case SectionTypeCD.Presentations:
                                @RenderOtherSection(Model.Presentations)
                                ;
                                break;
                            case SectionTypeCD.Publication:
                                @RenderOtherSection(Model.Publication)
                                ;
                                break;
                            case SectionTypeCD.References:
                                @RenderOtherSection(Model.References)
                                ;
                                break;
                            case SectionTypeCD.SocialService:
                                @RenderOtherSection(Model.SocialService)
                                ;
                                break;
                        }
                    }
                    @if (Model.Portfolio != null)
                    {
                        <text>
                            <div id="footer" class="resumeFooter">
                                <span>
                                    @if (DocumentHelper.HasValue(Model.Portfolio.Website))
                                    {
                                        <text><x class="fa fa-globe"></x>
                                            <span class="margin-fa-icons gap" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                                <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                                            </span></text>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                                    {
                                        <text><x class="fa fa-linkedin"></x>
                                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                                <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                                            </span></text>
                                    }
                                </span>
                            </div>
                        </text>
                    }
                </div>
            </div>
        </body>
    </html>
    </text>
}