@using WebApp.Models;
@model DocumentModel

@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}

@helper RenderNameAndContact()
{
    <section class="section">
        @if (Model.Name != null)
        {
            <text>
                <div class="name-padding" @Html.Raw(GetSectionAttr(DocSections.Name))>
                    <div class="name">
                        @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                        {
                            <span class="field" @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                            <span class="field lastName" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                        }
                        else if (DocumentHelper.HasValue(Model.Name.Name))
                        {
                            <span class="field" @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                        }
                    </div>
                </div>
            </text>
        }
        @if (Model.Contact != null)
        {
            <text>
                <div class="SECTION_CNTC" @Html.Raw(GetSectionAttr(DocSections.Name))>
                    <div class="paragraph PARAGRAPH_CNTC">
                        <div class="address">

                            @if (DocumentHelper.HasValue(Model.Contact.Address))
                            {
                                <x class="fa fa-map-marker"></x>
                                <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                            }
                            @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                            {
                                <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                            }
                            @if (DocumentHelper.HasValue(Model.Contact.City))
                            {
                                <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                            }
                            @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                            {
                                <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                            }
                            @if (DocumentHelper.HasValue(Model.Contact.State))
                            {
                                <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                            }
                            @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                            {
                                <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                            }

                            <span class="float-right addressRight">
                                @if (DocumentHelper.HasValue(Model.Contact.Phone))
                                {
                                    <x class="fa fa-home"></x>
                                    <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                                }
                                <span></span>
                                @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                                {
                                    <x class="fa fa-phone"></x>
                                    <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                                }
                                @if (DocumentHelper.HasValue(Model.Contact.Email))
                                {
                                    <x class="fa fa-envelope"></x>
                                    <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                        <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </text>
        }
    </section>
    <div class="firstSection"></div>
}

@helper RenderExperience()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
            <article class="experience">
                <h1 class="heading"><span>Experience</span></h1>
                @if (Model.Experience.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var expPara in Model.Experience.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(expPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))> @expPara.Employer</div>
                                    }

                                    @if (DocumentHelper.HasValue(expPara.JobTitle))
                                    {
                                       <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@expPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                        {
                                            <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                        }

                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(expPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderTraining()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
            <article class="experience">
                <h1 class="heading"><span>Training</span></h1>
                @if (Model.Training.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var trainingPara in Model.Training.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(trainingPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))> @trainingPara.Employer</div>
                                    }
                                    @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                    {
                                        <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@trainingPara.JobTitle</div>
                                    }
                                    
                                     @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }

                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(trainingPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}


@helper RenderEducation()
{
    if (Model.Education != null)
    {
        <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
            <article class="education">
                <h1 class="heading"><span>Education</span></h1>
                @if (Model.Education.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var educPara in Model.Education.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList">
                                <div class="data">
                                    @if (DocumentHelper.HasValue(educPara.Degree))
                                    {
                                        <span class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                    {
                                        <span class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(educPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderSkills()
{
    if (Model.Skills != null)
    {
        <text>
            <section class="content-section section skills" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                <article class="skills">
                    <h1 class="heading"><span>Skills</span></h1>
                    <div class="sectionDetails">
                        @if (DocumentHelper.HasValue(Model.Skills.Description))
                        {
                            <div @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                        }
                    </div>
                </article>
            </section>
        </text>
    }
}

@helper RenderSummary()
{
    if (Model.Summary != null)
    {
        <text>
            <section class="content-section section" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                <h1 class="heading"><span>Summary</span></h1>
                @if (DocumentHelper.HasValue(Model.Summary.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                }
            </section>
        </text>
    }
}

@helper RenderOtherSection(OtherSection otherSection)
{
    if (otherSection != null)
    {
        var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
        <text>
            <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                <h1 class="heading"><span>@otherSection.SectionLabel</span></h1>
                @if (DocumentHelper.HasValue(otherSection.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                }
            </section>
        </text>
    }
}


@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <title>Elegant</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                    text-rendering: optimizeLegibility;
                }

                body {
                    -webkit-print-color-adjust: exact;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 300;
                }

                .parent {
                    color: @Model.GetStyles(Styles.COLORPARENT, "black");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    line-height: 16px;
                    padding: 0 36px 43px;
                }
            
                .top-remove {
                    padding-top: 43px;
                }

                .side-div {
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#a0b7bd;");
                    background-size: 100%;
                    color: @Model.GetStyles(Styles.COLORSIDE, "#fff");
                    height: 100%;
                    left: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    width: 250px;
                }

                .resume-container { padding-left: 0; }

                .resume-container ul li {
                    margin: 0 0 4px 16px;
                    padding: 0;
                    font-size: 14px;
                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .position-name { padding-bottom: 20px; }

                .contactDetails {
                    padding-left: 30px;
                    padding-top: 20px;
                }

                .contactDetails div { padding-top: 20px; }

                .section { padding-bottom: 20px; }

                .section h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "black");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    margin-bottom: 10px;
                }

                .section h1 span{
                    display: inline-block;
                    border-bottom: 2px solid @Model.GetStyles(Styles.COLORH1, "black");
                    padding-bottom: 2px;
                }

                .section h2 {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "12px");
                    font-weight: bold;
                    margin-top: 10px;
                }

                .company {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "16px");
                    font-weight: 700;
                    padding-bottom: 6px;
                    position: relative;
                }

                .company::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: -20px;
                    border: 2px solid @Model.GetStyles(Styles.COLORH1, "black");
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .sectionList {
                    padding-left: 6px;
                    margin-top: 16px;
                }

                .sectionDetails .data { margin-bottom: 10px; position: relative;}

                .skills table { width: 100%; }

                .skills table tr td { padding-bottom: 7px; }

                .skills ul{
                    list-style-type: none;
                }

                .skills ul li {
                    margin: 0 8px 6px 0;
                    font-size: 13px;
                    display: inline-block;
                    background: #8e8e8e;
                    color: #fff;
                    padding: 4px 8px;
                    border-radius: 4px;
                }


                .resume-container .hobbies ul li { margin-bottom: 16px; }


                i.fa {
                    display: none;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                }

                x.fa {
                    display: inline-block;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    padding-right: 2px;
                }

                .margin-fa-icons:before { margin-right: 2px; }

                .date, .city-state {
                    font-size: 12px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "transparent");
                    border-radius: 2px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#008B8B");
                    font-style: italic;

                }

                .firstSection {
                    clear: both;
                    padding-top: 5px;
                }

                .lastName { color: @Model.GetStyles(Styles.COLORLASTNAME, "black"); }

                div.name {
                    
                    color: @Model.GetStyles(Styles.COLORNAME, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZENAME, "30px");
                    font-weight: bold;
                    line-height: @Model.GetStyles(Styles.FONTSIZENAME, "30px");
                    text-align: right;
                    text-transform: uppercase;
                    border-bottom: 6px solid @Model.GetStyles(Styles.COLORBORDER, "#008B8B");
                    padding-bottom: 6px;
                }

                div.address {
                    border-top: 2px solid @Model.GetStyles(Styles.COLORBORDER, "#008B8B");
                    color: @Model.GetStyles(Styles.COLORADDRESS, "black");
                    font-size: 14px;
                    margin-top: 2px;
                    padding-top: 8px;
                    position: relative;
                    text-align: left;
                }

                div.address a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "black");
                    text-decoration: none;
                }

                div.address li, div.address ul {
                    display: inline;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                div.address li.first:before, .adnlLnks li.first:before { content: ""; }

                .addressRight x.fa {
                    padding-left: 4px;
                    padding-right: 0;
                }

                .degree-field {
                    font-size: 14px;
                    color: #222;
                    font-weight: bold;
                }

                .degree-field::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: -20px;
                    border: 2px solid @Model.GetStyles(Styles.COLORH1, "black");
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                }

                .school {
                    font-size: 14px;
                    color: #666;
                    padding-left: 2px;
                }
                .education .description p{
                    padding-bottom: 10px;
                }

                .education .description ul+p {
                    padding-top: 10px;
                }

                .section ol {
                    margin: 8px 0 0 16px;
                }

                .section ol li{
                    padding: 0 0 4px 0;
                }

                .gap { margin-right: 10px; }

                .resumeFooter {
                    color: @Model.GetStyles(Styles.COLORFOOTER, "black");
                    text-align: center;
                }

                .resumeFooter a {
                    color: @Model.GetStyles(Styles.COLORFOOTER, "black");
                    text-decoration: none;
                }

                .date, .float-right { float: right; }

                .name-padding { padding: 0px; }

            </style>
        </head>
        <body>
        <div class="parent top-remove" id="document">
            <div class="resume-container">
                @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                {
                    switch (sectionTypeCD)
                    {
                        //case SectionTypeCD.Name:
                        case SectionTypeCD.Contact:
                            @RenderNameAndContact()
                            ;
                            break;
                        case SectionTypeCD.Experience:
                            @RenderExperience()
                            ;
                            break;
                        case SectionTypeCD.Training:
                            @RenderTraining()
                            ;
                            break;
                        case SectionTypeCD.Education:
                            @RenderEducation()
                            ;
                            break;
                        case SectionTypeCD.Skills:
                            @RenderSkills()
                            ;
                            break;
                        case SectionTypeCD.Summary:
                            @RenderSummary()
                            ;
                            break;
                        case SectionTypeCD.Accomplishments:
                            @RenderOtherSection(Model.Accomplishments)
                            ;
                            break;
                        case SectionTypeCD.Additional_Information:
                            @RenderOtherSection(Model.AdditionalInformation)
                            ;
                            break;
                        case SectionTypeCD.Affiliations:
                            @RenderOtherSection(Model.Affiliations)
                            ;
                            break;
                        case SectionTypeCD.Awards:
                            @RenderOtherSection(Model.Awards)
                            ;
                            break;
                        case SectionTypeCD.Certifications:
                            @RenderOtherSection(Model.Certifications)
                            ;
                            break;
                        case SectionTypeCD.Dissertation:
                            @RenderOtherSection(Model.Dissertation)
                            ;
                            break;
                        case SectionTypeCD.ExtraCurricular:
                            @RenderOtherSection(Model.ExtraCurricular)
                            ;
                            break;
                        case SectionTypeCD.Interests:
                            @RenderOtherSection(Model.Interests)
                            ;
                            break;
                        case SectionTypeCD.Language:
                            @RenderOtherSection(Model.Language)
                            ;
                            break;
                        case SectionTypeCD.Other:
                            @RenderOtherSection(Model.Other)
                            ;
                            break;
                        case SectionTypeCD.PersonalInformation:
                            @RenderOtherSection(Model.PersonalInformation)
                            ;
                            break;
                        case SectionTypeCD.Presentations:
                            @RenderOtherSection(Model.Presentations)
                            ;
                            break;
                        case SectionTypeCD.Publication:
                            @RenderOtherSection(Model.Publication)
                            ;
                            break;
                        case SectionTypeCD.References:
                            @RenderOtherSection(Model.References)
                            ;
                            break;
                        case SectionTypeCD.SocialService:
                            @RenderOtherSection(Model.SocialService)
                            ;
                            break;
                    }
                }
                @if (Model.Portfolio != null)
                {
                    <text>
                        <div id="footer" class="resumeFooter">
                            <span>
                                @if (DocumentHelper.HasValue(Model.Portfolio.Website))
                                {
                                    <text><x class="fa fa-globe"></x>
                                        <span class="margin-fa-icons gap" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                            <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                                        </span></text>
                                }
                                @if (DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                                {
                                    <text><x class="fa fa-linkedin"></x>
                                        <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                            <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                                        </span></text>
                                }
                            </span>
                        </div>
                    </text>
                }
            </div>
        </div>
        </body>
        </html>
    </text>
}