@using WebApp.Models;
@model DocumentModel

@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}

@helper RenderSideContent()
{
    <section>
        <div class="headerTopSection">
            <div class="profileSection">
                @if (Model.Name != null)
                {
                    <text>
                        <div class="name-padding" @Html.Raw(GetSectionAttr(DocSections.Name))>
                            <div class="name">
                                @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                                {
                                    <span @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                                    <span class="field lastName" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                                }
                                else if (DocumentHelper.HasValue(Model.Name.Name))
                                {
                                    <span @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                                }
                            </div>
                            @if (Model.Experience != null && Model.Experience.Paragraphs != null)
                            {
                                <div class="position-name">
                                    @if (Model.Experience.Paragraphs != null)
                                    {
                                        bool displayAllTitle = false;

                                        if (displayAllTitle)
                                        {
                                            //Show all titles
                                            foreach (var expPara in Model.Experience.Paragraphs)
                                            {
                                                if (DocumentHelper.HasValue(expPara.JobTitle))
                                                {
                                                    <span>@expPara.JobTitle</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            //Only show current Titles, covers the case where person working in multiple places at a time
                                            if (Model.Experience.Paragraphs.Any(x => x.PresentlyWorkHere))
                                            {
                                                foreach (var expPara in Model.Experience.Paragraphs.Where(x => x.PresentlyWorkHere).OrderByDescending(z => z.StartDateYear))
                                                {
                                                    if (DocumentHelper.HasValue(expPara.JobTitle))
                                                    {
                                                        <span>@expPara.JobTitle</span>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                //Special case where presently working here not available in any experience, show the latest one
                                                <span>@Model.Experience.Paragraphs.OrderByDescending(z => z.EndDateYear).FirstOrDefault().JobTitle</span>
                                            }
                                        }
                                    }
                                </div>
                            }

                        </div>
                    </text>
                }

                @if (Model.Summary != null)
                {
                    <text>
                        <div class="summarySection" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                            @if (DocumentHelper.HasValue(Model.Summary.Description))
                            {
                                <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                            }
                        </div>
                    </text>
                }

            </div>
            <div class="addressSection">
                @if (Model.Contact != null)
                {
                    <text>
                        <div class="address">
                            <span class="addressRow">
                                @if (DocumentHelper.HasValue(Model.Contact.Phone))
                                {
                                    <x class="fa fa-phone"></x>
                                    <span @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                                }

                                @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                                {
                                    <span class="altPhone" @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                                }
                            </span>
                            
                            @if (DocumentHelper.HasValue(Model.Contact.Email))
                            {
                                <span class="addressRow">
                                    <x class="fa fa-envelope"></x>
                                    <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                        <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                                    </span>
                                </span>
                            }
                            @if (Model.Portfolio != null && DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                            {
                                <span class="addressRow">
                                    <x class="fa fa-linkedin"></x>
                                    <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                        <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                                    </span>
                                </span>
                            }
                            @if (Model.Portfolio != null && DocumentHelper.HasValue(Model.Portfolio.Website))
                            {
                                <span class="addressRow">
                                    <x class="fa fa-globe"></x>
                                    <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                        <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                                    </span>
                                </span>
                            }
                            
                            <span class="addressRow">
                                @if (DocumentHelper.HasValue(Model.Contact.Address))
                                {
                                    <x class="fa fa-map-marker"></x>
                                    <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                                }
                                @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                                {
                                    <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                                }
                                @if (DocumentHelper.HasValue(Model.Contact.City))
                                {
                                    <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                                }
                                @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                                {
                                    <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                                }
                                @if (DocumentHelper.HasValue(Model.Contact.State))
                                {
                                    <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                                }
                                @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                                {
                                    <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                                }

                            </span>
                        </div>
                    </text>
                }

            </div>
        </div>
        
        
    </section>
}

@helper RenderExperience()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
            <article class="experience">
                <h1><i class="fa fa-briefcase"></i>Experience</h1>
                @if (Model.Experience.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var expPara in Model.Experience.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(expPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@expPara.Employer</div>
                                    }
                                    @if (DocumentHelper.HasValue(expPara.JobTitle))
                                    {
                                        <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@expPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(expPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderTraining()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
            <article class="experience">
                <h1><i class="fa fa-briefcase"></i>Training</h1>
                @if (Model.Training.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var trainingPara in Model.Training.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(trainingPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@trainingPara.Employer</div>
                                    }
                                    @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                    {
                                       <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@trainingPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }

                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(trainingPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}


@helper RenderEducation()
{
    if (Model.Education != null)
    {
        <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
            <article class="education">
                <h1><i class="fa fa-mortar-board"></i>Education</h1>
                @if (Model.Education.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var educPara in Model.Education.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList">
                                <div class="data">
                                    @if (DocumentHelper.HasValue(educPara.Degree))
                                    {
                                        <span class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                    {
                                        <span class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(educPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderSkills()
{
    if (Model.Skills != null)
    {
        <text>
            <section class="content-section section skills" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                <article class="skills">
                    <h1><i class="fa fa-bar-chart"></i>Skills</h1>
                    <div class="sectionDetails">
                        @if (DocumentHelper.HasValue(Model.Skills.Description))
                        {
                            <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                        }
                    </div>
                </article>
            </section>
        </text>
    }
}

@helper RenderSummary()
{
    
}

@helper RenderOtherSection(OtherSection otherSection)
{
    if (otherSection != null)
    {
        var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
        <text>
            <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                <h1>
                    <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel</h1>
                @if (DocumentHelper.HasValue(otherSection.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                }
            </section>
        </text>
    }
}

@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <title>Professional</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                }

                body {
                    -webkit-print-color-adjust: exact;
                    width: 100%;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@page {
                    margin: 20%;
                    size: 8.5in 11in;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 300;
                }

                .headerSection {
                    float: left;
                    width: 100%;
                    margin-bottom: 20px;
                }

                .heading { border-bottom: 1px solid @Model.GetStyles(Styles.COLORFOOTER, "#FFF"); }

                .parent {
                    color: @Model.GetStyles(Styles.COLORPARENT, "#313D46");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    line-height: 16px;
                    padding: 0 30px 43px;
                }

                .top-remove {
                    padding-top: 43px;
                }

                .headerTopSection {
                    width: 100%;
                    float: left;
                    border-bottom: 6px solid @Model.GetStyles(Styles.COLORBORDER, "#49BBC5");
                    padding-bottom: 30px;
                }

                .profileSection {
                    width: 65%;
                    float: left;
                    border-right: 1px solid @Model.GetStyles(Styles.COLORBORDER, "#49BBC5");
                }

                .addressSection {
                    width: 35%;
                    float: right;
                    padding-left: 20px;
                }

                .addressSection::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -1px;
                    width: 2px;
                    height: 100%;
                    border-left: 1px solid @Model.GetStyles(Styles.COLORBORDER, "#49BBC5");
                }

                .resume-container {
                    padding-top: 10px;
                    float: left;
                    width: 100%;
                }

                .resume-container ul li {
                     margin: 0 0 4px 16px;
                    padding: 0;
                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .summarySection {
                    font-size: 14px;
                    line-height: 1.4;
                    padding-right: 10px;
                }

                .position-name {
                    padding: 4px 0 20px; 
                    font-size: 14px;
                    color: @Model.GetStyles(Styles.COLORLASTNAME, "#49BBC5");
                }

                .contactDetails {
                    padding-left: 30px;
                    padding-top: 20px;
                }

                .contactDetails .div { padding-top: 20px; }

                .section { padding: 0 0 30px 26px; }

                .section h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "#300680");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    font-weight: 600;
                    margin-bottom: 10px;
                    position: relative;
                }

                .section h1::after {
                    content: '';
                    border-radius: 50%;
                    background: @Model.GetStyles(Styles.BACKGROUNDPARENT, "#49BBC5");
                    position: absolute;
                    top: 5px;
                    left: -18px;
                    width: 8px;
                    height: 8px;
                }

                .section h1::before {
                    content: '';
                    border-radius: 50%;
                    border: 2px solid @Model.GetStyles(Styles.BACKGROUNDPARENT, "#49BBC5");
                    position: absolute;
                    top: -1px;
                    left: -26px;
                    width: 16px;
                    height: 16px;
                }

                .section h1 + .sectionList{
                    margin-top: -10px;
                }

                .section h2 {
                    color: @Model.GetStyles(Styles.COLORH2, "#49BBC5");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "12px");
                    font-weight: bold;
                    margin-top: 10px;
                }

                .company {
                    color: @Model.GetStyles(Styles.COLORH2, "#49BBC5");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: bold;
                    padding-bottom: 6px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "#49BBC5");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "13px");
                    padding-bottom: 4px;
                }

                .sectionDetails .data { margin-bottom: 10px; }

                .skills table { width: 100%; }

                .skills table tr td { padding-bottom: 7px; }


                .resume-container .hobbies ul li { margin-bottom: 16px; }

                .sectionList {
                    padding: 16px 0 0 20px;
                    position: relative;
                }
                
                .sectionList::before {
                    content: '';
                    border-left: 2px dashed @Model.GetStyles(Styles.COLORH1, "#300680");
                    border-top: 2px dashed @Model.GetStyles(Styles.COLORH1, "#300680");
                    position: absolute;
                    top: 23px;
                    left: 4px;
                    width: 11px;
                    height: 100%;
    

                }
                .sectionList::after {
                    content: '';
                    background: @Model.GetStyles(Styles.COLORH1, "#300680");
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    top: 19px;
                    left: 0;
                }

                .sectionList:last-child::before {
                    border-left: none;
                }

                i.fa {
                    display: none;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                }


                .margin-fa-icons:before { margin-right: 2px; }

                .city-state {
                    font-size: 12px;
                    color: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "#300680");
                    font-style: italic;
                }

                .date {
                    font-size: 11px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "#7270DB");
                    border-radius: 10px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#FFF");
                    padding: 2px 8px;
                }

                .firstSection {
                    clear: both;
                    padding-top: 5px;
                }

                div.name {
                    color: @Model.GetStyles(Styles.COLORNAME, "#313D46");
                    font-size: @Model.GetStyles(Styles.FONTSIZENAME, "32px");
                    font-weight: normal;
                    line-height: 40px;
                }

                div.address {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#313D46");
                    font-size: 14px;
                }

                div.address a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#313D46");
                    text-decoration: none;
                }
                .addressRow {
                    width: 100%;
                    display: inline-block;
                    padding: 0 0 8px 20px;
                    position: relative;
                }

                x.fa {
                    color: @Model.GetStyles(Styles.COLORADDRESSICONS, "#300680");
                    font-size: 16px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .degree-field {
                    font-size: 14px;
                    color: @Model.GetStyles(Styles.COLORH2, "#49BBC5");
                    font-weight: bold;
                    padding-bottom: 4px;
                }

                .school {
                    font-size: 13px;
                    color: @Model.GetStyles(Styles.COLORH2, "#49BBC5");
                    padding-bottom: 10px;
                }

                .education .description p{
                    padding-bottom: 10px;
                }

                .education .description ul+p {
                    padding-top: 10px;
                }

                .resumeFooter {
                    background: @Model.GetStyles(Styles.BACKGROUNDFOOTER, "transparent");
                    color: @Model.GetStyles(Styles.COLORFOOTER, "white");
                    padding: 5px 0;
                    text-align: center;
                }

                .date, .float-right { float: right; }

                .section ol {
                    margin: 8px 0 0 16px;
                }

                .section ol li{
                    padding: 0 0 4px 0;
                }

            </style>
        </head>
        <body>
        <div class="parent top-remove" id="document">
            <div class="headerSection">
                @RenderSideContent()
            </div>
            <div class="resume-container">
                @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                {
                    switch (sectionTypeCD)
                    {
                        case SectionTypeCD.Experience:
                            @RenderExperience()
                            ;
                            break;
                        case SectionTypeCD.Training:
                            @RenderTraining()
                            ;
                            break;
                        case SectionTypeCD.Education:
                            @RenderEducation()
                            ;
                            break;
                        case SectionTypeCD.Skills:
                            @RenderSkills()
                            ;
                            break;
                        case SectionTypeCD.Summary:
                            @RenderSummary()
                            ;
                            break;
                        case SectionTypeCD.Accomplishments:
                            @RenderOtherSection(Model.Accomplishments)
                            ;
                            break;
                        case SectionTypeCD.Additional_Information:
                            @RenderOtherSection(Model.AdditionalInformation)
                            ;
                            break;
                        case SectionTypeCD.Affiliations:
                            @RenderOtherSection(Model.Affiliations)
                            ;
                            break;
                        case SectionTypeCD.Awards:
                            @RenderOtherSection(Model.Awards)
                            ;
                            break;
                        case SectionTypeCD.Certifications:
                            @RenderOtherSection(Model.Certifications)
                            ;
                            break;
                        case SectionTypeCD.Dissertation:
                            @RenderOtherSection(Model.Dissertation)
                            ;
                            break;
                        case SectionTypeCD.ExtraCurricular:
                            @RenderOtherSection(Model.ExtraCurricular)
                            ;
                            break;
                        case SectionTypeCD.Interests:
                            @RenderOtherSection(Model.Interests)
                            ;
                            break;
                        case SectionTypeCD.Language:
                            @RenderOtherSection(Model.Language)
                            ;
                            break;
                        case SectionTypeCD.Other:
                            @RenderOtherSection(Model.Other)
                            ;
                            break;
                        case SectionTypeCD.PersonalInformation:
                            @RenderOtherSection(Model.PersonalInformation)
                            ;
                            break;
                        case SectionTypeCD.Presentations:
                            @RenderOtherSection(Model.Presentations)
                            ;
                            break;
                        case SectionTypeCD.Publication:
                            @RenderOtherSection(Model.Publication)
                            ;
                            break;
                        case SectionTypeCD.References:
                            @RenderOtherSection(Model.References)
                            ;
                            break;
                        case SectionTypeCD.SocialService:
                            @RenderOtherSection(Model.SocialService)
                            ;
                            break;
                    }
                }
            </div>
        </div>
        </body>
        </html>
    </text>
}