@using WebApp.Models;
@model DocumentModel

@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}

@helper RenderNameAndContact()
{
    <div class="headerTopSection">
        
        @if (Model.Name != null)
        {
            <text>
                <div class="nameSection" @Html.Raw(GetSectionAttr(DocSections.Name))>
                    <div class="name">
                        @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                        {
                            <span class="field" @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                            <span class="field lastName" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                        }
                        else if (DocumentHelper.HasValue(Model.Name.Name))
                        {
                            <span class="field" @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                        }
                    </div>
                    @if (Model.Experience != null && Model.Experience.Paragraphs != null)
                    {
                        <div class="position-name">
                            @if (Model.Experience.Paragraphs != null)
                            {
                                bool displayAllTitle = false;

                                if (displayAllTitle)
                                {
                                    //Show all titles
                                    foreach (var expPara in Model.Experience.Paragraphs)
                                    {
                                        if (DocumentHelper.HasValue(expPara.JobTitle))
                                        {
                                            <span>@expPara.JobTitle</span>
                                        }
                                    }
                                }
                                else
                                {
                                    //Only show current Titles, covers the case where person working in multiple places at a time
                                    if (Model.Experience.Paragraphs.Any(x => x.PresentlyWorkHere))
                                    {
                                        foreach (var expPara in Model.Experience.Paragraphs.Where(x => x.PresentlyWorkHere).OrderByDescending(z => z.StartDateYear))
                                        {
                                            if (DocumentHelper.HasValue(expPara.JobTitle))
                                            {
                                                <span>@expPara.JobTitle</span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        //Special case where presently working here not available in any experience, show the latest one
                                        <span>@Model.Experience.Paragraphs.OrderByDescending(z => z.EndDateYear).FirstOrDefault().JobTitle</span>
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            </text>
        }

        @if (Model.Contact != null)
        {
            <text>
                <div class="addressSection" @Html.Raw(GetSectionAttr(DocSections.Name))>
                    @if (DocumentHelper.HasValue(Model.Contact.Email))
                    {
                        <div class="iconList">
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                            </span>
                            <x class="fa fa-envelope"></x>
                        </div>
                    }

                    <div class="iconList">
                        @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                        {
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                        }
                            @if (DocumentHelper.HasValue(Model.Contact.Phone))
                        {
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                            <x class="fa fa-phone"></x>
                        }
                    </div>
                    <div class="address">
                        <span class="addressBox">
                            @if (DocumentHelper.HasValue(Model.Contact.Address))
                            {
                                
                                <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                            }
                            @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                            {
                                <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                            }
                            @if (DocumentHelper.HasValue(Model.Contact.City))
                            {
                                <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                            }
                            @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                            {
                                <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                            }
                            @if (DocumentHelper.HasValue(Model.Contact.State))
                            {
                                <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                            }
                            @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                            {
                                <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                            }
                        </span>
                        <x class="fa fa-map-marker"></x>
                    </div>
                </div>
            </text>
        }
    </div>
}

@helper RenderSummary()
{
   if (Model.Summary != null)
    {
        <text>
            <section class="content-section summarySection" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                <h1 class="heading"><i class="fa fa-user"></i>Summary</h1>
                @if (DocumentHelper.HasValue(Model.Summary.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                }
            </section>
        </text>
    }
}

@helper RenderExperience()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
            <article class="experienceInfo">
                <h1 class="heading"><i class="fa fa-briefcase"></i>Experience</h1>
                @if (Model.Experience.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var expPara in Model.Experience.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails rowSection" @Html.Raw(GetParaAttr(index))>
                                <div class="dateSection">
                                    @if (DocumentHelper.HasValue(expPara.Employer))
                                    {
                                        <h2 class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@expPara.Employer</h2>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <div class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <div class="dateBox" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>
                                            <span class="date">@Model.Properties.ExpDate[index]</span>
                                        </div>
                                    }
                                </div>
                                <div class="detailsSection">
                                    @if (DocumentHelper.HasValue(expPara.JobTitle))
                                    {
                                        <div class="job-title">@expPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(expPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                    }
                                </div>
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderTraining()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
            <article class="experienceInfo">
                <h1 class="heading"><i class="fa fa-briefcase"></i>Training</h1>
                @if (Model.Training.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var trainingPara in Model.Training.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails rowSection" @Html.Raw(GetParaAttr(index))>
                                <div class="dateSection">
                                    @if (DocumentHelper.HasValue(trainingPara.Employer))
                                    {
                                        <h2 class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@trainingPara.Employer</h2>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <div class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <div class="dateBox" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>
                                            <span class="date">@Model.Properties.ExpDate[index]</span>
                                        </div>
                                    }
                                </div>
                                <div class="detailsSection">
                                    @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                    {
                                        <div class="job-title">@trainingPara.JobTitle</div>
                                    }
                                        @if (DocumentHelper.HasValue(trainingPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                    }
                                </div>
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}


@helper RenderEducation()
{
    if (Model.Education != null)
    {
        <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
            <article class="educationInfo">
                <h1 class="heading"><i class="fa fa-mortar-board"></i>Education</h1>
                @if (Model.Education.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var educPara in Model.Education.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails rowSection">
                                <div class="dateSection">
                                    @if (DocumentHelper.HasValue(educPara.Degree))
                                    {
                                        <div class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                    {
                                        <div class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</div>
                                    }
                                </div>
                                <div class="detailsSection">
                                    @if (DocumentHelper.HasValue(educPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                    }
                                </div>
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderSkills()
{
    if (Model.Skills != null)
    {
        <text>
            <section class="content-section section skills" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                <article class="skills">
                    <h1 class="heading"><i class="fa fa-bar-chart"></i>Skills</h1>
                    <div class="sectionDetails">
                        @if (DocumentHelper.HasValue(Model.Skills.Description))
                        {
                            <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                        }
                    </div>
                </article>
            </section>
        </text>
    }
}


@helper RenderOtherSection(OtherSection otherSection)
{
    if (otherSection != null)
    {
        var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
        <text>
            <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                <h1 class="heading">
                    <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel</h1>
                @if (DocumentHelper.HasValue(otherSection.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                }
            </section>
        </text>
    }
}


@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <title>Smart</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                }

                body {
                    -webkit-print-color-adjust: exact;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 300;
                }

                .parent {
                    color: @Model.GetStyles(Styles.COLORPARENT, "black");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    line-height: 16px;
                }

                .headerTopSection {
                    width: 100%;
                    float: left;
                    padding: 30px;
                }

                .topHeader {
                    width: 100%;
                    height: 40px;
                }
                .leftHeadeer {
                    width: 30%;
                    height: 40px;
                    float: left;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#4B633D;");
                    opacity: 0.4;
                }
                .rightHeadeer {
                    width: 70%;
                    height: 40px;
                    float: right;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#4B633D;");
                }

                .summarySection {
                    background-color: @Model.GetStyles(Styles.BACKGROUNDPARENT, "#4B633D");
                    font-size: 14px;
                    color: #FFF;
                    line-height: 20px;
                    padding: 20px 40px;
                    width: 100%;
                    clear: both;
                    margin-bottom: 20px;
                }

                .summarySection h1 {
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    margin-bottom: 10px;
                }

                .nameSection { 
                    width: 60%;
                    float: left;
                }

                .addressSection {
                    width: 40%;
                    float: left;
                }

                .addressBox {
                    display: inline-block;
                    max-width: 90%;
                }

                .iconList {
                    padding-bottom: 6px;
                }


                .side-div {
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#a0b7bd;");
                    background-size: 100%;
                    color: @Model.GetStyles(Styles.COLORSIDE, "#fff");
                    height: 100%;
                    left: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    width: 250px;
                }

                .resume-container ul li, .resume-container ol li {
                    margin: 0 0 4px 16px;
                    padding: 0;
                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .position-name {
                    font-size: 14px;
                    color: @Model.GetStyles(Styles.COLORLASTNAME, "#4B633D");
                    padding-bottom: 20px; 
                }

                .contactDetails {
                    padding-left: 30px;
                    padding-top: 20px;
                }

                .section {
                    width: 100%;
                    float: left;
                    padding: 0 40px 20px; 
                }

                .section h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "#4B633D");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    margin-bottom: 16px;
                }

                .section h2, .degree-field {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: bold;
                    margin-bottom: 6px;
                }

                .sectionDetails .data { margin-bottom: 10px; }

                .rowSection {
                    width: 100%;
                    float: left;
                    margin-bottom: 16px;
                }

                .dateSection {
                    width: 20%;
                    float: left;
                    padding-right: 6px;
                }

                .detailsSection {
                    width: 80%;
                    float: left;
                    position: relative;
                    padding-left: 20px;
                }

                .detailsSection::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    background: @Model.GetStyles(Styles.COLORBORDER, "#4B633D");
                    border-radius: 50%;
                    z-index: 1;
                }

                .detailsSection::after {
                    content: '';
                    position: absolute;
                    top: 14px;
                    left: 5px;
                    width: 2px;
                    height: 100%;
                    border-left: 1.5px dashed @Model.GetStyles(Styles.COLORBORDER, "#4B633D");
                    z-index: -1;
                }

                .rowSection:last-child .detailsSection::after {
                    display: none;
                }

                .description p + ul {
                    padding-top: 10px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "black");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: bold;
                    padding-bottom: 6px;
                }

                .education, .experience { 
                    padding-bottom: 0;
                }

                .educationInfo, .experienceInfo {
                    width: 100%;
                    float: left;
                    border-bottom: 4px solid @Model.GetStyles(Styles.COLORBORDER, "#4B633D");
                    margin-bottom: 20px;
                }

                .skills table { width: 100%; }

                .skills table tr td { padding-bottom: 7px; }


                .resume-container .hobbies ul li { margin-bottom: 16px; }


                i.fa {
                    display: none;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                }

                x.fa {
                    display: inline-block;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    padding-right: 2px;
                }

                .margin-fa-icons:before { margin-right: 2px; }

                .city-state, .school {
                    font-size: 12px;
                    color: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "#4B633D");
                }

                .dateBox {
                    padding-top: 6px;
                }

                .date {
                    font-size: 12px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "#4B633D");
                    border-radius: 10px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#fff");
                    padding: 3px 8px;
                }

                .lastName { color: @Model.GetStyles(Styles.COLORLASTNAME, "brown"); }

                div.name {
                    color: @Model.GetStyles(Styles.COLORNAME, "#222");
                    font-size: @Model.GetStyles(Styles.FONTSIZENAME, "40px");
                    font-weight: 500;
                    line-height: 40px;
                    text-transform: capitalize;
                    margin-bottom: 6px;
                }

                div.address, .iconList {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#212020");
                    font-size: @Model.GetStyles(Styles.FONTSIZEADDRESS, "13px");
                    text-align: right;
                }

                div.address a, .iconList a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#212020");
                    text-decoration: none;
                }

                div.address x.fa, .iconList x.fa {
                    width: 20px;
                    font-size: 14px;
                    color: @Model.GetStyles(Styles.COLORADDRESSICONS, "#4B633D");
                    text-align: center;
                    margin-left: 2px;
                }

                .gap { margin-right: 10px; }

                .resumeFooter {
                    color: @Model.GetStyles(Styles.COLORFOOTER, "black");
                    text-align: center;
                }

                .resumeFooter a {
                    color: @Model.GetStyles(Styles.COLORFOOTER, "black");
                    text-decoration: none;
                }

            </style>
        </head>
        <body>
        <div class="parent" id="document">
            <div class="resume-container">
                <div class="topHeader">
                    <div class="leftHeadeer"></div>
                    <div class="rightHeadeer"></div>
                </div>
                @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                {
                    switch (sectionTypeCD)
                    {
                        //case SectionTypeCD.Name:
                        case SectionTypeCD.Contact:
                            @RenderNameAndContact()
                            ;
                            break;
                        case SectionTypeCD.Experience:
                            @RenderExperience()
                            ;
                            break;
                        case SectionTypeCD.Training:
                            @RenderTraining()
                            ;
                            break;
                        case SectionTypeCD.Education:
                            @RenderEducation()
                            ;
                            break;
                        case SectionTypeCD.Skills:
                            @RenderSkills()
                            ;
                            break;
                        case SectionTypeCD.Summary:
                            @RenderSummary()
                            ;
                            break;
                        case SectionTypeCD.Accomplishments:
                            @RenderOtherSection(Model.Accomplishments)
                            ;
                            break;
                        case SectionTypeCD.Additional_Information:
                            @RenderOtherSection(Model.AdditionalInformation)
                            ;
                            break;
                        case SectionTypeCD.Affiliations:
                            @RenderOtherSection(Model.Affiliations)
                            ;
                            break;
                        case SectionTypeCD.Awards:
                            @RenderOtherSection(Model.Awards)
                            ;
                            break;
                        case SectionTypeCD.Certifications:
                            @RenderOtherSection(Model.Certifications)
                            ;
                            break;
                        case SectionTypeCD.Dissertation:
                            @RenderOtherSection(Model.Dissertation)
                            ;
                            break;
                        case SectionTypeCD.ExtraCurricular:
                            @RenderOtherSection(Model.ExtraCurricular)
                            ;
                            break;
                        case SectionTypeCD.Interests:
                            @RenderOtherSection(Model.Interests)
                            ;
                            break;
                        case SectionTypeCD.Language:
                            @RenderOtherSection(Model.Language)
                            ;
                            break;
                        case SectionTypeCD.Other:
                            @RenderOtherSection(Model.Other)
                            ;
                            break;
                        case SectionTypeCD.PersonalInformation:
                            @RenderOtherSection(Model.PersonalInformation)
                            ;
                            break;
                        case SectionTypeCD.Presentations:
                            @RenderOtherSection(Model.Presentations)
                            ;
                            break;
                        case SectionTypeCD.Publication:
                            @RenderOtherSection(Model.Publication)
                            ;
                            break;
                        case SectionTypeCD.References:
                            @RenderOtherSection(Model.References)
                            ;
                            break;
                        case SectionTypeCD.SocialService:
                            @RenderOtherSection(Model.SocialService)
                            ;
                            break;
                    }
                }
                @if (Model.Portfolio != null)
                {
                    <text>
                        <div id="footer" class="resumeFooter">
                            <span>
                                @if (DocumentHelper.HasValue(Model.Portfolio.Website))
                                {
                                    <text><x class="fa fa-globe"></x>
                                        <span class="margin-fa-icons gap" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                            <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                                        </span></text>
                                }
                                @if (DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                                {
                                    <text><x class="fa fa-linkedin"></x>
                                        <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                            <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                                        </span></text>
                                }
                            </span>
                        </div>
                    </text>
                }
            </div>
        </div>
        </body>
        </html>
    </text>
}