@using WebApp.Models;
@model DocumentModel
@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}
@helper RenderNameAndContact()
    {
        <section>
            <div class="headerTopSection">
                <div class="float-left headerTitle">
                @if (Model.Name != null)
                {
                    <text>
                        <div class="name" @Html.Raw(GetSectionAttr(DocSections.Name))>
                            @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                            {
                                <span class="field" @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                                <span class="field lastName" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                            }
                            else if (DocumentHelper.HasValue(Model.Name.Name))
                            {
                                <span class="field" @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                            }
                        </div>
                    </text>
                }
                @if (Model.Experience != null && Model.Experience.Paragraphs != null)
                {
                    <div class="position-name">
                        @if (Model.Experience.Paragraphs != null)
                        {
                            bool displayAllTitle = false;

                            if (displayAllTitle)
                            {
                                //Show all titles
                                foreach (var expPara in Model.Experience.Paragraphs)
                                {
                                    if (DocumentHelper.HasValue(expPara.JobTitle))
                                    {
                                        <span>@expPara.JobTitle</span>
                                    }
                                }
                            }
                            else
                            {
                                //Only show current Titles, covers the case where person working in multiple places at a time
                                if (Model.Experience.Paragraphs.Any(x => x.PresentlyWorkHere))
                                {
                                    foreach (var expPara in Model.Experience.Paragraphs.Where(x => x.PresentlyWorkHere).OrderByDescending(z => z.StartDateYear))
                                    {
                                        if (DocumentHelper.HasValue(expPara.JobTitle))
                                        {
                                            <span>@expPara.JobTitle</span>
                                        }
                                    }
                                }
                                else
                                {
                                    //Special case where presently working here not available in any experience, show the latest one
                                    <span>@Model.Experience.Paragraphs.OrderByDescending(z => z.EndDateYear).FirstOrDefault().JobTitle</span>
                                }
                            }
                        }
                    </div>
                }
                </div>
                <div class="float-right">
                    @if (Model.Contact != null)
                    {
                        <text>
                            <div class="addressSection SECTION_CNTC" @Html.Raw(GetSectionAttr(DocSections.Name))>
                                <div class="iconList">
                                    @if (DocumentHelper.HasValue(Model.Contact.Email))
                                    {
                                        <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                            <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                                        </span>
                                        <x class="fa fa-envelope"></x>
                                    }
                                </div>
                                <div class="iconList">
                                    @if (DocumentHelper.HasValue(Model.Contact.Phone))
                                    {
                                        <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                                    {
                                        <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                                        <x class="fa fa-phone"></x>
                                    }
                                </div>
                                <div class="address">
                                    <span class="addressBox">
                                        @if (DocumentHelper.HasValue(Model.Contact.Address))
                                        {
                                           <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                                        {
                                            <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.City))
                                        {
                                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                                        {
                                            <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.State))
                                        {
                                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                                        {
                                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                                        }
                                    </span>
                                    <x class="fa fa-map-marker"></x>
                                </div>
                            </div>
                        </text>
                    }
                </div>

            </div>
            @if (Model.Summary != null)
            {
                <text>
                    <section class="summarySection" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                        @if (DocumentHelper.HasValue(Model.Summary.Description))
                        {
                            <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                        }
                    </section>
                </text>
            }
        </section>
}
@helper RenderExperience()
    {
        if (Model.Experience != null)
        {
            <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
                <article class="experience">
                    <h1 class="heading"><i class="fa fa-briefcase"></i>Experience</h1>
                    @if (Model.Experience.Paragraphs != null)
                    {
                        var index = 0;
                        foreach (var expPara in Model.Experience.Paragraphs)
                        {
                            <text>
                                <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                    <div class="data">
                                        @if (DocumentHelper.HasValue(expPara.Employer))
                                        {
                                            <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@expPara.Employer</div>
                                        }
                                        @if (DocumentHelper.HasValue(expPara.JobTitle))
                                        {
                                            <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@expPara.JobTitle</div>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                        {
                                            <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                        {
                                            <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                        }
                                    </div>
                                    @if (DocumentHelper.HasValue(expPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                    }
                                </div>
                            </text>
                            index++;
                        }
                    }
                </article>
            </section>
        }
}
@helper RenderTraining()
    {
        if (Model.Experience != null)
        {
            <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
                <article class="experience">
                    <h1 class="heading"><i class="fa fa-briefcase"></i>Training</h1>
                    @if (Model.Training.Paragraphs != null)
                    {
                        var index = 0;
                        foreach (var trainingPara in Model.Training.Paragraphs)
                        {
                            <text>
                                <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                    <div class="data">
                                        @if (DocumentHelper.HasValue(trainingPara.Employer))
                                        {
                                            <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@trainingPara.Employer</div>
                                        }

                                        @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                        {
                                            <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@trainingPara.JobTitle</div>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                        {
                                            <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                        {
                                            <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                        }
                                    </div>
                                    @if (DocumentHelper.HasValue(trainingPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                    }
                                </div>
                            </text>
                            index++;
                        }
                    }
                </article>
            </section>
        }
}

@helper RenderEducation()
    {
        if (Model.Education != null)
        {
            <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
                <article class="education">
                    <h1 class="heading"><i class="fa fa-mortar-board"></i>Education</h1>
                    @if (Model.Education.Paragraphs != null)
                    {
                        var index = 0;
                        foreach (var educPara in Model.Education.Paragraphs)
                        {
                            <text>
                                <div class="sectionDetails sectionList">
                                    <div class="data">
                                        @if (DocumentHelper.HasValue(educPara.Degree))
                                        {
                                            <span class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</span>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                        {
                                            <span class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</span>
                                        }
                                    </div>
                                    @if (DocumentHelper.HasValue(educPara.Description))
                                    {
                                        <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                    }
                                </div>
                            </text>
                            index++;
                        }
                    }
                </article>
            </section>
        }
}
@helper RenderSkills()
    {
        if (Model.Skills != null)
        {
            <text>
                <section class="content-section section skills" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                    <article class="skills">
                        <h1 class="heading"><i class="fa fa-bar-chart"></i>Skills</h1>
                        <div class="sectionDetails">
                            @if (DocumentHelper.HasValue(Model.Skills.Description))
                            {
                                <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                            }
                        </div>
                    </article>
                </section>
            </text>
        }
}
@helper RenderSummary()
    {
        if (Model.Summary != null)
        {
            <text>
                <section class="content-section section" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                    <h1 class="heading"><i class="fa fa-user"></i>Summary</h1>
                    @if (DocumentHelper.HasValue(Model.Summary.Description))
                    {
                        <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                    }
                </section>
            </text>
        }
}
@helper RenderOtherSection(OtherSection otherSection)
    {
        if (otherSection != null)
        {
            var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
            <text>
                <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                    <h1 class="heading">
                        <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel
                    </h1>
                    @if (DocumentHelper.HasValue(otherSection.Description))
                    {
                        <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                    }
                </section>
            </text>
        }
}

@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Soothing</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                }

                body {
                    -webkit-print-color-adjust: exact;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 300;
                }

                .parent {
                    color: @Model.GetStyles(Styles.COLORPARENT, "#212020");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    line-height: 16px;
                }

                .headerTitle {
                    padding-bottom: 10px;
                    position: relative;
                }

                .headerTitle::after {
                    content: '';
                    background: @Model.GetStyles(Styles.BACKGROUNDPARENT, "#2CBCAD");
                    position: absolute;
                    top: -21px;
                    left: -31px;
                    width: 100%;
                    height: 38px;
                    opacity: 0.2;
                    z-index: -1;
                    transform: rotate(-7deg);

                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .contactDetails {
                    padding-left: 30px;
                    padding-top: 20px;
                }

                .section { 
                    padding: 0 0 20px 20px; 
                    position: relative;
                    z-index: 0;
                }

                .section:last-child::after {
                    display: none;
                }

                .section::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    background: @Model.GetStyles(Styles.COLORBORDER, "#0b85d0");
                    border-radius: 50%;
                    z-index: 1;
                }

                .section::after {
                    content: '';
                    position: absolute;
                    top: 14px;
                    left: 5px;
                    width: 2px;
                    height: 100%;
                    border-left: 1.5px dashed @Model.GetStyles(Styles.COLORBORDER, "#0b85d0");
                    z-index: -1;
                }

                .section h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "#2CBCAD");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    font-weight: normal;
                    margin-bottom: 10px;
                }

                .section h2 {
                    color: @Model.GetStyles(Styles.COLORH2, "#222222");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "12px");
                    font-weight: 700;
                    margin-top: 10px;
                }

                .company {
                    color: @Model.GetStyles(Styles.COLORH2, "#222222");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: 700;
                    padding-bottom: 6px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "#222222");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    padding-bottom: 4px;
                }

                .headerTopSection {
                    float: left;
                    width: 100%;
                    padding: 0 20px;
                }

                .summarySection {
                    float: left;
                    width: 100%;
                    font-size: 14px;
                    color: #fff;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDPARENT, "#259085");
                    padding: 18px 20px;
                    margin: 20px 0 10px;
                    line-height: 18px;
                }

                .sectionList {
                    margin-top: 16px;
                }

                .sectionDetails .data { margin-bottom: 10px; }


                i.fa {
                    display: none;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                    color: @Model.GetStyles(Styles.COLORLASTNAME, "#f04c40")
                }

                x.fa {
                    display: inline-block;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    padding: 1px 0 0 4px;
                    vertical-align: top;
                }

                .margin-fa-icons:before { margin-right: 2px; }

                .date {
                    font-size: 12px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "#2CBCAD");
                    border-radius: 2px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#fff");
                    padding: 2px 6px;
                }

                .city-state {
                    font-size: 12px;
                    color: @Model.GetStyles(Styles.COLORH1, "#2CBCAD");
                    font-style: italic;
                }

                .firstSection {
                    clear: both;
                    padding-top: 5px;
                }

                div.name {
                    color: @Model.GetStyles(Styles.COLORNAME, "#212020");
                    font-size: @Model.GetStyles(Styles.FONTSIZENAME, "34px");
                    font-weight: 400;
                    line-height: @Model.GetStyles(Styles.FONTSIZENAME, "36px");
                    text-align: left;
                    padding: 30px 0 4px;
                }

                .position-name {
                    font-size: 14px;
                    //color: @Model.GetStyles(Styles.COLORLASTNAME, "#2CBCAD");
                    color: @Model.GetStyles(Styles.COLORLASTNAME, "#0b85d0");
                }

                .addressSection {
                    padding-top: 20px;
                }

                div.address, .iconList {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#212020");
                    font-size: @Model.GetStyles(Styles.FONTSIZEADDRESS, "13px");
                    text-align: right;
                }

                div.address a, .iconList a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#212020");
                    text-decoration: none;
                }

                div.address x.fa, .iconList x.fa {
                    color: @Model.GetStyles(Styles.COLORADDRESSICONS, "#0b85d0");
                }
                .addressBox {
                    display: inline-block;
                    max-width: 90%;
                }

                .iconList {
                    padding-bottom: 6px;
                }

                .education .description p{
                    padding-bottom: 10px;
                }

                .education .description ul+p {
                    padding-top: 10px;
                }

                .degree-field {
                    font-size: 14px;
                    color: #222;
                    font-weight: bold;
                    padding-bottom: 4px;
                }

                .school {
                    font-size: 13px;
                    color: #666;
                    padding-bottom: 10px;
                }

                .section ol {
                    margin: 8px 0 0 16px;
                }

                .section ol li{
                    padding: 0 0 4px 0;
                }

                .job-title { margin: 0px !important; }

                .resumeFooter {
                    background: @Model.GetStyles(Styles.BACKGROUNDFOOTER, "transparent");
                    color: @Model.GetStyles(Styles.COLORFOOTER, "cadetblue");
                    padding: 5px 0;
                    text-align: center;
                }

                .resumeFooter a {
                    color: @Model.GetStyles(Styles.COLORFOOTER, "cadetblue");
                    text-decoration: none;
                }

                .date, .float-right { float: right; }

                .float-left { float: left; }

                .detailsSection { 
                    width: 100%;
                    float: left;
                    margin-top: 20px;
                    padding: 0 20px;
                }

                .leftSection {
                    width: 70%;
                    float: left;
                    padding-right: 30px;
                }

                .rightSection {
                    width: 30%;
                    float: left;
                }

                .leftSection ul li, .rightSection ul li {
                    margin: 0 0 4px 16px;
                    padding: 0;
                }

            </style>
        </head>
        <body>
            <div class="parent" id="document">
                <div class="headerSection">
                    @RenderNameAndContact()
                </div>
                <div class="detailsSection">
                    <div class="leftSection">
                        @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                        {
                            switch (sectionTypeCD)
                            {
                                case SectionTypeCD.Experience:
                                    @RenderExperience()
                                    ;
                                    break;
                                case SectionTypeCD.Training:
                                    @RenderTraining()
                                    ;
                                    break;
                                case SectionTypeCD.Education:
                                    @RenderEducation()
                                    ;
                                    break;
                                case SectionTypeCD.Affiliations:
                                    @RenderOtherSection(Model.Affiliations)
                                    ;
                                    break;
                                case SectionTypeCD.Awards:
                                    @RenderOtherSection(Model.Awards)
                                    ;
                                    break;
                                case SectionTypeCD.Certifications:
                                    @RenderOtherSection(Model.Certifications)
                                    ;
                                    break;
                                case SectionTypeCD.Dissertation:
                                    @RenderOtherSection(Model.Dissertation)
                                    ;
                                    break;
                                case SectionTypeCD.Interests:
                                    @RenderOtherSection(Model.Interests)
                                    ;
                                    break;
                                case SectionTypeCD.Other:
                                    @RenderOtherSection(Model.Other)
                                    ;
                                    break;
                                case SectionTypeCD.Presentations:
                                    @RenderOtherSection(Model.Presentations)
                                    ;
                                    break;
                                case SectionTypeCD.Accomplishments:
                                    @RenderOtherSection(Model.Accomplishments)
                                    ;
                                    break;
                                case SectionTypeCD.PersonalInformation:
                                    @RenderOtherSection(Model.PersonalInformation)
                                    ;
                                    break;
                                case SectionTypeCD.References:
                                    @RenderOtherSection(Model.References)
                                    ;
                                    break;
                                case SectionTypeCD.SocialService:
                                    @RenderOtherSection(Model.SocialService)
                                    ;
                                    break;
                                case SectionTypeCD.Publication:
                                    @RenderOtherSection(Model.Publication)
                                    ;
                                    break;
                            }
                        }

                    </div>
                    <div class="rightSection">
                        @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                        {
                            switch (sectionTypeCD)
                            {
                                case SectionTypeCD.Skills:
                                    @RenderSkills()
                                    ;
                                    break;
                                case SectionTypeCD.ExtraCurricular:
                                    @RenderOtherSection(Model.ExtraCurricular)
                                    ;
                                    break;
                                case SectionTypeCD.Additional_Information:
                                    @RenderOtherSection(Model.AdditionalInformation)
                                    ;
                                    break;
                                case SectionTypeCD.Language:
                                    @RenderOtherSection(Model.Language)
                                    ;
                                    break;
                            }
                        }
                        @if (Model.Portfolio != null)
                        {
                            <text>
                                <div id="footer" class="resumeFooter">
                                    <span>
                                        @if (DocumentHelper.HasValue(Model.Portfolio.Website))
                                        {
                                            <text><x class="fa fa-globe"></x>
                                                <span class="margin-fa-icons gap" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                                    <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                                                </span></text>
                                        }
                                        @if (DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                                        {
                                            <text><x class="fa fa-linkedin"></x>
                                                <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                                    <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                                                </span></text>
                                        }
                                    </span>
                                </div>
                            </text>
                        }
                    </div>
                </div>
            </div>
        </body>
    </html>
    </text>
}