@using WebApp.Models;
@model DocumentModel

@{
    DocumentProperties properties = null;
    if (Model != null)
    {
        properties = Model.Properties;
    }
}

@helper RenderSideContent()
{
    <section>
        @if (Model.Name != null)
        {
            <text>
                <div class="nameSection" @Html.Raw(GetSectionAttr(DocSections.Name))>
                    <div class="name">
                        @if (DocumentHelper.HasValue(Model.Properties.FirstName))
                        {
                            <span @Html.Raw(GetPropertyAttr(DocProperties.FirstName))>@Model.Properties.FirstName</span>
                            <span class="field lastName" @Html.Raw(GetPropertyAttr(DocProperties.LastName))>@Model.Properties.LastName</span>
                        }
                        else if (DocumentHelper.HasValue(Model.Name.Name))
                        {
                            <span @Html.Raw(GetFieldAttr(DocFields.Name))>@Model.Name.Name</span>
                        }
                    </div>
                    @if (Model.Experience != null && Model.Experience.Paragraphs != null)
                    {
                        <div class="position-name">
                            @if (Model.Experience.Paragraphs != null)
                            {
                                bool displayAllTitle = false;

                                if (displayAllTitle)
                                {
                                    //Show all titles
                                    foreach (var expPara in Model.Experience.Paragraphs)
                                    {
                                        if (DocumentHelper.HasValue(expPara.JobTitle))
                                        {
                                            <span>@expPara.JobTitle</span>
                                        }
                                    }
                                }
                                else
                                {
                                    //Only show current Titles, covers the case where person working in multiple places at a time
                                    if (Model.Experience.Paragraphs.Any(x => x.PresentlyWorkHere))
                                    {
                                        foreach (var expPara in Model.Experience.Paragraphs.Where(x => x.PresentlyWorkHere).OrderByDescending(z => z.StartDateYear))
                                        {
                                            if (DocumentHelper.HasValue(expPara.JobTitle))
                                            {
                                                <span>@expPara.JobTitle</span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        //Special case where presently working here not available in any experience, show the latest one
                                        <span>@Model.Experience.Paragraphs.OrderByDescending(z => z.EndDateYear).FirstOrDefault().JobTitle</span>
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            </text>
        }
        @if (Model.Contact != null)
        {
            <text>
                <div class="address">
                    <span class="addressRow">
                        @if (DocumentHelper.HasValue(Model.Contact.Phone))
                        {
                            <x class="fa fa-phone"></x>
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Phone))>@Model.Contact.Phone</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.AltPhone))
                        {
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.AltPhone))>@Model.Contact.AltPhone</span>
                        }
                    </span>
                    @if (DocumentHelper.HasValue(Model.Contact.Email))
                    {
                        <span class="addressRow">
                            <x class="fa fa-envelope"></x>
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Email))>
                                <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                            </span>
                        </span>
                    }
                    @if (Model.Portfolio != null && DocumentHelper.HasValue(Model.Portfolio.Website))
                    {
                        <span class="addressRow">
                            <x class="fa fa-globe"></x>
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.Website))>
                                <a href="@Model.Portfolio.Website" target="_blank">@Model.Portfolio.Website</a>
                            </span>
                        </span>
                    }
                    @if (Model.Portfolio != null && DocumentHelper.HasValue(Model.Portfolio.LinkedIn))
                    {
                        <span class="addressRow">
                            <x class="fa fa-linkedin"></x>
                            <span class="margin-fa-icons" @Html.Raw(GetFieldAttr(DocFields.LinkedIn))>
                                <a href="@Model.Portfolio.LinkedIn" target="_blank">@Model.Portfolio.LinkedIn</a>
                            </span>
                        </span>
                    }
                    <span class="addressRow">
                        @if (DocumentHelper.HasValue(Model.Contact.Address))
                        {
                            <x class="fa fa-map-marker"></x>
                            <span class="field" @Html.Raw(GetFieldAttr(DocFields.Address))>@Model.Contact.Address</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Properties.AddressOrCityAndState))
                        {
                            <span @Html.Raw(GetPropertyAttr(DocProperties.AddressOrCityAndState))>, </span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.City))
                        {
                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.City))>@Model.Contact.City</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Properties.CityOrState))
                        {
                            <span @Html.Raw(GetPropertyAttr(DocProperties.CityOrState))>, </span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.State))
                        {
                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.State))>@Model.Contact.State</span>
                        }
                        @if (DocumentHelper.HasValue(Model.Contact.ZipCode))
                        {
                            <span class="spaced field" @Html.Raw(GetFieldAttr(DocFields.ZipCode))>@Model.Contact.ZipCode</span>
                        }

                    </span>

                </div>
            </text>
        }

        @if (Model.Skills != null)
    {
        <text>
            <section class="skillSection" @Html.Raw(GetSectionAttr(DocSections.Skills))>
                <h1 class="heading"><i class="fa fa-bar-chart"></i>Skills</h1>
                <div class="sectionDetails">
                    @if (DocumentHelper.HasValue(Model.Skills.Description))
                    {
                        <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Skills.Description)</div>
                    }
                </div>
            </section>
        </text>
    }
    </section>

}

@helper RenderExperience()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Experience))>
            <article class="experience">
                <h1 class="heading"><i class="fa fa-briefcase"></i>Experience</h1>
                @if (Model.Experience.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var expPara in Model.Experience.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(expPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@expPara.Employer</div>
                                    }
                                    @if (DocumentHelper.HasValue(expPara.JobTitle))
                                    {
                                       <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@expPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(expPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(expPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderTraining()
{
    if (Model.Experience != null)
    {
        <section class="content-section section experience" @Html.Raw(GetSectionAttr(DocSections.Training))>
            <article class="experience">
                <h1 class="heading"><i class="fa fa-briefcase"></i>Training</h1>
                @if (Model.Training.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var trainingPara in Model.Training.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList" @Html.Raw(GetParaAttr(index))>
                                <div class="data">
                                    @if (DocumentHelper.HasValue(trainingPara.Employer))
                                    {
                                        <div class="company" @Html.Raw(GetFieldAttr(DocFields.Employer))>@trainingPara.Employer</div>
                                    }

                                    @if (DocumentHelper.HasValue(trainingPara.JobTitle))
                                    {
                                         <div class="job-title" @Html.Raw(GetFieldAttr(DocFields.JobTitle))>@trainingPara.JobTitle</div>
                                    }
                                    @if (DocumentHelper.HasValue(Model.Properties.ExpDate[index]))
                                    {
                                        <span class="date" @Html.Raw(GetPropertyAttr(DocProperties.ExpDate))>@Model.Properties.ExpDate[index]</span>
                                    }

                                    @if (DocumentHelper.HasValue(Model.Properties.ExpCityOrState[index]))
                                    {
                                        <span class="city-state" @Html.Raw(GetPropertyAttr(DocProperties.ExpCityOrState))>@Model.Properties.ExpCityOrState[index]</span>
                                    }
                                </div>
                                @if (DocumentHelper.HasValue(trainingPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(trainingPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}


@helper RenderEducation()
{
    if (Model.Education != null)
    {
        <section class="content-section section education" @Html.Raw(GetSectionAttr(DocSections.Education))>
            <article class="education">
                <h1 class="heading"><i class="fa fa-mortar-board"></i>Education</h1>
                @if (Model.Education.Paragraphs != null)
                {
                    var index = 0;
                    foreach (var educPara in Model.Education.Paragraphs)
                    {
                        <text>
                            <div class="sectionDetails sectionList">
                                @if (DocumentHelper.HasValue(educPara.Degree))
                                {
                                    <div class="degree-field" @Html.Raw(GetFieldAttr(DocFields.Degree))>@educPara.Degree</div>
                                }
                                @if (DocumentHelper.HasValue(Model.Properties.EducSchoolYear[index]))
                                {
                                    <div class="school" @Html.Raw(GetPropertyAttr(DocProperties.EducSchoolYear))>@Model.Properties.EducSchoolYear[index]</div>
                                }
                                @if (DocumentHelper.HasValue(educPara.Description))
                                {
                                    <div class="description" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(educPara.Description)</div>
                                }
                            </div>
                        </text>
                        index++;
                    }
                }
            </article>
        </section>
    }
}

@helper RenderSkills()
{
    
}

@helper RenderSummary()
{
    if (Model.Summary != null)
    {
        <text>
            <section class="summarySection" @Html.Raw(GetSectionAttr(DocSections.Summary))>
                <h1 class="heading"><i class="fa fa-user"></i>Summary</h1>
                @if (DocumentHelper.HasValue(Model.Summary.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(Model.Summary.Description)</div>
                }
            </section>
        </text>
    }
}

@helper RenderOtherSection(OtherSection otherSection)
{
    if (otherSection != null)
    {
        var sectionProperties = DocumentHelper.GetSectionProperties(otherSection.SectionTypeCD);
        <text>
            <section class="content-section section @sectionProperties.CssClass" @Html.Raw(GetSectionAttr(sectionProperties.JsonProperty))>
                <h1 class="heading">
                    <i class="fa fa-@sectionProperties.Icon"></i>@otherSection.SectionLabel</h1>
                @if (DocumentHelper.HasValue(otherSection.Description))
                {
                    <div class="sectionDetails" @Html.Raw(GetFieldAttr(DocFields.Description))>@Html.Raw(otherSection.Description)</div>
                }
            </section>
        </text>
    }
}


@if (Model != null)
{
    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <title>Standout</title>
            @{ Html.RenderPartial("~/Views/Skin/_HeadContent.cshtml"); }
            <style>
                html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
                    background: transparent;
                    border: 0;
                    font-size: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                }

                body {
                    -webkit-print-color-adjust: exact;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                @@font-face {
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-weight: 300;
                }

                .parent {
                    color: @Model.GetStyles(Styles.COLORPARENT, "#28202D");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    line-height: 16px;
                    background: url(/images/skins/triangle-graphic.svg) no-repeat;
                    background-size: contain;
                }

                .side-div {
                    color: @Model.GetStyles(Styles.COLORSIDE, "#28202D");
                    width: 280px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding: 150px 20px 0 0;
                }

                .resume-container {
                    padding: 20px 0 20px 280px;
                }

                .resume-container ul li {
                    margin: 0 0 4px 16px;
                    padding: 0;
                    font-size: 14px;
                    list-style-type: none;
                    position: relative;
                }

                .resume-container ul li::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -14px;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background: @Model.GetStyles(Styles.COLORBORDER, "#3C68B1");
                }

                .hex {
                    stroke: #fff;
                    stroke-width: 5;
                    transform: scale(0.5);
                }

                .position-name { padding-top: 8px; }

                .position-name ul li {
                    list-style: none;
                    padding-top: 5px;
                }

                .position-name ul li:before {
                    display: inline-block;
                    font-family: FontAwesome;
                    font-size: @Model.GetStyles(Styles.FONTSIZE, "14px");
                    width: @Model.GetStyles(Styles.FAICONSWIDTH, "14px");
                }

                .contactDetails {
                    padding-left: 30px;
                    padding-top: 20px;
                }

                .contactDetails .div { padding-top: 20px; }

                .section {
                    padding: 0 30px 30px;
                }

                h1 {
                    color: @Model.GetStyles(Styles.COLORH1, "#3C68B1");
                    font-family: @Model.GetStyles(Styles.FONTFACE, "Arial");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH1, "16px");
                    margin-bottom: 10px;
                    padding-bottom: 6px;
                    border-bottom: 1px solid @Model.GetStyles(Styles.COLORBORDER, "#3C68B1");
                }

                .section h2 {
                    color: @Model.GetStyles(Styles.COLORH2, "brown");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "12px");
                    font-weight: bold;
                    margin-top: 10px;
                }

                .company {
                    color: @Model.GetStyles(Styles.COLORH2, "#28202D");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "14px");
                    font-weight: bold;
                    padding-bottom: 6px;
                }

                .job-title {
                    color: @Model.GetStyles(Styles.COLORH2, "#28202D");
                    font-size: @Model.GetStyles(Styles.FONTSIZEH2, "13px");
                    padding-bottom: 4px;
                }

                .sectionDetails .data { margin-bottom: 10px; }

                .skills table { width: 100%; }

                .skills table tr td { padding-bottom: 7px; }


                .resume-container .hobbies ul li { margin-bottom: 16px; }


                i.fa {
                    display: inline-block;
                    font-size: 20px;
                    width: 20px;
                    margin-right: 10px;
                }


                .margin-fa-icons:before { margin-right: 2px; }

                .firstSection {
                    clear: both;
                    padding-top: 5px;
                }

                .nameSection {
                    padding: 30px 15px 30px 20px;
                    color: #fff;
                    border-radius: 0 14px 14px 0;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#3C68B1");
                }

                div.name {
                    color: @Model.GetStyles(Styles.COLORNAME, "#fff");
                    font-size: 32px;
                    line-height: 32px;
                }

                .summarySection {
                    padding: 20px;
                    font-size: 13px;
                    color: #fff;
                    border-radius: 14px 0 0 14px;
                    line-height: 18px;
                    margin-bottom: 30px;
                    background-color: @Model.GetStyles(Styles.BACKGROUNDSIDE, "#3C68B1");
                }

                .summarySection h1 {
                    color: #fff;
                }

                .summarySection h1 i {
                    color: #fff;
                    margin-right: 6px;
                }

                div.address {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#28202D");
                    font-size: 13px;
                    margin: 30px 0;
                    padding: 0 20px;
                }

                div.address a {
                    color: @Model.GetStyles(Styles.COLORADDRESS, "#28202D");
                    text-decoration: none;
                }

                .addressRow {
                    width: 100%;
                    display: inline-block;
                    padding: 0 0 8px 24px;
                    position: relative;
                }

                x.fa {
                    font-size: 16px;
                    color: @Model.GetStyles(Styles.COLORADDRESSICONS, "#3C68B1");
                    width: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                }

                .skillSection {
                    padding: 0 20px;
                    margin-bottom: 30px;
                }

                .degree-field {
                    font-size: 14px;
                    color: @Model.GetStyles(Styles.COLORH2, "#28202D");
                    font-weight: bold;
                    padding-bottom: 4px;
                }

                .school {
                    font-size: 13px;
                    color: @Model.GetStyles(Styles.COLORH1, "#3C68B1");
                    padding-bottom: 10px;
                }

                .education .description p{
                    padding-bottom: 10px;
                }

                .education .description ul+p {
                    padding-top: 10px;
                }

                .sectionList {
                    margin-top: 16px;
                }

                .section ol {
                    margin: 8px 0 0 16px;
                }

                .section ol li{
                    padding: 0 0 4px 0;
                }

                .city-state {
                    font-size: 12px;
                    color: @Model.GetStyles(Styles.COLORH1, "#3C68B1");
                    font-style: italic;
                }

                .date {
                    font-size: 11px;
                    background: @Model.GetStyles(Styles.BACKGROUNDYEARCITY, "#3C68B1");
                    border-radius: 10px;
                    color: @Model.GetStyles(Styles.COLORYEARCITY, "#FFF");
                    padding: 2px 8px;
                }

                .gap { margin-right: 10px; }

                .job-title { margin: 0px !important; }

                .resumeFooter {
                    background: @Model.GetStyles(Styles.BACKGROUNDFOOTER, "transparent");
                    color: @Model.GetStyles(Styles.COLORFOOTER, "brown");
                    padding: 5px 0;
                    text-align: center;
                }

                .date, .float-right { float: right; }

                .name-padding { padding-top: 20px; }

            </style>
        </head>
        <body>
        <div class="parent" id="document">
            <div class="side-div">
                @RenderSideContent()
                <div>
                    @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                    {
                        switch (sectionTypeCD)
                        {
                            case SectionTypeCD.Skills:
                                @RenderSkills()
                                ;
                                break;
                            case SectionTypeCD.Language:
                                @RenderOtherSection(Model.Language)
                                ;
                                break;
                            case SectionTypeCD.ExtraCurricular:
                                @RenderOtherSection(Model.ExtraCurricular)
                                ;
                                break;
                        }
                    }
                </div>
            </div>
            <div class="resume-container">
                @foreach (var sectionTypeCD in DocumentHelper.GetSortedSections(Model))
                {
                    switch (sectionTypeCD)
                    {
                        case SectionTypeCD.Experience:
                            @RenderExperience()
                            ;
                            break;
                        case SectionTypeCD.Training:
                            @RenderTraining()
                            ;
                            break;
                        case SectionTypeCD.Education:
                            @RenderEducation()
                            ;
                            break;
                        case SectionTypeCD.Summary:
                            @RenderSummary()
                            ;
                            break;
                        case SectionTypeCD.Accomplishments:
                            @RenderOtherSection(Model.Accomplishments)
                            ;
                            break;
                        case SectionTypeCD.Additional_Information:
                            @RenderOtherSection(Model.AdditionalInformation)
                            ;
                            break;
                        case SectionTypeCD.Affiliations:
                            @RenderOtherSection(Model.Affiliations)
                            ;
                            break;
                        case SectionTypeCD.Awards:
                            @RenderOtherSection(Model.Awards)
                            ;
                            break;
                        case SectionTypeCD.Certifications:
                            @RenderOtherSection(Model.Certifications)
                            ;
                            break;
                        case SectionTypeCD.Dissertation:
                            @RenderOtherSection(Model.Dissertation)
                            ;
                            break;
                        case SectionTypeCD.Interests:
                            @RenderOtherSection(Model.Interests)
                            ;
                            break;
                        case SectionTypeCD.Other:
                            @RenderOtherSection(Model.Other)
                            ;
                            break;
                        case SectionTypeCD.PersonalInformation:
                            @RenderOtherSection(Model.PersonalInformation)
                            ;
                            break;
                        case SectionTypeCD.Presentations:
                            @RenderOtherSection(Model.Presentations)
                            ;
                            break;
                        case SectionTypeCD.Publication:
                            @RenderOtherSection(Model.Publication)
                            ;
                            break;
                        case SectionTypeCD.References:
                            @RenderOtherSection(Model.References)
                            ;
                            break;
                        case SectionTypeCD.SocialService:
                            @RenderOtherSection(Model.SocialService)
                            ;
                            break;
                    }
                }
            </div>
        </div>
        </body>
        </html>
    </text>
}