%buton{	
	border: 0;
	border-radius: 3px;
	display: inline-block;
	font-family: $font-family-primary;
}
.cta-container{
	margin: 25px 0;
	text-align: center;

	.back-cta{
		color: #767676;
		float: left;
		font:{
			family: $font-family-primary;
			size: 16px;
			weight: 600
		}
		margin-top: 5px;
		padding:10px;
		text-transform: uppercase;
		& + .button-primary{
			float: right;
			min-width: 60%;
		}
	}	
}
.button-default{
	@extend %buton;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.17);
	font:{
		size: 13px;
		weight: 400
	}
	margin: 10px auto;
	padding: 10px;
	&:focus{
		outline: none;
	}
	.description-container &{
		width:100%
	}
}
.button-primary{
	@extend %buton;
	background: $btn-primary-color;
	color: #fff;
	font:{
		size: 16px;
		weight: 700
	}
	padding: 12.5px 37px;
	text-transform: uppercase;
	text-align: center;
	&:focus{
		background: lighten($btn-primary-color, 5%);
		color: #fff;
	}
}
.button-secondry{
	@extend %buton;
	border: 0;
	background: $btn-secondry-color;
	color: #fff;
	font:{
		size: 14px;
		weight: 400
	}
	padding: 9px 17px;
	text-align: center;
	&:focus{
		background: lighten($btn-secondry-color, 5%);
		color: #fff;
	}
}
.button-cancel{
	color: #767676;
	font-family:$font-family-primary;
	font-size: 14px;
	font-weight: 600;
	text-transform:uppercase;
	
}
.button-large{
	width: 100%
}