.editor{
	.editor-icons {
		margin: 20px 0 10px;

		& > *{
			background: transparent;
			border: 0;
			color: lighten($grey-light, 6.5%);
			cursor: pointer;
			padding: 5px;

			&:first-child{
				border-right: 1px solid #d9d9d9;
				padding-right: 10px
			}
			&:last-child{
				border-left: 1px solid #d9d9d9;
				padding-left: 10px
			}
			&:disabled{
				color: #bbb;
			}
			&:focus, &:active{
				outline: none;
			}
		}
	}
	[contenteditable=true]{
		font:{
			family: $font-family-primary;
			size:15px;
		}
		height: 285px;
		overflow: auto;
		ul{
			padding-left: 17px;
		}
	}
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: #a39c9c;
  display: block; /* For Firefox */
}
