%valid{
	position: relative;

	input{
		padding-right: 25px
	}

	&:after{
		@include position(absolute, null 10px 28% null);
		@include size(9px 4px);
		background-color: transparent;
		border:{
			color: $color-primary;
			style: solid;
			width: 0 0 3px 3px;
		}	
		content: '';
		transform: rotate(-45deg);
	}
}
%invalid{
	position: relative;
	input{	
		border-color: $color-invalid;
		padding-right: 25px
	}

	&:after{
		@include position(absolute, 43px 10px null null);	
		content: '\00d7';
		color: $color-invalid;
		font:{
			family: $font-family-base;
			size: 20px;
			weight:bold;
		}
		line-height: 0;
	}
}
.input-group{
	color: $grey;
	font-family: $font-family-primary;
	font-size: 15px;
	font-weight: 400;
	margin-top:10px; 

	.input-element{
		width: 100%;

		&.valid{
			@extend %valid;
		}
		&.invalid{
			@extend %invalid;
		}
	}
	.input-elements{
		float:left;

		&.valid{
			@extend %valid;
		}
		&.invalid{
			@extend %invalid;
		}

		&.city{
			width:49%;
			.experience-container &{
				width:72%;
			}
		}
		&.state{
			padding:0 10px;
			width:25%;
			.experience-container &{
				padding-right:0;
				width:28%;
			}
		}
		&.zip{
			float: right;
			width:26%
		}
		&.email{
			padding-right: 10px;
			width:60%
		}
		&.phone{
			float: right;
			width:40%
		}
	}

	label{
		display:block;
		margin-bottom: 3px;
		.already-account{
			color: #787878;
			font-size: 12px;
			float:right;
			a{
				text-decoration: underline
			}
		}
	}

	input[type="text"], input[type="password"], 
	input[type="email"], 
	textarea,
	select,
	[contenteditable=true],
	.select-box{
		@include size (100% 40px);
	    appearance: none;		
		background-color: #fff;
		border: 1px solid $input-border-color;
		border-radius: 3px;
	    box-shadow: none;
		display:block;
		font-size: 16px !important;
		padding:10px;
		&:focus{
			outline: none
		}
	}

	select{
	    border: none;
	    min-height:38px;
	    width: 100%;
        background: transparent;
        position: relative;
        z-index: 1;
        padding-right:25px;
         
       &:-moz-focusring, &::-moz-focus-inner {
           color: transparent !important;
           text-shadow: 0 0 0 #000 !important;
           background-image: none !important;
           border:0;
    }
    @-moz-document url-prefix() { 
    padding:5px;
    }
	}
	.select-box{
		padding: 0;
		position: relative;
		&:after{
			@include triangle(8px 5px, black, down);
			content: '';
			position:absolute;
			right: 10px;
			top:19px;
		}
	}

	& + .cta-container{
		margin-top: 40px
	}
}


.error-message{
	color: $color-invalid;
    font-size:14px;
	display: none
}

// custom radio and checkbox


$inputHeight: 16px;
$inputWidth: 16px;
$inputBorderWidth: 1px;
$inputActiveScale: 4px; // optimized for even numbers

input[type="checkbox"],
input[type="radio"] {
	opacity: 0;
	position: absolute;
	z-index: -1;
  
  &:active {
    + label {
			&:before {
				transition-duration: 0;
			}
		}
    
  }

	+ label {
		cursor: pointer;
		font-weight: normal;
		position: relative;
		padding: 0 10px;
		padding-left: 2em;
		vertical-align: middle;
		user-select: none;

		&:before {
			@include position(absolute, 50% null null 0);
			box-sizing: content-box;
			border-radius: 3px;
			content: '';
			width: $inputWidth;
			height: $inputHeight;
			margin-top: -($inputHeight/2 + $inputBorderWidth);
			border: $inputBorderWidth solid $input-border-color;
			text-align: center;
		}
		&:after {			
			@include position(absolute, 50% null null ($inputBorderWidth + $inputActiveScale/2));
			box-sizing: content-box;
			content: '';
			background-color: $color-primary;
			width: $inputWidth - $inputActiveScale;
			height: $inputHeight -$inputActiveScale;
			margin-top: -(($inputHeight - $inputActiveScale)/2);
			transform: scale(0);
			transform-origin: 50%;
			transition: transform 200ms ease-out;
		}
	}
}

input[type="checkbox"]{
	+ label {
		&:after {
			@include position(null, 50% null null 3);
			background-color: transparent;
			width: 9px;
			height: 4px;
			margin-top: -5px;
			border-style: solid;
			border-color: #fff;
			border-width: 0 0 3px 3px;
			border-image: none;
			transform: rotate(-45deg) scale(0);
			transition: none;
		}
	}
	&:checked {
		+ label {
			&:before{
				background-color: $color-primary;
				border-color:  $color-primary;
			}
			&:after {
				content: ''; //\2713';
				transform: rotate(-45deg) scale(1);
				transition: transform 200ms ease-out;
			}
		}
	}
}

input[type="radio"] {
	&:checked {
		+ label {
			&:before {
				animation: borderscale 300ms ease;
				background-color: white;			
				border-color: $color-primary;
			}
			&:after {
				transform: scale(1);
			}
		}
	}
	+ label {
		&:before,
		 &:after {
			border-radius: 50%;
		}
	}
}

input[type="checkbox"]{
	&:checked {
		+ label {
			&:before {	
				animation: borderscale 200ms ease;
			}
			&:after {
				transform: rotate(-45deg) scale(1);
			}
		}
	}
}

@keyframes borderscale {
	50% {
		box-shadow: 0 0 0 2px $color-primary;
	}
}

input[type="submit"],
input[type="button"]{
    -webkit-appearance:none;
    &.back-cta{
        background:transparent;
        border:0;
    }
}

textarea{
      overflow: auto;
     -webkit-overflow-scrolling: touch;
      font-family:$font-family-primary;
}