.modal-box-container{
	@include position(fixed, 54px 15px 15px);
	@include transition(0.3s);
	opacity: 0;
	z-index: -1;
    margin-bottom:54px;

	&.show-me{
		opacity: 1;
		z-index: 1000
	}

	.overlay-Bg{
		@include position(fixed, 0);
		background-color: rgba(0, 0, 0, 0.4);
		
	}
	.modal-content-area{
		@include position(absolute, 0 0 null);
		background-color: #fff;
		border-radius: 6px;
		max-height: 100%;
		overflow: auto;
		z-index: 99;
		
		.modal-title{
            padding:0 30px;
			&:empty{
				display:none;
			}
		}
		.modalFooter{
			a{
				&:empty{
					display:none;
				}
			}
		}
	}
	.modal-content{
         .input-group {
        margin-bottom:10px;
        padding: 0 20px;    
         }
		iframe{
			@include position(absolute, 30px 0 null);
		    border: 0;
			height: calc(100% - 30px);
		    width: 100%;
		}
	}
	
	.close-icon{
		@include position(absolute, 0 0 null null);
		padding: 10px;
        color:#aaa;
        font-size:16px;
        
	}
	.modalFooter{
		padding:20px;
		text-align:right;
		clear: both;
		.button-primary {
			min-width:35%;
			margin-left: 20px;
			@media screen and(max-width:320px){
				padding:12px 20px;
			}
		}
	}
	@media screen and(max-width:400px){
		.another-missing-info .button-primary{
			padding:12px 10px;
			font-size: 13px;
		}
	}
	.resume-height{
		bottom: 15px;
	}
	.custom-email-popup{
		.modalFooter{
			padding:10px 20px 20px;
		}
	}
}
.email-section{
    .email-font input , .email-font textarea,.email-font{
        font:{
            size:15px;
            weight:400;
            family:$font-family-primary;
        }
    }
    textarea:focus, input:focus{
    	outline: none;
	}
.email-popup{
    padding:10px 20px;
    & + .input-group{
        margin:0;
        padding: 7px 20px !important;
    }
    & > fieldset{
        @include position(relative, null null null null);
        border: 1px solid #ccc; 
        border-radius: 3px;
        height:40px;
    & > label{
        @include position(absolute, 10px null null 10px);
        color: #9a9a9a;
        text-transform: uppercase;
    }
    & > .emailSub{left:76px; width:70%;}
    & > input{
        @include position(absolute, 10px null null 40px);
       width: 82%;
       border: none;
       color:$grey;}
    }
     & > textarea{
     	width: 100%;
     	height: 90px;
     	resize: none; 
     	border: 1px solid #ccc;
     	border-radius: 3px; 
     	color:$grey;
     	padding:5px 10px;
	     	@media screen and(max-width:320px){
				height: 75px;
		  	}
     	}
    }
}
.close-icon{
	@include position(absolute, 0 0 null null);
	padding: 10px;
    color:#d0d0d0;
    font-size:16px;
    z-index: 999;
}
.hide-body-scroll{
	position:fixed;
	width:100%;
	overflow:hidden;
}

