$navBarWidth : 231px;
.nav-bar {
	@include size($navBarWidth 100%);
	background:$color-theme;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.3s;
	width: 0;
	z-index:99;
	>ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{
		border-bottom: 1px solid #3a484e;
		a{
			color: #fff;
			display: block;
			font-size: 14px;
			font-weight: 400;
			padding: 17.5px 20px;
			text-decoration: none
		}
	}
	&.is-visible{
		box-shadow: -3px 0 4px rgba(0, 0, 0, 0.46);
		width: $navBarWidth;
	}
}
.container{	
	transition: 0.3s;
	width: 100%;	
	&.is-visible{
		margin-left: -$navBarWidth;
	}
}
.nav-overlay{
	@include size(100%);
	background:$color-theme;
	background-color: rgba(48, 59, 64, 0.67);
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s;
    visibility:hidden;
	z-index: -1;
	&.is-visible{
		opacity: 1;
		z-index: 98;
        visibility:visible;
	}
}