.progress-bar{
    position:relative;
	background-color: lighten($color-theme, 10%);
	height: 40px;
	margin: 0 -15px;
	padding: 10px 15px;
	& > *{
		display: inline-block;
		width: 50%;
	}
	.progress-bar-text{
		@include ellipsis(50%)
		color: #fff;
		text-align: left;
		font:{
			family: $font-family-primary;
			size: 14px;
			weight: 400;
		}
		line-height: 21px;
		text-transform: uppercase;
	}
	.progress-bar-indicators{
		float: right;
		text-align: right;
		width:135px;
		.indicator-icon{
			display: inline-block;
			&:before{
				@include size(10px);
				background-color: #3c4a52;
				border: 1px solid #7d7d7d;
				border-radius:100%;
				box-sizing:border-box;
				content:'';
				display: inline-block;
				margin-bottom: -1px;
			}
			&:after{
				border-bottom: 1px solid #7d7d7d;
				box-sizing:border-box;
				content:'';
				display: inline-block;
				margin-right: -5px;
				vertical-align: middle;
				width:15px;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			&.current{
				&:before{
					background-color: #fff;
					box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
				}
			}
		}
	}
}