.choose-template{
	margin:0 -15px;
	.cta-container{
		display:none;
	}
	h1{
		padding:0; 
	}
}
.slider{
	display: none;
	margin-top:15px;
	zoom: 1.6;
	@media screen and(max-height:600px) and (orientation: portrait){
		zoom: 2.3;
		margin-top:10px;
	}
}
.slick-slide{
	padding: 0 5px;
    @include position(relative, null null null null);
    .skin-name{
            @include position(absolute, null 5px 0 5px);
            font-size: 10px;
            text-align:center;
            background-color: rgba(12, 195, 150,.8);
            padding: 2px;
            color: white;
            @media screen and(max-height:600px){
		        font-size: 5px;
	        }
    }
	figure{
		border: 1px solid #bdbdbd;
		margin: 0;
		opacity: 0.48;
		padding: 8px;
		transition: all 200ms ease-in-out;
		@media screen and(max-height:600px){
			padding: 4px;
		}	
		img{
			max-width: 100%;
    		max-height: 100%;
		}
	}
	&.slick-center figure{
		border: 1px solid $color-primary;
		opacity: 1;
	}
	&:focus{
		outline: none;
	}
}