
   .ui-autocomplete{
        width: 18.6%;
        max-height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
        /*li {
        &:hover{ color: #4cbfbf;}
        &:active{color: #437d7e; }
        }*/
    }


 


