@model DashboardVM
@{
    UpdateProgress(ProgressCode.Dashboard);
    ViewBag.Title = "Dashboard";
    ViewBag.SectionCss = "dashboardContainer";

    string newResumeUrl = Url.BuildUrl<ResumeController>(res => res.CreateNewResume(), RouteNames.CreateNewResume),
        docUrl = null, previewFormatUrl = null, editFormatUrl = null, downloadFormatUrl = null, renameDocUrl = null, duplicateDocUrl = null, deleteDocUrl = null;

    DocumentDetails selectedDoc = null;
    if (Model.Documents != null)
    {
        selectedDoc = Model.Documents.FirstOrDefault();
    }
    if (selectedDoc != null && selectedDoc.Id > 0)
    {
        docUrl = Url.RouteUrl(RouteNames.DocumentPreview, new { id = selectedDoc.Id });
        previewFormatUrl = Url.RouteUrl(RouteNames.DocumentPreview, new { id = 1 });
        editFormatUrl = Url.RouteUrl(RouteNames.ResumeFinalize, new { id = 1 });
        downloadFormatUrl = Url.RouteUrl(AjaxRouteNames.DownloadDocument, new { documentId = 1, docType = FileTypeCD.PDF, userAction = UserNavigationAction.FinalizeDownload });
        renameDocUrl = Url.BuildUrl<SkinController>(skin => skin.RenameDocument(1, null), AjaxRouteNames.RenameDocument);
        duplicateDocUrl = Url.BuildUrl<SkinController>(skin => skin.CreateDuplicateDocument(1), AjaxRouteNames.DuplicateDocument);
        deleteDocUrl = Url.BuildUrl<SkinController>(skin => skin.DeleteDocument(1), AjaxRouteNames.DeleteDocument);
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-8">
            <div class="title">Welcome to your Dashboard</div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div id="docListContainer" class="DashboardInput">
                        <div class="dashboardLabel">Select Resume</div>
                        @if (Model.Documents != null && Model.Documents.Any())
                        {
                            <text>
                                <select id="ddlDocument" class="dashboardSelect">
                                    @foreach (var doc in Model.Documents)
                                    {
                                        <text>
                                            <option value="@doc.Id" data-date-mod="@Html.Raw(doc.DateModified)" data-date-crtd="@Html.Raw(doc.DateCreated)" data-template="@Html.Raw(doc.TemplateSelected)">@doc.Text</option>
                                        </text>
                                    }
                                </select>
                                <input type="hidden" id="hdnDocUrls" preview-url="@Html.Raw(previewFormatUrl)" edit-url="@Html.Raw(editFormatUrl)" download-url="@Html.Raw(downloadFormatUrl)" rename-url="@Html.Raw(renameDocUrl)" duplicate-url="@Html.Raw(duplicateDocUrl)" delete-url="@Html.Raw(deleteDocUrl)" new-url="@Html.Raw(newResumeUrl)" />
                            </text>
                        }

                    </div>
                    <div id="previewContainer" class="previewInfo">
                        <div class="previewTopLink">
                            <a id="btnDownloadDocument" class="trans-defaultBtn marginR10">Download</a>
                            <a id="btnEmailDocument" class="trans-defaultBtn marginR10">Email</a>
                            <a id="btnPrintDocument" class="trans-defaultBtn">Print</a>
                        </div>
                        <div class="resumePreviewInfo">
                            <div class="resumebackInfo"></div>
                            <div class="previewAction">
                                <div>
                                    <a id="btnEditResume" class="default-btn marginR10">Edit</a>
                                    <a id="btnRenameDocument" class="default-btn marginR10">Rename</a>
                                    <a id="btnDuplicateDocument" class="default-btn marginR10">Duplicate</a>
                                    <a id="btnDeleteDocument" class="default-btn">Delete</a>
                                </div>
                            </div>
                            <div id="document-container" class="resumeContainer">
                                <div id="loading-widget"></div>
                                <div class="overlay"></div>
                                <div id="resumeContainer" class="resumeContainerBox">
                                    <iframe id="iFrameDocContainer" style="border: none; width: 892.5px; height:800px;" scrolling="no"></iframe>
                                </div>
                            </div>
                        </div>
                        @if (selectedDoc != null)
                        {
                            <div id="documentDetailInfo" class="resumeDetailInfo">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                        Resume Title:
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <span id="documentName" class="resumeDetailText">@selectedDoc.Name</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                                        Template Name:
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <span id="templateSelected" class="resumeDetailText">@selectedDoc.TemplateSelected</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                                        Created Date:
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <span id="dateCreated" class="resumeDetailText">@selectedDoc.DateCreated</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                                        Last Modified:
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <span id="dateModified" class="resumeDetailText">@selectedDoc.DateModified</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="dashboardHeading title">Create New Resume</div>
                    <div class="newResumeInfo">
                        <div class="createResumeInfo">
                            <a class="linkNoDecoration" href="@newResumeUrl">
                                <i class="icon-AddResume"></i>
                            </a>
                        </div>

                    </div>
                    <div class="dashboardHeading title">Expert Advice</div>
                    <div class="tipsContainer">
                        <ul class="tipsList fa-ul">
                            <li><i class="fa-li fa fa-check liColor"></i>Create a resume tailored for each job profile you want to apply for.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>You can create a new resume from scratch or duplicate an existing resume and make changes.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>You can also email the resume directly to the recruiters using the email option.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Name the resumes with job titles, makes it easy for you to recognize them in future.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Specify the job application details/reference number in the subject while using the email option.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Hover over the resume thumbnail to get more options for your resume.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>The delete option needs to be used with utmost care. This action cannot be reversed.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section html {
    <div id="rename-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Rename</h4>
                </div>
                <div class="modal-body">
                    <p>Enter the new name here:</p>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txt-rename" />
                        <span id="err-already-exists" class="errorInfo">This name already exists in your resumes. Please enter another name.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-rename-resume" type="button" class="btn default-mid-btn">@Resource.Rename</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure? You want to delete this resume.</p>
                    <p>@Resource.DeleteNotUndone</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-resume" type="button" class="btn default-mid-btn">@Resource.Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @StaticResources.GetJS(BundleConstants.DashboardJs)
}