//Tooltip

@mixin tooltip($size: 5px, $dir: left, $bgcolor: #fff, $shadowcolor:rgba(85,85,83,.39)) {
  background: $bgcolor;
  box-shadow:0 0px 6px $shadowcolor;
  position: relative;
  &:before{
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    @if (($dir == top) or ($dir == bottom)) {      
      box-shadow:-2px 2px 2px 0 rgba(0, 0, 0, 0.1);
      border-color: transparent transparent $bgcolor $bgcolor;
      left: 50%;
      margin-left: -$size;
    } @else {
      border-color: $bgcolor $bgcolor transparent transparent;
      margin-top: -$size;
      top: 50%;
    }
    @if ($dir == top) {
      transform: rotate(135deg);
      border-width: $size;
      bottom: auto;
      top: -$size;
    }
    @if ($dir == right) {
      transform: rotate(45deg);
      border-width: $size;
      left:auto;
      right: -$size;
    }
    @if ($dir == bottom) {
      transform: rotate(-45deg);
      border-width: $size;
      bottom: -$size;
      top: auto
    }
    @if ($dir == left) {
      box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, 0.1);
      transform: rotate(225deg);
      border-width: $size;
      left: -$size;
      right: auto;
    }
  }
}