html {
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; /* 3 */
  font-family: 'Open Sans', arial, tahoma, verdana, sans-serif; /* 1 */
  font-size: 62.5%;
  height: 100%;
  line-height: 1.5; /* 2 */
}

body {
  background: #F2F2F2;
  font-family: 'Open Sans', arial, tahoma, verdana, sans-serif; /* 1 */
  font-size: 1.4rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
}

a {
  color: #fff;
}

a:focus, a:hover {
  color: #fff;
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus {
  box-shadow: none !important;
  outline: none;
}

/*** Button Style ***/

.default-btn {
  background-color: #F06292;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
}

.default-btn:hover, .default-btn:focus, .default-btn:active {
  background-color: #EC4C83;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.primary-btn {
  background-color: #5952A5;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
}

.primary-btn:hover, .primary-btn:focus, .primary-btn:active {
  background-color: #47438D;
  color: #fff;
  outline: none;
  text-decoration: none;
}

/*** Footer ***/

.footerInfo {
  background: #5952A5;
  padding: 3rem 0;
}

.footerLink {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerLink li {
  color: #fff;
  padding: 4px 0;
}

.footerLink li a {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  transition: color .2s ease-in;
}

.footerLink li a:hover { color: #EC4C83; }

.footerCopyInfo {
  background: #423B87;
  border-bottom: 3px solid #F06292;
  color: #fff;
  font-size: 1.3rem;
  padding: 5px 0;
}

.footerCopyInfo a {
  color: #fff;
  font-size: 1.3rem;
  padding: 0 5px;
  text-decoration: none;
}

.footerCopyInfo a:hover, .footerCopyInfo a:focus { color: #F06292; }

@media (max-width: 767px) {
  .footerLink li { text-align: center; }
}