body {
    background: #3d93e2;
}

.headerInfo {
    background: url(/images/interview.jpg) top right no-repeat;
    background-size: cover;
    padding: 10px 0 20px;
    position: relative;
}

.imageBack {
    background: #5952A5;
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.navInfo {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
}

.navBar li {
    float: left;
    list-style-type: none;
}

.logo { color: #fff; }

.topHeading {
    color: #fff;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.3;
    padding: 90px 0 25px;
}

.resumeText { color: #EC4C83; }

.subHeading {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3;
}

.freeSign {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 30px 0;
}

.buildInfo { padding: 30px 0 80px; }

.numberInfo {
     padding: 45px 0 60px;
    background: #FFF; 
}

.numHead {
    color: #222;
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 5px;
}

.numText {
    color: #222;
    font-size: 22px;
}

.resumeInfo {
    background: #353271; /* Old browsers */
    background: -moz-linear-gradient(left, #353271 0%, #736ec8 50%, #736ec8 50%, #736ec8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #353271 0%, #736ec8 50%, #736ec8 50%, #736ec8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #353271 0%, #736ec8 50%, #736ec8 50%, #736ec8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353271', endColorstr='#736ec8', GradientType=1); /* IE6-9 */
    padding: 40px 0;
}

.resumeHead {
    color: #fff;
    font-family: 'Lato';
    font-size: 42px;
    line-height: 1.3;
    padding: 5px 0 7px;
    position: relative;
}

.resumeHead::after {
    background: #F06292;
    bottom: 0;
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 60px;
}

.resumeContainer { padding-top: 50px; }

.resumeList {
    margin: 0;
    padding: 0;
}

.resumeList li {
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    list-style-type: none;
    padding-bottom: 30px;
}

.resumeListHead {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
}

.resumeImage { margin: 0; }

.resumeImage img { width: 100%; }

.reviewInfo {
    background: #EFF5F9;
    color: #fff;
    padding: 60px 0 55px;
}

.reviewData {
    border-bottom: 2px solid #423B87;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}

.testimonialImageInfo {
    float: left;
    width: 40%;
}

.testimonialDataInfo {
    float: left;
    min-height: 205px;
    padding: 60px 0 0 40px;
    position: relative;
    text-align: left;
    width: 100%;
}

.reviewImg {
    border-radius: 50%;
    box-shadow: 0 2px 4px #333;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.reviewImg img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.reviewAuthorLabel {
    color: #D95253;
    font-size: 20px;
    padding-top: 15px;
}

.tipsInfo {
    background: #A7385F; /* Old browsers */
    background: -moz-linear-gradient(left, #A7385F 0%, #EF86B4 55%, #EF86B4 55%, #EF86B4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #A7385F 0%, #EF86B4 55%, #EF86B4 55%, #EF86B4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #A7385F 0%, #EF86B4 55%, #EF86B4 55%, #EF86B4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7385F', endColorstr='#EF86B4', GradientType=1); /* IE6-9 */
    padding: 50px 0;
}

.tipsListHead {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.tipsListText {
    color: #fff;
    font-size: 18px;
}

.tipsLine {
    margin-bottom: 25px;
    min-height: 145px;
    padding-bottom: 25px;
    position: relative;
}

.tipsLine::after {
    background: #fff;
    bottom: 0;
    content: '';
    height: 1px;
    left: 15%;
    position: absolute;
    width: 70%;
}

.tipsBottomLine {
    margin-bottom: 0;
    min-height: 145px;
    padding-bottom: 0;
    position: relative;
}

.tipsBottomLine::after {
    background: #fff;
    bottom: 0;
    content: '';
    height: 0;
    left: 15%;
    position: absolute;
    width: 70%;
}

.quoteInfo {
    left: 10px;
    position: absolute;
    top: 30px;
}

.reviewText {
    color: #222;
    font-size: 18px;
    line-height: 22px;
    padding: 0 10px 10px;
}

.reviewLabel {
    color: #999;
    font-size: 15px;
}

.reviewImg img { width: 100%; }

.stepInfo {
    background: #EFF5F9;
    padding: 30px 0 40px;
}

.stepHead {
    color: #222;
    font-family: 'Lato';
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 40px;
    padding: 5px 0 7px;
    position: relative;
}

.stepHead::after {
    background: #F06292;
    bottom: 0;
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 60px;
}

.stepBox {
    background: #E5E5E5;
    border-radius: 4px;
    height: 200px;
    padding: 15px 20px;
}

.stepLeftSpace { margin-left: 15px; }

.stepRightSpace { margin-right: 15px; }

.stepArrow {
    position: absolute;
    right: -24px;
    top: 71px;
}

.stepListHead {
    color: #222;
    font-size: 24px;
    padding-bottom: 10px;
}

.stepListText {
    color: #222;
    font-size: 16px;
}

.dreamInfo {
    background: url(/images/job.jpg) top right no-repeat;
    background-size: cover;
    padding: 120px 0 60px;
    position: relative;
}

.dreamText {
    color: #fff;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 300;
    line-height: 1.3;
    padding-bottom: 40px;
    text-shadow: 0 2px 4px #333;
}

.login {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 30px;
    padding: 10px 0;
}

.login:hover {
    color: #fff;
    text-decoration: underline;
}

.signBtn {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    transition: background .2s ease-in;
}

.signBtn:hover {
    background: #F06292;
    border: 1px solid #F06292;
    color: #fff;
}

.buildBtn {
    background: #5952A5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 15px 25px;
}

.buildBtn:hover {
    background: #47438D;
    color: #fff;
    text-decoration: none;
}

.seeBtn {
    background: #F06292;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 30px;
    text-transform: uppercase;
}

.seeBtn:hover {
    background: #EC4C83;
    color: #fff;
    text-decoration: none;
}

.statNowBtn {
    background: #F34F6D;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    text-transform: uppercase;
}

.statNowBtn:hover {
    background: #D43955;
    color: #fff;
    text-decoration: none;
}

@media (max-device-width: 480px) {
    .resumeImage { margin-top: 20px; }

    .stepBox {
        height: auto !important;
        margin: 0 0 20px;
    }

    .stepArrow { display: none; }

    .tipsBottomLine {
        margin-bottom: 25px;
        min-height: 145px;
        padding-bottom: 25px;
        position: relative;
    }

    .tipsBottomLine::after {
        background: #fff;
        bottom: 0;
        content: '';
        height: 1px;
        left: 15%;
        position: absolute;
        width: 70%;
    }

    .reviewInfo { padding: 60px 0 25px; }

    .reviewData { margin-bottom: 30px; }

    .footerCopyInfo { text-align: center; }

    .footerCopyInfo .text-right {
        padding-top: 10px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .resumeImage { margin-top: 20px; }

    .stepBox {
        height: auto !important;
        margin: 0 0 20px;
    }

    .stepArrow { display: none; }

    .reviewInfo { padding: 60px 0 25px; }

    .reviewData { margin-bottom: 30px; }
}

@media (min-width: 992px) {
    .resumeImage { margin-top: 20px; }

    .stepBox {
        height: auto !important;
        margin: 0 0 20px;
    }

    .stepArrow { display: none; }

    .reviewInfo { padding: 60px 0 25px; }

    .reviewData { margin-bottom: 30px; }
}