html {
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; /* 3 */
    font-family: 'Open Sans', arial, tahoma, verdana, sans-serif; /* 1 */
    font-size: 62.5%;
    line-height: 1.5; /* 2 */
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
}

a { color: #00607e; }

input:focus {
    box-shadow: none !important;
    outline: none;
}

/*** Header ***/

header { background: #0096c4; }

.menuLink {
    display: none;
    margin: 1rem 3rem 0 1rem;
}

.menuLink a {
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
}

.menuLink a i {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.logo { margin: 1.5rem 3rem 0 0; }

.logo a {
    color: #fff;
    font-size: 1.8rem;
}

.btnLogin {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 2rem;
    transition: background .2s ease-in;
}

.btnLogin:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #003e51;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    vertical-align: top;
}

.navBar li a {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2rem;
    text-decoration: none;
}

.navBar li a:hover { background: #5cbcd9; }

/*** Content ***/

.mainSection {
    background: #fff;
    position: relative;
}

.collapseMenu {
    background: #2d599e;
    display: none;
    height: 100%;
    left: -250px;
    position: absolute;
    top: 0;
    transition: left 1s ease-in-out;
    width: 250px;
    z-index: 1;
}

.collapseMenuRight {
    background: #2d599e;
    display: none;
    height: 100%;
    position: absolute;
    right: -250px;
    top: 0;
    transition: right 1s ease-in-out;
    width: 250px;
    z-index: 1;
}

.showMenu { left: 0; }

.showMenuRight {
    display: block;
    right: 0;
}

.sideMenu {
    background: #0096c4;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.sideMenu.finalize { width: 280px; }

.sideList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sideList li {
    border-bottom: 1px solid #00607e;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    transition: background .3s ease-in;
}

.sideList li a { color: #fff; }

.sideList li:first-child { border-top: 1px solid #00607e; }

.sideList li:hover { background: #00789d; }

.formContainer {
    margin-left: 250px;
    min-height: 300px;
    padding: 2rem;
    width: calc(100% - 250px);
}

/***  Start Form ***/

.form-group label {
    color: #666;
    font-size: 1.2rem;
    font-weight: 400;
}

.form-input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 6px 12px 6px 0;
}


/*** End Form ***/

.formPanel {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2.5rem;
}

.formHeading {
    background-color: #00789d;
    border-bottom: 1px solid #ebebeb;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 15px;
}

.formContact { padding: 15px; }

.panel { border: 1px solid #ccc; }

.panel-default { margin-bottom: 2.5rem !important; }

.panel-default .panel-heading {
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 1.6rem;
    font-weight: 600;
}

.panel-default .panel-heading a {
    color: #666;
    text-decoration: none;
}

/*** Footer ***/

footer {
    background: #262626;
    padding: 2rem 0;
}

.footerLink {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerLink li {
    color: #fff;
    padding: 4px 0;
}

.footerLink li a {
    color: #999;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color .2s ease-in;
}

.footerLink li a:hover { color: #fff; }

@media (max-width: 767px) {
    .menuLink { display: block; }

    .navBar { display: none; }

    .sideMenu { display: none; }

    .formContainer {
        margin-left: 0;
        width: 100%;
    }

    .collapseMenu { display: block; }

    .footerLink li { text-align: center; }
}

.input-group-dropdown {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #555;
    display: block;
    font-size: 15px;
    height: 34px;
    line-height: 1.42857143;
    margin: 0;
    padding: 6px 12px 6px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.input-group-dropdown:focus { outline: none; }

.advice-box {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.advice-box ul li {
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.example-box { margin-top: 30px; }

.example-box i { cursor: pointer; }

ul, li { list-style-type: none; }

.gPencil {
    color: brown;
    Content: '\f00c';
    font-family: 'FontAwesome';
    margin: 0 5px 0 -15px;
}

.liColor { color: firebrick; }

.error-message {
    color: red;
    display: none;
}

.add-example {
    background-color: cadetblue;
    color: azure;
    padding: 5px;
}

.example-text { padding-left: 5px; }

.editor-container {
    margin: 17px auto;
    min-height: 300px;
}

.editor ul, .editor li { list-style-type: disc; }

.margin-right5 { margin-right: 5px; }

.margin-top15 { margin-top: 15px; }

.margin-top30 { margin-top: 30px; }

.review-row { margin-left: 5px; }

.review-separator {
    border-bottom: solid;
    border-color: #ccc;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.review-heading {
    font-size: 16px;
    font-weight: bold;
}

.review-location { font-size: 16px; }

.review-description {
    font-size: 11px;
    position: relative;
}

.review-description p { font-size: 12px; }

.review-btns {
    position: absolute;
    right: 15px;
    top: 0;
}

.review-btns a {
    color: #333;
    font-size: 15px;
}

.review-btns button {
    background: transparent;
    border: none;
    color: #333;
    font-size: 15px;
}

.select-template { position: relative; }

.select-template img { width: 100%; }

.select-template .select-btn {
    background: #00607e;
    border: 1px solid #00607e;
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 14px;
    left: 50%;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.template-border {
    border: 2px solid #ccc;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 120%;
    position: relative;
    transform: scale(1);
    z-index: 1;
}

.select-template .template-border:hover {
    background: white;
    opacity: 1;
    transform: scale(1.4);
    transition: top 450ms ease-in-out 0s;
    z-index: 10
}

.select-template .template-border:hover .select-btn {
    display: block;
    text-decoration: none;
}

.template-data iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.template-data {
    background-color: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.modal-box-container {
    -webkit-transition: 0.3s;
    bottom: 15px;
    left: 15px;
    margin-bottom: 54px;
    opacity: 0;
    position: fixed;
    right: 15px;
    top: 54px;
    transition: 0.3s;
    z-index: -1;
}

.modal-box-container.show-me {
    opacity: 1;
    z-index: 1000;
}

.modal-box-container .overlay-Bg {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-box-container .modal-content-area {
    background-color: #fff;
    border-radius: 6px;
    left: 0;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

.modal-box-container .modal-content-area .modal-title { padding: 0 30px; }

.modal-box-container .modal-content-area .modal-title:empty { display: none; }

.modal-box-container .modal-content-area .modalFooter a:empty { display: none; }

.modal-box-container .modal-content .input-group {
    margin-bottom: 10px;
    padding: 0 20px;
}

.modal-box-container .modal-content iframe {
    border: 0;
    height: calc(100% - 30px);
    left: 0;
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
}

.modal-box-container .close-icon {
    color: #aaa;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-box-container .modalFooter {
    clear: both;
    padding: 20px;
    text-align: right;
}

.modal-box-container .modalFooter .button-primary {
    margin-left: 20px;
    min-width: 35%;
}

@media screen and (max-width: 320px) {
    .modal-box-container .modalFooter .button-primary { padding: 12px 20px; }
}

@media screen and (max-width: 400px) {
    .modal-box-container .another-missing-info .button-primary {
        font-size: 13px;
        padding: 12px 10px;
    }
}

.modal-box-container .resume-height { bottom: 15px; }

.modal-box-container .custom-email-popup .modalFooter { padding: 10px 20px 20px; }

.capitalize { text-transform: capitalize; }

.mbr-cards .card {
    background: none;
    border: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.card {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    display: block;
    min-height: 260px;
    position: relative;
}

.card, .card-title {
    font-size: 26px;
    margin-bottom: 15px;
}

.chooseTemplateIcon {
    color: cadetblue;
    display: block;
    font-size: 90px;
    margin-top: 0.2em;
    text-align: center;
    text-decoration: none;
}

.spacing {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.parentSpacing {
    padding-bottom: 40px;
    padding-top: 40px;
}

.build-resume { margin-bottom: 40px; }

.build-resume, .card-text {
    font-size: 16px;
    text-align: center;
}

.grad {
    color: #003e51;
    padding-bottom: 0;
    padding-top: 50px;
}

.default-btn {
    background: #00607e;
    border: 1px solid #00607e;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    transition: all 300ms ease-in-out;
}

.default-btn:hover {
    background-color: #fff;
    color: #00607e;
    text-decoration: none;
}

.default-mid-btn {
    background: #00607e;
    border: 1px solid #00607e;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 6px 15px;
    transition: all 300ms ease-in-out;
}

.default-mid-btn:hover {
    background-color: #fff;
    color: #00607e;
    text-decoration: none;
}

.help-text {
    color: #333;
    padding-top: 30px;
}

.text-center-16 {
    font-size: 16px;
    text-align: center;
}

.display-none { display: none; }

.display-block { display: block; }

.info {
    color: #337ab7;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
}

.final-icons {
    clear: both;
    float: right;
    font-size: 15px;
}

.final-icons button { }

.sideMenu, .sideMenu a { color: white; }


.section-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section-list li {
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    transition: background .3s ease-in;
}

.section-list li a { color: #fff; }

.section-list li:hover { background: #16325D; }

.section-list button {
    background: transparent;
    border: none;
    color: white;
}

.dashboard-header {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
}

.dashboard-button {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.access:hover {
    background-color: crimson;
    border-color: crimson;
}

.dashboard-document { position: relative; }

.dashboard-edit {
    border-radius: 2px;
    bottom: 5px;
    font-size: 16px;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.dashboard-document .overlay {
    background-color: rgba(255, 255, 0, 0.1);
    bottom: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.text-large {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.select-resume span {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

.select-resume select { width: 60%; }

.colorTheme {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#divHistRoot {
    background: #fafafa;
    padding: 10px;
}

.panel-tab {
    display: block;
    position: relative;
    width: 100%;
}

.panel-tab .arrow {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(0deg);
}

.collapsed .arrow { transform: rotate(180deg); }

.add-more-sections { background-color: #0096c4; }

/*TODO: Rename Finalize to Preview Across Solution*/

.finalize-template-container { min-width: 250px; }