body {
  background: #F2F2F2;
  font-family: 'Open Sans', arial, tahoma, verdana, sans-serif; /* 1 */
  font-size: 1.4rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
}

header {
  background: rgba(89, 82, 165, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 80px;
}

.headingInfo {
  color: #222;
  font-family: 'Lato';
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 5px 0 7px;
  position: relative;
}

.headingInfo::after {
  background: #F06292;
  bottom: 0;
  content: '';
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.subHeadingInfo {
  color: #222;
  font-size: 22px;
  margin-bottom: 30px;
}

/** Static Page Styling **/

.contentInfo {
  width: 100%;
}

.mainHeading {
  font-size: 22px;
  color: #222;
  font-weight: 700;
  padding-bottom: 8px;
}

.bannerImgInfo {
  width: 100%;
}

  .bannerImgInfo img {
      width: 100%;
  }

.huntingSpace {
  padding-top: 35px;
}

.descriptionInfo {
  font-size: 16px;
  color: #444;
  padding-bottom: 12px;
}

.descriptionList ul li {
  font-size: 16px;
  color: #444;
  padding-bottom: 10px;
}

.listPointData {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.listDataRow {
  display: flex;
}

.listCount {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #d8d8d8;
  font-size: 24px;
  color: #222;
  font-weight: 700;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listDescription {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 16px;
  color: #222;
  padding-bottom: 28px;
}

.listHeading {
  font-size: 20px;
  color: #222;
  font-weight: 700;
  padding-bottom: 12px;
  display: flex;
}

.betterProfileInfo {
  background: #A7385F;
  margin: 40px 0;
}

.betterProfileText {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  padding: 60px 30px;
  text-align: center
}

.profileHeading {
  font-size: 48px;
  color: #fff;
  font-weight: 500;
  display: block;
  text-align: center;
  padding-bottom: 6px;
}

.bottomSloganInfo {
  font-size: 24px;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sloganTitle {
  font-size: 36px;
  color: #222;
  font-weight: 300;
  line-height: 1.4;
}

.sloganSubtitle {
  font-size: 26px;
  color: #222;
  line-height: 1.3;
}

.sloganHeading {
  font-size: 48px;
  color: #F06292;
  line-height: 1;
}

.resumeBottomBtn {
  margin: 50px 0;
  text-align: center;
}

.resumeBottomBtn .default-btn {
  font-size: 18px;
  padding: 20px 30px;
}

.staticTopInfo {
  padding-top: 80px;
  text-align: center;
}

.spaceInfo {
  padding: 30px 0 40px;
}

.termsDescriptionInfo {
  font-size: 16px;
  color: #444;
  padding-bottom: 20px;
}

.termsListInfo {
  margin-bottom: 20px;
}

.termsListInfo li{
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.termsListInfo ol {
  margin: 10px 0;
}

.termsListInfo ol li {
  font-size: 16px;
  color: #444;
  margin-bottom: 6px;
}

.privacyListInfo li{
  margin-bottom: 6px;
}

.formdataInfo {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  border: 1px solid #cccccc;
  padding: 20px;
  margin: 40px 0;
  text-align: left;
  box-shadow: 2px 2px 10px #ccc;
}

.formDataRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.textLabel {
  width: 100%;
  font-size: 14px;
  color: #444;
  font-weight: 500;
}

.formDataRow input, .formDataRow textarea {
  font-size: 14px;
  color: #444;
  border: 1px solid #cccccc;
  padding: 4px;
  resize: none;
}

.formButtonRow {
  display: flex;
  padding-top: 10px;
}

.formButtonRow button:not(:last-child){
  margin-right: 12px;
} 

.buttonInfo {
  background: #F06292;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  border: none;
}

.buttonInfo:hover {
  background: #EC4C83;
  color: #fff;
  text-decoration: none;
}
