.innerSectionLayout {
  height: 100%;
  width: 100%;
}

/*** Header ***/

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

header {
  background: #5952A5;
  height: 60px;
}

.menuLink {
  display: none;
  margin: 2rem 3rem 0 1rem;
}

.menuLink a {
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
}

.menuLink a i {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
}

.logo {
  margin: 1.5rem 3rem 0 20px;
}

.logo a {
  color: #fff;
  font-size: 1.8rem;
}

.loginInfo {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  min-width: 160px;
}

.activeLogin {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  position: relative;
}

.activeUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #fff;
  border: 2px solid rgba(190, 185, 233, 0.5);
  border-radius: 23px;
  margin-right: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: #6b64c0;
}

.activeUser img {
  width: 100%;
}

.userName {
  color: #fff;
  padding-right: 20px;
  position: relative;
}

.userName::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: '';
  margin-top: 9px;
  position: absolute;
  right: 0;
  top: 0;
}

.loginPopup {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
  padding-top: 6px;
  display: none;
  overflow: hidden;
}

.poplist {
  font-size: 1.3rem;
  color: #222;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: translateY(-150px);
  transition: transform 1s ease-in-out;
}

.poplist a {
  color: #222;
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
}

.poplist a:hover {
  color: #F06292;
}

.activeLogin:hover .loginPopup {
  display: block;
}

.activeLogin:hover .loginPopup .poplist {
  transform: translateY(0);
}

.btnLogin {
  background: #F06292;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: background .2s ease-in;
}

.btnLogin:hover {
  background: #EC4C83;
  color: #fff;
}

.navBar {
  list-style-type: none;
  margin: 0 0 0 50px;
  padding: 0;
}

.navBar li {
  display: inline-block;
  padding-right: 15px;
  vertical-align: top;
}

.navBar li a {
  border-bottom: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 22px 10px 14px;
  text-decoration: none;
}

.navBar li a:hover, .navBar li .active {
  border-bottom: 2px solid #F06292;
}

/*** Content ***/

.mainSection {
  width: 100%;
  background: #F2F2F2;
  min-height: calc(100% - 92px);
  position: relative;
  display: flex;
  justify-content: center;
}

.collapseMenu {
  background: #423B87;
  display: none;
  height: 100%;
  left: -300px;
  position: absolute;
  top: 0;
  transition: left 1s ease-in-out;
  width: 300px;
  z-index: 99;
}

.showMenu {
  left: 0;
}

.sideMenu {
  background: #423B87;
  height: 100%;
  width: 220px;
  display: flex;
  padding-bottom: 30px;
}

.sideList {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideList li {
  align-items: center;
  border-bottom: 1px solid #BEB9E9;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 9px 10px;
  transition: background .3s ease-in;
}

.sideList li.visited {
  border-right: 3px solid #f06292;
}

.sideList li a {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

  .sideList li a:hover {
      text-decoration: none;
  }

.sideList li:hover, .sideList li.active {
  background: #6B64C0;
}

.listIcon {
  background: #fff;
  border-radius: 25px;
  display: inline-block;
  height: 50px;
  margin-right: 15px;
  text-align: center;
  width: 50px;
}

.listIcon i {
  color: #423B87;
  font-size: 26px;
  line-height: 50px;
}

.listTitle {
  display: inline-block;
  vertical-align: middle;
}

.chooseTemplateContainer {
  min-height: 300px;
  padding: 32px 30px 30px 50px;
  width: 100%;
}

.mainDataContainer {
  width: 100%;
  display: flex;
}

.formContainer {
  min-height: 300px;
  padding: 32px 40px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.examplesContainer {
  height: 310px;
  overflow: auto;
  padding-top: 20px;
}

.ui-autocomplete {
  max-height: 320px;
  overflow-y: auto;
  width: 18.6%;
}

.collapsedAdvice {
  display: none;
}

.expandedAdvice {
  height: 260px;
}

.title {
  border-bottom: 1px solid #ccc;
  color: #222;
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 3px;
  position: relative;
}

.title i {
  font-size: 14px;
  position: absolute;
  right: 5px;
  top: 10px;
  transform: rotate(90deg);
  transition: all 300ms ease-in;
}

.title i.on {
  transform: rotate(-90deg);
}

/*** Signin Form Container ***/

.signinFormInfo {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  min-height: 300px;
  overflow: hidden;
  width: 570px;
}

.signinData {
  align-items: center;
  background: url(/images/login_bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
  position: relative;
  z-index: 1;
}

.signinData::after {
  background: rgba(89, 82, 165, 0.7);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.signinHeading {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.signinDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.signinRow {
  display: flex;
  margin-bottom: 15px;
}

.passwordRow {
  padding-top: 30px;
}

.signinIconInfo {
  margin-right: 15px;
}

.signinIconInfo i {
  color: #FFFFFF;
  font-size: 20px;
}

.signinLabelInfo {
  display: flex;
  flex-direction: column;
}

.signinLabel {
  color: #FFFFFF;
  font-size: 16px;
}

.signinInput {
  background: transparent !important;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF !important;
  font-size: 16px;
  padding: 3px 0;
  width: 300px;
}

.signinInput:focus {
  border-bottom: 2px solid #EC4C83;
}

.signinInput::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.error-message {
  color: #ff2d2d;
  font-size: 11px;
  padding-top: 3px;
}

.rememberInfo {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 0 6px 0 4px;
}

.forgotTextInfo {
  color: #FFD9E6;
  font-size: 14px;
  font-weight: 600;
}

.forgotTextInfo:hover {
  color: #ff85ae;
}

.signButtonInfo {
  justify-content: center;
  margin-top: 30px;
}

.signinButton {
  margin-right: 10px;
}

/*** Forgot Password ***/

.forgotContainer {
  padding: 40px;
  width: 100%;
}

.titleHeading {
  color: #222222;
  font-size: 26px;
  padding-bottom: 10px;
}

.forgotInput {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}

.forgotInput label {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.forgotInput input {
  border: 1px solid #cccccc;
  color: #222222;
  font-size: 16px;
  padding: 3px 6px;
  width: 300px;
}


/*** Professional Tips ***/

.tipsContainer {
  padding-top: 2px;
}

.tipsList {
  margin: 0;
  padding: 10px 0 0 20px;
}

.tipsList li {
  color: #222;
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.tipsList-preview {
  margin: 0;
  padding: 0 0 0 20px;
}

.tipsList-preview li {
  color: #ffffff;
  font-size: 1.4rem;
  padding-bottom: 10px;
}

/*** Button ***/

.marginRight {
  margin-right: 5px;
}

.formButtonInfo {
  margin: 35px 0 20px;
}

.white-btn {
  border: 1px solid #ffffff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
}

.white-btn:hover, .white-btn:focus, .white-btn:active {
  color: #F06292;
  outline: none;
  text-decoration: none;
}

.trans-btn {
  background-color: transparent;
  border: 1px solid #5952A5;
  border-radius: 4px;
  color: #5952A5;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
}

.trans-btn:hover, .trans-btn:focus, .trans-btn:active {
  background-color: #5952A5;
  border: 1px solid #5952A5;
  color: #fff;
  text-decoration: none;
}

.trans-defaultBtn {
  background-color: transparent;
  border: 1px solid #F06292;
  border-radius: 4px;
  color: #F06292;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
}

.trans-defaultBtn:hover, .trans-defaultBtn:focus, .trans-defaultBtn:active {
  background-color: #F06292;
  border: 1px solid #F06292;
  color: #fff;
  text-decoration: none;
}

/*** Resume Journey Start ***/

.resumeJourneyInfo {
  color: #222;
  font-family: 'Lato';
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 5px 0 7px;
  position: relative;
}

.resumeJourneyInfo::after {
  background: #F06292;
  bottom: 0;
  content: '';
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.resumeJobSearch {
  color: #222;
  font-size: 22px;
  margin-bottom: 30px;
}

.resumeList {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  min-height: 340px;
  padding: 35px 20px 17px;
}

.resumeList i {
  font-size: 80px;
  padding-bottom: 25px;
}

.resumeHeading {
  color: #222;
  font-size: 22px;
  padding-bottom: 15px;
  text-align: center;
  word-break: break-word;
}

.resumeText {
  color: #222;
  font-size: 16px;
  text-align: center;
}

.resumeBtnInfo {
  margin-bottom: 10px;
  margin-top: 40px;
}

.resumeSafeInfo {
  color: #666;
  font-size: 15px;
  margin-bottom: 80px;
}

/*** Register From Container ***/

.formContainerInfo {
  margin: 0 auto;
  padding-top: 40px;
  width: 800px;
}

.registerFrom {
  padding: 30px 0;
}

.formTitle {
  color: #222222;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.registerFormGroup {
  height: inherit !important;
  margin-bottom: 20px !important;
}

.registerFormGroup label {
  font-weight: 600;
}

.registerAccount {
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
}

.registerForgotText {
  color: #F06292;
  font-size: 1.4rem;
  font-weight: 600;
}

.registerForgotText:hover {
  color: #EC4C83;
}
/*** Skill Review Section ***/

.showRatingContainer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 14px;
  color: #222222;
}

.labelBoxInfo {
  width: 75%;
  display: flex;
  align-items: center;
  background: #5f5f5f;
  border: 1px solid #222;
  margin-left: 10px;
  border-radius: 4px;
}

.itemLabel {
  font-size: 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  border-left: 1px solid #e5e5e5;
}

.itemLabel:first-child {
  border-left: 0;
}

.itemLabel.active {
  font-weight: bold;
}

.itemLabel span {
  font-size: 12px;
}

.skillLabelBox {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  color: #222222;
  font-weight: 400;
}

.skillLabelBox label {
  font-size: 14px;
  color: #222222;
  font-weight: 400;
  margin-bottom: 0;
}

.addSkillSection {
  display: flex;
  margin-top: 20px;
}

.skillItemInfo {
  height: inherit !important;
}

.iconAdd {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #616161;
  display: block;
  margin-right: 6px;
}

.iconAdd::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: #333;
  top: 4px;
  left: 8px;
}

.iconAdd::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background: #333;
  top: 8px;
  left: 4px;
}

/*** Experience Review Starts ***/

.experienceInfo {
  padding-top: 20px;
}

.experienceSectionRow {
  border: 1px dashed #999;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 17px 20px;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 10px rgba(152, 152, 152, 0.2)
}

.experienceAddSection {
  align-items: center;
  border-top: 1px solid #ccc;
  color: #666;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  padding-top: 15px;
}

.experienceAddSection i {
  font-size: 24px;
  padding-right: 10px;
}

.experienceEditInfo {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 1;
  display: flex;
}

.previewLinkInfo {
  display: inline-block;
  padding: 0 10px;
}

.previewLinkInfo i {
  color: #FFF;
  cursor: pointer;
  font-size: 24px;
}

.resumeBoxContainer {
  position: relative;
  height: 100%; 
  min-height:500px;
}

.iFrameBox {
  background: #fff;
  box-shadow: 0 0 10px rgba(152, 152, 152, 0.5);
}

.experLinkInfo {
  margin-left: 10px;
  display: flex;
}

.experLinkInfo i {
  color: #666;
  cursor: pointer;
  font-size: 20px;
}

.experLinkInfo:hover {
  text-decoration: none;
}

.hoverExample {
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}

.experCompanyInfo {
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

.experCitiInfo {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.experPositionInfo {
  color: #222;
  font-size: 16px;
  padding-bottom: 8px;
}

.experCompanyDetailInfo {
  color: #222;
  font-size: 16px;
}

/*** Experience Review End ***/

/*** Start 404 ***/

.errorContainer {
  background: #fff;
  min-height: 100vh;
  padding: 40px 0;
}

.errorImageInfo {
  display: inline-block;
  width: 60%;
  ;
}

.errorImageInfo img {
  max-width: 100%;
}

.errorHeading {
  color: #666666;
  font-size: 36px;
  padding: 40px 0 20px;
}

.errorSubHeading {
  color: #666666;
  font-size: 20px;
  padding-bottom: 30px;
}

.errorText {
  color: #666666;
  font-size: 24px;
  font-weight: 300;
}

.errorSubText {
  color: #666666;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 20px;
}

.goButton {
  background: #5952A5;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  text-transform: uppercase;
}

.goButton a {
  background: #5952A5;
  color: #fff;
  text-decoration: none;
}

.goButton:hover, .goButton:focus  {
  background: #47438D;
  color: #fff;
  text-decoration: none;
}

.errorBox {
  height: 100px;
  margin: 20px 0px;
  width: 50%;
}

/*** End 404 ***/

/*** Start Settings ***/

.settingSection {
  background: #fff;
  padding: 30px 0;
}

.settingContainer {
  padding: 30px 0 60px;
}

.settingHeading {
  border-bottom: 1px solid #979797;
  color: #222;
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 10px 15px;
}

.accountInfo {
  display: flex;
  padding: 30px 0 0 15px;
}

.profileImage {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
  height: 160px;
  margin-right: 45px;
  width: 160px;
}

.profileImage img {
  max-height: 100%;
  max-width: 100%;
}

.profileDetail {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.profileName {
  color: #222;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}

.profileEmail, .profileMobile {
  color: #666;
  font-size: 20px;
  padding-bottom: 7px;
}

.editProfile {
  padding-left: 10px;
}

.editProfile i {
  color: #222;
  font-size: 24px;
}

.accountTypeInfo {
  margin-top: 30px;
  padding-left: 15px;
}

.labelName {
  color: #222;
  font-size: 17px;
  padding-bottom: 10px;
}

.labelDetail {
  color: #666;
  font-size: 13px;
}

.accountTypeName {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #222;
  display: inline-block;
  font-size: 17px;
  height: 30px;
  line-height: 1;
  padding: 5px 15px 3px;
}

.accountTypeName i {
  color: #09AC63;
  font-size: 15px;
  padding-right: 5px;
}

.notificationInfo {
  margin-top: 20px;
  padding-left: 15px;
}

.boxSpace {
  padding-left: 15px;
}

.boxContainerInfo {
  background: #ffffff;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.gridInfo {
  border: 1px solid #ebebeb;
  overflow: auto;
}

.gridRow {
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
}

.gridRow:first-child {
  border-top: none;
}

.gridRow:nth-child(odd) {
  background: #f1f1f1;
}

.gridColum {
  flex: 1;
  min-width: 150px;
  padding: 5px 10px;
}

.inputRow {
  align-content: center;
  display: flex;
  margin-bottom: 15px;
}

.checkInput {
  color: #222;
  font-size: 13px;
}

.paymentSectionInfo {
  margin-top: 30px;
}

.changePasswordInfo {
  padding-top: 5px;
}

.chanPasswordRow {
  max-width: 250px;
}

.chanPasswordRow input {
  background: #fff;
}

.passwordButtonInfo {
  margin-bottom: 40px;
  margin-top: 40px;
}

.settingButtonInfo {
  margin-bottom: 60px;
  margin-top: 40px;
}

/*** End Settings ***/

/*** Start Login ***/

.loginContainer {
  align-items: center;
  background: #5952a5;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loginSection {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 570px;
}

.loginData {
  align-items: center;
  background: url(/images/login_bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
  position: relative;
  z-index: 1;
}

.loginData::before {
  background: rgba(89, 82, 165, 0.7);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.loginTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.loginDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.loginFormRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.LoginiconInfo {
  margin-right: 15px;
}

.LoginiconInfo i {
  color: #FFFFFF;
  font-size: 20px;
}

.lofinLabelInfo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputInfo {
  background: transparent;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  padding: 3px 0;
  width: 300px;
}

input.inputInfo::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.errorMessInfo {
  bottom: -17px;
  color: #ffb8d0;
  font-size: 1.1rem;
  left: 0;
  padding-top: 3px;
  position: absolute;
}

.passwordRow {
  padding-top: 35px;
  position: relative;
}

.forgotInfo {
  bottom: 6px;
  color: #FFD9E6;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

.forgotInfo:hover {
  color: #ff85ae;
}

.loginButtonInfo {
  padding-top: 25px;
}

.loginBtn {
  text-transform: uppercase;
}

.createAccount {
  color: #FFD9E6;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
}

.createAccount:hover {
  color: #ff85ae;
}

.loginWithSocial {
  align-items: center;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  padding: 45px 0;
}

.faceBookBtn {
  align-items: center;
  background-color: #3B5998;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  padding: 10px 30px;
  width: 230px;
}

.faceBookBtn:hover, .faceBookBtn:focus, .faceBookBtn:active {
  background-color: #4d70bb;
  color: #fff;
  text-decoration: none;
}

.faceBookBtn i {
  font-size: 18px;
  padding-right: 7px;
}

.twitterBtn {
  align-items: center;
  background-color: #1DA1F2;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 30px;
  width: 230px;
}

.twitterBtn:hover, .twitterBtn:focus, .twitterBtn:active {
  background-color: #349cdc;
  color: #fff;
  text-decoration: none;
}

.twitterBtn i {
  font-size: 16px;
  padding-right: 7px;
}

/*** End Login ***/

/*** Start Change Password ***/

.changePassContainer {
  align-items: center;
  background: #5952a5;
  background: url(/images/forgot_bg.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.changePassContainer::before {
  background: rgba(89, 82, 165, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.changePassBox {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 570px;
  z-index: 2;
}

.changePassTitle {
  border-bottom: 1px solid #ebebeb;
  color: #222;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.emailAddressText {
  color: #666;
  font-size: 15px;
  padding: 10px 0 30px;
}

.changePassFormRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.changePassIcon i {
  color: #5952a5;
}

.dotIcon {
  background: #5952a5;
  border-radius: 3px;
  display: block;
  height: 6px;
  width: 6px;
}

.changePassInput {
  border-bottom: 2px solid #ccc;
  color: #999;
}

input.changePassInput::placeholder {
  color: #999;
  text-transform: uppercase;
}

.errorMessChangeInfo {
  bottom: -17px;
  color: #FF2D2D;
  font-size: 1.1rem;
  left: 0;
  padding-top: 3px;
  position: absolute;
}

/*** End Change Password ***/

/*** Start Donate ***/

.designTitle {
  color: #222;
  font-size: 28px;
}

.designTag {
  background: #DFEEFF;
  border: 1px solid #A7B7C9;
  border-radius: 4px;
  color: #666;
  font-size: 22px;
  padding: 2px 15px;
}

.thankResumeInfo {
  color: #222;
  font-size: 24px;
  line-height: 1.3;
  padding: 55px 15% 0;
}

.onlineResumeInfo {
  color: #222;
  font-size: 15px;
  padding: 45px 20% 0;
}

.donateImageInfo {
  padding: 10px 0;
}

.donateNominalInfo {
  color: #222;
  font-size: 22px;
  padding: 0 25% 35px;
}

.donateSupportInfo {
  color: #222;
  font-size: 17px;
  padding-bottom: 15px;
}

.donateFormInfo {
  display: inline-flex;
  margin: 20px 0 60px;
}

.donateFormRow {
  align-items: center;
  display: inline-flex;
  padding-right: 30px;
}

.donateFormText {
  color: #222;
  font-size: 17px;
  line-height: 1;
}

.radioBtn[type='checkbox'] {
  display: none;
}

.radioBtn[type='checkbox'] + label {
  border: 1px solid #ebebeb;
  border-radius: 500%;
  height: 20px;
  margin-bottom: 0;
  margin-right: 10px;
  position: relative;
  width: 20px;
}

.radioBtn[type='checkbox']:checked + label {
  border: 1px solid #F06292;
}

.radioBtn[type='checkbox']:checked + label::before {
  background: #F06292;
  border-radius: 500%;
  content: '';
  height: 14px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 14px;
}


.donateAmount {
  color: #222;
  font-size: 17px;
}

.donateAmount input {
  border: none;
  border-bottom: 1px solid #ebebeb;
  margin-left: 5px;
}

.donateBtnInfo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.donateBtn {
  align-items: center;
  background: #F06292;
  border-radius: 23px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  height: 46px;
  justify-content: center;
  padding: 0 25px;
  text-transform: uppercase;
}

.donateBtn img {
  padding-right: 15px
}

.donateBtn:hover, .donateBtn:focus {
  background-color: #EC4C83;
  color: #fff;
  text-decoration: none;
}

.donateRightInfo {
  color: #999;
  font-size: 13px;
  padding-bottom: 30px;
  padding-top: 15px;
}

/*** End Donate ***/


/***  Start Form ***/

.form-group {
  height: 70px;
  margin-bottom: 0;
  padding-top: 15px;
  position: relative;
}

.errorInfo {
  color: #FF2D2D;
  display: none;
  font-size: 1.1rem;
  padding-top: 3px;
}

.successInfo {
  color: green;
  display: none;
  font-size: 1.1rem;
  padding-top: 3px;
}

.successMsg {
  color: green;
  font-size: 1.4rem;
  padding-top: 3px;
}

.form-group label {
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
  left: 0;
  margin: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-control {
  -webkit-appearance: none;
  background: #F2F2F2;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  height: 32px;
  padding: 0;
}

.input-group-dropdown {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #5A4FCE;
  border-radius: 0;
  box-shadow: none;
  height: 32px;
  outline: none;
  padding: 0;
  width: 100%;
}

.form-group input:focus {
  border-bottom: 2px solid #5A4FCE;
}

.form-group input:visited {
  border-bottom: 2px solid #5A4FCE;
}

/*.form-group label, .form-group input {
  transition: all 0.2s;
  touch-action: manipulation;
}

  .form-group input:placeholder-shown + label {
      cursor: text;
      white-space: nowrap;
      overflow: hidden;
      transform-origin: left bottom;
      transform: translate(0, 2.7rem) scale(1.5);
  }

  .form-group input::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
  }

  .form-group input:focus::-webkit-input-placeholder {
      opacity: 1;
  }

  .form-group input:not(:placeholder-shown) + label,
  .form-group input:focus + label {
      transform: translate(0, 0) scale(1);
      cursor: pointer;
  }*/

/*** End Form ***/

.formPanel {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 2.5rem;
}

.formHeading {
  border-bottom: 1px solid #ccc;
  color: #222;
  font-size: 1.9rem;
  font-weight: 600;
  padding-bottom: 3px;
}

.formContact {
  padding: 25px 0 0;
}

.panel {
  border: 1px solid #ccc;
}

.panel-default {
  margin-bottom: 2.5rem !important;
}

.panel-default .panel-heading {
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 1.6rem;
  font-weight: 600;
}

.panel-default .panel-heading a {
  color: #666;
  text-decoration: none;
}

/*** Custom Checkbox ***/

.input[type='checkbox'] {
  display: none;
}

.input[type='checkbox'] + label {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
}

.input[type='checkbox'] + label.check {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  display: inline-flex;
  height: 18px;
  margin-right: 10px;
  position: relative;
  width: 18px;
}

.input[type='checkbox']:checked + label.check {
  border: 1px solid #F06292;
}

.input[type='checkbox']:checked + label.check::before {
  animation: checkAnimation 0.2s;
  border-bottom: 2px solid #F06292;
  border-left: 2px solid #F06292;
  content: '';
  height: 6px;
  left: 2px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  transform-origin: left top;
  width: 10px;
}

@keyframes checkAnimation {
  0% {
      height: 0;
      width: 0;
  }

  50% {
      height: 4px;
      width: 0;
  }

  100% {
      height: 4px;
      width: 8px;
  }
}

/***  Preview Side Menu  ***/

.previewContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 60px;
}

.previewTabInfo {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.previewTabList {
  background: #423B87;
  width: 22%;
}

.previewTabList .tabView {
  margin: 0;
  padding: 0;
}

.previewTabList .tabView li {
  cursor: pointer;
  padding: 12px 4%;
  text-align: center;
}

.previewTabList .tabView li:hover, .previewTabList .tabView li.active {
  background: #6B64C0;
}

.previewDataContainer {
  min-height: 550px;
  padding: 35px;
  text-align: center;
  width: 75%;
}

.actionBtn {
  padding-bottom: 10px;
  padding-top: 10px;
}

.tabIcon {
  color: #FFFFFF;
  font-size: 24px;
}

.tabTitle {
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  padding-top: 8px;
}

.previewTabAction {
  background: #6B64C0;
  padding: 15px;
  width: 78%;
}

.previewBGGraphic1 {
  background: url("/images/BG1.png");
  height: 10px;
  width: 30px;
}

.previewBGGraphic2 {
  background: url("/images/BG1.png");
  height: 10px;
  width: 30px;
}

.previewBGGraphic3 {
  background: url("/images/BG1.png");
  height: 10px;
  width: 30px;
}

.previewBGGraphic4 {
  background: url("/images/BG1.png");
  height: 10px;
  width: 30px;
}

/***  Edit section  ***/

.editSection {
  display: block;
}

.editLinkInfo {
  align-items: center;
  background: rgba(94, 88, 165, 0.5);
  border: 1px dashed rgba(190, 185, 233, 0.5);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 50px;
  margin-bottom: 8px;
  padding: 0 10px 0 15px;
}

.editLinkInfo .experLinkInfo {
  opacity: 0;
}

.editLinkInfo .experLinkInfo i {
  color: #ffffff;
}

.editLinkInfo:hover {
  background: rgba(94, 88, 165, 1);
  border: 1px dashed rgba(190, 185, 233, 1);
  cursor: move;
}

.editLinkInfo:first-child:hover {
  cursor: default;
}

.editLinkInfo:hover .experLinkInfo {
  opacity: 1;
}

.editLinkInfo i {
  font-size: 16px;
  padding: 0 6px;
}

.editLinkInfo .preview-btn {
  background: none;
  border: none;
  color: #ffffff;
}

.editLinkInfo .preview-btn:hover {
  color: #ffffff;
  text-decoration: none;
}


.editTitle {
  flex: 1;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 4px;
}

/***  Format section  ***/

.formatSection {
  display: none;
}

.tabHeading {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.changeTemplateBox {
  display: flex;
  flex-wrap: wrap;
  max-height: 90%;
  overflow-y: scroll;
}

.changeTemplateBox .item {
  width: 100%;
  margin-bottom: 20px;
}

.itemImageBox {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.itemName {
  font-size: 1.6rem;
  color: #FFFFFF;
  padding: 6px 0;
  text-align: center;
}

.formatRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

  .formatRow label {
      color: #FFFFFF;
      font-size: 1.2rem;
      font-weight: normal;
      padding-left: 7px;
  }

.selectInfo {
  border-bottom: 1px solid #BEB9E9;
  position: relative;
  z-index: 0;
}

.selectLabel {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 1.6rem;
  margin-bottom: 0;
  outline: none;
  padding: 0 7px 5px;
  width: 100%;
}

.selectLabel option {
  background: #5e58a5;
}

.selectInfo .arrow {
  border-bottom: 2px solid #BEB9E9;
  border-left: 2px solid #BEB9E9;
  height: 8px;
  position: absolute;
  right: 15px;
  top: 10px;
  transform: rotate(-45deg);
  width: 8px;
  z-index: -1;
}

.inputLabel {
  background: transparent;
  border: none;
  border-bottom: 1px solid #BEB9E9;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding: 3px 7px;
  width: 70px;
}

.colorLabel {
  width: 100px;
}


/***  Themes Section  ***/

.themesSection {
  display: none;
}

.themeRowInfo {
  align-items: center;
  background: rgba(94, 88, 165, 0.5);
  border: 1px dashed rgba(190, 185, 233, 0.5);
  border-radius: 4px;
  color: #ffffff;
  cursor: default;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 6px;
  padding: 15px;
}

.themeRowInfo:hover {
  background: rgba(94, 88, 165, 1);
  border: 1px dashed rgba(190, 185, 233, 1);
  cursor: default;
}

.themeTitle {
  color: #ffffff;
  flex: 1;
  font-size: 16px;
  line-height: 18px;
  padding-right: 20px;
}

.colorPicker {
  border: 1px solid #ebebeb;
  height: 40px;
  overflow: hidden;
  width: 104px;
}

.colorPicker ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.colorPicker li {
  height: 40px;
  list-style-type: none;
  min-width: 33%;
  flex: 1;
}

/***  Add New Section  ***/

.addSection {
  display: none;
}

.addSectionRow {
  align-items: center;
  border-bottom: 1px dashed #BEB9E9;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 6px;
}

.sectionTitle {
  flex: 1;
}

/***  Change Template Section  ***/

.changeTemplateSection {
  display: none;
  position: fixed;
  top: 60px;
  width: 90%;
  height: calc(100% - 60px);
  left: 10%;
  color: white;
  background: #6B64C0;
  padding: 16px;
  z-index: 999;
}

.overflowHidden {
  overflow: hidden;
}

.closeIcon {
  text-align: right;
}

/***  Tips Section  ***/

.tipsSection {
  display: none;
}



/*** Sell Page Start ***/

.selectPlanContainer
{
  width:100%;
}

.paymentPlanInfo {
  background: #fff;
}

.sucessfullInfo {
  padding: 30px 0 35px;
}

.congratInfo {
  color: #222;
  font-size: 42px;
}

.sellStepInfo {
  color: #222;
  font-size: 22px;
}

.oneTimeInfo {
  color: #F06292;
  font-size: 25px;
  font-weight: 300;
  padding-top: 20px;
}

.recurringInfo {
  color: #222;
  font-size: 18px;
}

.freeTemplateInfo {
  background: #EEEEEE;
  border: 1px solid #B5B5B5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 425px;
  padding: 30px 20px 20px;
}

.templateHeading {
  font-family: lato;
  font-size: 28px;
  padding-bottom: 10px;
}

.templatePrice {
  font-size: 52px;
  font-weight: 300;
}

.templateList {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  min-height: 130px;
  padding: 0 0 0 20px;
}

.templateList li {
  color: #222;
  font-size: 17px;
  line-height: 1.2;
  padding-bottom: 10px;
  text-align: left;
}

.templateButton {
  margin-top: 40px;
}

.continueBtn {
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
}

.bestSeller {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bestSeller i {
  color: #F06292;
  font-size: 42px;
}

.basicTemplateInfo {
  background: #D3CEA6;
  border: 1px solid #B5B5B5;
  border-radius: 8px;
  min-height: 425px;
  padding: 30px 20px 20px;
}

.standardTemplateInfo {
  background: #A6D3D1;
  border: 1px solid #B5B5B5;
  border-radius: 8px;
  min-height: 425px;
  padding: 30px 20px 20px;
  position: relative;
}

.premiumTemplateInfo {
  background: #B1D3A6;
  border: 1px solid #B5B5B5;
  border-radius: 8px;
  min-height: 425px;
  padding: 30px 20px 20px;
  position: relative;
}

.commonFeatureInfo {
  background: #555555;
  padding: 50px 0;
}

.featureHeading {
  color: #fff;
  font-family: lato;
  font-size: 42px;
}

.featureContainer {
  padding: 70px 0 50px;
}

.featureItem {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.featureItem i {
  color: #666;
  font-size: 56px;
  line-height: 100px;
}

.featureItem .iconTimes {
  font-size: 42px;
}

.featureItem .iconJob {
  font-size: 50px;
}

.featureItem .iconAccess {
  font-size: 34px;
}

.featureText {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 20px;
}

.featureNoteInfo {
  font-size: 13px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
}

.dreamJobInfo {
  background: linear-gradient(to right, #A7385F 0%, #EF86B4 55%, #EF86B4 55%, #EF86B4 100%);
  padding: 40px 0;
}

.dreamHeading {
  color: #ffffff;
  font-size: 34px;
  font-weight: 300;
  padding: 0 20%;
}

.jobContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.jobList {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 14.28%;
}

.jobUserInfo {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: center;
  overflow: hidden;
  width: 110px;
}

.jobUserInfo img {
  width: 90%;
}

.jobUserText {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
}

.currency {
  font-size: 25px;
  text-transform: uppercase;
  vertical-align: top;
}

/*** Sell Page End ***/

/*** Dashboard Page Start ***/

.dashboardContainer {
  background: #F2F2F2;
  padding: 45px 0;
}

.DashboardInput {
  display: flex;
  padding: 20px 0 10px;
}

.dashboardLabel {
  color: #222;
  font-size: 1.8rem;
  font-weight: 600;
  padding-right: 10px;
  width: 40%;
}

.dashboardSelect {
  width: 60%;
}

.dashboardSelect select {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #999;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.previewInfo {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
}

.previewTopLink {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.previewActionButtons {
  float: left;
  margin-top: 9px;
  width: 35%;
}

.previewActionButtons .default-btn {
  padding: 10px 6%;
}

.marginR10 {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.resumePreviewInfo {
  margin: 0 20px;
  position: relative;
}

.resumePreviewInfo:hover .previewAction, .resumePreviewInfo:hover .resumebackInfo {
  visibility: visible;
}

.resumeContainer {
  margin: 15px 0 10px;
  height: 570px;
  overflow: hidden;
  border: 1px solid #cccccc;
}

.resumeContainerBox {
  height: 570px;
  overflow: hidden;
}

.previewAction {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}

.resumebackInfo {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.resumeDetailInfo {
  color: #666;
  font-size: 13px;
  margin-left: 20px;
}

.resumeDetailText {
  color: #222;
  font-weight: 600;
  padding-left: 15px;
}

.newResumeInfo {
  padding: 50px;
}

.createResumeInfo {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.createResumeInfo i {
  color: #423B87;
  font-size: 150px;
}

.dashboardHeading {
  display: block;
  font-size: 1.8rem;
  padding: 20px 0 10px;
}

.linkNoDecoration {
  text-decoration: none !important;
}

/*** Dashboard Page End ***/

/*** Footer ***/

.footerCopyInfo {
  background: #423B87;
  border-bottom: 3px solid #F06292;
  color: #fff;
  font-size: 1.3rem;
  padding: 5px 0;
}

.footerCopyInfo a {
  color: #fff;
  font-size: 1.3rem;
  padding: 0 5px;
  text-decoration: none;
}

.footerCopyInfo a:hover, footerCopyInfo a:focus {
  color: #F06292;
}

@media (max-device-width: 480px) {
  .footerCopyInfo {
      text-align: center;
  }

  .footerCopyInfo .text-right {
      padding-top: 10px;
      text-align: center;
  }
}

@media (max-width: 767px) {
  .menuLink {
      display: block;
  }

  .navBar {
      display: none;
  }

  .sideMenu {
      display: none;
  }

  .formContainer {
      margin-left: 0;
      width: 100%;
  }

  .collapseMenu {
      display: block;
  }

  .loginInfo {
      display: none;
  }

  .footerLink li {
      text-align: center;
  }
}

.template-border {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 120%;
  position: relative;
  transform: scale(1);
  z-index: 1;
}

.template-overlay {
  background: transparent;
  cursor: pointer;
  opacity: 1;
  z-index: 100;
}


/* TODO:Commented the scaling part for now, needs better experience
  .select-template .template-border:hover {
  background: white;
  opacity: 1;
  transition: top 450ms ease-in-out 0s;
  transform: scale(1.4);
  z-index: 10;
}*/

.skinImage {
  padding-left: 10px;
  padding-right: 10px;
}

  .skinImage img {
      height: auto;
      width: auto;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

.carousel-arrow {
  opacity: 0;
}

.select-template .template-border:hover .select-btn {
  display: block;
  text-decoration: none;
}

.template-data iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.template-data {
  background: #ffffff;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.template-details {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.padding-top15 {
  padding-top: 15px;
}

.display-none {
  display: none;
}

.loading-widget {
  background: url(/images/loading.gif) center center no-repeat #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/*Journey Inner Section Layout*/

.innerSectionJourneyLayout {
  width: 100%;
  height: 100%;
}

.choose-template-class {
  width: 100%;
  height: 0;
  padding-bottom: 120%;
  overflow: hidden;
  position: relative;
  background: #fff;
}

.chooseTemplateTitle {
font-family: 'Lato';
color: #222;
font-size: 32px;
line-height: 1.3;
margin: 10px 0 20px;
padding: 5px 0 7px;
position: relative;
text-align: center;
}

.chooseTemplateTitle::after {
content: '';
width: 60px;
height: 4px;
background: #F06292;
bottom: 0;
left: 50%;
position: absolute;
transform: translateX(-50%);
}

.chooseTemplateBox {
width: 100%;
display: flex;
flex-wrap: wrap;
margin-bottom: 25px;
}

.templateItem {
width: 100%;
display: flex;
}

.skinItem {
width: 25%;
display: flex;
flex-direction: column;
padding: 20px 10px;
}

.skinItem a {
display: flex;
flex-direction: column;
position: relative;
background: #fff;
border: 1px solid #e5e5e5;
}
.skinItem a:hover {
text-decoration: none;
}

.choose-template-class img {
position: absolute;
top: 0;
left: 0;
height: auto;
width: auto;
max-width: 100%;
max-height: 100%;
}

.templateType {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  padding: 2px 6px;
  position: absolute;
  bottom: 60px;
  left: 0;
  height: 22px;
  background: #FC5455;
  text-transform: uppercase;
  white-space: nowrap;
}

.templateType:before{
  position: absolute;
  right: -11px;
  bottom: 0;
  width: 0;
  height: 0;
  content: "";
  border-right: 11px solid transparent;
  border-top: 11px solid #FC5455;
  border-bottom: 11px solid #FC5455;
}

.templateName {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  padding: 10px 14px 10px;
  border: 1px solid #e5e5e5;
}

.templateName .pagetype {
  font-size: 14px;
  color: #999999;
}

.adviceBoxInfo {
  margin-bottom: 20px;
}

.reviewInfo {
  background: #EFF5F9;
  color: #fff;
  padding: 60px 0 55px;
}

.reviewData {
  border-bottom: 2px solid #423B87;
  display: inline-block;
  padding-bottom: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.testimonialDataInfo {
  float: left;
  min-height: 205px;
  padding: 60px 0 0 40px;
  position: relative;
  text-align: left;
  width: 100%;
}
.quoteInfo {
  left: 10px;
  position: absolute;
  top: 30px;
}

.reviewText {
  color: #222;
  font-size: 18px;
  line-height: 22px;
  padding: 0 10px 10px;
}
