﻿@model IList<App.Model.Documents.WizardMenuDTO>

@if (Model.IsNotNullOrEmpty())
{
    <text>
        <div class="collapseMenu">
            <ul class="sideList">
                @foreach (var wizardMenu in Model)
                {
                    <text><li><a href="@wizardMenu.SectionUrl">@wizardMenu.SectionLabel</a></li></text>
                }
            </ul>
        </div>
        <div class="sideMenu">
            <ul class="sideList">
                @foreach (var wizardMenu in Model)
                {
                    <text>
                        <li>
                            <a href="@wizardMenu.SectionUrl">
                                <span class="listIcon">
                                    <i class="@wizardMenu.Icon"></i>
                                </span>
                                <span class="listTitle">@wizardMenu.SectionLabel</span>
                            </a>
                        </li>
                    </text>
                }
            </ul>
        </div>
    </text>
}