@model App.Model.Documents.WizardDTO
@{
    ViewBag.Title = "Resume | How It Works";
    TrackPageView(Pages.Template);

    if (Model != null && Model.DocumentCookieDTO != null && Model.DocumentId > 0)
    {
        AddJsonProp("SkinCD", Model.DocumentCookieDTO.SkinCode);
        AddJsonProp("UpdateDocumentAddress", Url.RouteUrl(AjaxRouteNames.UpdateDocument, new { docId = Model.DocumentId }));
    }
    else
    {
        AddJsonProp("SaveDocumentAddress", Url.RouteUrl(AjaxRouteNames.SaveDocument, new { docType = DocumentTypes.Resume }));
    }
}

<div class="chooseTemplateContainer">
    <div class="row">
        <div class="chooseTemplateTitle">@Resource.ChooseResumeTemplate</div>
        <div id="select-template" class="formContact">
            <div class="chooseTemplateBox">
                @if (SkinVM.ResumeSkins.IsNotNullOrEmpty())
                {
                    foreach (var skin in SkinVM.ResumeSkins)
                    {
                        <text>
                            <div class="skinItem">
                                <a href="" info-template="@skin.Code">
                                    <div class="choose-template-class">
                                        <img src="@skin.ImagePath">
                                    </div>
                                    <div class="templateType">@skin.SkinType</div>
                                    <div class="templatePageType">@skin.TemplatePageType</div>
                                    <div class="templateName">@skin.Name</div>
                                </a>
                            </div>
                        </text>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    @StaticResources.GetJS(BundleConstants.DocumentTemplateJs)
    @StaticResources.GetPrefetch(BundleConstants.UserDetailsJs)
}