﻿@model App.Model.Documents.WizardDTO
@{
    ViewBag.Title = "User Details";
    TrackPageView(Pages.Template);

    AddJsonProp("EmailPattern", RegexPatterns.Email);
    AddJsonProp("PhoneNumberPattern", RegexPatterns.PhoneNumber);
    AddJsonProp("ZipCodePattern", RegexPatterns.ZipCode);
}

<div class="mainDataContainer">
    @if (Model != null && Model.MenuRoutes.IsNotNullOrEmpty()) { Html.RenderPartial("~/Views/Resume/_WizardMenu.cshtml", Model.MenuRoutes); }
    <div class="formContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">CONTACT INFO</div>
                <div class="formContact" data-section="" data-name="@Model.SectionName" data-id="0" data-sort-index="@Model.SectionSortIndex">
                    <form data-sub-section="" data-id="0" data-sort-index="0">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" value="@(Model.LoadData ? string.Empty : User.GetDisplayName())" data-field="" data-name="@DocumentFieldTypes.Name" data-id="0" />
                                    <label for="name">@Resource.NameCaps</label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" value="@(Model.LoadData ? string.Empty : User.GetEmail())" data-field="" data-name="@DocumentFieldTypes.Email" data-id="0" />
                                    <label for="email">@Resource.OrderCancellationType_EMAL</label>
                                    <span id="errEmailValid" class="errorInfo">@Resource.EnterValidEmail</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" data-field="" data-name="@DocumentFieldTypes.CellPhone" data-id="0" />
                                    <label for="phone">@Resource.OrderCancellationType_PHON</label>
                                    <span id="errPhoneValidMsg" class="errorInfo">@Resource.ErrorPhoneMsg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="altPhone" data-field="" data-name="@DocumentFieldTypes.AlternatePhone" data-id="0" />
                                    <label for="altPhone">Alternate Phone</label>
                                    <span id="errAltPhoneValidMsg" class="errorInfo">@Resource.ErrorPhoneMsg</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" data-field="" data-name="@DocumentFieldTypes.Address" data-id="0" />
                                    <label for="address">@Resource.Address</label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="city" data-field="" data-name="@DocumentFieldTypes.City" data-id="0" >
                                    <label for="city">@Resource.CityCaps</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="state" data-field="" data-name="@DocumentFieldTypes.State" data-id="0" />
                                    <label for="state">@Resource.StateCaps</label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="zipCode" data-field="" data-name="@DocumentFieldTypes.ZipCode" data-id="0" />
                                    <label for="zipCode">@Resource.ZipCode</label>
                                    <span id="errZipCodeValid" class="errorInfo">@Resource.ErrorZipCodeMsg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row formButtonInfo">
                            <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                                <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                                <button id="btnProceed" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="title">Expert Advice</div>
                <div class="tipsContainer">
                    <ul class="tipsList fa-ul">
                        <li><i class="fa-li fa fa-check liColor"></i>Enter the correct mobile number & email where recruiters & employers can reach you.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Enter the current address to receive any correspondence from your prospective employer.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Enter the alternate phone number in case your primary phone is not reachable.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Use a professional email Id, avoid email id having weired verbs.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Employers, recruiters primarily user primary phone and email to reach out to the candidates.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.ResumeUserDetailsJS)
    @StaticResources.GetPrefetch(BundleConstants.JQueryUICss, BundleConstants.EditorCss, BundleConstants.EditorJs, BundleConstants.JQueryAutoCompleteExampleJs, BundleConstants.WorkDetailsJs)
}