@model App.Model.Documents.WizardDTO
@using Utilities.Localization

@{
    UpdateProgress(ProgressCode.Academics);
    ViewBag.Title = "Academics";

    var currentDate = DateTime.Now.Date;
    IDictionary<int, string> years = new Dictionary<int, string>();
    for (var i = DateTime.Now.Year; i >= 1960; i--)
    {
        years.Add(i, i.ToString());
    }
    IEnumerable<KeyValuePair<int, string>> monthList = Intl.GetShortMonths().AsEnumerable(),
        yearList = years.AsEnumerable();
    var degrees = Intl.GetDegrees();
    var loadExamplesUrl = Url.RouteUrl(AjaxRouteNames.GetEducationExamples);

    var editor = new TextEditorModel
    {
        EditorId = "academics",
        DocumentField = DocumentFieldTypes.Description,
        PlaceHolder = Resource.ExpDesTips + Resource.InsertPreWrittenExamplesBelow
    };

    AddJsonProp("EditorId", editor.EditorId);
    AddJsonProp("EditorPlaceholder", editor.PlaceHolder);
    AddJsonProp("LoadExamplesAddress", loadExamplesUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
    @StaticResources.GetCss(BundleConstants.EditorCss)
}
<div class="mainDataContainer" data-section="" data-name="@Model.SectionName" data-id="0" data-sort-index="@Model.SectionSortIndex">
    @if (Model != null && Model.MenuRoutes.IsNotNullOrEmpty()) { Html.RenderPartial("~/Views/Resume/_WizardMenu.cshtml", Model.MenuRoutes); }
    <div class="formContainer" data-sub-section="" data-id="0" data-sort-index="0">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">Academics</div>
                <div class="formContact">
                    <div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="school">@Resource.InstitutionName</label>
                                    <input type="text" class="form-control form-input" id="school" data-field="" data-name="@DocumentFieldTypes.InstitutionName" data-id="0" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="university">@Resource.University</label>
                                    <input type="text" class="form-control form-input" id="university" data-field="" data-name="@DocumentFieldTypes.University" data-id="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="degree">@Resource.Degree</label>
                                    <input type="text" class="form-control form-input" id="degree" data-field="" data-name="@DocumentFieldTypes.Degree" data-id="0" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="specialization">@Resource.Specialization</label>
                                    <input type="text" class="form-control form-input" id="specialization" data-field="" data-name="@DocumentFieldTypes.DegreeSpecialization" data-id="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="city">@Resource.CityCaps</label>
                                    <input type="text" class="form-control form-input" id="city" data-field="" data-name="@DocumentFieldTypes.City" data-id="0" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="state">@Resource.StateCaps</label>
                                    <input type="text" class="form-control form-input" id="state" data-field="" data-name="@DocumentFieldTypes.State" data-id="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="month">@Resource.Month</label>
                                    <select id="month" class="input-group-dropdown" data-field="" data-name="@DocumentFieldTypes.EndMonth" data-id="0">
                                        <option value="0">@Resource.Month</option>
                                        @foreach (var month in monthList)
                                        {
                                            <text>
                                                <option value="@month.Key">@month.Value</option>
                                            </text>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="year">@Resource.Year</label>
                                    <select id="year" class="input-group-dropdown" data-field="" data-name="@DocumentFieldTypes.EndYear" data-id="0">
                                        <option value="0">@Resource.Year</option>
                                        @foreach (var year in yearList)
                                        {
                                            <text>
                                                <option value="@year.Key">@year.Value</option>
                                            </text>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="cgpa">@Resource.CGPA</label>
                                    <input type="text" class="form-control form-input" id="cgpa" data-field="" data-name="@DocumentFieldTypes.CGPA" data-id="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="adviceBoxInfo">
                    @*TODO: Load tips from the database*@
                    <div class="title">Expert Advice</div>
                    <div class="tipsContainer">
                        <ul class="tipsList fa-ul">
                            <li><i class="fa-li fa fa-check liColor"></i>Start with your highest degree. You can always add more qualifications or rearrange them later on.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>In case, you don't have a good CGPA/Percentage, skip adding this information. If you have a good one, add them.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Avoid adding any certifications and trainings here, there is a separate section for it under 'More Sections'.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Avoid adding any course which is not relevant to the desired job profile.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                @Html.Partial("_TextEditor", editor)

                <div class="row formButtonInfo">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                        <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <button id="btnSaveAndNext" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="title">Examples</div>
                <div class="examplesContainer">
                    <ul id="exampleContainer" class="tipsList fa-ul" />
                    <p class="example-text">Loading Examples...</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryAutoCompleteExampleJs)
    @StaticResources.GetJS(BundleConstants.EditorJs)
    @StaticResources.GetJS(BundleConstants.ResumeAcademicDetailsJS)
}