@model App.Model.Documents.WizardDTO
@{
    UpdateProgress(ProgressCode.ExperienceDetails);
    ViewBag.Title = "ExperienceReview";

    AddJsonProp("SortText", Resource.Sort);
    AddJsonProp("EditText", Resource.Edit);
    AddJsonProp("DeleteText", Resource.Delete);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
}
<div class="mainDataContainer">
    @if (Model != null && Model.MenuRoutes.IsNotNullOrEmpty()) { Html.RenderPartial("~/Views/Resume/_WizardMenu.cshtml", Model.MenuRoutes); }
    <div class="formContainer">
        <div class="row">
            <div id="sortBoundary" class="col-xs-12 col-sm-8 col-md-8 col-lg-8" data-section="" data-name="@Model.SectionName" data-id="0">
                <div class="title">Experience</div>
                <div class="experienceInfo ui-sortable">
                    @for (int i = 0; i < Model.SubSectionCount; i++)
                    {
                        <text>
                            <div class="experienceSectionRow ui-sortable-handle" data-sub-section="" data-id="0" data-sort-index="" data-sort-item="">
                                <div class="experienceEditInfo">
                                    <span class="experLinkInfo" title="Sort"><i class="icon-Move"></i></span>
                                    <a class="experLinkInfo" title="Edit" href="" data-edit-url=""><i class="icon-Edit"></i></a>
                                    <span class="experLinkInfo" title="Delete" data-delete=""><i class="icon-Trash"></i></span>
                                </div>
                                <div class="experCompanyInfo">
                                    <span data-field="" data-name="@DocumentFieldTypes.CompanyName" data-id="0" data-text-field=""></span>&nbsp;
                                    <span class="experCitiInfo" data-field="" data-name="@CustomDocumentFieldTypes.Location" data-custom-field="" data-text-field=""></span>
                                </div>
                                <div class="experPositionInfo" data-field="" data-name="@DocumentFieldTypes.JobTitle" data-id="0" data-text-field=""></div>
                                <div class="experCompanyDetailInfo" data-field="" data-name="@DocumentFieldTypes.Description" data-id="0" data-html-field=""></div>
                            </div>
                        </text>
                    }
                </div>
                <div class="experienceAddSection">
                    <a href="" data-add-sub-section-url="">
                        <i class="icon-Add"></i> @Resource.AddAnotherPosition
                    </a>
                </div>
                <div class="row formButtonInfo">
                    <div class="col-md-12 text-center">
                        <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <a href="@Html.Raw(Model.NextRouteUrl)" class="default-btn marginRight">@Html.Raw(Resource.NextCaps)</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="title">Expert Advice</div>
                <div class="tipsContainer">
                    <ul class="tipsList fa-ul">
                        <li><i class="fa-li fa fa-check liColor"></i>List your work history in reverse chronological order, with your current or most recent job listed at the top.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Include start and end dates for each position.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Use strong action verbs ("led", "planned", "organized") to showcase your responsibilities and include numbers ("Increased sales by 50%") wherever possible.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Don't use personal pronouns like "I", "Me", or "My”.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section html {
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Delete</h4>
                </div>
                <div class="modal-body">
                    <p>@Resource.SureToDeleteExperience</p>
                    <p>@Resource.DeleteNotUndone</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-item" type="button" class="btn default-mid-btn">@Resource.Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryUISortableJs)
    @StaticResources.GetJS(BundleConstants.ResumeWorkReviewJS)
}