﻿@model App.Model.Documents.WizardDTO
@using Utilities.Localization;

@{
    UpdateProgress(ProgressCode.Experience);
    ViewBag.Title = "Experience";

    var currentDate = DateTime.Now.Date;
    IDictionary<int, string> years = new Dictionary<int, string>();
    for (var i = DateTime.Now.Year; i >= 1960; i--)
    {
        years.Add(i, i.ToString());
    }
    IEnumerable<KeyValuePair<int, string>> monthList = Intl.GetShortMonths().AsEnumerable(), yearList = years.AsEnumerable();
    var loadExamplesUrl = Url.RouteUrl(AjaxRouteNames.GetExamples, new { contentType = ContentType.Experience, fromSearch = false });
    var searchExamplesUrl = Url.RouteUrl(AjaxRouteNames.GetExamples, new { contentType = ContentType.Experience, fromSearch = true });
    var searchJobTitlesUrl = Url.RouteUrl(AjaxRouteNames.GetJobTitles);

    var editor = new TextEditorModel
    {
        EditorId = "experience",
        DocumentField = DocumentFieldTypes.Description,
        PlaceHolder = Resource.ExpDesTips + Resource.InsertPreWrittenExamplesBelow
    };

    AddJsonProp("EditorId", editor.EditorId);
    AddJsonProp("EditorPlaceholder", editor.PlaceHolder);
    AddJsonProp("LoadExamplesAddress", loadExamplesUrl);
    AddJsonProp("SearchJobTitlesAddress", searchJobTitlesUrl);
    AddJsonProp("SearchExamplesAddress", searchExamplesUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
    @StaticResources.GetCss(BundleConstants.EditorCss)
}
<div class="mainDataContainer" data-section="" data-name="@Model.SectionName" data-id="0" data-sort-index="@Model.SectionSortIndex">
    @if (Model != null && Model.MenuRoutes.IsNotNullOrEmpty()) { Html.RenderPartial("~/Views/Resume/_WizardMenu.cshtml", Model.MenuRoutes); }
    <div class="formContainer" data-sub-section="" data-id="0" data-sort-index="0">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="title">Work Experience/Internship</div>
                <div class="formContact">
                    <div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="employer">@Resource.Employer</label>
                                    <input type="text" class="form-control" id="employer" data-field="" data-name="@DocumentFieldTypes.CompanyName" data-id="0" />
                                    <span id="errProvideEmpMsg" class="errorInfo">@Resource.ProvideEmployerMsg</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="jobTitle">@Resource.JobTitle</label>
                                    <input type="text" class="form-control" id="jobTitle" data-field="" data-name="@DocumentFieldTypes.JobTitle" data-id="0" />
                                    <span id="errProvideJobTitleMsg" class="errorInfo">@Resource.ProvideJobTitleMsg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="city">@Resource.CityCaps</label>
                                    <input type="text" class="form-control" id="city" placeholder="" data-field="" data-name="@DocumentFieldTypes.City" data-id="0" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="state">@Resource.StateCaps</label>
                                    <input type="text" class="form-control" id="state" data-field="" data-name="@DocumentFieldTypes.State" data-id="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="startMonth">Start Month</label>
                                    <select id="startMonth" class="input-group-dropdown" data-field="" data-name="@DocumentFieldTypes.StartMonth" data-id="0">
                                        <option value="0">@Resource.Month</option>
                                        @foreach (var month in monthList)
                                        {
                                            <text>
                                                <option value="@month.Key">@month.Value</option>
                                            </text>
                                        }
                                    </select>
                                    <span id="errStartDateMsg" class="errorInfo">@Resource.ValidStartDate</span>
                                    <span id="errStartEndDateMsg" class="errorInfo">@Resource.StartDateEndDateMsg</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="startMonth">Start Year</label>
                                    <select id="startYear" class="input-group-dropdown" data-field="" data-name="@DocumentFieldTypes.StartYear" data-id="0">
                                        <option value="0">@Resource.Year</option>
                                        @foreach (var year in yearList)
                                        {
                                            <text>
                                                <option value="@year.Key">@year.Value</option>
                                            </text>
                                        }
                                    </select>
                                    <span id="errProvideJobTitleMsg" class="errorInfo">@Resource.ProvideJobTitleMsg</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="startYear">End Month</label>
                                    <select id="endMonth" class="input-group-dropdown" data-field="" data-name="@DocumentFieldTypes.EndMonth" data-id="0">
                                        <option value="0">@Resource.Month</option>
                                        @foreach (var month in monthList)
                                        {
                                            <text>
                                                <option value="@month.Key">@month.Value</option>
                                            </text>
                                        }
                                    </select>
                                    <span id="errEndDateMsg" class="errorInfo">@Resource.ValidEndDate</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label for="startMonth">End Year</label>
                                    <select id="endYear" class="input-group-dropdown" data-field="" data-name="@DocumentFieldTypes.EndYear" data-id="0">
                                        <option value="0">@Resource.Year</option>
                                        @foreach (var year in yearList)
                                        {
                                            <text>
                                                <option value="@year.Key">@year.Value</option>
                                            </text>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="adviceBoxInfo">
                    <div class="title">Expert Advice</div>
                    <div class="tipsContainer">
                        <ul class="tipsList fa-ul">
                            <li><i class="fa-li fa fa-check liColor"></i>Highlight your work with actionable keywords like Delivered, Improved etc.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Showcase significant achievements in the experience for ex. Saved $1 million revenue, Increased the sales by 40% etc.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Enter the accurate information about past experience, some employers verify.</li>
                            <li><i class="fa-li fa fa-check liColor"></i>Start with your most recent experience. You can add details or rearrange it later.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.Partial("_TextEditor", editor)

                <div class="row formButtonInfo">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 text-center">
                        <a href="@Html.Raw(Model.BackRouteUrl)" class="trans-btn marginRight">@Resource.Back</a>
                        <button id="btnSaveAndNext" type="button" class="default-btn marginRight">@Html.Raw(Resource.SaveAmpNext)</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="title">Examples</div>
                <div class="examplesContainer">
                    <input type="text" id="searchBox" class="text-default" placeholder="@Html.Raw(Resource.Placeholderexp_mf)" />
                    <button class="button-secondry search-icon" id="searchButton">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <ul id="exampleContainer" class="tipsList fa-ul" />
                    <p class="example-text">Loading Examples...</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryAutoCompleteExampleJs)
    @StaticResources.GetJS(BundleConstants.EditorJs)
    @StaticResources.GetJS(BundleConstants.ResumeWorkDetailsJS)
}