@model FinalizeVM
@{
    UpdateProgress(ProgressCode.Preview);
    ViewBag.Title = "Preview";
    ViewBag.SectionCss = "previewSection";
    ViewBag.HeaderCss = "fixedHeader";
    ViewBag.IsWizard = null;

    var dashboardUrl = Url.BuildUrl<DashboardController>(dash => dash.Home(), RouteNames.Dashboard);
    var getDocumentPreviewUrl = Url.RouteUrl(RouteNames.DocumentPreview, new { id = Model.DocumentId });
    var saveSectionUrl = Url.BuildUrl<ResumeController>(c => c.SaveSections(Model.DocumentId, null), AjaxRouteNames.SaveSections);
    var deleteSectionUrl = Url.BuildUrl<ResumeController>(c => c.DeleteSection(null), AjaxRouteNames.DeleteSection);
    var updateDocStyleUrl = Url.BuildUrl<SkinController>(skin => skin.UpdateDocStyles(Model.DocumentId, null), AjaxRouteNames.UpdateDocStyles);
    var updateSkinUrl = Url.BuildUrl<SkinController>(skin => skin.UpdateSkin(Model.DocumentId, null), AjaxRouteNames.UpdateSkin);
    var sortSectionsUrl = Url.BuildUrl<SkinController>(skin => skin.SortSections(Model.DocumentId, null), AjaxRouteNames.SortGroups);
    var downloadResumeUrl = Url.RouteUrl(AjaxRouteNames.DownloadDocument, new { documentId = Model.DocumentId, docType = FileTypeCD.PDF, userAction = UserNavigationAction.FinalizeDownload });
    var emailResumeUrl = Url.BuildUrl<SkinController>(d => d.EmailDocument(Model.DocumentId, null, UserNavigationAction.FinalizeEmail), AjaxRoutes.EmailDoc);
    var skinColorThemes = Services.Documents.DocumentService.Themes;
    var BG1Path = StaticResources.CDN_Path1 + "Images\\BG1.png";
    var BG2Path = StaticResources.CDN_Path1 + "Images\\Graphics\\BG2.png";
    var BG3Path = StaticResources.CDN_Path1 + "Images\\Graphics\\BG3.png";
    var BG4Path = StaticResources.CDN_Path1 + "Images\\Graphics\\BG4.png";
    var skinCD = Model.SkinCD;
    ViewBag.ShowPreviewButtons = true;

    AddJsonProp("DocumentId", Model.DocumentId);
    AddJsonProp("Template", skinCD);
    AddJsonProp("EmailPattern", RegexPatterns.Email);
    AddJsonProp("FormatOptionTheme", Styles.THEME);
    AddJsonProp("DashboardAddress", dashboardUrl);
    AddJsonProp("GetPreviewAddress", getDocumentPreviewUrl);
    AddJsonProp("UpdateFormatAddress", updateDocStyleUrl);
    AddJsonProp("UpdateTemplateAddress", updateSkinUrl);
    AddJsonProp("DeleteGroupAddress", deleteSectionUrl);
    AddJsonProp("SaveGroupAddress", saveSectionUrl);
    AddJsonProp("DownloadAddress", downloadResumeUrl);
    AddJsonProp("EmailAddress", emailResumeUrl);
    AddJsonProp("UserDetailsScreenCode", WizardConstants.Contact);
    AddJsonProp("SortGroupAddress", sortSectionsUrl);
}

@section styles {
    @StaticResources.GetCss(BundleConstants.JQueryUICss)
}
<div class="previewContainer">
    <div class="previewTabInfo">
        <div class="previewTabList">
            <ul class="tabView" id="tab-icons">
                <li class="active" data-action-tabs="edit">
                    <i class="icon-Edit tabIcon"></i>
                    <span class="tabTitle">Edit</span>
                </li>
                <li data-action-tabs="format">
                    <i class="icon-Format tabIcon"></i>
                    <span class="tabTitle">Format</span>
                </li>
                <li data-action-tabs="themes">
                    <i class="icon-Themes tabIcon"></i>
                    <span class="tabTitle">Themes</span>
                </li>
                <li data-action-tabs="add-section">
                    <i class="icon-Add tabIcon"></i>
                    <span class="tabTitle">Add Section</span>
                </li>
                <li data-action-tabs="change-template">
                    <i class="icon-ChangeTemplate tabIcon">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                    <span class="tabTitle">Change Template</span>
                </li>
                <li data-action-tabs="tips">
                    <i class="icon-Tips tabIcon"></i>
                    <span class="tabTitle">Tips</span>
                </li>
            </ul>
        </div>
        <div class="previewTabAction" id="tab-container">
            <div class="editSection" id="edit-container" data-action-tab-cont="edit">
                @if (Model.Sections != null)
                {
                    foreach (var sec in Model.Sections)
                    {
                        <text>
                            <div class="editLinkInfo" data-group-edit-id="@sec.SectionId" data-screen-cd="@sec.SectionCode" data-section-label="@sec.SectionDisplayValue" data-section-icon="@sec.Icon">
                                <span class="editTitle">@sec.SectionDisplayValue</span>
                                <a class="preview-btn" href="@sec.SectionURL" title="@Resource.Edit">
                                    <i class="icon-Edit"></i>
                                </a>
                                <button class="preview-btn" data-action="delete" data-group-id="@sec.SectionId" title="@Resource.Delete">
                                    <i class="icon-Trash"></i>
                                </button>
                            </div>
                        </text>
                    }
                }
            </div>
            <div class="formatSection" data-action-tab-cont="format" id="formattingContainer">
                <div class="tabHeading">Formatting Options</div>
                <div class="formatRow">
                    <label>Resume Font Family</label>
                    <div class="selectInfo">
                        <select class="selectLabel" id="fontFamily" data-style-cd="@Styles.FONTFACE">
                            <option value="">Select Font Family</option>
                            <option value="Arial">Arial</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="monospace">Monospace</option>
                            <option value="sans-serif">Sans-Serif</option>
                            <option value="Times New Roman">Times New Roman</option>
                        </select>
                        <span class="arrow"></span>
                    </div>
                </div>
                <div class="formatRow">
                    <label>Heading Font Family</label>
                    <div class="selectInfo">
                        <select class="selectLabel" id="headingFontFamily" data-style-cd="@Styles.FONTFAMILYH1">
                            <option value="">Select Heading Font Family</option>
                            <option value="Arial">Arial</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="monospace">Monospace</option>
                            <option value="sans-serif">Sans-Serif</option>
                            <option value="Times New Roman">Times New Roman</option>
                        </select>
                        <span class="arrow"></span>
                    </div>
                </div>
                <div class="formatRow">
                    <label>Font Size</label>
                    <div class="selectInfo">
                        <select class="selectLabel" id="fontSize" data-style-cd="@Styles.FONTSIZE">
                            <option value="">Select Font Size</option>
                            <option value="10px">Smaller</option>
                            <option value="11px">Small</option>
                            <option value="12px" selected="selected">Normal</option>
                            <option value="13px">Large</option>
                            <option value="14px">Larger</option>
                        </select>
                        <span class="arrow"></span>
                    </div>
                </div>
                @*<div class="formatRow">
                        <label>Margin</label>
                        <div class="selectInfo">
                            <select class="selectLabel" id="resumeMargin" data-style-cd="@Styles.SIDEMARGINS">
                                <option value="">Select Resume Margin</option>
                                <option value="0 5px">0.25 Inch</option>
                                <option value="0 10px">0.50 Inch</option>
                                <option value="0 15px">0.75 Inch</option>
                                <option value="0 20px" selected="selected">1.0 Inch</option>
                                <option value="0 25px">1.25 Inch</option>
                            </select>
                            <span class="arrow"></span>
                        </div>
                    </div>*@
                <div class="formatRow">
                    <label>Page Size</label>
                    <div class="selectInfo">
                        <select class="selectLabel" id="pageSize" data-style-cd="@Styles.PageSize">
                            <option value="">Select Page Size</option>
                            <option value="A4" selected="selected">A4</option>
                            <option value="Letter">Letter</option>
                        </select>
                        <span class="arrow"></span>
                    </div>
                </div>
                @*<div class="formatRow">
                        <label>Background</label>
                        <div class="selectInfo">
                            <select class="selectLabel" id="resumeBg" data-style-cd="@Styles.BACKGROUNDGRAPHIC">
                                <option value="">Select Resume Background</option>
                                <option value="" selected="selected">None</option>
                                <option value="BG1" class="previewBGGraphic1"></option>
                                <option value="BG2">
                                    <div class="previewBGGraphic2" />
                                </option>
                                <option value="BG3">
                                    <div class="previewBGGraphic3" />
                                </option>
                                <option value="BG4">
                                    <div class="previewBGGraphic4" />
                                </option>
                            </select>
                            <span class="arrow"></span>
                        </div>
                    </div>*@
            </div>
            <div class="themesSection" id="themeContainer" data-action-tab-cont="themes">
                <div class="tabHeading">Change Theme Color</div>

                @foreach (var skinColorTheme in skinColorThemes)
                {
                    foreach (var colorTheme in skinColorTheme.Value)
                    {
                        <text>
                            <div data-template-cd="@skinColorTheme.Key" data-theme-cd="@colorTheme.ThemeCD" class="display-none">
                                @if (colorTheme.ThemeCD != "Default")
                                {
                                    <div class="themeRowInfo">
                                        <div class="themeTitle">@colorTheme.ThemeCD</div>
                                        <div class="colorPicker">
                                            <ul>
                                                <li style="background-color: @colorTheme.DisplayColor1"></li>
                                                <li style="background-color: @colorTheme.DisplayColor2"></li>
                                                @*<li style="background-color: @colorTheme.DisplayColor3"></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="themeRowInfo">
                                        <div class="themeTitle" data-theme-cd="@ThemeCD.Default">Default Theme</div>
                                    </div>
                                }
                            </div>
                        </text>
                    }
                }
            </div>
            <div class="addSection" data-action-tab-cont="add-section" id="missing-groups">
                <div class="tabHeading">Add New Section</div>
                @if (Model.MissingSections != null)
                {
                    foreach (var missingSection in Model.MissingSections)
                    {
                        <text>
                            <div class="addSectionRow">
                                <span class="sectionTitle">@missingSection.SectionDisplayValue</span>
                                <input class="input" type="checkbox" value="@missingSection.SectionCode" id="options-@missingSection.SectionCode" name="add-group-options" />
                                <label class="check" for="options-@missingSection.SectionCode" />
                            </div>
                        </text>
                    }
                }
                <div class="padding-top15" id="btnAddSectionContainer">
                    <button id="btnAddSections" type="button" class="default-btn">
                        <span>@Html.Raw(Resource.AddSection)</span>
                    </button>
                </div>
            </div>
            <div id="changeTemplateContainer" class="changeTemplateSection display-none" data-action-tab-cont="change-template">
                <div id="closeIcon" class="closeIcon">
                    <i class="fa-close"></i>
                </div>
                <div class="tabHeading">Change Template</div>
                <div id="all-templates" class="changeTemplateBox">
                    @*@if (SkinVM.ResumeSkins.Any())
                        {
                            var i = 0;
                            foreach (var skin in SkinVM.ResumeSkins)
                            {
                                i++;
                                if (i % 3 == 1)
                                {
                                    <text>
                                        @Html.Raw("<div class=\"" + (i == 1 ? "item active" : "item") + "\">")
                                    </text>
                                }
                                <text>
                                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 skinImage" data-template-cd="@skin.Code">
                                        <div class="itemImageBox"><img src="@skin.ImagePath" /></div>
                                        <div class="itemName" info-template="@skin.Code">@skin.Name</div>
                                    </div>
                                </text>
                                if (i % 3 == 0)
                                {
                                    @Html.Raw("</div>")
                                }
                            }
                        }*@

                    <div class="chooseTemplateBox">
                        @if (SkinVM.ResumeSkins.IsNotNullOrEmpty())
                        {
                            foreach (var skin in SkinVM.ResumeSkins)
                            {
                                <text>
                                    <div class="skinItem" data-template-cd="@skin.Code">
                                        <a href="" info-template="@skin.Code">
                                            <div class="choose-template-class">
                                                <img src="@skin.ImagePath">
                                            </div>
                                            <div class="templateType">@skin.SkinType</div>
                                            <div class="templateName">@skin.Name <span class="pagetype">(@skin.TemplatePageType)</span></div>
                                        </a>
                                    </div>
                                </text>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="tipsSection" data-action-tab-cont="tips">
                <div class="tabHeading">Tips</div>
                <div class="tipsContainer">
                    <ul class="tipsList-preview fa-ul">
                        <li><i class="fa-li fa fa-check liColor"></i>Change the resume template directly on preview page to get the perfect personalised look.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Choose from a variety of color themes to give your resume a unique look & feel.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>You have the flexibility of changing font-family or font-size under format options.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>Feel free to edit or delete any section. You can also sort the sections by using drag & drop.</li>
                        <li><i class="fa-li fa fa-check liColor"></i>You can add any new/custom sections from the options available under Add-Section.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="previewDataContainer">
        <div id="resumeContainer" class="resumeBoxContainer">
            <iframe id="currentResume" class="iFrameBox" scrolling="no" frameborder="0" style="height:100%;width:892.5px;"></iframe>
        </div>
    </div>
</div>
<input type="hidden" id="hdnSaveGroups" />

@section html {
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Delete</h4>
                </div>
                <div class="modal-body">
                    <p>@Resource.SureToDeleteEntry</p>
                    <p>@Resource.DeleteNotUndone</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-group" type="button" class="btn default-mid-btn">@Resource.Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="email-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Email</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="recipient-address">Recipients:</label>
                            <input id="recipient-address" type="text" class="form-control" placeholder="Enter recipients email address separated by ," />
                            <span id="errEmailTo" class="errorInfo">Please enter valid recipient email address.</span>
                        </div>
                        <div class="form-group">
                            <label for="from-name">@Resource.From</label>
                            <input id="from-name" class="form-control" type="text" placeholder="Your name goes here" />
                            <span id="errFromName" class="errorInfo">Please enter from name.</span>
                        </div>
                        <div class="form-group">
                            <label for="email-subject">@Resource.SubjectCaps</label>
                            <input id="email-subject" class="form-control" type="text" placeholder="Resume Attached" />
                        </div>
                        <div class="form-group">
                            <label for="email-body">Email content goes here:</label>
                            <textarea class="form-control" id="email-body" placeholder="Write an impressive message to the sender"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-email-section" type="button" class="btn default-mid-btn">@Resource.Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @StaticResources.GetJS(BundleConstants.JQueryUISortableJs)
    @StaticResources.GetJS(BundleConstants.PreviewJs)
}
