﻿@{
    ViewBag.Title = "Resume | How It Works";
    TrackPageView(Pages.Journey);
}
<section class="mainSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="resumeJourneyInfo">The Resume Journey</div>
                <div class="resumeJobSearch">Follow these simple steps to give boost to your job search</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                <div class="resumeList">
                    <i class="icon-Template">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                    <div class="resumeHeading">Choose Template</div>
                    <div class="resumeText">Select the professionally designed template as per your choice. You've the flexbility to change it later.</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                <div class="resumeList">
                    <i class="icon-AddTemplate">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                    <div class="resumeHeading">Fill Out Resume</div>
                    <div class="resumeText">Update your resume with the pre-written examples specifically tailored for different job titles.</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                <div class="resumeList">
                    <i class="icon-Printer">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                    <div class="resumeHeading">Print/ Download/ Email</div>
                    <div class="resumeText">Print or download your resume. You can also email your resume to employers directly from our website.</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                <div class="resumeList">
                    <i class="icon-Boost">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <div class="resumeHeading">Boost Job Search</div>
                    <div class="resumeText">Give a kick start to your career by applying for the jobs, suggested automatically based on your profile.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
                <div class="resumeBtnInfo">
                    <a class="default-btn" href="@ViewBag.NextRouteUrl">@Resource.BuildResume</a>
                </div>
                <div class="resumeSafeInfo">Once you sign up, your resume would always be safe with us</div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    @StaticResources.GetPrefetch(BundleConstants.DocumentTemplateJs)
}