﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Forbidden</title>
</head>
<body>
<div>
    <h1>Forbidden</h1>
</div>
</body>
</html>