﻿@{
    ViewBag.Title = Resource.Error404;
    string dashboardURL = null;
    if (IsSignedIn)
    {
        dashboardURL = Html.BuildUrlFromExpression<DashboardController>(wiz => wiz.Home());
    }
    else
    {
        dashboardURL = "/";
    }
    var resumeJourneyURL = Html.BuildUrlFromExpression<WizardController>(wiz => wiz.HowItWorks());
}
<div class="content-wrapper" id="contentWrapper">
    <section class="errorContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
                    <div class="errorImageInfo">
                        <img src="../../images/404.png"/>
                    </div>
                    <div class="errorHeading">OOPS!!</div>
                    <div class="errorSubHeading">We couldn't find this page</div>
                    <div class="goButton">
                        <a href="@Html.Raw(dashboardURL)">Go to home</a>
                    </div>
                    <div class="goButton">
                        <a href="@Html.Raw(resumeJourneyURL)">Start Fresh Journey</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>