﻿@{
    string dashboardURL = null;
    if (IsSignedIn)
    {
        dashboardURL = Html.BuildUrlFromExpression<DashboardController>(wiz => wiz.Home());
    }
    else
    {
        dashboardURL = "/";
    }

    var resumeJourneyURL = Html.BuildUrlFromExpression<WizardController>(wiz => wiz.HowItWorks());
    var errorNotificationURL = Url.BuildUrl<ErrorController>(err => err.ServerError(), RouteNames.ServerError);
}

<div class="content-wrapper" id="contentWrapper">
    <form id="internalError" method="post" action="@errorNotificationURL">
        <div class="server-error">
            <section class="errorContainer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <div class="errorText">Something went wrong on our end. Sorry about that.</div>
                            <div class="errorSubText">Please be assured, we will fix it quickly.</div>
                            <div class="errorImageInfo">
                                <img src="../../images/500.png"/>
                            </div>
                            <div class="error-msg">
                                <h3>Please share error details to provide you a better experience.</h3>
                                <textarea class="errorBox" name="additionalDetails" placeholder="Please help us understand the issue in detail so that our team can work over it."></textarea>
                            </div>
                            <div class="goButton">
                                <a href="#" id="btnNotify" class="button-primary">@Resource.Notify</a>
                            </div>
                            <div class="goButton">
                                <a href="@Html.Raw(dashboardURL)">Go to home</a>
                            </div>
                            <div class="goButton">
                                <a href="@Html.Raw(resumeJourneyURL)">Start Fresh Journey</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>

@section scripts {
    <script>
        (function($) {
            $(function() {
                $("#btnNotify").on("click",
                    function(e) {
                        if (e && e.preventDefault) {
                            e.preventDefault();
                        }
                        $("#internalError").submit();
                        $("#errorMessage").hide();
                    });
            });
        })(jQuery);
    </script>
}