﻿@{
    ViewBag.Title = "ForgotPassword";
    var loginUrl = Html.BuildUrlFromExpression<UserController>(wiz => wiz.SignIn());
}

<div class="login-in forgot-password">
    <div class="content-wrapper">
        <h1 class="text-left">@Resource.ThankYou</h1>
        <p>@Resource.PasswordResetMsg</p>
        <div class="cta-container clearfix">
            <a href="@Html.Raw(loginUrl)" class="button-primary button-large">@Resource.NextCaps</a>
        </div>
    </div>
</div>