@model ForgetPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="login-in forgotContainer">
    <div class="content-wrapper">
        <div class="titleHeading">@Resource.ForgotPasswordMsg</div>
        <p>@Resource.PasswordSendingMsg</p>
        @using (Html.BeginForm())
        {
            <label id="LoginError" class="error-message display-block">@Model.ErrorMessage</label>
            <div class="input-group forgotInput">
                <div class="input-element">
                    <label>Email</label>
                    @Html.TextBoxFor(m => m.Email, new {maxlength = 150})
                </div>
            </div>
            <div class="cta-container clearfix">
                <input type="submit" id="forgotSubmit" class="button-primary button-large default-btn" value="@Resource.Submit"/>
            </div>
        }
    </div>
</div>


@section scripts {
    <script>
        (function($) {
            function validateEmail() {
                var username = $("#Email");
                username.removeClass("invalid");
                var contactEmail = username.val();
                if (contactEmail) {
                    var emailRegex = new RegExp("@RegexPatterns.Email");
                    if (!emailRegex.test(contactEmail)) {
                        username.addClass("invalid");
                        return false;
                    }
                } else {
                    username.addClass("invalid");
                    return false;
                }
                return true;
            }

            $(function() {

                $("#forgotSubmit").on("click",
                    function() {
                        var isValid = true;
                        if (!validateEmail()) {
                            isValid = false;
                        }
                        return isValid;
                    });

                $("#Email").on("blur", function() { validateEmail(); });
            });
        })(jQuery);
    </script>
}