﻿<div class="login-in">
    <div class="content-wrapper">
        <div class="title">
            <h1>@Html.Raw(string.Format(Resource.LogoutMsg_Mobile, "<br/>"))</h1>
        </div>
        <form>
            <div class="input-group">
                <div class="input-element">
                    <i class="fa fa-times error" aria-hidden="true"></i>
                    <label>@Resource.EmailAddress</label>
                    <input type="text" class="invalid" maxlength="150">
                </div>
            </div>
            <div class="input-group">
                <div class="input-element">
                    <label style="display: inline-block;">@Resource.Password</label>
                    <a href="" class="back-cta">@Resource.ForgotPasswordCaps</a>
                    <input type="password" maxlength="100" autocomplete="off">
                </div>
            </div>

            <div class="log-in">
                <input type="checkbox" id="login" class="myCheckbox" checked>
                <label for="login">@Resource.LoggedInMsg_Mobile</label>
                @*<span>@Resource.LoggedInMsg_Mobile</span>*@
            </div>


            <div class="cta-container clearfix">
                <a href="#" class="button-primary button-large">@Resource.Continue</a>
                <a href="#" class="back-cta">@Resource.SignUp</a>
            </div>
        </form>
    </div>
</div>