﻿@model UserDetail
@{
    ViewBag.Title = "ChangePassword";
}

<div class="login-in change-password">
    <div class="content-wrapper">
        <h1 class="text-left">@Resource.Changyourpassword_Mobile</h1>
        @using (Html.BeginForm())
        {
            <label class="error-message display-block">@Model.ErrorMessage</label>
            <span id="resetPwdError" class="error-message">@Resource.DifferentPasswordMsg</span>
            <div class="input-group">
                <div class="input-element">

                    <label>@Resource.NewPasswordMsg</label>
                    @Html.PasswordFor(m => m.NewPassword)
                    @*<input type="text" class="invalid" maxlength="150">*@
                </div>
            </div>
            <div class="input-group">
                <div class="input-element">
                    <label style="display: inline-block;">@Resource.ConfirmPasswordMsg</label>
                    @Html.PasswordFor(m => m.Password)
                    @*<input type="text" maxlength="100" autocomplete="off">*@
                </div>
            </div>
            <div class="cta-container clearfix">
                @*<a href="#" class="button-primary button-large">@Resource.Update</a>*@

                <input id="resetPwd" type="submit" class="button-primary button-large" value="@Resource.Update"/>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        (function($) {


            function validatePwd(password) {
                password.removeClass("invalid");
                var pwd = $.trim(password.val());
                if (!pwd) {
                    password.addClass("invalid");
                    return false;
                }
                return true;
            }

            function cmparePwd(password, newpassword) {
                $("#resetPwdError").hide();
                var pwd = $.trim(password.val());
                var npwd = $.trim(newpassword.val());

                if (pwd != npwd && (pwd.length > 0 || npwd.length > 0)) {
                    $("#resetPwdError").show();
                    return false;
                }
                return true;
            }

            $(function() {
                $("#NewPassword").on("blur", function() { validatePwd($(this)); });
                $("#Password").on("blur", function() { validatePwd($(this)); });
                $("#resetPwd").on("click",
                    function() {
                        var isValid = true;
                        if (!validatePwd($("#NewPassword"))) {
                            isValid = false;
                        }
                        if (!validatePwd($("#Password"))) {
                            isValid = false;
                        }
                        if (!cmparePwd($("#Password"), $("#NewPassword"))) {
                            isValid = false;
                        }
                        return isValid;
                    });
            });
        })(jQuery);
    </script>
}