@model AccountSettingsModel
@{
    ViewBag.Title = "Account Settings";
    var updatePasswordUrl = Url.BuildUrl<UserController>(u => u.UpdatePassword(null), AjaxRouteNames.UpdatePassword);
    var saveNotificationUrl = Url.BuildUrl<UserController>(u => u.SaveSettings(null), AjaxRouteNames.SaveSettings);
    var index = 1;
}

<div class="container">
    <div class="row settingContainer">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
            <div class="settingHeading">Account Settings</div>
            <div class="accountInfo">
                <div class="profileImage">
                    <img src="~/images/review.jpg"/>
                </div>
                <div class="profileDetail">
                    <div class="profileName">
                        @Model.Name<span class="editProfile">
                            <i class="icon-Edit"></i>
                        </span>
                    </div>
                    <div class="profileEmail">@Model.EmailAddress</div>
                    <div class="profileMobile">@Model.AccountId</div>
                </div>
            </div>
            <div class="row accountTypeInfo">
                <div class="col-md-3 col-sm-3 col-xs-5">
                    <div class="labelName">Member Since</div>
                    <div class="labelDetail">@Model.MemberSince</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-5">
                    <div class="labelName">Account Type</div>
                    <div class="labelDetail">
                        @if (Model.Subscriptions == null || Model.Subscriptions.Count == 0)
                        {
                            <div class="accountTypeName"><i class="icon-Star"></i>Basic</div>
                        }
                    </div>
                </div>
            </div>
            <div class="row notificationInfo">
                <div class="col-md-12 col-sm-12 col-xs-12" id="notifications">
                    <div class="labelName">Notifications</div>
                    <div class="inputRow">
                        <input class="input" id="emails" type="checkbox" name="settings" data-notification="@UserNotificationConstants.Emails" @(Model.EmailsSubscribed ? "checked" : string.Empty)>
                        <label for="emails" class="check"></label>
                        <span class="checkInput">Get free updates on our products and services by email.</span>
                    </div>
                    <div class="inputRow">
                        <input class="input" id="jobs" type="checkbox" name="settings" data-notification="@UserNotificationConstants.Jobs" @(Model.JobsSubscribed ? "checked" : string.Empty)>
                        <label for="jobs" class="check"></label>
                        <span class="checkInput">Get free Job alerts matching your resume.</span>
                    </div>
                    <div class="inputRow">
                        <span id="updateNotificationSuccess" class="successInfo">@Resource.PreferencesUpdatedSuccessMsg</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a class="default-btn" id="btnUpdateNotifications">@Resource.UpdateNotifications</a>
                </div>
            </div>
            @if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
            {
                <div class="row boxSpace paymentSectionInfo">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="boxContainerInfo">
                            <div class="labelName">Payment Details</div>
                            <div class="gridInfo">
                                <div class="gridRow">
                                    <div class="gridColum">Sr. No.</div>
                                    <div class="gridColum">Plan Name</div>
                                    <div class="gridColum">Purchase Date</div>
                                    <div class="gridColum">Plan Start Date</div>
                                    <div class="gridColum">Plan End Date</div>
                                </div>
                                @foreach (var subscription in Model.Subscriptions)
                                {
                                    <text>
                                        <div class="gridRow">
                                            <div class="gridColum">@index</div>
                                            <div class="gridColum">@subscription.PlanTypeID</div>
                                            <div class="gridColum">@subscription.CreationDate</div>
                                            <div class="gridColum">@subscription.StartDate</div>
                                            <div class="gridColum">@subscription.ExpireDate</div>
                                        </div>
                                    </text>
                                    index++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row boxSpace paymentSectionInfo">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="boxContainerInfo">
                        <div class="labelName">Change Password</div>
                        <div class="row changePasswordInfo">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group chanPasswordRow">
                                    <input type="password" class="form-control" id="currentPassword" placeholder="New Password">
                                    <label for="currentPassword">@Resource.CurrentPassword</label>
                                    <span id="errCurrentPassword" class="errorInfo">@Resource.EnterCurrentPassword</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group chanPasswordRow">
                                    <input type="password" class="form-control" id="password" placeholder="New Password">
                                    <label for="password">@Resource.NewPasswordMsg</label>
                                    <span id="errEnterPassword" class="errorInfo">@Resource.EnterPassword</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group chanPasswordRow">
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                                    <label for="confirmPassword">@Resource.ConfirmPasswordMsg</label>
                                    <span id="errConfirmPassword" class="errorInfo">@Resource.EnterConfirmPassword</span>
                                    <span id="errSamePassword" class="errorInfo">@Resource.DifferentPasswordMsg</span>
                                    <span id="errServerError" class="errorInfo"></span>
                                    <span id="updatePasswordSuccess" class="successInfo">@Resource.PasswordChangeMsg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row boxSpace passwordButtonInfo">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a class="default-btn" id="btnUpdatePassword">@Resource.ChangePassword</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row settingButtonInfo" style="display: none;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a class="marginRight">Delete Account</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</div>

@section scripts {
    <script>
        (function($, Builder) {
            function validate() {
                $("#errCurrentPassword").hide();
                $("#errEnterPassword").hide();
                $("#errConfirmPassword").hide();
                $("#errSamePassword").hide();

                var currpwd = $("#currentPassword").val();
                var pwd = $("#password").val();
                var confpwd = $("#confirmPassword").val();

                if (!currpwd || !pwd || !confpwd) {
                    if (!currpwd) {
                        $("#errCurrentPassword").show();
                    }
                    if (!pwd) {
                        $("#errEnterPassword").show();
                    }
                    if (!confpwd) {
                        $("#errConfirmPassword").show();
                    }
                    return false;
                }

                if (pwd != confpwd) {
                    $("#errSamePassword").show();
                    return false;
                }

                return true;
            }

            $("#btnUpdatePassword").on("click",
                function(e) {
                    if (e && e.preventDefault) {
                        e.preventDefault();
                    }
                    if (validate()) {
                        $("#updatePasswordSuccess").hide();
                        $("#errServerError").hide();
                        Builder.Http
                            .Post({
                                url: "@Html.Raw(updatePasswordUrl)",
                                data: {
                                    "password": $("#currentPassword").val(),
                                    "newpassword": $("#confirmPassword").val()
                                }
                            }).then(function(data) {
                                if (data === true) {
                                    $("#currentPassword").val("");
                                    $("#password").val("");
                                    $("#confirmPassword").val("");
                                    $("#updatePasswordSuccess").show();
                                } else if (data) {
                                    $("#errServerError").text(data).show();
                                }
                                $("#updateNotificationSuccess").hide();
                            });
                    }
                });
            $("#btnUpdateNotifications").on("click",
                function() {
                    var arr = [];
                    $("#notifications [data-notification]").each(function() {
                        var $this = $(this);
                        arr.push({
                            "notificationId": $this.attr("data-notification"),
                            "value": ($this.prop("checked") ? 1 : 0)
                        });
                    });
                    Builder.Http.Post({ url: "@Html.Raw(saveNotificationUrl)", data: arr }).then(function(data) {
                        if (data === true) {
                            $("#updateNotificationSuccess").show();
                        }
                        $(
                                "#updatePasswordSuccess,#errServerError,#errConfirmPassword,#errSamePassword,#errCurrentPassword,#errEnterPassword")
                            .hide();
                    });
                });
        })(jQuery, Builder);
    </script>
}