@model SignInModel
@{
    ViewBag.IsClickable = true;
    var forgotPasswordUrl = Url.BuildUrl<UserController>(wiz => wiz.ForgotPassword(), RouteNames.UserForgotPassword);
    var signUpUrl = Url.BuildUrl<WizardController>(wiz => wiz.Register(), RouteNames.Register);
}

@*<div class="login-in" style="display:none;">
    <div class="content-wrapper">
        <div class="title">
            <h1>@Html.Raw(Model.Heading)</h1>
            <h1>@Html.Raw(Model.SubHeading)</h1>
        </div>
        @using (Html.BeginForm())
        {
            <label id="LoginError" class="error-message display-block">@Model.ErrorMessage</label>
            <div class="input-group">
                <div class="input-element">
                    <label>@Resource.EmailAddress</label>
                    @Html.TextBoxFor(m => m.UserName, new { @maxlength = 150 })
                    <span id="errEmailReqMsg" class="error-message">@Resource.EnterEMailMsg</span>
                    <span id="errEmailValidMsg" class="error-message">@Resource.EnterValidEmail</span>
                </div>
            </div>
            <div class="input-group">
                <div class="input-element">
                    <label style="display:inline-block;">@Resource.Password</label>
                    <a href="@Html.Raw(forgotPasswordUrl)" class="back-cta">@Resource.ForgotPasswordCaps</a>
                    @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @maxlength = 100 })
                    <span id="errPwdReq" class="error-message">@Resource.PwdRequired</span>
                </div>
            </div>

            <div class="log-in">
                <input type="checkbox" id="login" class="myCheckbox" checked>
                <label for="login">@Resource.LoggedInMsg</label>
            </div>
            <div class="cta-container clearfix">
                <input type="submit" id="loginSubmit" value="@Resource.Continue" class="button-primary button-large" />
                <a href="@Html.Raw(signUpUrl)" class="back-cta">@Resource.SignUp</a>
            </div>
        }
    </div>
</div>*@

<div class="signinFormInfo">
    <div class="signinData">
        <div class="signinDetails">
            <div class="signinHeading">
                @Html.Raw(Model.Heading)
            </div>
            <div class="signinformContact">
                @using (Html.BeginForm())
                {
                    <div class="signinRow">
                        <div class="signinIconInfo">
                            <i class="icon-User"></i>
                        </div>
                        <div class="signinLabelInfo">
                            <label class="signinLabel">@Resource.EmailAddress</label>
                            <input type="text" placeholder="@Resource.EmailAddress" class="signinInput" id="UserName" name="UserName" maxlength="150"/>
                            <span id="errEmailReqMsg" class="error-message">@Resource.EnterEMailMsg</span>
                            <span id="errEmailValidMsg" class="error-message">@Resource.EnterValidEmail</span>
                        </div>
                    </div>
                    <div class="signinRow passwordRow">
                        <div class="signinIconInfo">
                            <i class="icon-User"></i>
                        </div>
                        <div class="signinLabelInfo">
                            <label class="signinLabel" style="display: inline-block;">@Resource.Password</label>
                            <input type="password" class="signinInput" id="Password" name="Password" maxlength="100" autocomplete="off"/>
                            @*<input type="password" maxlength="100" autocomplete="off" id="password">*@
                            <span id="errPwdReq" class="error-message">@Resource.PwdRequired</span>
                        </div>
                    </div>
                    <div class="signinRow">
                        @Html.CheckBoxFor(m => m.RememberMe, new {id = "rememberMe", @class = "myCheckbox"})
                        <label class="rememberInfo" for="rememberMe">@Resource.LoggedInMsg</label>
                        <label class="error-message display-block">@Model.ErrorMessage</label>
                        <a href="@Html.Raw(forgotPasswordUrl)" class="back-cta pull-right forgotTextInfo">@Resource.ForgotPasswordCaps</a>

                    </div>
                    <div class="signinRow signButtonInfo">
                        <button id="loginSubmit" type="submit" class="btn default-btn signinButton">
                            <span>@Resource.Continue</span>
                            <i class="ion-chevron-right"></i>
                        </button>
                        <a href="@Html.Raw(signUpUrl)" class="btn white-btn">@Resource.SignUp</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        (function($) {
            function validateEmail() {
                var username = $("#UserName");
                $("#errEmailReqMsg,#errEmailValidMsg").hide();
                username.removeClass("invalid");
                var contactEmail = username.val();
                if (contactEmail) {
                    var emailRegex = new RegExp("@RegexPatterns.Email");
                    if (!emailRegex.test(contactEmail)) {
                        $("#errEmailValidMsg").show();
                        username.addClass("invalid");
                        return false;
                    }
                } else {
                    $("#errEmailReqMsg").show();
                    username.addClass("invalid");
                    return false;
                }
                return true;
            }

            function validatePwd() {
                var password = $("#Password");
                password.removeClass("invalid");
                $("#errPwdReq").hide();
                var pwd = $.trim(password.val());
                if (!pwd) {
                    $("#errPwdReq").show();
                    password.addClass("invalid");
                    return false;
                }

                return true;
            }

            $(function() {

                $("#loginSubmit").on("click",
                    function() {
                        var isValid = true;
                        if (!validateEmail()) {
                            isValid = false;
                        }
                        if (!validatePwd()) {
                            isValid = false;
                        }
                        return isValid;
                    });

                $("#UserName").on("blur",
                    function() {
                        validateEmail();
                    });
                $("#Password").on("blur", function() { validatePwd(); });
            });
        })(jQuery);
    </script>
}