﻿.editor-body p { margin: 0; }

.editor-body ul, ol { margin-bottom: 0px; }

.editor-body ul li { list-style: disc; }

.editor-body ol li { list-style: decimal; }

.editor-body .spellchecker-word-highlight {
    color: red;
    cursor: pointer;
}

.spellchecker-suggestbox {
    background: #fff;
    border: 1px solid #bbb;
    box-shadow: 0 0 4px #aaa;
    display: none;
    font: normal 13px arial;
    overflow: none;
    position: absolute;
    z-index: 9999;
}

.spellchecker-suggestbox .loading {
    font-style: italic;
    padding: 3px 6px;
}

.spellchecker-suggestbox a {
    color: #333;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 3px 6px;
    text-decoration: none;
}

.spellchecker-suggestbox a:hover {
    background: #ddd;
    color: #000;
}

.spellchecker-suggestbox .footer { border-top: 1px solid #ddd; }

.spellchecker-suggestbox .footer .ignore-all,
.spellchecker-suggestbox .footer .ignore-forever { display: none; }

.spellchecker-word-highlight {
    border-bottom: 1px dotted red;
    color: red;
    cursor: pointer;
}

.spellchecker-incorrectwords { display: none; }

.spellchecker-incorrectwords a {
    display: inline-block;
    margin-right: .5em;
}

.trumbowyg-spellcheck-button svg { width: 52px; }