﻿@model App.Model.Users.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="formContainerInfo">
    <div class="registerFrom">
        <div class="formTitle">@Resource.ChangePassword</div>
        @if (Convert.ToBoolean(ViewBag.IsSuccess))
        {
            <text>
                <div class="successMsg">
                    @Resource.PasswordChangeMsg
                </div>
            </text>
        }
        <div class="formContact">
            <form method="post" action="@Request.Url.PathAndQuery">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="username">@Resource.Password</label>
                            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control form-input" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="password">@Resource.NewPasswordMsg</label>
                            @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control form-input" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="password">@Resource.ConfirmPasswordMsg</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control form-input" })
                        </div>
                    </div>
                </div>
                <div class="error-message">
                    @Html.ValidationSummary()
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <span class="error-message">@ViewBag.ErrorMessage</span>
                        <button type="submit" class="btn default-btn">
                            <span>@Resource.Submit</span>
                            <i class="ion-chevron-right"></i>
                        </button>
                        <a href="@Html.Raw(Url.RouteUrl(RouteNames.AccountProfileSettings))" class="btn">@Resource.Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>