﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="formContainerInfo">
    <div class="registerFrom">
        <div class="formTitle" id="heading">
            <span id="signUpHeading">@Resource.PasswordResetMsg</span>
        </div>
    </div>
</div>