﻿@{
    ViewBag.Title = "ForgotPassword";
}

<div class="formContainerInfo">
    <div class="registerFrom">
        <div class="formTitle" id="heading">
            <span id="signUpHeading">@Resource.ForgotPasswordCaps</span>
        </div>
        <div class="formContact">
            <form method="post" action="@Request.Url.PathAndQuery">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="username">@Resource.Email</label>
                            @Html.TextBox("username", null, htmlAttributes: new { @class = "form-control form-input" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <span class="error-message">@ViewBag.ErrorMessage</span>
                        <button id="btnRegister" type="submit" class="btn default-btn">
                            <span id="signUpText">@Html.Raw(Resource.Submit)</span>
                            <i class="ion-chevron-right"></i>
                        </button>
                        @Html.AntiForgeryToken()
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>