﻿@model App.Model.Users.LoginModel
@{
    ViewBag.Title = "Sign In";
    AddJsonProp("EmailPattern", RegexPatterns.Email);
}

<div class="formContainerInfo">
    <div class="registerFrom">
        <div class="formTitle" id="heading">@Html.Raw(ViewBag.Heading)</div>
        <div class="formContact">
            <form method="post" action="@Request.Url.PathAndQuery">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="username">@Resource.Email</label>
                            @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control form-input", id = "UserName" })
                            <span id="errEmailReqMsg" class="error-message display-none">@Resource.EnterEMailMsg</span>
                            <span id="errEmailValidMsg" class="error-message display-none">@Resource.EnterValidEmail</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="password">@Resource.Password</label>
                            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control form-input", id = "Password" })
                            <span id="errPwdReq" class="error-message display-none">@Resource.PwdRequired</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <span class="error-message">@ViewBag.ErrorMessage</span>
                        <div class="registerFormGroup">
                            @Html.CheckBoxFor(m => m.RememberMe, new { id = "rememberMe", @class = "myCheckbox" })
                            <label class="registerAccount" for="rememberMe">@Resource.LoggedInMsg</label>
                            <a href="@Html.Raw(Url.RouteUrl(RouteNames.AccountForgotPassword))" class="back-cta pull-right registerForgotText">@Resource.ForgotPasswordCaps</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <button id="btnRegister" type="submit" class="btn default-btn">
                            <span>@Html.Raw(Resource.SignIn)</span>
                            <i class="ion-chevron-right"></i>
                        </button>
                        <a href="@Html.Raw(Url.RouteUrl(RouteNames.AccountRegister, Request.QueryString.ToRouteValues()))" class="btn">@Resource.SignUp</a>
                        @Html.AntiForgeryToken()
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @StaticResources.GetJS(BundleConstants.LoginJs)
}