@model App.Model.Users.RegisterModel
@{
    ViewBag.Title = "Sign Up";
    ViewBag.HideSideMenu = true;
    AddJsonProp("UserNameExistsAddress", Url.RouteUrl(AjaxRouteNames.UserNameExists));
    AddJsonProp("EmailRegexPattern", RegexPatterns.Email);
    

    string signInCssClass = null, signUpCssClass = null;
    if (string.Equals(Request.HttpMethod, "get", StringComparison.OrdinalIgnoreCase))
    {
        signInCssClass = "display-none";
    }
    else if (string.Equals(Request.HttpMethod, "get", StringComparison.OrdinalIgnoreCase))
    {
        signUpCssClass = "display-none";
    }
}

<div class="formContainerInfo">
    <div class="registerFrom">
        <div class="formTitle" id="heading">
            <span id="signUpHeading @signUpCssClass">@Resource.CreateAnAccount</span>
            <span id="signInHeading @signInCssClass">@Resource.WelcomeBackMsg</span>
        </div>
        <div class="formContact">
            <form method="post" action="@Request.Url.PathAndQuery">
                <div class="row @signUpCssClass" id="nameRow">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="username">@Resource.NameCaps</label>
                            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control form-input", id = "name" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="username">@Resource.Email</label>
                            @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control form-input", id = "username" })
                            <span id="userAlreadyExists" class="info display-none">@Resource.UserNameExistsSignIn</span>
                            <span id="errEmailReqMsg" class="error-message display-none">@Resource.EnterEMailMsg</span>
                            <span id="errEmailValidMsg" class="error-message display-none">@Resource.EnterValidEmail</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="form-group registerFormGroup">
                            <label for="password">@Resource.Password</label>
                            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control form-input", id = "password" })
                            <span id="errPwdReq" class="error-message display-none">@Resource.PwdRequired</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <span id="registrationError" class="error-message"></span>
                        <div class="registerFormGroup">
                            <input type="checkbox" class="myCheckbox" id="alreadyHaveAnAccount" />
                            <label class="registerAccount" for="alreadyHaveAnAccount">@Resource.LogInIfAccountIsAlreadyThere</label>
                            <a id="lnkForgotPassword" href="@Html.Raw(Url.RouteUrl(RouteNames.AccountForgotPassword))" class="back-cta pull-right registerForgotText @signUpCssClass">@Resource.ForgotPasswordCaps</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <button id="btnRegister" type="submit" class="btn default-btn">
                            <span id="signUpText" class="@signUpCssClass">@Html.Raw(Resource.SignUp)</span>
                            <span id="signInText" class="@signInCssClass">@Html.Raw(Resource.SignIn)</span>
                            <i class="ion-chevron-right"></i>
                        </button>
                        @Html.AntiForgeryToken()
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    @StaticResources.GetJS(BundleConstants.RegisterJs)
}