﻿
@{
    ViewBag.Title = "AccountResetPasswordConfirm";
}


<div class="formContainerInfo">
    <div class="registerFrom">
        <div class="formTitle" id="heading">
            <span id="signUpHeading">@Resource.PasswordChangeMsg</span>
        </div>
        <div class="formContact">
            <form method="post" action="@Request.Url.PathAndQuery">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
                        <div class="registerFormGroup">
                            <a href="@Html.Raw(Url.RouteUrl(RouteNames.AccountLogin))" class="back-cta pull-right registerForgotText">@Resource.Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>