﻿@model App.Model.Users.ProfileSettingsModel
@{
    ViewBag.Title = "Settings";
}

<h2>@Resource.ProfileSettings</h2>

<div class="container">
    <div class="row settingContainer">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
            <div class="accountInfo">
                @*<div class="profileImage">
                    <img src="~/images/review.jpg" />
                </div>*@
                <div class="profileDetail">
                    <div class="profileName">
                        @Model.Name
                        @*<span class="editProfile">
                            <i class="icon-Edit"></i>
                        </span>*@
                    </div>
                    <div class="profileEmail">@Model.EmailAddress</div>
                    @*<div class="profileMobile">@Model.AccountId</div>*@
                </div>
            </div>
            <div class="row accountTypeInfo">
                <div class="col-md-3 col-sm-3 col-xs-5">
                    <div class="labelName">Member Since</div>
                    <div class="labelDetail">@Model.MemberSince</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-5">
                    <div class="labelName">Account Type</div>
                    <div class="labelDetail">
                        @if (Model.Subscriptions == null || Model.Subscriptions.Count == 0)
                        {
                            <div class="accountTypeName"><i class="icon-Star"></i>Basic</div>
                        }
                    </div>
                </div>
            </div>
            <div class="row notificationInfo">
                <div class="col-md-12 col-sm-12 col-xs-12" id="notifications">
                    <div class="labelName">Notifications</div>
                    <div class="inputRow">
                        <input class="input" id="emails" type="checkbox" name="settings" data-notification="@UserNotificationConstants.Emails" @(Model.EmailsSubscribed ? "checked" : string.Empty)>
                        <label for="emails" class="check"></label>
                        <span class="checkInput">Get free updates on our products and services by email.</span>
                    </div>
                    <div class="inputRow">
                        <span id="updateNotificationSuccess" class="successInfo">@Resource.PreferencesUpdatedSuccessMsg</span>
                    </div>
                </div>
            </div>
            @if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
            {
                var index = 0;
                <text>
                    <div class="row boxSpace paymentSectionInfo">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="boxContainerInfo">
                                <div class="labelName">Payment Details</div>
                                <div class="gridInfo">
                                    <div class="gridRow">
                                        <div class="gridColum">Sr. No.</div>
                                        <div class="gridColum">Plan Name</div>
                                        <div class="gridColum">Purchase Date</div>
                                        <div class="gridColum">Plan Start Date</div>
                                        <div class="gridColum">Plan End Date</div>
                                    </div>
                                    @foreach (var subscription in Model.Subscriptions)
                                    {
                                        <text>
                                            <div class="gridRow">
                                                <div class="gridColum">@index</div>
                                                <div class="gridColum">@subscription.PlanTypeID</div>
                                                <div class="gridColum">@subscription.CreationDate</div>
                                                <div class="gridColum">@subscription.StartDate</div>
                                                <div class="gridColum">@subscription.ExpireDate</div>
                                            </div>
                                        </text>
                                        index++;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </text>
            }
            <div class="row settingButtonInfo">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a class="marginRight" href="@Html.Raw(Url.RouteUrl(RouteNames.AccountChangePassword))">@Resource.ChangePassword</a>
                    @*<a class="marginRight">Delete Account</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</div>