footer{
     /*@include position(absolute, null null 0 null);*/
 .btmFooter{
        font:{
            size:12px;
            family:$font-family-primary;
        }
        padding: 0 10px;
        border-top: 1px solid #ddd;
        color:$grey-light;
        & > .btmLinks{
            text-align:center;
            ul{
                li{
                    display:inline-block;
                    padding-right:10px;
                    a{color:$grey-light;}
               }
            margin-bottom:10px;
            & + span{margin-bottom:10px;}
            }
          .nortan-seal{
            margin:10px auto;
            height: 80px;
            width: 135px;
         }

        }
        .iframeNortonLp{
            border:none;
            width:135px;
        }
    }

}

   