.header {
	background:$color-theme;
	height: 55px;
	position: relative;
	text-align: center;

	.logo-rh{
		display: inline-block;
		margin-top: 16px;
	}
	.logo-rg{
		margin-top: 12px;
	}

	.nav-icon{
		cursor: pointer;
		padding: 10px;
		position: absolute;
		right: 10px;
		top: 10px; 
		z-index: 99;
		.nav-icon-line{
			background-color: #fff;
			display:block;
			height:2px;
			margin-top:3px;
			width:18px;
		}
	}
}