$light-grey-bg : #f7f7f7;
$light-grey-border : #ddd;
.order-info-container{
	background-color: $light-grey-bg;
	border-bottom: 1px solid $light-grey-border;
	color: $grey;
    .demoMode{
        background-color: #fcc;
        text-align: center;
        font-size: medium;
        border: 1px solid #f00;
        }
	.total-due{
	    border-bottom: 1px solid $input-border-color;
	    font-size: 20px;
	    padding: 18px 0 15px;
	    & > *{
	    	display: inline-block
	    }
	}
	.total-due-text{
		color: $grey-light;
	}
	.total-amount{
		color: $color-primary;
		float: right;
	}
	.package{
		font:{
			family: $font-family-primary;
			size: 16px;
		}
		margin: 15px 0;
	}
	.package-benifits{
		margin: 15px 0;
		li{
			list-style: none;
			margin-bottom: 8px;
			& > *{
				display: inline-block;
			}
			.fa-check{
				color: $color-primary;
			}
		}
	}
	.package-benifits-content{
		font-family: $font-family-primary;
		padding-left: 8px;
	}
}
.cc-form{
	.heading{		
	    border-bottom: 1px solid $light-grey-border;
		font: {
			size: 21px;
			weight: normal;
		}
		margin: 0 0 15px;
		padding: 10px 0;
	}
	.cards{
		@include size(55% 29px);
		background: url(../images/credit-cards.png) no-repeat;
		background-size: contain;
		float: left; 
		max-width: 199px;
	}
	.secure-chekout{
		background: #f6f6f6;
		float: right;
	    padding: 5px 7px 5px 6px;

	    .fa-lock{
	    	color:#023376;
	    	margin-left: 2px;
	    }
	}
	.secure-chekout-text{
		color: $grey-light;
		font: {
			family: $font-family-primary;
			size: 12px;
		}
	}
	.expiration-date .select-box{
		float: left;
    	width: 48.5%;

    	& + .select-box {
    		float: right
    	}
	}
	.term-policy-text{
    	color: #666;
		font: {
			family:$font-family-primary;
			size: 14px;
	    	weight: 400;
		}
	    line-height: 1.3;
	    padding-top: 20px;
	    a{
	    	color: $color-secondry
	    }
	}
	.button-primary{
		width: 100%
	}
	.secure-wrap{
		float: left;
		position: relative;
		width:50%;
	}
	.cc-secure-checkout{
		.fa-lock{
			color:#023376;
			font-size: 35px;
		}
		.secure-chekout-text{
			display: inline-block;
			font-size:16px;
	    	margin: 10px 0 0 10px;
	    	text-transform: uppercase;
	    	vertical-align: top
		}
        
		&:hover + .tool-tip, &:focus + .tool-tip{
			@include position(absolute, null null 40px 0);
			opacity: 1;
			z-index:99;
		}
	}
	.norton-seal{
		float: right;
		width: 50%
	}
	.tool-tip{
		@include tooltip ($size: 5px, $dir: bottom, $bgcolor: #fff, $shadowcolor:rgba(85,85,83,.39));
		@include position(absolute, null null 0 0);
        cursor:pointer;
		font: {
			family: $font-family-primary;
			size: 12px;
	    	weight: 400;
		}
		opacity: 0;
		padding: 13px;
		transition: 0.3s ease;
		width: 267px;
		z-index:-1;
        a{color:$grey;}
	}
	.date {
        .error-year{
            padding-left:10px
        }
        .select-box{
		float: left;
    	width: 48.5%;
    	& + .select-box{
    		float:right
    	}
	      }
	}
	.hpci-container{
		position: relative;
        .ccNum-req{
            position:absolute;
            top:38%;
        }
	}
	.hpci-controlls{
    	height: 120px;
	}
	.security-code{
		position: absolute;
		left: 0;
		top: 80px
	}
	.zip{
		width: 50%;
        margin-top:25px;
	}
}
#ccframe{
	margin: 0;
	width: 100%;
}

.need-to-cancel{
	background-color: $light-grey-bg;
	border-top: 1px solid $light-grey-border;
	color: $grey;
	font-family: $font-family-primary;
	margin-top: 30px;
	padding: 20px 0;

	h3{
		font-size: 16px;
	}
	p{
		color: #858585;
		font-size: 12px;
		line-height: 16px;
		margin: 10px 0 20px;
	}
}
