
.dashboard{
	.content-wrapper{
		padding:0;
		.input-group{
			margin-top: 0;
			padding-top: 15px;
		}
        
		.progress-bar{
			margin: 0
		}
	}
    .container{overflow:hidden !important;}
	.progress-bar {
        a{ 
        	@include position(absolute,22% 8% null null);
            width: 30%;
            padding: 3px;
            font-size: 12px;
            width:100px;
        }
    	.progress-bar-text{
    		padding-left:15px;
    	}
    }
    .modal-box-container{
    	margin-bottom:20px
    }
}
.dashboard-container{
	.button-default{
		margin: 0 5px 0 0;
		box-shadow:none;
		background-color: #fafafa;
		i{
			font-size: 14px;
		}
	}
	.button-default:last-child{
		margin-right: 0;
	}
	.resume-controls{
		padding: 15px 15px 0;
		 height: 70px;
		
         .button-primary{
			padding:10px; 
			font-size: 14px;
			font-weight: 600;
			min-width: 100%;
			i.fa-envelope{
			  margin-right: 6px;
			}
		}
		.col{
			float: left;
			box-sizing: border-box;
			/*@media screen and(min-width:567px){
				width: 25%;
			}
			@media screen and(max-width:450px){
				width: 17%;
			}
			@media screen and(max-width:375px){
				width: 14%;
			}
			@media screen and(max-width:360px){
				width: 12%;
			}
			@media screen and(max-width:320px){
				width: 7%;
			}*/
		}
      
        
		.col1{
			width: 46%;
		}
		.col2{
			line-height: 25px;
			padding-top:5px;
			text-align:center;
			span{
				border-right:1px solid #ddd;
			}
		}
		.btn-container{
			text-align: right;
			width: 173px;
			float: right;
		}

         @media screen and (max-width:320px){
				 .col1 {width: 110px;}
			      .button-primary{padding:2px;}
                  .btn-container{width: 170px;}
                 }
        }
	.resume-thumb{
		border:1px solid #00c293;
		text-align:center;
        position:relative;
		span{
			display: block;
			color: #fff;
			background: #00c293;
			padding: 10px;
			font-size: 14px;
		}
        .currentResume:before{
            @include position(absolute, 0 null null 0);
            @include size(100%);
            content:'';
	        z-index:97
        }
        iframe{
                height: 99%;
                width: 100%;
                border: 0;
                display: block;
                max-height: 350px;
        }
	}
	.resume-controls + section{
		padding:0 15px 40px;
		border-bottom:1px solid #ddd;
		img{
			width:100%;
		}
	}
	.white-box{
		padding:20px 15px;
		background:#fbfbfb;
		div{
            font:{
                family:$font-family-primary;
                size:14px;
            }
			color:$grey;
			line-height: 18px;
			border:1px solid #ddd;
			background: #fff;
			padding:25px 35px;
			margin-bottom: 10px;
			text-align:center;
			border-radius: 3px;
			button,a{
				margin-top: 10px;
				width: 142px;
				text-transform: uppercase;
				color:#333;
				font-weight: 600;
			}
			span{
				display: block;
				margin-bottom: 5px;
				h4{
					font-size: 15px;
				}
				i.icon-c{
					width: 30px;
				    height: 30px;
				    display: inline-block;

				}
				i.letter-icon{
					background: url('../images/sprites.png') top center no-repeat;
				}
				i.help-icon{
					background: url('../images/sprites.png')  0 -43px no-repeat;
				}
			}
		}
	}
	.form-cont{
		background-color: #fbfbfb;
		padding:0 15px 20px;
		border-bottom: 1px solid #ddd;
	}
    
}
    .newResume{
         padding:0 20px;
         .txt-style{font-style:italic;}
        .create-resume{margin-bottom:5px;}
        .create-letter{margin-top:5px;
            & >.button-default{
                background-color: #fafafa;
                color: $grey;
                font:{
                    size:14px;
                    weight:600;
                }
            }
        }
        
    }

    .error-icon{
    @include position(absolute,8px 8px null null);
    z-index: 99999;
    color: red;
    }

    .invalid{ border:1px solid red !important;}
    .delete-section{
        .modal-title{
            font-weight: 400;
            font-size: 18px;
        }
        label{
            font-weight: 700;
            font-size: 18px !important;
        }
    }

    .email-section-detail{
        .button-cancel{
            color: #fff;
        }
    }

.tabs.email-section {
  position: relative;   
  clear: both;
  margin: 15px 5px 0 15px ;
  .input-group{
  	padding:0px !important;
  }
  .email-popup{
  	padding: 7px 0px;
  }
  .input-element {
  	padding: 10px 0px !important;
  }
	.tab {
	  	float: left;
	}
	.tab [type=radio]:checked+label  {
	  background: #00c293; 
	  padding: 10px; 
	  position: relative;
	  left: 1px; 
	}
	.tab [type=radio] {
	  display: none;   
	}
	.content-area {
	  background: white;
	  padding: 20px;
	  display: none;
	}
	[type=radio] + label{
		background:#efefef;
		font-size: 14px;
		color: #000;
		padding:7px 15px !important;
		margin-right: 5px;
		border-top-left-radius: 3px; 
	    border-top-right-radius: 3px;
	    @media screen and (max-width:320px){
	    	font-size: 12px;
	    }
	}
	[type=radio]:checked + label {
	  color: #fff;
	}
	[type=radio] + label:after,[type=radio] + label:before{
		display: none;
	}
	[type=radio]:checked + label +  .content-area {
	  z-index: 999;
	  display: block;
	  min-height: 80px;
	}
	[type=radio]:checked +  label+  .content-area.email-box-height {
	  height: 285px;
	  @media screen and(max-width:320px){
		height: 275px;
	  }
	}
	[type=radio]:checked +  label +  .content-area .contents{
		position:absolute;
		top:27px;
		left:1px;
		display: block;
		width: 95%;
		border-top: 2px solid #00c293; 
		padding-top: 8px;
		 @media screen and (max-width:320px){
	    	top: 26px;
	    }
	}
}
