
.error-heading{
    font:{
        family:$font-family-base;
        size:64px;
    }
        color:$grey;
        margin-top:60px;
        line-height:32px;
}

.error-msg{
    color:$grey-light;
     margin:auto;
     text-align:center;
     padding: 15px 15px 35px;
   
   font:{
     weight:600;
   }
   
    border-bottom:1px solid #ddd;
}

.error-404{
     font:{
     family:$font-family-primary;
     weight:400;
     }
     text-align: center;  
       
       .redirect-link{ 
            
             padding-top:18px;
            a{
                text-decoration:underline;
                line-height:18px;
            }
            span{
                color:#ddd;
                margin:0 13px;
            }
        }
    
}

.server-error {
    & > .error-msg{
        font-family:$font-family-primary;
        border-bottom:none;
        text-align: left;
        padding:10px;
        & > .sub-heading{font-size:17px;
         border-bottom:1px solid #ddd;
        }
        & > h2{
            font-weight:600;
            text-align:left;
            & ~ textarea{
                    width: 100%;
                    height: 150px;
                    resize: none;
                    border: 1px solid $input-border-color;
                    border-radius: 3px;
                    color:$grey;
                    padding: 10px;
                    margin-top:20px;
            }
        }
    }
    .radioWrapper{
     list-style-type: none;
     & >li{
        margin-bottom: 10px;
        font-size:14px;
     }
    }
   .cta-container{
       margin-top:5px;
    & + p{
            text-align: center;
            margin-bottom:20px;
            color:$grey-light;
            font-size: 11px;
        }
   }
       
}

