.tips-container{
	ul{
		padding:10px 27px 30px
	}
	li{
		color: #262626;
		font:{
			size: 15px;
			family: $font-family-primary;
		}
		list-style: none;
		margin-top:15px;

		&:before{
			color: #ffda08;
			content: '+';
			display: inline-block;
			float: left;
			font:{
				weight: bold;
			    size: 15px;
			    family: $font-family-base;
			}
			margin-left: -17px;
		}
	}
}

.experience-container{
	.date {
		.select-box{
			float: left;
			width:48.5%;
			+.select-box{
				float: right;
			}
		}
	}
}

.description-container{
}

.pre-written-examples{
	border: 1px solid $input-border-color;
	border-radius: 3px;
	display:none;
	margin-top: 5px;

    .text-default{
        border:1px solid #ccc;
	    width: 100% !important;
	    height: 36px;
	    font-size:18px;
	    margin-bottom: 10px;
        padding:0 7px;
    }
	
	.pre-written-examples-header{
		border-bottom: 1px solid #cfcfcf;
		padding: 10px;
        position:relative;
        aside{
        display: inline-block;
        vertical-align: middle;
        }
        & > .search-icon{
             @include position(absolute, 10px 10px null null);
             height:36px;
             width:36px;
             display:none;
        }
        div{
        width: 46%;
        display: inline-block;
        text-align: right;
        }
		.button-secondry{
           padding: 7px;
		}
	}	
			
	.showing-result{
		color: $grey;
		font:{
			weight: 400;
			family: $font-family-primary;
		}
		width: 50%
	}
	.prewritten-list-container{
		background-color: #f3f3f3;
		max-height: 265px;
		overflow: auto;
		padding: 10px;
	}
	.prewritten-list{
		background-color: #ffffff;
		border: 1px solid #c4c4c4;
		border-radius: 3px;
		display:table;
		margin-bottom: 10px;
		padding: 10px;	
		width: 100%;
		&:last-child{
			margin-bottom: 0
		}
	}
	.prewritten-list-content{
		display: table-row;
		vertical-align: middle;
		width:100%;

		& > *{
			display:table-cell;
			float:none;
			vertical-align: middle;
			&:first-child{
				width: 35px;
			}
		}
		.button-secondry{
			@include size(35px);
			background: url(../images/plus-icon.svg) no-repeat;
			margin-right:17px;
			text-indent: -10000px;
            touch-action: manipulation;
		}
		.prewritten-list-item-txt{
			color: #262626;
			font:{
				family: Georgia;
				size: 12px;
				weight: 400;
			}
			line-height: 18px;
		}
	}
	
}

.review-history-cont{
	h2{
		text-transform: capitalize;
	}
	.history-list-cont{
		font-family: $font-family-primary;
		margin: 15px -15px;
	}
	.history-list-item{
		background-color: #fff;
		border-bottom: 1px solid #d6d4d4;
		color: $grey;
		padding: 14px;

		&:first-child{
			border-top: 1px solid #d6d4d4
		}

		.button-default{
			color: $btn-secondry-color;
			float: right;
			margin: 5px;
			padding:5px 10px;
            & > .fa-trash-o{color:black;}
		}
       
		h3,h4{
			@include ellipsis();
			display:block;
			font-size:16px;
			padding-right:10px;
		}
		h4{
			font:{
				size:15px;
				weight: 400;
			}
		}
		.description{
			$font-size: 11px;
			$line-height: 1.4;
			$lines-to-show: 3;
			margin-top: 10px;

			p{			
				display: block;
				display: -webkit-box;	
				font-size:$font-size;
				height: $font-size*$line-height*$lines-to-show;
				line-height: $line-height;		
				padding-left: 20px;
				position: relative;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				width:60%;

				/*&:before{
					@include position(absolute, 2px null null 0);
					content: '.';
				    font-size: 22px;
				    line-height: 0
				}*/
			}
		}
		.add-description{
			text-decoration: underline
		}
	}
	.button-secondry{
		margin-bottom:15px;
		text-transform: uppercase;

		&:before{
			content:'+';
			display:inline-block;
			margin-right:4px
		}
	}

}
.steps{
	& + .steps{
		display:none
	}
}


.steps.tips-container{h1{text-transform: capitalize;}}

.input-group{
    label[for=presentlyWorkHere]{
        display:inline;
    }
} 
