.sellPage,.finalize-page-container{
	.cta-container{	
		@include position(absolute, null 0 0 0);
		background-color: #fff;
		box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.18);
		margin: 0 auto;
		padding: 15px;
		width:100%;
		.button-primary{
			width:100%;
		}
	}
	.resume-container{
		@include position(absolute, 117px 15px 100px 15px);
		border: 1px solid #c0c0c0;
		overflow:hidden;
		.current-resume{
			@include position(absolute, 0 0 10px);
			overflow:auto;
			overflow-x:hidden;
			-webkit-overflow-scrolling: touch;

			iframe{
				@include size(100% 99%);
				border: 0;
				display: block;
				user-select: none;
			}
		}
		&.resume-zoomed{
			@include position(absolute, 0);
			border: 0;
			z-index: 99
		}
	}
	.zoom-resume{
		@include position(absolute, null 15px 15px null);
		@include size(40px);
		background-color: #fff;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.17);
		border-radius: 33px;
		border: 1px solid #cdcdcd;
		padding: 10px;
		z-index: 1;
		.fa-search-plus{
			font-size: 18px;
		}
	}
}
.finalize-page-tabs{
	background-color: lighten($color-theme, 9%);
	display: table;
	height: 47px;
	width: 100%;
	li{
		display:table-cell;
		font-size: 0;
		vertical-align: middle;
		text-align:center;
		width: 50%;
		a{
			color:#fff;
			display:block;
			font:{
				family: $font-family-primary;
				size: 13px;
				weight: 400;
			}
			padding: 15px 0;
            text-transform: uppercase;
		}
	}
}

.edit-resume-fields{
	border-top: 1px solid #ddd;

	li{
		@include ellipsis();
		border-bottom: 1px solid #ddd;
		color: $grey;
		display: block;
		font:{
			family: $font-family-primary;
			size: 16px;
		}
		padding: 12px 70px 12px 20px;
		position: relative;
        span{margin-left:10px}
        .align-icon{
            @include position(absolute, 4px auto null 0);
        }
        

		.button-default{
			@include position(absolute, 8px 20px null null);
		    margin: 0;
		    padding: 4.5px 10px;
            z-index:999;
		}
	}
}

 .add-section{
       font: {
           family:$font-family-primary;
           size:14px;
          }
        color:$grey;
        padding:20px;
        & > ul{
            list-style-type:none;
            & >li{
                margin-bottom:10px;
            }
        }
        .input-element{display:inline-block;
                       input[type="text"]{
                           height:40px;
                           border: none;
                           border: solid 1px #ccc;
                           border-radius: 4px;
                       }
                       label{

                       }
        }
  }
 .finalize-page{
   	.modal-box-container{
    	margin-bottom:5px;
    	.modalFooter{
    		width: 95%;
    		padding-right:0;
    	}
    }
}
