.hiw-steps{
	counter-reset: numbers;
	margin: auto;
	padding:0;
	width: 240px;
	li{
		border-bottom: 1px solid #dfdfdf;
		color: $grey-light;
		list-style: none;
		padding: 18px 5px;
		text-align: center;
		&::before{
			@include size(35px);
			background: $color-primary;
			counter-increment: numbers;
    		content: counter(numbers);
			color: #fff;
			display: block;
			line-height: 35px;
			margin:0 auto 10px;
			text-align: center;
			font-weight: 900;
		}
	}
	& + .cta-container{
		margin-bottom: 0;
	}
}
.hiw-terms-policy{
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	padding: 10px 30px;
	color: #535353;
}