/** Loading */
.wizard-loading{
	background: #fff;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999
}
.waitPreLoad{
	display:none
}
.wizardPreLoad{
	margin-top:113px;
	position:relative;
	text-align:center;
	h2{
		color: #333;
		font:{
			family: $font-family-primary;
			size: 0px;
			weight: 400;
		}
		margin-bottom: 20px;
		opacity:0;
		text-transform: uppercase; 
	}
	.lines{
		background: #f0f2fd;
		height: 2px;
		left: 0;
		position: absolute;
		top: 35px;
		width: 100%
	}
	.line-active {
		background: $color-primary;
		display: inline-block;
		height: 2px;
		position: relative;
		top: -13px;
		width: 0;
	}
}

.load-texts-wrp{
	position:relative;
	overflow:hidden;
	height:105px; 
	top:25px
}
.load-texts{
	position:absolute;
	top:-105px;
	left:0;
	width:100%;
	> div{
		color: $color-primary;
		display: block;
		font:{
			size: 16px;
			family: $font-family-primary;
		}
		line-height:18px;
		margin-bottom: 10px;
		overflow:hidden; 
		&.ld-fn{
			display:none
		}
	}

}