.login-in{
    background-color: #f9f9f9;
    .title{
        padding:20px 0;
        & >h1{
            margin:0;
            font-size:20px;}
        }
        .input-element{
                position:relative;
             & > .error{
               @include position(absolute, null 10px 10px null);
              color:$color-invalid;
              & + label{display:inline-block;}
              }
              & > a{
                  float: right;
                  color: #787878;
                  font-size: 12px;
                  text-decoration:underline;
              }
             
        }
        .log-in{
            margin-top:10px;
            & > label {
                font:{
                    family:$font-family-primary;
                    size:14px;
                   
                }
                 color:$grey;
            }
        }
        .cta-container{
            margin-bottom:0;
            & > .button-primary{
                & +.back-cta{
                    display: inline-block;
                    float:none;
                    color:$color-primary;
                    text-transform:capitalize;
                    font-size:14px;
                }
            }
        }
    }

.change-password,.forgot-password{
    background-color: white;
    p{
        font:{
            family:$font-family-primary;
            size:15px;
            weight:600;
        }
        color:$grey-light;
    }
    form{
        & > .cta-container{
            margin:25px 0;
        }
    }
}

/*Account Setting*/
.account-setting{
    h1{margin:15px 0;}
        .setting-details{
            font:{
                family:$font-family-primary;
                weight:400;
            }
            color:#666;
            min-height:235px;
            display:none;
        & >div{ margin-bottom:10px;
              & >span{font-weight:600;}
              }
        & >.cancel{
            font:{
                size:11px;
                family:$font-family-primary;
            }
            color: #535353;
            margin-top: 25px;
        }
        }
        .setting-link{
            background-color:#efefef;
            padding:5px 0;
            margin-bottom:20px;
            border-radius:3px;
            & >div{margin:0;}
            a{
                width:31%;
                font-size:12px;
                padding:3px;
                background-color:#efefef;
                color:#909090;
            }
            .active{
                background-color:$color-primary;
                color:white;
            }
        }
    
    }

.change-password{
    padding: 5px 20px;
   .input-group{margin-bottom: 10px;}
  /*.input-element {padding: 5px 20px;}*/
}

