.cancel-Subscription{
    p{font:{
        family:$font-family-primary;
    }
     color:$grey-light;
     line-height:20px;
     margin-bottom:12px;
     font-weight:600;}
    h5{
         @include margin(null null 15px -27px);
        font:{
            size:15px;
             family:$font-family-primary;
        }
        color:$grey-light;
    
    }
    .button-primary{min-width:35%;} 
}

.Subscription-features {
     padding: 10px 27px 30px;

    ul{
      font:{
        family:$font-family-primary;
      }
      color:$grey-light;
      list-style: none;
   
    li{
        @include margin(null null 10px null);
       line-height: 18px;
       .fa-check{
           @include margin(null null null -30px);
           color:$color-primary;
           padding-right: 15px;}
    }
    
   }
}

.cancel-Confirmation,.subscription-confirmation{
    h3{
        color:$grey-light;
        font:{
            size:15px;
            family:$font-family-primary;
        }
        line-height:18px;
    }
    p{
        line-height:18px;
        color:#666;
        margin-top:20px;
        font-family:$font-family-primary;
        a{font-family:$font-family-base;}
    }
    .cta-container {
          margin:35px 0;
         .button-primary{min-width:100%;}  
    }
      
}

@media screen and (max-width:320px) {
    .cancel-Subscription{
        .cta-container {
            .back-cta{
                font-size:14px;
            }
        }
    }
}

/*Sell Page css*/

.sellPage{
    .content-wrapper{
      padding:0 15px;
      padding-bottom:60px;
          h1{
          font:{
          size:22px;
          weight: 700;
          family: $font-family-base;
          }
          padding: 0 14px;
          margin-bottom:12px;
          line-height: 27px;
         }
         .skuWrap{
          & > div{
          border: 1px solid #d9d9d9;
          margin: 0 0 15px 0;
          padding:20px;
         
            background: #f9f9f9;
            & > ul{padding: 0 0 0 5px;
            margin: 24px 0 0;
            list-style: none;

            & > li{
            font-family:$font-family-primary;
            padding-bottom:10px;
            list-style: none;
            font-weight: 400;
            color: #444;
            font-size: 14px;
            line-height: 20px;
            padding: 0 0 10px 10px;
            position: relative;
            }
            .middot {
            background: #444;
            border-radius: 4px;
            color: #fff;
            height: 4px;
            left: 0;
            margin-right: 5px;
            position: absolute;
            text-indent: -9999px;
            top: 8px;
            width: 4px;
    }
            }
          }
          }

     


    .priceWrap {
        border-bottom: 1px solid #d9d9d9;
        display: inline-block;
        width:100%;
        padding-bottom: 20px;
        .radioWrapper {
        border: 0;
        float: left;
        margin: 0 3px 0 0;
    }
    .priceLabel{
        .spanRA{
        font:{
        size: 15px;
         weight: normal;
         
        }color:#333;
        text-transform: uppercase;
        display:inline-block;
        margin-top: 3px;
        }
        .price{
        color:#666;
        float: right;
    .smallerText {
        font-size: 25px;

    }
    .smallTextSuper {
        font-size: 14px;
        line-height: 14px;
        position: relative;
        top: -8px;
    }



        }

    }

    }
        .aside{
     h3 {
         font:{
             size:15px;
             weight:700;
         }
        text-transform: uppercase;
        color: #666;
        padding: 10px 0 16px;
        border-bottom: 1px solid #d9d9d9;
       
      

        }
      margin-bottom:40px !important;
      background-color:#fff !important;

     ul{
         li{
            padding: 0 0 22px 50px !important;
         }
     }
   

    .bld{font-weight:bold;}
    .subFutr5{span{
    color: #00c293;
              }}

   
        i{
    background: url("../images/rgsprite-sell.png") no-repeat;
    position: absolute;
    left:0;
    height: 30px;
    width: 27px;
    display:inline-block;
    margin-left: -1px;
    padding-right: 45px;
    margin-bottom: -18px;
    background-position:0;
        }
        .subFutr1{ i{
            background-position: -13px -13px;
                   }}
        .cvrNwLbl{
            i{
              height:35px;
             background-position: -65px -13px;
 }}
        .subFutr3a{
            i{
              height:45px;
              background-position: -121px -14px;
              margin-left: -5px;
                   }}
        .subFutr5{i{
              background-position: -176px -14px;
              height: 35px;
              width: 27px;
               margin-left: -5px;
                  }}
}
   
  
    .toggleBtn{    border-top: 1px solid #d9d9d9;
  
    font-size: 13px;
    color: #444;
    padding-top: 10px;
    margin-top: -1px;
    span{
    
    cursor: pointer;
    }
    i{
     width: 25px;
    height: 15px;

    position: relative;
    top: -1px;
    }
    }

    
    
    }

}

/* Live Chat Styling
}*/

.liveChat{
    a{
        float: right;
    position: relative;
    color: #fff;
    left: -15px;
    top: 17px;
    
    .freshDesk{padding-left: 10px;}
    }
}

/*sellPageRebate*/

.sellPage-Rebate{
    background-color: #fbfbfb;
    p{
        font:{
        weight: 600;
        family: $font-family-primary;
        }
    
    color:$grey-light;
    }
    .rebate-offer {
        margin:20px 0;
       .rebate-offerDetail{
           margin-bottom:20px;
            & > div{    
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
            & > .offer-validity{
            height: 40px;
            background-color: #2f586a;
            display:table;
            width:100%;
            border-radius: 3px 3px 0 0;
            span{
                color:white;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                font-family:$font-family-primary;
            }
            & + div{ padding:10px;
                     p{color: $grey;
                font-size: 14px;
                font-weight: 400;}
            }
            }
            }
        .button-primary{width:100%;}
        }
    }

    .details{
        border-top:1px solid #ccc;
        background-color:white;
         font-family: $font-family-primary;
         p{color:$grey;
           font:{
               size:14px;
               weight:400;
           }
         }
        & > .content-wrapper{padding:20px;
             .detail-description{
                & >h3{color:$grey;
                      font: {size: 15px;
                             weight: 600;}

                }
                .button-primary{
                      background-color: #fafafa;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        font-size:14px;
                        color: $grey;}
                  }
        }
        .rebate-help,.rebate-ques{
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .rebate-cancel{
            a{
                display:block;
                color: #767676;
                margin:10px 0;
                font:{
                    weight:600;
                    size:14px;
                }
            }
        }
    }
   
}
.sell-page-exprd{
  .sku-container{
    margin-top: 20px
  }
  .input-radio{
    display: inline-block;
    label{
      font-size: 2rem;
      padding-left: 35px;
    }
    .per-month{
      font-size: 1rem;
      margin-left: 0.5rem
    }
    &:after{
      border-bottom: 1px solid $color-primary;
      content:'';
      display: block;
      margin: 5px 0 0 30px
    }
  }
  .sku-offer-list{
    margin: 1rem 0 30px;
    padding-left: 3rem;
    & li{
      color: #666;
      font-size: 13px;
      list-style-type: disc;
      line-height: 1.5rem;
    }
  }
  .skip{
    margin-bottom: 10px;
  }
  .cancel-by{
    color: #666;
    font-size: 11px;
  }
  .included-container{
    background-color: #f9f9f9;
    padding: 15px;
    h3{
      color: #333;
      font-size: 1rem;
      margin-left: 6px;
    }
    ul{
      margin-top: 20px;
      padding: 0
    }
    li{
      @include clearfix();
      color: #666;
      display: table;
      font-size: 13px;
      list-style: none;
      margin-bottom: 15px;
      width: 100%;

      & > p{
        display:table-cell;
        padding-left: 15px;
        vertical-align: middle
      }

      &:before{
        @include size(41px 33px);
        content:'';
        background: url(../images/renew-page-sprite.png) 0 0 no-repeat;
        display: table-cell
      }

      &.feature-1:before{
        background-position: -119px 2px;
      }
      &.feature-2:before{
        background-position: -83px 2px;
      }
      &.feature-3:before{
        background-position: -156px 3px;
      }
      &.feature-4:before{
        background-position: 5px 0;
      }
      &.feature-5:before{
        background-position: -38px 1px;
      }
    }
  }
}

/*Subscription Confirmation Style*/

.subscription-confirmation{
    font-family:$font-family-primary;
   span{font-weight:700;}
    .payment-details{
        margin:15px 0;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        >.acess-details{margin:15px 0;}
    }
   .smaller-text{
        font-size:11px;
    }
}




