.contact-us{
    .upper-section{
        background-color: #fbfbfb;
        border-bottom: 1px solid #ddd;
    }
    .heading{   h1{
                    margin:0;
                    padding:20px 0 7px;
                }
                & >p{
                    font:{
                        family:$font-family-primary;
                        weight:600;
                    }
                    color:$grey-light;
                }
            }
    .contacts{
        font-family:$font-family-primary;
        padding:20px 0;
        & > div{
            margin-bottom: 20px;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
            & > .contact-state{
                height: 40px;
            background-color: #2f586a;
            display: table;
            width: 100%;
            border-radius: 3px 3px 0 0;
            span{
                color: white;
                display: table-cell;
                padding-left:20px;
                vertical-align: middle;
                font-weight:700;
            }
            }
            .contact-numbers{
                color:$grey-light;  
                padding:15px;
                p{
                    font:{
                        size:16px;
                        weight:700;
                    }
                    margin-bottom:7px;

                }
                & >div{
                    font:{
                        size:13px;
                        weight:600;
                    }
                    margin-bottom:5px;
                
                   & >span{
                       & +.seperate{
                           padding:0 8px;
                           color: #ccc;
                       & ~ .contact-timing{
                           color:$grey-light;
                           font-weight: 400;
                       }
                           }
                   }
                    }

            }
        }
    }
    .lower-section{
        margin-bottom:20px;
        h1 ~p{
            font:{
                size:13px;
                weight:400;
            }
           color: #666;
           margin-bottom:10px;
        & >a{font-weight: 600;}
           }
        p {
           & + p{margin-bottom:15px

        }}
        .input-element{margin-bottom:15px;}
        input[type="button"]{
            width:100%;
        }
        textarea{
            height: 130px;
            margin-bottom: 20px;
            resize: none;
        }
    }
    a[href^="tel:"] {
    color:$grey-light;
    }
    }
        
  /*User-agreement & privacy-policy page style*/

  .user-agreement,.privacy-policy,.cookies-tracking{
          font-family:$font-family-primary;
          h1,h2{
              font-family:$font-family-base;
              color:$grey;
          }
          h2{font-size:18px;}
          h3{
              font-weight:400;
              margin-bottom:8px;
          }
          h4{font-weight:400;}
          p{
              color:#666;
              margin-bottom:12px;
          }
          ul,ol{padding-left:15px;
             & >li{
                 color: #666;
                 margin-bottom:10px;
                 i{background-image:url("../images/Privacy-Policy_sprite.png");
                  height:54px;
                  width:54px;
                  display:inline-block;
                  vertical-align: middle;
                 }
             }
          }
          .spacing-upper{margin-top:25px;}
          .margin-image{margin-top:45px;
                h2{font-weight:400;}
          }
          small{
              font-size:15px;
              color:$grey;
          }
          .margin-h3{
              margin-top:15px;
              margin-bottom:0;
            & + ul li{
                list-style-type: square;
            }
          }
  }

  .privacy-policy{
      ul{list-style-type:none;
          li{   
              .img1{background-position:0 0;}
              .img2{background-position:-55px 0;}
              .img3{background-position:-113px 0;}
              .img4{background-position:-170px 0;}
              .img5{background-position:-227px 0;}
              a{margin-left:25px;}
          }
          .image-render{margin-top:40px;
           & >span{margin-left:-20px;}
          }
      }
  }

  .cookies-tracking{
      .color{color:$grey;}
        ul li{
          list-style-type: square;
        }
      .table-render{
        overflow: scroll !important;
        margin-bottom:10px;
        border: 1px solid #f7f7f7;
        table{
          border-collapse:collapse;
          border:none;
          td{
            padding:5px
          }
        }
      }
  }